Repository opentiny/tiny-vue, pull requests merged in 2023-06, with the labels that each got.

#269 feat: 增加远程数据请求demo及auto-lookup属性api文档
  examples/docs/resources/pc/api/en-US/popeditor.json
  examples/docs/resources/pc/api/zh-CN/popeditor.json
  examples/docs/resources/pc/demo-config/en-US/pop-editor.json
  examples/docs/resources/pc/demo-config/zh-CN/pop-editor.json
  examples/docs/resources/pc/demo/popeditor/auto-lookup.vue
Labels: documentation

#270 fix(numeric): 解决bug: 设置数值精度后无法输入小数点; 超出小数位数后裁剪值不对.
  packages/renderless/src/common/bigInt.ts
  packages/renderless/src/numeric/index.ts
Labels: bug

#273 fix(eslint): 屏蔽eslint：top-level-function规则
  .eslintrc.js
Labels: bug

#257 style(internal-cli): fix types and lint code
  internals/cli/src/commands/build/build-entry-app.ts
  internals/cli/src/commands/build/build-entry.ts
  internals/cli/src/commands/build/build-runtime.ts
  internals/cli/src/commands/build/build-ui.ts
  internals/cli/src/commands/build/index.ts
  internals/cli/src/commands/build/rollup/inline-chunks.ts
  internals/cli/src/commands/clean.ts
  internals/cli/src/commands/create/create-icon-saas.ts
  internals/cli/src/commands/create/create-mapping.ts
  internals/cli/src/commands/create/create-ui.ts
  internals/cli/src/commands/create/index.ts
  internals/cli/src/commands/sync/sync-icons.ts
  internals/cli/src/config/vite.ts
  internals/cli/src/index.ts
  internals/cli/src/shared/module-utils.ts
  internals/cli/src/shared/utils.ts
  internals/cli/src/shared/vue-fragment.ts
Labels: refactoring

#271 feat: config-provider
  examples/docs/resources/pc/api/zh-CN/config-provider.json
  examples/docs/resources/pc/demo-config/zh-CN/config-provider.json
  examples/docs/resources/pc/demo/config-provider/base.vue
  examples/docs/resources/pc/demo/config-provider/text-direct.vue
  examples/docs/resources/pc/menus.js
  packages/theme/src/config-provider/index.js
  packages/theme/src/config-provider/index.less
  packages/theme/src/config-provider/vars.less
  packages/vue/src/config-provider/__tests__/config-provider.spec.ts
  packages/vue/src/config-provider/hooks/use-config.ts
  packages/vue/src/config-provider/index.ts
  packages/vue/src/config-provider/src/index.vue
  packages/vue/src/config-provider/src/props.ts
Labels: enhancement

#276 fix(vite-plugin): 按需打包插件支持更多自定义包名
  internals/vue-vite-import/package.json
  internals/vue-vite-import/src/index.ts
Labels: enhancement

#278 fix: 修复actionSheet组件api.watchVisible空指针问题和去掉tabs空白padding
  packages/renderless/src/action-sheet/index.ts
  packages/renderless/src/action-sheet/vue.ts
  packages/theme-mobile/src/tabs/index.less
  packages/vue/src/pull-refresh/src/mobile.vue
Labels: bug

#290 feat: 增加联想查询api及demo示例 #289
  examples/docs/resources/pc/api/en-US/popeditor.json
  examples/docs/resources/pc/api/zh-CN/popeditor.json
  examples/docs/resources/pc/demo-config/en-US/pop-editor.json
  examples/docs/resources/pc/demo-config/zh-CN/pop-editor.json
  examples/docs/resources/pc/demo/popeditor/suggest.vue
Labels: documentation

#296 docs: change content of toolbar-button-click-event
  examples/docs/resources/pc/demo-config/zh-CN/grid-event.json
Labels: documentation
