Repository opentiny/tiny-vue, pull requests merged in 2023-05, with the labels that each got.

#185 fix(build runtime) 修复打包运行时报错问题
  internals/cli/src/commands/build/build-runtime.ts
  internals/cli/src/commands/build/build-ui.ts
Labels: bug

#196 fix(upload) 修复uplaod组件销毁时报错的bug
  packages/renderless/CHANGELOG.md
  packages/renderless/src/upload/index.ts
Labels: bug

#199 fix(fileupload): 上传组件增加用户不配置action属性产生的报错，告知用户需要配置
  packages/renderless/src/file-upload/index.ts
Labels: bug

#203 fix(button): 修复无内容的情况下上下错位的问题(#194)
  packages/theme-mobile/src/button/index.less
  packages/theme/src/button/index.less
Labels: bug

#211 fix: 修复pullRefresh组件，数据类型不匹配，导致控制台告警日志超大量打印，导致页面渲染慢的问题
  packages/vue/src/pull-refresh/src/index.vue
Labels: bug

#210 fix: 修复Breadcrumb配置textField的demo不显示面包屑内容 #207
  examples/docs/resources/pc/api/en-US/breadcrumb.json
  examples/docs/resources/pc/api/zh-CN/breadcrumb.json
  examples/docs/resources/pc/demo/breadcrumb/options.vue
Labels: bug

#200 fix(rate) 修复组件Rate半选加禁选后，2.5与3星实际不匹配的问题
  examples/docs/resources/pc/demo/rate/dynamic-disable.vue
  packages/renderless/src/rate/index.ts
Labels: bug

#214 docs: 增加 all-contributors 机器人🤖️用于自动添加贡献者
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
Labels: documentation

#224 doc: 修改文档示例
  examples/docs/resources/pc/demo/grid/tree-table/tree-grid-insert-delete-update.vue
Labels: documentation

#241 fix: fix npm publish 402 error
  package.json
Labels: bug

#243 chore: add label ci
  .github/release.yml
Labels: ci

#238 Refactor: 重构cli
  internals/cli/src/commands/build/handlebars.render.ts
  internals/cli/src/commands/create/create-ui.ts
  internals/cli/src/shared/module-utils.ts
  internals/cli/src/shared/utils.ts
Labels: refactoring

#251 refactor: A constructor name should not start with a lowercase letter but a uppercase
  examples/docs/newsrc/uses/useMonaco.js
Labels: refactoring

#250 fix(runtime-build) 修复运行打包构建产物缺少组件问题
  internals/cli/src/commands/build/build-entry-app.ts
  internals/cli/src/commands/build/build-runtime.ts
  internals/cli/src/commands/build/build-ui.ts
  internals/cli/src/commands/create/create-mapping.ts
  packages/modules.json
  packages/vue/mobile-first.ts
Labels: bug

#254 fix(tinyvue): 同步内部代码，并修复grid组件再vue2下报错问题
  packages/renderless/package.json
  packages/renderless/src/button-group/vue.ts
  packages/renderless/src/pager/vue.ts
  packages/theme-mobile/package.json
  packages/theme/package.json
  packages/vue/src/grid/src/grid/grid.ts
  packages/vue/src/option/package.json
  packages/vue/src/option/src/pc.vue
  packages/vue/src/pager/src/pc.vue
  packages/vue/src/select/src/pc.vue
Labels: bug

#260 fix(date-picker): fix date-picker clear icon style
  packages/theme/src/picker/index.less
Labels: bug

#258 docs: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation
