Repository opentiny/tiny-vue, pull requests merged in 2023-12, with the labels that each got.

#984 修正输入错误，重复引入的TinySwitch
  examples/sites/demos/pc/app/tooltip/custom-popper-composition-api.vue
Labels: documentation

#985 test(tabs): [tabs] update tabs E2E test dragger
  examples/sites/demos/pc/app/tabs/tabs-draggable.spec.ts
Labels: unit-test

#992 test(tag): [tag] update tag E2E test
  examples/sites/demos/pc/app/tag/closable.spec.ts
  examples/sites/demos/pc/app/tag/color3.spec.ts
  examples/sites/demos/pc/app/tag/content.spec.ts
  examples/sites/demos/pc/app/tag/create.spec.ts
  examples/sites/demos/pc/app/tag/disabled.spec.ts
  examples/sites/demos/pc/app/tag/effect.spec.ts
Labels: e2e-test

#995 fix(ci): [select] fix dirname generate in e2e github action
  .github/workflows/test-e2e-pr.yml
Labels: ci

#997 test(icon): [icon] update icon E2E test
  examples/sites/demos/pc/app/icon/basic-usage.spec.js
  examples/sites/demos/pc/app/icon/iconGroups.js
  examples/sites/demos/pc/app/icon/list.spec.js
  examples/sites/demos/pc/app/icon/show-title.spec.ts
Labels: e2e-test

#1001 feat(sites): add 3.12 version runtime
  examples/sites/playground/App.vue
Labels: enhancement

#994 test(anchor): [anchor] update anchor E2E test
  examples/sites/demos/pc/app/anchor/change.spec.ts
  examples/sites/demos/pc/app/anchor/is-affix.spec.ts
  examples/sites/demos/pc/app/anchor/set-container.spec.ts
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
Labels: e2e-test

#996 docs(grid): [grid] update grid docs
  examples/sites/demos/pc/app/grid/data-source/static-data-composition-api.vue
  examples/sites/demos/pc/app/grid/expand/expand-config-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/simple-date-filter.spec.ts
  examples/sites/demos/pc/app/grid/operation-column/selection-config-composition-api.vue
  examples/sites/demos/pc/app/grid/operation-column/selection-config.vue
  examples/sites/demos/pc/app/grid/slot/editor-slot-composition-api.vue
  examples/sites/demos/pc/app/grid/slot/header-slot-composition-api.vue
  examples/sites/demos/pc/app/grid/slot/header-slot.vue
Labels: documentation

#1026 fix(file-upload): [file-upload] Fix issues with warnings and errors in vue3 examples
  examples/sites/demos/pc/app/file-upload/paste-upload-composition-api.vue
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#1029 feat(button): [button] add ghost props
  examples/sites/demos/pc/app/button/autofocus.spec.ts
  examples/sites/demos/pc/app/button/basic-usage.spec.ts
  examples/sites/demos/pc/app/button/click.spec.ts
  examples/sites/demos/pc/app/button/dynamic-disabled-composition-api.vue
  examples/sites/demos/pc/app/button/dynamic-disabled.spec.ts
  examples/sites/demos/pc/app/button/dynamic-disabled.vue
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/ghost.spec.ts
  examples/sites/demos/pc/app/button/ghost.vue
  examples/sites/demos/pc/app/button/icon.spec.ts
  examples/sites/demos/pc/app/button/image.spec.ts
  examples/sites/demos/pc/app/button/loading.spec.ts
  examples/sites/demos/pc/app/button/reset-time.spec.ts
  examples/sites/demos/pc/app/button/size.spec.ts
  examples/sites/demos/pc/app/button/text.spec.ts
  examples/sites/demos/pc/app/button/webdoc/button.js
  packages/theme/src/button/index.less
  packages/theme/src/button/smb-theme.js
  packages/theme/src/button/vars.less
  packages/theme/src/mixins/button.less
  packages/vue/src/button/src/index.ts
  packages/vue/src/button/src/pc.vue
Labels: enhancement

#1025 fix(renderless/input): [input] fix value become empty when the input type changed
  packages/renderless/src/input/index.ts
  packages/renderless/src/input/vue.ts
Labels: bug

#1023 docs(link): [link] e2e and docs demos optimize
  examples/sites/demos/pc/app/link/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/link/basic-usage.spec.ts
  examples/sites/demos/pc/app/link/basic-usage.vue
  examples/sites/demos/pc/app/link/config-href.spec.ts
  examples/sites/demos/pc/app/link/custom-icon.spec.ts
  examples/sites/demos/pc/app/link/dynamic-disable.spec.ts
  examples/sites/demos/pc/app/link/focus-no-underline.spec.ts
  examples/sites/demos/pc/app/link/link-style-composition-api.vue
  examples/sites/demos/pc/app/link/link-style.spec.ts
  examples/sites/demos/pc/app/link/link-style.vue
  examples/sites/demos/pc/app/link/webdoc/link.js
Labels: documentation

#1043 docs(search): [search] Optimization search docs event demo
  examples/sites/demos/pc/app/search/basic-usage.spec.ts
  examples/sites/demos/pc/app/search/clearable.spec.ts
  examples/sites/demos/pc/app/search/events-composition-api.vue
  examples/sites/demos/pc/app/search/events.spec.ts
  examples/sites/demos/pc/app/search/events.vue
  examples/sites/demos/pc/app/search/webdoc/search.js
  packages/theme/src/tabs/smb-theme.js
Labels: documentation

#1034 docs(sites): optimize docs md
  examples/sites/demos/pc/webdoc/import-components.md
  internals/vue-vite-import/example/js/vite.config.js
Labels: documentation

#1041 docs(site): Optimization description block
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/milestone/webdoc/milestone.js
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/src/views/components/components.vue
Labels: documentation

#1037 Fix some bugs of demo
  examples/sites/demos/pc/app/steps/click-composition-api.vue
  examples/sites/demos/pc/app/steps/node-status-composition-api.vue
  examples/sites/demos/pc/app/steps/node-status.vue
  examples/sites/demos/pc/app/steps/normal-steps-composition-api.vue
  examples/sites/demos/pc/app/steps/normal-steps.vue
  examples/sites/demos/pc/app/steps/only-number-composition-api.vue
  examples/sites/demos/pc/app/steps/only-number.vue
  examples/sites/demos/pc/app/steps/show-divider-composition-api.vue
  examples/sites/demos/pc/app/steps/show-divider.vue
  examples/sites/demos/pc/app/steps/size-composition-api.vue
  examples/sites/demos/pc/app/steps/size.vue
  examples/sites/demos/pc/app/steps/slot-active-node-desc-composition-api.vue
  examples/sites/demos/pc/app/steps/slot-active-node-desc.vue
  examples/sites/demos/pc/app/steps/slot-description-composition-api.vue
  examples/sites/demos/pc/app/steps/slot-description.vue
  examples/sites/demos/pc/app/steps/slot-item-composition-api.vue
  examples/sites/demos/pc/app/steps/slot-item.vue
  examples/sites/demos/pc/app/steps/text-position-composition-api.vue
  examples/sites/demos/pc/app/steps/text-position.vue
  examples/sites/demos/pc/app/steps/webdoc/steps.js
  examples/sites/demos/pc/app/time-line/webdoc/time-line.js
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.cn.md
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.en.md
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
  packages/vue/src/tree/src/pc.vue
Labels: documentation

#1042 fix(sites): fix console warning
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/src/i18n/index.js
  examples/sites/src/main.js
  examples/sites/src/menus.jsx
  examples/sites/src/tools/utils.js
  examples/sites/src/views/components/VersionTip.vue
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/docs/docs.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
  examples/sites/vite.config.ts
Labels: bug

#1049 fix(sites): change demo default mode and delete bulletin
  examples/sites/src/App.vue
  examples/sites/src/tools/useApiMode.js
  examples/vue3/playwright.config.js
Labels: bug

#1050 test(steps): [steps] Fixed steps e2e test cases
  examples/sites/demos/pc/app/steps/advanced-steps.spec.ts
  examples/sites/demos/pc/app/steps/click.spec.ts
  examples/sites/demos/pc/app/steps/custom-steps-item.spec.ts
  examples/sites/demos/pc/app/steps/node-status.spec.ts
  examples/sites/demos/pc/app/steps/normal-steps.spec.ts
  examples/sites/demos/pc/app/steps/only-number.spec.ts
  examples/sites/demos/pc/app/steps/show-divider.spec.ts
  examples/sites/demos/pc/app/steps/size.spec.ts
  examples/sites/demos/pc/app/steps/slot-active-node-desc.spec.ts
  examples/sites/demos/pc/app/steps/slot-description.spec.ts
  examples/sites/demos/pc/app/steps/slot-item.spec.ts
  examples/sites/demos/pc/app/steps/space.spec.ts
  examples/sites/demos/pc/app/steps/text-position.spec.ts
  examples/sites/demos/pc/app/steps/vertical-steps.spec.ts
Labels: e2e-test

#1059 fix(form): fix from valid tooltip background color
  packages/theme/src/form/index.less
  packages/theme/src/form/smb-theme.js
  packages/theme/src/form/vars.less
  packages/theme/src/theme.config.js
Labels: bug

#1061 fix(breadcrumb):[breadcrumb] fix breadcrumb documents
  examples/sites/demos/pc/app/breadcrumb/webdoc/breadcrumb.js
Labels: documentation

#1057 fix(tag): [tag] Fix the pre deletion operation function
  examples/sites/demos/pc/app/tag/closable-composition-api.vue
  examples/sites/demos/pc/app/tag/closable.spec.ts
  examples/sites/demos/pc/app/tag/closable.vue
  examples/sites/demos/pc/app/tag/delete-composition-api.vue
  examples/sites/demos/pc/app/tag/delete.spec.ts
  examples/sites/demos/pc/app/tag/delete.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/vue/src/tag/src/pc.vue
Labels: bug, enhancement

#1054 fix(form): [form] fix form item size height
  examples/sites/demos/pc/app/form/custom-validation-rule-composition-api.vue
  examples/sites/demos/pc/app/form/custom-validation-rule.vue
  examples/sites/demos/pc/app/form/form-validate-field.vue
  examples/sites/demos/pc/app/form/size.spec.ts
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
Labels: bug

#1064 test:[config-provider,user-head]Add E2E TEST
  examples/sites/demos/pc/app/config-provider/basic.spec.ts
  examples/sites/demos/pc/app/config-provider/tag.spec.ts
  examples/sites/demos/pc/app/config-provider/text-direct.spec.ts
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.en.md
  examples/sites/demos/pc/app/user-head/icon-user-head.spec.ts
  examples/sites/demos/pc/app/user-head/image-user-head.spec.ts
Labels: e2e-test

#1051 feat(action-menu): [dropdown,action-menu] ActionMenu component adds showIcon and suffixIcon attributes，supplemented the documents and examples.
  examples/sites/demos/pc/app/action-menu/add-icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/add-icon.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/action-menu/popper-class.spec.ts
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/dropdown/events-composition-api.vue
  examples/sites/demos/pc/app/dropdown/events.spec.ts
  examples/sites/demos/pc/app/dropdown/multi-level-composition-api.vue
  examples/sites/demos/pc/app/dropdown/multi-level.spec.ts
  examples/sites/demos/pc/app/dropdown/multi-level.vue
  examples/sites/demos/pc/app/dropdown/show-icon-composition-api.vue
  examples/sites/demos/pc/app/dropdown/show-icon.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/design/smb/src/action-menu/index.ts
  packages/renderless/src/action-menu/vue.ts
  packages/theme/src/action-menu/aurora-theme.js
  packages/theme/src/action-menu/index.less
  packages/theme/src/action-menu/smb-theme.js
  packages/theme/src/action-menu/vars.less
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/smb-theme.js
  packages/theme/src/dropdown/vars.less
  packages/vue/src/action-menu/src/index.ts
  packages/vue/src/action-menu/src/pc.vue
  packages/vue/src/dropdown/src/index.ts
  packages/vue/src/dropdown/src/pc.vue
Labels: documentation, enhancement

#1048 docs(grid): [grid] add grid custom loading demos and api
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading-composition-api.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading.spec.js
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading.vue
  examples/sites/demos/pc/app/grid/loading/grid-loading-off-tip.spec.js
  examples/sites/demos/pc/app/grid/webdoc/grid-loading.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
Labels: documentation

#1067 docs(sites): [button, button-group]: demo style optimize
  examples/sites/demos/pc/app/button-group/button-group-multiple-composition-api.vue
  examples/sites/demos/pc/app/button-group/button-group-multiple.vue
  examples/sites/demos/pc/app/button-group/change-event-composition-api.vue
  examples/sites/demos/pc/app/button-group/change-event.vue
  examples/sites/demos/pc/app/button-group/show-edit-composition-api.vue
  examples/sites/demos/pc/app/button-group/show-edit.vue
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
  examples/sites/demos/pc/app/button/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/button/basic-usage.vue
  examples/sites/demos/pc/app/button/click-composition-api.vue
  examples/sites/demos/pc/app/button/click.vue
  examples/sites/demos/pc/app/button/dynamic-disabled-composition-api.vue
  examples/sites/demos/pc/app/button/dynamic-disabled.vue
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/ghost.vue
  examples/sites/demos/pc/app/button/icon-composition-api.vue
  examples/sites/demos/pc/app/button/icon.vue
  examples/sites/demos/pc/app/button/loading-composition-api.vue
  examples/sites/demos/pc/app/button/loading.vue
  examples/sites/demos/pc/app/button/size-composition-api.vue
  examples/sites/demos/pc/app/button/size.vue
  examples/sites/demos/pc/app/button/text-composition-api.vue
  examples/sites/demos/pc/app/button/text.vue
  examples/sites/demos/pc/app/button/webdoc/button.js
  packages/theme/src/button/index.less
  packages/theme/src/mixins/button.less
Labels: documentation

#1072 fix(theme): [button-group] fix button group css var name
  packages/theme/src/button-group/index.less
Labels: bug

#1071 chore: update xdesign basic tokens
  packages/theme/src/theme/smb-theme/index.js
Labels: refactoring

#1068 docs(action-menu,dropdown): [action-menu,dropdown] The Dropdown and ActionMenu component documents are optimized, and the warning message is removed.
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.cn.md
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.en.md
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/dropdown/hide-on-click-composition-api.vue
  examples/sites/demos/pc/app/dropdown/hide-on-click.vue
  examples/sites/demos/pc/app/dropdown/inherit-width-composition-api.vue
  examples/sites/demos/pc/app/dropdown/inherit-width.vue
  examples/sites/demos/pc/app/dropdown/options.spec.ts
  examples/sites/demos/pc/app/dropdown/slots-composition-api.vue
  examples/sites/demos/pc/app/dropdown/trigger-composition-api.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.cn.md
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.en.md
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/renderless/src/dropdown-item/index.ts
  packages/renderless/src/dropdown-item/vue.ts
  packages/vue/src/dropdown-item/src/pc.vue
Labels: documentation

#1066 docs(transfer): [transfer] remove queryclear demo, and add some e2e test
  examples/sites/demos/pc/app/transfer/basic-usage.spec.ts
  examples/sites/demos/pc/app/transfer/before-transfer.spec.ts
  examples/sites/demos/pc/app/transfer/custom-btns.spec.ts
  examples/sites/demos/pc/app/transfer/custom-filter-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-filter.vue
  examples/sites/demos/pc/app/transfer/custom-render-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-render.spec.ts
  examples/sites/demos/pc/app/transfer/custom-render.vue
  examples/sites/demos/pc/app/transfer/custom-titles.spec.ts
  examples/sites/demos/pc/app/transfer/drop-config.spec.ts
  examples/sites/demos/pc/app/transfer/manual-clear-query-composition-api.vue
  examples/sites/demos/pc/app/transfer/manual-clear-query.spec.ts
  examples/sites/demos/pc/app/transfer/manual-clear-query.vue
  examples/sites/demos/pc/app/transfer/nested-table.spec.ts
  examples/sites/demos/pc/app/transfer/webdoc/transfer.js
Labels: documentation

#1075 test(time-picker): [time-picker] optimize time-picker e2e test
  examples/sites/demos/pc/app/time-picker/basic-usage.spec.ts
  examples/sites/demos/pc/app/time-picker/clearable.spec.ts
  examples/sites/demos/pc/app/time-picker/default-value.spec.ts
  examples/sites/demos/pc/app/time-picker/disabled.spec.ts
  examples/sites/demos/pc/app/time-picker/editable.spec.ts
  examples/sites/demos/pc/app/time-picker/event-composition-api.vue
  examples/sites/demos/pc/app/time-picker/event.spec.ts
  examples/sites/demos/pc/app/time-picker/event.vue
  examples/sites/demos/pc/app/time-picker/format.spec.ts
  examples/sites/demos/pc/app/time-picker/is-range.spec.ts
  examples/sites/demos/pc/app/time-picker/name.spec.ts
  examples/sites/demos/pc/app/time-picker/placeholder.spec.ts
  examples/sites/demos/pc/app/time-picker/popper-class.spec.ts
  examples/sites/demos/pc/app/time-picker/size.spec.ts
  examples/sites/demos/pc/app/time-picker/step.spec.ts
  examples/sites/demos/pc/app/time-picker/suffix-icon.spec.ts
  packages/renderless/src/picker/index.ts
Labels: e2e-test

#1069 fix(grid): [grid] optimize grid apis
  examples/sites/demos/pc/app/grid/webdoc/grid-large-data.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  examples/sites/package.json
Labels: documentation

#1078 build(theme): Add the index.less file package of the root directory
  packages/theme/build/edit‐dir‐theme.js
Labels: enhancement

#1090 build(theme): Add the index.less file package of the root diretory
  packages/theme/build/edit‐dir‐theme.js
Labels: enhancement

#1094 test(steps):[steps] update steps E2E test
  examples/sites/demos/pc/app/steps/size.spec.ts
  examples/sites/demos/pc/app/steps/slot-item.spec.ts
  examples/sites/demos/pc/app/steps/text-position.spec.ts
Labels: e2e-test

#1079 fix(pop-upload): [pop-upload] Optimized the document and added e2e test cases.
  examples/sites/demos/pc/app/pop-upload/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/pop-upload/basic-usage.vue
  examples/sites/demos/pc/app/pop-upload/before-upload.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.vue
  examples/sites/demos/pc/app/pop-upload/data-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/data.spec.ts
  examples/sites/demos/pc/app/pop-upload/data.vue
  examples/sites/demos/pc/app/pop-upload/file-limit-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/file-limit.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-limit.vue
  examples/sites/demos/pc/app/pop-upload/file-type-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/file-type.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-type.vue
  examples/sites/demos/pc/app/pop-upload/fill-button-text.spec.ts
  examples/sites/demos/pc/app/pop-upload/http-request.spec.ts
  examples/sites/demos/pc/app/pop-upload/max-upload-file-size-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/max-upload-file-size.spec.ts
  examples/sites/demos/pc/app/pop-upload/max-upload-file-size.vue
  examples/sites/demos/pc/app/pop-upload/prevent-delete-file.spec.ts
  examples/sites/demos/pc/app/pop-upload/size.spec.ts
  examples/sites/demos/pc/app/pop-upload/upload-events-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/upload-events.spec.ts
  examples/sites/demos/pc/app/pop-upload/upload-events.vue
  examples/sites/demos/pc/app/pop-upload/upload-name-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/upload-name.spec.ts
  examples/sites/demos/pc/app/pop-upload/upload-name.vue
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.cn.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.en.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  packages/renderless/src/pop-upload/index.ts
  packages/renderless/src/pop-upload/vue.ts
  packages/vue/src/pop-upload/src/index.ts
  packages/vue/src/pop-upload/src/pc.vue
Labels: documentation, e2e-test

#1093 feat(openinula): add openinula base structure
  examples/openinula-docs/index.html
  examples/openinula-docs/package.json
  examples/openinula-docs/public/vite.svg
  examples/openinula-docs/src/App.tsx
  examples/openinula-docs/src/main.css
  examples/openinula-docs/src/main.tsx
  examples/openinula-docs/tsconfig.json
  examples/openinula-docs/tsconfig.node.json
  examples/openinula-docs/vite.config.ts
  package.json
  packages/openinula/.depcheckrc.yaml
  packages/openinula/index.ts
  packages/openinula/package.json
  packages/openinula/src/alert/index.ts
  packages/openinula/src/alert/package.json
  packages/openinula/src/alert/src/index.ts
  packages/openinula/src/alert/src/mobile-first.jsx
  packages/openinula/src/alert/src/mobile.jsx
  packages/openinula/src/alert/src/pc.jsx
  packages/openinula/src/common/package.json
  packages/openinula/src/common/src/csscls.ts
  packages/openinula/src/common/src/event.ts
  packages/openinula/src/common/src/fiber.ts
  packages/openinula/src/common/src/hooks.ts
  packages/openinula/src/common/src/index.ts
  packages/openinula/src/common/src/reactive.ts
  packages/openinula/src/common/src/render-stack.ts
  packages/openinula/src/common/src/resolve-props.ts
  packages/openinula/src/common/src/svg-render.jsx
  packages/openinula/src/common/src/utils.ts
  packages/openinula/src/common/src/virtual-comp.jsx
  packages/openinula/src/common/src/vm.ts
  packages/openinula/src/common/src/vue-hooks.ts
  packages/openinula/src/common/src/vue-instance.ts
  packages/openinula/src/common/src/vue-props.ts
  packages/openinula/src/icon/index.ts
  packages/openinula/src/icon/package.json
  packages/openinula/src/icon/src/add/index.ts
  packages/openinula/src/icon/src/check/index.ts
  packages/openinula/src/icon/src/checked-sur/index.ts
  packages/openinula/src/icon/src/chevron-down/index.ts
  packages/openinula/src/icon/src/close/index.ts
  packages/openinula/src/icon/src/error/index.ts
  packages/openinula/src/icon/src/half-select/index.ts
  packages/openinula/src/icon/src/help/index.ts
  packages/openinula/src/icon/src/loading/index.ts
  packages/openinula/src/icon/src/success/index.ts
  packages/openinula/src/icon/src/warning/index.ts
Labels: enhancement

#1101 test(time-line):[time-line] update time-line E2E test
  examples/sites/demos/pc/app/time-line/basic-usage.spec.ts
  examples/sites/demos/pc/app/time-line/custom-field.spec.ts
  examples/sites/demos/pc/app/time-line/custom-horizontal-timeline.spec.ts
  examples/sites/demos/pc/app/time-line/custom-vertical-timeline.spec.ts
  examples/sites/demos/pc/app/time-line/set-node-width.spec.ts
  examples/sites/demos/pc/app/time-line/set-start-value.spec.ts
  examples/sites/demos/pc/app/time-line/shape.spec.ts
  examples/sites/demos/pc/app/time-line/status.spec.ts
  examples/sites/demos/pc/app/time-line/timeline-item.spec.ts
  examples/sites/demos/pc/app/time-line/vertical-timeline.spec.ts
Labels: e2e-test

#1099 feat(react): optimize react file structure
  .gitignore
  internals/cli/src/commands/build/build-entry-react.ts
  internals/cli/src/commands/build/build-ui-react.ts
  internals/cli/src/commands/create/common-mapping-react.json
  internals/cli/src/commands/create/create-mapping-react.ts
  packages/react-common/src/virtual-comp.jsx
  packages/react/mobile-first.ts
  packages/react/modules.json
  packages/react/package.json
  packages/react/src/common/package.json
  packages/react/src/common/src/csscls.ts
  packages/react/src/common/src/event.ts
  packages/react/src/common/src/fiber.ts
  packages/react/src/common/src/hooks.ts
  packages/react/src/common/src/index.ts
  packages/react/src/common/src/reactive.ts
  packages/react/src/common/src/render-stack.ts
  packages/react/src/common/src/resolve-props.ts
  packages/react/src/common/src/svg-render.jsx
  packages/react/src/common/src/utils.ts
  packages/react/src/common/src/virtual-comp.jsx
  packages/react/src/common/src/vm.ts
  packages/react/src/common/src/vue-hooks.ts
  packages/react/src/common/src/vue-instance.ts
  packages/react/src/common/src/vue-props.ts
  packages/react/src/icon/index.ts
  packages/react/src/icon/package.json
  packages/react/src/icon/src/add/index.ts
  packages/react/src/icon/src/check/index.ts
  packages/react/src/icon/src/checked-sur/index.ts
  packages/react/src/icon/src/chevron-down/index.ts
  packages/react/src/icon/src/close/index.ts
  packages/react/src/icon/src/error/index.ts
  packages/react/src/icon/src/half-select/index.ts
  packages/react/src/icon/src/help/index.ts
  packages/react/src/icon/src/loading/index.ts
  packages/react/src/icon/src/success/index.ts
  packages/react/src/icon/src/warning/index.ts
Labels: enhancement

#1106 test(infinite-scroll):[infinite-scroll] update infinite-scroll E2E test
  examples/sites/demos/pc/app/infinite-scroll/basic-usage.spec.ts
  examples/sites/demos/pc/app/infinite-scroll/disabled.spec.ts
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.cn.md
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.js
Labels: documentation, e2e-test

#1107 docs(tabs): [tabs] Add documentation for using tab items
  examples/sites/demos/pc/app/tabs/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tabs/basic-usage.spec.ts
  examples/sites/demos/pc/app/tabs/basic-usage.vue
  examples/sites/demos/pc/app/tabs/tabs-events-close-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-events-close.vue
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  packages/vue/src/tab-item/src/index.ts
  packages/vue/src/tab-item/src/pc.vue
Labels: documentation

#1104 fix(filter-panel): [filter-panel] Optimize documenet and e2e
  examples/sites/demos/pc/app/filter-panel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/filter-panel/basic-usage.vue
  examples/sites/demos/pc/app/filter-panel/clearable-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/clearable.spec.ts
  examples/sites/demos/pc/app/filter-panel/clearable.vue
  examples/sites/demos/pc/app/filter-panel/disabled-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/disabled.spec.ts
  examples/sites/demos/pc/app/filter-panel/disabled.vue
  examples/sites/demos/pc/app/filter-panel/event.spec.ts
  examples/sites/demos/pc/app/filter-panel/manual-hide.spec.ts
  examples/sites/demos/pc/app/filter-panel/popper-class-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/popper-class.spec.ts
  examples/sites/demos/pc/app/filter-panel/popper-class.vue
  examples/sites/demos/pc/app/filter-panel/tip.spec.ts
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.cn.md
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.en.md
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.js
  examples/sites/demos/pc/app/popover/webdoc/popover.js
  packages/theme/src/color-picker/index.less
Labels: documentation, e2e-test

#1114 test(bulletin-board):[bulletin-board] update bulletin-board E2E test
  examples/sites/demos/pc/app/bulletin-board/active-name.spec.ts
  examples/sites/demos/pc/app/bulletin-board/base.spec.ts
  examples/sites/demos/pc/app/bulletin-board/icon.spec.ts
  examples/sites/demos/pc/app/bulletin-board/more-link.spec.ts
  examples/sites/demos/pc/app/bulletin-board/route.spec.ts
  examples/sites/demos/pc/app/bulletin-board/tab-title.spec.ts
  examples/sites/demos/pc/app/bulletin-board/title.spec.ts
  examples/sites/demos/pc/app/bulletin-board/url.spec.ts
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
Labels: documentation, e2e-test

#1112 test(select): [select] Supplement and optimize select component test cases
  examples/sites/demos/pc/app/select/clear-no-match-value-composition-api.vue
  examples/sites/demos/pc/app/select/clear-no-match-value.spec.ts
  examples/sites/demos/pc/app/select/clear-no-match-value.vue
  examples/sites/demos/pc/app/select/copy-multi-composition-api.vue
  examples/sites/demos/pc/app/select/copy-multi.spec.ts
  examples/sites/demos/pc/app/select/copy-single-composition-api.vue
  examples/sites/demos/pc/app/select/copy-single.spec.ts
  examples/sites/demos/pc/app/select/copy-single.vue
  examples/sites/demos/pc/app/select/events-composition-api.vue
  examples/sites/demos/pc/app/select/filter-method-composition-api.vue
  examples/sites/demos/pc/app/select/is-drop-inherit-width.spec.ts
  examples/sites/demos/pc/app/select/manual-focus-blur-composition-api.vue
  examples/sites/demos/pc/app/select/manual-focus-blur.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-composition-api.vue
  examples/sites/demos/pc/app/select/nest-tree-composition-api.vue
  examples/sites/demos/pc/app/select/optimization.spec.ts
  examples/sites/demos/pc/app/select/tag-type.spec.ts
Labels: e2e-test

#1118 fix(select): [select] Fix the issue of ineffective use of noMatchText attribute in custom filtering of select component
  examples/sites/demos/pc/app/select/filter-method.spec.ts
  packages/renderless/src/option/index.ts
  packages/renderless/src/option/vue.ts
  packages/renderless/src/select/index.ts
Labels: bug

#1120 fix(theme): [alert, popconfirm] pc template remove tailwind merge
  examples/sites/demos/pc/app/alert/custom-close-composition-api.vue
  examples/sites/demos/pc/app/alert/custom-close.vue
  packages/theme/src/popconfirm/index.less
  packages/vue/src/alert/src/pc.vue
  packages/vue/src/popconfirm/src/pc.vue
Labels: bug

#1119 test(text-popup):[text-popup] update text-popup E2E test
  examples/sites/demos/pc/app/text-popup/basic-usage.spec.ts
  examples/sites/demos/pc/app/text-popup/clear-value.spec.ts
  examples/sites/demos/pc/app/text-popup/placeholder.spec.ts
  examples/sites/demos/pc/app/text-popup/readonly.spec.ts
  examples/sites/demos/pc/app/text-popup/separtor.spec.ts
  examples/sites/demos/pc/app/text-popup/value.spec.ts
  examples/sites/demos/pc/app/text-popup/webdoc/text-popup.js
  examples/sites/demos/pc/app/text-popup/width.spec.ts
Labels: documentation, e2e-test

#1135 docs(sites): [pager, form] optimize docs and demos
  examples/sites/demos/pc/app/form/events-composition-api.vue
  examples/sites/demos/pc/app/form/events.spec.ts
  examples/sites/demos/pc/app/form/events.vue
  examples/sites/demos/pc/app/form/form-validate-field-composition-api.vue
  examples/sites/demos/pc/app/form/form-validate-field.spec.ts
  examples/sites/demos/pc/app/form/form-validate-field.vue
  examples/sites/demos/pc/app/form/form-validation-composition-api.vue
  examples/sites/demos/pc/app/form/form-validation.vue
  examples/sites/demos/pc/app/form/label-position-composition-api.vue
  examples/sites/demos/pc/app/form/label-position.vue
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/app/pager/popper-append-to-body-composition-api.vue
  examples/sites/demos/pc/app/pager/popper-append-to-body.spec.ts
  examples/sites/demos/pc/app/pager/popper-append-to-body.vue
  examples/sites/demos/pc/app/pager/webdoc/pager.js
Labels: documentation

#1129 fix: [cascader, loading] fix docs api jump demo
  examples/sites/demos/pc/app/cascader/webdoc/cascader.js
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Labels: documentation

#1127 docs(components): [anchor,file-upload,pop-upload,tabs,wizard] Document Optimization
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/file-upload/accept-file-composition-api.vue
  examples/sites/demos/pc/app/file-upload/accept-file.vue
  examples/sites/demos/pc/app/file-upload/drag-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/dynamic-disable-composition-api.vue
  examples/sites/demos/pc/app/file-upload/dynamic-disable.vue
  examples/sites/demos/pc/app/file-upload/jalor-request-composition-api.vue
  examples/sites/demos/pc/app/file-upload/jalor-request.vue
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-filters-composition-api.vue
  examples/sites/demos/pc/app/file-upload/upload-file-filters.vue
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  examples/sites/demos/pc/app/tabs/custom-tab-content-composition-api.vue
  examples/sites/demos/pc/app/tabs/custom-tab-content.vue
  examples/sites/demos/pc/app/tabs/prevent-tab-switching-composition-api.vue
  examples/sites/demos/pc/app/tabs/prevent-tab-switching.vue
  examples/sites/demos/pc/app/tabs/show-echarts-composition-api.vue
  examples/sites/demos/pc/app/tabs/show-echarts.vue
  examples/sites/demos/pc/app/tabs/tabs-size-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-size.vue
  examples/sites/demos/pc/app/wizard/status-icon-composition-api.vue
  examples/sites/demos/pc/app/wizard/status-icon.vue
Labels: documentation

#1125 test:[color-picker,carousel] Update E2E TEST
  examples/sites/demos/pc/app/carousel/autoplay.spec.ts
  examples/sites/demos/pc/app/carousel/basic-usage.spec.ts
  examples/sites/demos/pc/app/carousel/card-mode.spec.ts
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.spec.ts
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.spec.ts
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.spec.ts
  examples/sites/demos/pc/app/carousel/carousel-events.spec.ts
  examples/sites/demos/pc/app/carousel/close-loop.spec.ts
  examples/sites/demos/pc/app/carousel/indicator-trigger.spec.ts
  examples/sites/demos/pc/app/carousel/manual-play.spec.ts
  examples/sites/demos/pc/app/carousel/play-interval.spec.ts
  examples/sites/demos/pc/app/carousel/show-title.spec.ts
  examples/sites/demos/pc/app/carousel/up-down-carousel.spec.ts
  examples/sites/demos/pc/app/color-picker/history.spec.ts
  examples/sites/demos/pc/app/color-picker/predefine.spec.ts
Labels: e2e-test

#1121 feat(common): Compatible with yy/MM/dd HH: mm: ss time format
  packages/renderless/src/common/date.ts
Labels: enhancement

#1136 docs(components): [select,action-menu] Select and ActionMenu and DialogSelect component document optimization.
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-single-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-single.vue
  examples/sites/demos/pc/app/dialog-select/nest-tree-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-tree-multi.vue
  examples/sites/demos/pc/app/dialog-select/nest-tree-single-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-tree-single.vue
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  examples/sites/demos/pc/app/select/webdoc/select.cn.md
  examples/sites/demos/pc/app/select/webdoc/select.en.md
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: documentation

#976 feat(tag): add tag-mobile
  examples/sites/demos/mobile/app/tag/basic-usage.vue
  examples/sites/demos/mobile/app/tag/different-color.vue
  examples/sites/demos/mobile/app/tag/max-width.vue
  examples/sites/demos/mobile/app/tag/mini.vue
  examples/sites/demos/mobile/app/tag/webdoc/tag.cn.md
  examples/sites/demos/mobile/app/tag/webdoc/tag.en.md
  examples/sites/demos/mobile/app/tag/webdoc/tag.js
  examples/sites/demos/mobile/menus.js
  packages/modules.json
  packages/renderless/src/tag/vue.ts
  packages/renderless/types/tag.type.ts
  packages/theme-mobile/src/tag/index.less
  packages/theme-mobile/src/tag/vars.less
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/mobile.vue
Labels: enhancement

#973 feat: Error reported when the maximum value is less than the minimum value
  packages/renderless/src/numeric/vue.ts
Labels: bug

#1038 fix(components): [slider] prevent default event when bind keydown event
  packages/renderless/src/slider/index.ts
Labels: bug

#1139 feat(file-upload): [file-upload] Add new features to the progress bar
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/upload-list/src/pc.vue
Labels: enhancement

#1137 docs(grid): [grid] fix grid docs
  examples/sites/demos/pc/app/grid/custom-style/footer-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/footer-style.spec.js
  examples/sites/demos/pc/app/grid/custom-style/footer-style.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style.spec.js
  examples/sites/demos/pc/app/grid/custom-style/header-style.vue
  examples/sites/demos/pc/app/grid/custom/column-width-composition-api.vue
  examples/sites/demos/pc/app/grid/custom/column-width.vue
  examples/sites/demos/pc/app/grid/custom/prsonalized-drag.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.spec.js
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.vue
  examples/sites/demos/pc/app/grid/highlight/highlight-hover-row-composition-api.vue
  examples/sites/demos/pc/app/grid/highlight/highlight-hover-row.vue
  examples/sites/demos/pc/app/grid/validation/before-submit-validation-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.vue
  examples/sites/demos/pc/app/grid/validation/valid-config-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/valid-config.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
Labels: documentation, e2e-test

#1143 test(qr-code):[qr-code] update qr-code E2E test
  examples/sites/demos/pc/app/qr-code/basic-usage.spec.ts
  examples/sites/demos/pc/app/qr-code/icon.spec.ts
  examples/sites/demos/pc/app/qr-code/level.spec.ts
  examples/sites/demos/pc/app/qr-code/style.spec.ts
  examples/sites/demos/pc/app/qr-code/webdoc/qr-code.js
Labels: documentation, e2e-test

#1140 feat(solid): add solid file structure
  examples/solid-docs/index.html
  examples/solid-docs/package.json
  examples/solid-docs/public/vite.svg
  examples/solid-docs/src/App.tsx
  examples/solid-docs/src/main.css
  examples/solid-docs/src/main.tsx
  examples/solid-docs/tsconfig.json
  examples/solid-docs/tsconfig.node.json
  examples/solid-docs/vite.config.ts
  package.json
  packages/solid/.depcheckrc.yaml
  packages/solid/index.ts
  packages/solid/package.json
  packages/solid/src/button/index.ts
  packages/solid/src/button/package.json
  packages/solid/src/button/src/index.ts
  packages/solid/src/button/src/pc.jsx
  packages/solid/src/common/package.json
  packages/solid/src/common/src/index.ts
Labels: enhancement

#1142 fix(grid): [grid] update parentHeight before recalculate
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#1131 test(fullscreen):[fullscreen] update fullscreen E2E test
  examples/sites/demos/pc/app/fullscreen/example-api.spec.ts
  examples/sites/demos/pc/app/fullscreen/example-component.spec.ts
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
Labels: documentation, e2e-test

#1145 fix(playground): update unpkg url
  examples/sites/playground.html
Labels: bug

#1149 docs(anchor): [anchor] optimized the document
  examples/sites/demos/pc/app/anchor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/anchor/basic-usage.vue
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
Labels: documentation

#1150 test(watermark):[watermark] update watermark E2E test
  examples/sites/demos/pc/app/watermark/basic-usage.spec.ts
  examples/sites/demos/pc/app/watermark/image.spec.ts
  examples/sites/demos/pc/app/watermark/webdoc/watermark.js
Labels: documentation, e2e-test

#1151 docs(sites): [drop-times,time-select] optimize docs and demos
  examples/sites/demos/pc/app/drop-times/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/drop-times/basic-usage.vue
  examples/sites/demos/pc/app/drop-times/size-composition-api.vue
  examples/sites/demos/pc/app/drop-times/size.vue
  examples/sites/demos/pc/app/drop-times/start-end-step-composition-api.vue
  examples/sites/demos/pc/app/drop-times/start-end-step.vue
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.js
  examples/sites/demos/pc/app/time-select/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/time-select/basic-usage.vue
  examples/sites/demos/pc/app/time-select/clear-icon-composition-api.vue
  examples/sites/demos/pc/app/time-select/clear-icon.vue
  examples/sites/demos/pc/app/time-select/default-time-composition-api.vue
  examples/sites/demos/pc/app/time-select/default-time.vue
  examples/sites/demos/pc/app/time-select/default-value-composition-api.vue
  examples/sites/demos/pc/app/time-select/default-value.vue
  examples/sites/demos/pc/app/time-select/disabled-composition-api.vue
  examples/sites/demos/pc/app/time-select/disabled.vue
  examples/sites/demos/pc/app/time-select/editable-composition-api.vue
  examples/sites/demos/pc/app/time-select/editable.vue
  examples/sites/demos/pc/app/time-select/event-blur-composition-api.vue
  examples/sites/demos/pc/app/time-select/event-blur.vue
  examples/sites/demos/pc/app/time-select/event-change-composition-api.vue
  examples/sites/demos/pc/app/time-select/event-change.vue
  examples/sites/demos/pc/app/time-select/focus-composition-api.vue
  examples/sites/demos/pc/app/time-select/focus.vue
  examples/sites/demos/pc/app/time-select/picker-options-composition-api.vue
  examples/sites/demos/pc/app/time-select/picker-options.vue
  examples/sites/demos/pc/app/time-select/popper-class-composition-api.vue
  examples/sites/demos/pc/app/time-select/popper-class.spec.ts
  examples/sites/demos/pc/app/time-select/popper-class.vue
  examples/sites/demos/pc/app/time-select/range-placeholder-composition-api.vue
  examples/sites/demos/pc/app/time-select/range-placeholder.vue
  examples/sites/demos/pc/app/time-select/size-medium-composition-api.vue
  examples/sites/demos/pc/app/time-select/size-medium.vue
  examples/sites/demos/pc/app/time-select/size-mini-composition-api.vue
  examples/sites/demos/pc/app/time-select/size-mini.spec.ts
  examples/sites/demos/pc/app/time-select/size-mini.vue
  examples/sites/demos/pc/app/time-select/size-small-composition-api.vue
  examples/sites/demos/pc/app/time-select/size-small.spec.ts
  examples/sites/demos/pc/app/time-select/size-small.vue
  examples/sites/demos/pc/app/time-select/suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/time-select/suffix-icon.vue
  examples/sites/demos/pc/app/time-select/webdoc/time-select.js
Labels: documentation

#1155 feat(button-group): [button-group] add default empty text
  examples/sites/demos/pc/app/button-group/basic-usage.spec.ts
  examples/sites/demos/pc/app/button-group/slot-empty-composition-api.vue
  examples/sites/demos/pc/app/button-group/slot-empty.spec.ts
  examples/sites/demos/pc/app/button-group/slot-empty.vue
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
  packages/theme/src/button-group/index.less
  packages/vue/src/button-group/src/pc.vue
Labels: enhancement

#1165 fix(theme/src/input): [input] fix input append slot css when select is in it
  packages/theme/src/input/index.less
Labels: bug

#1161 docs(sites): [checkbox] optimize docs and demos
  examples/sites/demos/pc/app/checkbox/checkbox-events-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checkbox-events.vue
  examples/sites/demos/pc/app/checkbox/group-options-composition-api.vue
  examples/sites/demos/pc/app/checkbox/group-options.vue
  examples/sites/demos/pc/app/checkbox/size-composition-api.vue
  examples/sites/demos/pc/app/checkbox/text-composition-api.vue
  examples/sites/demos/pc/app/checkbox/text.vue
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.js
Labels: documentation

#1123 fix(slider): [slider] Show the tooltip after dragging the Slider component.
  packages/renderless/src/slider/index.ts
  packages/renderless/src/slider/vue.ts
  packages/renderless/types/slider.type.ts
Labels: bug

#1156 fix(slider): [slider]The Slider component should prompt an error when min > max
  examples/sites/demos/pc/app/slider/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/slider/basic-usage.vue
  packages/renderless/src/slider/vue.ts
  packages/vue/src/slider/__tests__/slider.test.tsx
Labels: bug

#1172 docs(sites): [form, alert] fix not pass e2e case
  examples/sites/demos/pc/app/alert/custom-close.spec.ts
  examples/sites/demos/pc/app/badge/webdoc/badge.js
  examples/sites/demos/pc/app/form/label-position.spec.ts
Labels: unit-test

#1174 fix(collapse):[collapse] fix collapse documents
  examples/sites/demos/pc/app/collapse/title-composition-api.vue
  examples/sites/demos/pc/app/collapse/title.vue
  examples/sites/demos/pc/app/collapse/webdoc/collapse.js
Labels: documentation

#1162 build(theme): Patch theme packaging and generation function
  packages/theme/build/edit‐dir‐theme.js
Labels: bug

#1176 docs(components): [file-upload]Adding single quotes to the default value of a stri…
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/file-upload/multiple-file.spec.ts
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/milestone/webdoc/milestone.js
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  examples/sites/demos/pc/app/progress/webdoc/progress.js
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/tag/webdoc/tag.js
Labels: documentation

#1175 fix(nav-menu):[nav-menu] fix nav-menu documents
  examples/sites/demos/pc/app/nav-menu/custom-service-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/custom-service.vue
Labels: documentation

#1154 fix(select): [select] fix event retargeting in debounce
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
Labels: bug

#1146 feat(icon): [icon] Add add-picture svg
  examples/sites/demos/pc/app/icon/iconGroups.js
  packages/theme/src/svgs/add-picture.svg
  packages/vue-icon/index.ts
  packages/vue-icon/src/add-picture/index.ts
Labels: enhancement

#1179 feat(automate): add script projects such as statistics and document a…
  count-api.js
  internals/automate/package.json
  internals/automate/src/count.ts
  internals/automate/src/index.ts
Labels: enhancement

#1178 fix(qr-code):[qr-code] fix qr-code documents
  examples/sites/demos/pc/app/qr-code/level-composition-api.vue
  examples/sites/demos/pc/app/qr-code/style-composition-api.vue
  examples/sites/demos/pc/app/qr-code/style.vue
  examples/sites/demos/pc/app/qr-code/webdoc/qr-code.js
Labels: documentation

#1180 feat(internals): add demos scan script to find demos problem
  internals/automate/package.json
  internals/automate/src/demos-scan.ts
Labels: enhancement

#1184 test(drop-times): [drop-times] amend drop-times e2e test
  examples/sites/demos/pc/app/drop-times/basic-usage.spec.ts
  examples/sites/demos/pc/app/drop-times/size.spec.ts
  examples/sites/demos/pc/app/drop-times/start-end-step.spec.ts
Labels: e2e-test

#1168 refactor(grid): [grid] add grid plugins
  packages/renderless/src/grid/utils/common.ts
  packages/vue/src/grid/index.ts
  packages/vue/src/grid/src/checkbox/index.ts
  packages/vue/src/grid/src/checkbox/src/handleSelectRow.ts
  packages/vue/src/grid/src/checkbox/src/methods.ts
  packages/vue/src/grid/src/checkbox/src/setAllSelection.ts
  packages/vue/src/grid/src/column-anchor/index.ts
  packages/vue/src/grid/src/column-anchor/src/methods.ts
  packages/vue/src/grid/src/dragger/index.ts
  packages/vue/src/grid/src/dragger/src/methods.ts
  packages/vue/src/grid/src/dragger/src/rowDrop.ts
  packages/vue/src/grid/src/fetch-data/index.ts
  packages/vue/src/grid/src/fetch-data/src/methods.ts
  packages/vue/src/grid/src/filter/src/handleLocalFilter.ts
  packages/vue/src/grid/src/filter/src/methods.ts
  packages/vue/src/grid/src/grid/grid.ts
  packages/vue/src/grid/src/grid/methods.ts
  packages/vue/src/grid/src/pager/index.ts
  packages/vue/src/grid/src/pager/src/methods.ts
  packages/vue/src/grid/src/sort/index.ts
  packages/vue/src/grid/src/sort/src/methods.ts
  packages/vue/src/grid/src/table/src/events.ts
  packages/vue/src/grid/src/table/src/funcs.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/toolbar/index.ts
  packages/vue/src/grid/src/toolbar/src/methods.ts
  packages/vue/src/grid/src/tooltip/index.ts
  packages/vue/src/grid/src/tooltip/src/handleTooltip.ts
  packages/vue/src/grid/src/tooltip/src/methods.ts
  packages/vue/src/grid/src/tree/index.ts
  packages/vue/src/grid/src/tree/src/methods.ts
  packages/vue/src/grid/src/types/index.type.ts
Labels: refactoring

#1187 fix(automate): fix reviews comments
  internals/automate/package.json
  internals/automate/src/count.ts
  internals/automate/src/utils/find-all-files.ts
  internals/automate/tsconfig.json
Labels: bug

#1188 feat(input): [input] add memorySpace props which can set max number of addMemory
  examples/sites/demos/pc/app/input/method-addMemory-composition-api.vue
  examples/sites/demos/pc/app/input/method-addMemory.spec.ts
  examples/sites/demos/pc/app/input/method-addMemory.vue
  examples/sites/demos/pc/app/input/webdoc/input.js
  packages/renderless/src/tall-storage/index.ts
  packages/theme/src/tall-storage/index.less
  packages/vue/src/input/src/index.ts
  packages/vue/src/input/src/pc.vue
Labels: enhancement

#1190 feat(option): [select] Option text display with extra long dots and dots，Added icon attribute, supporting custom icons.
  examples/sites/demos/pc/app/select/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/select/basic-usage.spec.ts
  examples/sites/demos/pc/app/select/basic-usage.vue
  examples/sites/demos/pc/app/select/slot-default-composition-api.vue
  examples/sites/demos/pc/app/select/slot-default.spec.ts
  examples/sites/demos/pc/app/select/slot-default.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
  packages/theme/src/option/index.less
  packages/theme/src/option/smb-theme.js
  packages/theme/src/option/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/vue/src/option/src/pc.vue
  packages/vue/src/select/src/pc.vue
Labels: enhancement

#1189 docs(grid): update grid docs
  examples/sites/demos/pc/app/grid/toolbar/insert-delete-update-composition-api.vue
  examples/sites/demos/pc/app/grid/toolbar/insert-delete-update.vue
  examples/sites/demos/pc/app/grid/toolbar/toolbar-op-config-composition-api.vue
  examples/sites/demos/pc/app/grid/toolbar/toolbar-op-config.vue
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  internals/automate/.gitignore
  packages/modules.json
Labels: documentation

#1196 test(time-select): [time-select] amend time-select e2e test
  .eslintrc.js
  examples/sites/demos/pc/app/time-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/time-select/clear-icon.spec.ts
  examples/sites/demos/pc/app/time-select/default-value.spec.ts
  examples/sites/demos/pc/app/time-select/disabled-composition-api.vue
  examples/sites/demos/pc/app/time-select/disabled.spec.ts
  examples/sites/demos/pc/app/time-select/disabled.vue
  examples/sites/demos/pc/app/time-select/event-blur.spec.ts
  examples/sites/demos/pc/app/time-select/focus.spec.ts
  examples/sites/demos/pc/app/time-select/picker-options.spec.ts
  examples/sites/demos/pc/app/time-select/range-placeholder.spec.ts
  examples/sites/demos/pc/app/time-select/size-medium.spec.ts
Labels: documentation, e2e-test

#1185 fix(toast): fix text padding
  packages/theme-mobile/src/toast/index.less
  packages/theme-mobile/src/toast/vars.less
Labels: bug

#1182 feat(icon): [icon] add sorting function
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
Labels: documentation

#1200 test(calendar): [calendar] amend e2e test
  examples/sites/demos/pc/app/calendar/basic-usage.spec.ts
  examples/sites/demos/pc/app/calendar/calender-mode.spec.ts
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar-composition-api.vue
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar.spec.ts
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar.vue
  examples/sites/demos/pc/app/calendar/custom-day-cell.spec.ts
  examples/sites/demos/pc/app/calendar/dynamic-add-schedule.spec.ts
  examples/sites/demos/pc/app/calendar/show-selected-date.spec.ts
Labels: e2e-test

#1209 docs(image):[image,transfer,tree] update image\transfer's docs
  examples/sites/demos/pc/app/image/basic-usage.spec.ts
  examples/sites/demos/pc/app/image/events.spec.ts
  examples/sites/demos/pc/app/image/lazy.spec.ts
  examples/sites/demos/pc/app/image/preview-in-dialog.spec.ts
  examples/sites/demos/pc/app/image/preview.spec.ts
  examples/sites/demos/pc/app/image/slot.spec.ts
  examples/sites/demos/pc/app/image/webdoc/image.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.en.md
  examples/sites/demos/pc/app/image/webdoc/image.js
  examples/sites/demos/pc/app/transfer/basic-usage.spec.ts
  examples/sites/demos/pc/app/transfer/before-transfer.spec.ts
  examples/sites/demos/pc/app/transfer/custom-btns.spec.ts
  examples/sites/demos/pc/app/transfer/custom-filter.spec.ts
  examples/sites/demos/pc/app/transfer/custom-footer.spec.ts
  examples/sites/demos/pc/app/transfer/custom-render.spec.ts
  examples/sites/demos/pc/app/transfer/custom-titles.spec.ts
  examples/sites/demos/pc/app/transfer/default-checked.spec.ts
  examples/sites/demos/pc/app/transfer/drop-config.spec.ts
  examples/sites/demos/pc/app/transfer/nested-table.spec.ts
  examples/sites/demos/pc/app/transfer/nested-tree.spec.ts
  examples/sites/demos/pc/app/transfer/target-order.spec.ts
  examples/sites/demos/pc/app/transfer/transfer-events.spec.ts
  examples/sites/demos/pc/app/transfer/webdoc/transfer.cn.md
  examples/sites/demos/pc/app/transfer/webdoc/transfer.en.md
  examples/sites/demos/pc/app/transfer/webdoc/transfer.js
  examples/sites/demos/pc/app/tree/basic-usage.spec.ts
  examples/sites/demos/pc/app/tree/check-op.spec.ts
  examples/sites/demos/pc/app/tree/checkbox.spec.ts
  examples/sites/demos/pc/app/tree/contextmenu.spec.ts
  examples/sites/demos/pc/app/tree/drag.spec.ts
  examples/sites/demos/pc/app/tree/edit.spec.ts
  examples/sites/demos/pc/app/tree/expand-control.spec.ts
  examples/sites/demos/pc/app/tree/filter-view.spec.ts
  examples/sites/demos/pc/app/tree/icons.spec.ts
  examples/sites/demos/pc/app/tree/lazy.spec.ts
  examples/sites/demos/pc/app/tree/node-hl.spec.ts
  examples/sites/demos/pc/app/tree/node-op.spec.ts
  examples/sites/demos/pc/app/tree/other.spec.ts
  examples/sites/demos/pc/app/tree/props.spec.ts
  examples/sites/demos/pc/app/tree/radio.spec.ts
  examples/sites/demos/pc/app/tree/slot.spec.ts
  examples/sites/demos/pc/app/tree/webdoc/tree.cn.md
  examples/sites/demos/pc/app/tree/webdoc/tree.en.md
  examples/sites/demos/pc/app/tree/webdoc/tree.js
Labels: documentation

#1205 test(Switch): [Switch]improve unit testing of components
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  packages/vue/src/switch/__tests__/switch.test.tsx
Labels: unit-test

#1201 [drawer]: fixed docs bug of drawer.
  examples/sites/demos/pc/app/drawer/confirm-event-composition-api.vue
  examples/sites/demos/pc/app/drawer/confirm-event.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.cn.md
  examples/sites/demos/pc/app/drawer/webdoc/drawer.en.md
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  examples/sites/demos/pc/app/drawer/z-index-composition-api.vue
  examples/sites/demos/pc/app/drawer/z-index.spec.ts
  examples/sites/demos/pc/app/drawer/z-index.vue
Labels: bug

#1214 docs(calendar): [calendar] optimize docs and demos
  examples/sites/demos/pc/app/calendar/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/calendar/basic-usage.spec.ts
  examples/sites/demos/pc/app/calendar/basic-usage.vue
  examples/sites/demos/pc/app/calendar/calendar-mode-composition-api.vue
  examples/sites/demos/pc/app/calendar/calendar-mode.spec.ts
  examples/sites/demos/pc/app/calendar/calendar-mode.vue
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar-composition-api.vue
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar.spec.ts
  examples/sites/demos/pc/app/calendar/custom-calendar-toolbar.vue
  examples/sites/demos/pc/app/calendar/custom-day-cell-composition-api.vue
  examples/sites/demos/pc/app/calendar/custom-day-cell.vue
  examples/sites/demos/pc/app/calendar/dynamic-add-schedule-composition-api.vue
  examples/sites/demos/pc/app/calendar/dynamic-add-schedule.vue
  examples/sites/demos/pc/app/calendar/show-selected-date-composition-api.vue
  examples/sites/demos/pc/app/calendar/show-selected-date.vue
  examples/sites/demos/pc/app/calendar/webdoc/calendar.js
  packages/theme/src/calendar/index.less
Labels: e2e-test

#1216 feat(test): [alert] update @playwright/test version
  examples/docs/package.json
  examples/sites/package.json
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/playwright-config/package.json
  packages/vue/package.json
Labels: e2e-test

#1223 fix(col): [layout] fix layout cols=24 can't use
  packages/renderless/src/col/vue.ts
  packages/vue-icon/index.ts
Labels: bug

#1225 docs(form): [form] form docs demo optimize
  examples/sites/demos/pc/app/form/form-validation-composition-api.vue
  examples/sites/demos/pc/app/form/slot-label-composition-api.vue
  examples/sites/demos/pc/app/form/validate-debounce-composition-api.vue
  examples/sites/demos/pc/app/form/validate-debounce.vue
  examples/sites/demos/pc/app/form/webdoc/form.js
  packages/vue/src/button/src/index.ts
Labels: documentation

#1227 fix(rate): [rate] fix rate documents
  examples/sites/demos/pc/app/rate/webdoc/rate.js
Labels: documentation

#1224 feat(theme): [select] The DesignCloud theme adapts to scenarios such as empty data, error status, grouping, and search box of the Select component
  examples/sites/demos/pc/app/select/no-data-text-composition-api.vue
  examples/sites/demos/pc/app/select/no-data-text.spec.ts
  examples/sites/demos/pc/app/select/no-data-text.vue
  examples/sites/demos/pc/app/select/option-group-composition-api.vue
  examples/sites/demos/pc/app/select/option-group.spec.ts
  examples/sites/demos/pc/app/select/option-group.vue
  examples/sites/demos/pc/app/select/slot-default-composition-api.vue
  examples/sites/demos/pc/app/select/slot-default.spec.ts
  examples/sites/demos/pc/app/select/slot-default.vue
  examples/sites/demos/pc/app/select/slot-empty-composition-api.vue
  examples/sites/demos/pc/app/select/slot-empty.spec.ts
  examples/sites/demos/pc/app/select/slot-empty.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
  packages/theme/src/option-group/index.less
  packages/theme/src/option-group/smb-theme.js
  packages/theme/src/option-group/vars.less
  packages/theme/src/option/smb-theme.js
  packages/theme/src/option/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/smb-theme.js
  packages/theme/src/select-dropdown/vars.less
Labels: enhancement, e2e-test

#1221 docs(progress): [progress] Fix Test Sheet: Document Error
  examples/sites/demos/pc/app/milestone/solid-style-composition-api.vue
  examples/sites/demos/pc/app/milestone/solid-style.vue
  examples/sites/demos/pc/app/progress/custom-status-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-status.vue
Labels: bug, documentation

#1108 docs: add credits to README
  README.md
  README.zh-CN.md
Labels: documentation

#1220 fix(mobile): some css bugs of input and alert
  packages/theme-mobile/src/alert/index.less
  packages/theme-mobile/src/alert/vars.less
  packages/theme-mobile/src/base/basic-var.less
  packages/theme-mobile/src/input/index.less
  packages/theme-mobile/src/input/vars.less
  packages/vue/src/alert/src/mobile.vue
  packages/vue/src/input/src/mobile.vue
Labels: bug

#1218 fix(ip-address): [ip-address] fix ip-address documents
  examples/sites/demos/pc/app/ip-address/webdoc/ip-address.cn.md
  examples/sites/demos/pc/app/ip-address/webdoc/ip-address.js
  examples/sites/demos/pc/menus.js
Labels: documentation

#1226 feat(playground): add playground support mobile mode
  examples/sites/demos/pc/app/chart/histogram/demo4-composition-api.vue
  examples/sites/demos/pc/app/chart/histogram/demo4.vue
  examples/sites/playground/App.vue
Labels: enhancement

#1231 docs: add license of vue-docs
  examples/sites/package.json
Labels: documentation

#1193 fix(grid): [grid] fix the problem that the view is not updated after…
  packages/vue/src/grid/src/dragger/src/methods.ts
  packages/vue/src/grid/src/dragger/src/rowDrop.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#1219 fix(radio): [radio] amend demo and API bug of radio
  examples/sites/demos/pc/app/radio/group-options-composition-api.vue
  examples/sites/demos/pc/app/radio/group-options.vue
  examples/sites/demos/pc/app/radio/webdoc/radio.js
Labels: bug

#1232 fix(toggle-menu): [toggle-menu] ToggleMenu's get-menu-data-async doesn't work at all. close #328
  packages/vue/src/toggle-menu/src/pc.vue
Labels: bug

#1198 refactor(pager): [pager] pager component refactor
  examples/sites/demos/pc/app/pager/before-page-change-composition-api.vue
  examples/sites/demos/pc/app/pager/before-page-change.vue
  examples/sites/demos/pc/app/pager/custom-layout-composition-api.vue
  examples/sites/demos/pc/app/pager/custom-layout.vue
  examples/sites/demos/pc/app/pager/custom-total-composition-api.vue
  examples/sites/demos/pc/app/pager/custom-total.vue
  examples/sites/demos/pc/app/pager/hide-on-single-page-composition-api.vue
  examples/sites/demos/pc/app/pager/hide-on-single-page.spec.ts
  examples/sites/demos/pc/app/pager/hide-on-single-page.vue
  examples/sites/demos/pc/app/pager/pager-event-composition-api.vue
  examples/sites/demos/pc/app/pager/pager-event.vue
  examples/sites/demos/pc/app/pager/webdoc/pager.js
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/renderless/types/pager.type.ts
  packages/vue/src/pager/src/index.ts
  packages/vue/src/pager/src/pc.vue
Labels: refactoring

#1229 feat(alert): [alert] Add unlimited theme switching function to adapt to alert unlimited themes
  examples/docs/newsrc/pc.vue
  examples/docs/newsrc/uses/useTheme.js
  examples/sites/demos/pc/app/alert/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/alert/basic-usage.vue
  examples/sites/demos/pc/app/alert/icon-composition-api.vue
  examples/sites/demos/pc/app/alert/icon.vue
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/theme/index.js
  packages/theme/src/theme/infinity-theme/component-vars.js
  packages/theme/src/theme/infinity-theme/index.js
Labels: enhancement

#1234 fix(watermark): [watermark] fix watermark documents
  examples/sites/demos/pc/app/tag-group/basic-usage.vue
  examples/sites/demos/pc/app/watermark/webdoc/watermark.js
Labels: documentation

#1213 feat(theme): Add two basic variables for the theme
  packages/theme/src/select/smb-theme.js
  packages/theme/src/theme/aurora-theme/index.js
  packages/theme/src/theme/smb-theme/index.js
Labels: enhancement

#1195 feat(theme):[carousel,transfer,divider]Add SMB theme and Style fixed
  examples/sites/demos/pc/app/carousel/autoplay-composition-api.vue
  examples/sites/demos/pc/app/carousel/autoplay.spec.ts
  examples/sites/demos/pc/app/carousel/autoplay.vue
  examples/sites/demos/pc/app/carousel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/carousel/basic-usage.spec.ts
  examples/sites/demos/pc/app/carousel/basic-usage.vue
  examples/sites/demos/pc/app/carousel/card-mode-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-mode.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.vue
  examples/sites/demos/pc/app/carousel/carousel-events-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-events.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/custom-height-composition-api.vue
  examples/sites/demos/pc/app/carousel/custom-height.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger-composition-api.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger.vue
  examples/sites/demos/pc/app/carousel/initial-index-composition-api.vue
  examples/sites/demos/pc/app/carousel/initial-index.vue
  examples/sites/demos/pc/app/carousel/manual-play-composition-api.vue
  examples/sites/demos/pc/app/carousel/manual-play.vue
  examples/sites/demos/pc/app/carousel/play-interval-composition-api.vue
  examples/sites/demos/pc/app/carousel/play-interval.vue
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel-composition-api.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel.vue
  examples/sites/demos/pc/webdoc/theme-en.md
  packages/theme/src/base/basic-var.less
  packages/theme/src/carousel-item/smb-theme.js
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/smb-theme.js
  packages/theme/src/carousel/vars.less
  packages/theme/src/divider/index.less
  packages/theme/src/divider/smb-theme.js
  packages/theme/src/divider/vars.less
  packages/theme/src/transfer/smb-theme.js
  packages/theme/src/vars.less
Labels: enhancement

#1233 fix(tag-group): [tag-group] fix tag-group documents
  examples/sites/demos/pc/app/tag-group/webdoc/tag-group.js
Labels: documentation

#1215 docs(fix): update(numeric/config-provider/dialog-box/modal/fall-menu/user-head) docs
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
  examples/sites/demos/pc/app/fall-menu/webdoc/fall-menu.js
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
  examples/sites/demos/pc/app/user-head/image-user-head-composition-api.vue
  examples/sites/demos/pc/app/user-head/image-user-head.vue
  examples/sites/demos/pc/app/user-head/webdoc/user-head.js
Labels: documentation

#1208 fix(components): [grid] repeatedly requesting data
  packages/vue/src/grid/src/fetch-data/src/methods.ts
Labels: bug

#1236 docs(components): [progress, search] Repair progress bar document optimization test sheet
  examples/sites/demos/pc/app/progress/custom-color-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-color.spec.ts
  examples/sites/demos/pc/app/progress/custom-color.vue
  examples/sites/demos/pc/app/progress/custom-status-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-status.vue
  examples/sites/demos/pc/app/progress/webdoc/progress.js
  examples/sites/demos/pc/app/search/events-composition-api.vue
  examples/sites/demos/pc/app/search/events.vue
  examples/sites/demos/pc/app/search/slot-prefix-composition-api.vue
  examples/sites/demos/pc/app/search/slot-prefix.vue
  examples/sites/demos/pc/app/search/webdoc/search.js
  packages/theme/src/progress/index.less
Labels: documentation
