Repository opentiny/tiny-vue, pull requests merged in 2023-08, with the labels that each got.

#337 feat #272 ipAddress组件ipv6类型整改
  examples/docs/resources/pc/demo/ip-address/ipv6-type.vue
  packages/renderless/src/ip-address/index.ts
  packages/theme/src/ip-address/index.less
  packages/theme/src/ip-address/vars.less
  packages/vue/src/ip-address/src/pc.vue
Labels: enhancement

#364 feat(button): 完善单元测试
  packages/vue/src/button/__tests__/button.test.tsx
Labels: unit-test

#368 tooltip performance optimization
  packages/theme-mobile/build/gulp-dist.js
  packages/theme-saas/build/gulp-dist.js
  packages/theme/build/gulp-dist.js
  packages/vue/src/tooltip/src/pc.vue
Labels: bug

#369 test(alert): add alert unit test
  packages/vue/src/alert/__tests__/alert.test.tsx
Labels: unit-test

#376 fix(carousel): adjust arrow circle width to 28px
  packages/theme/src/base/basic-var.less
  packages/theme/src/carousel/vars.less
Labels: bug

#375 fix(drawer): mask disappear faster than content
  packages/renderless/src/drawer/index.ts
Labels: bug

#382 fix(badge): same content display duplicate
  packages/vue/src/badge/src/pc.vue
Labels: bug

#372 feat(rich-text-editor): add text alignment, task list, table interaction
  examples/vue3/vite.config.ts
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#392 fix:When nesting using Split, the mouse direction on the left and right split line is wrong when the upper and lower division is nested
  packages/theme/src/split/index.less
Labels: bug

#388 test(badge): add unit test
  packages/vue/src/badge/__tests__/badge.test.tsx
Labels: unit-test

#387 fix: fix packages/vue/package.json format error when execute pnpm dev
  internals/cli/src/commands/build/build-entry.ts
Labels: bug

#383 feat(color-picker): color-picker component
  examples/sites/demos/app/color-picker/alpha.vue
  examples/sites/demos/app/color-picker/base.vue
  examples/sites/demos/app/color-picker/default-visible.vue
  examples/sites/demos/app/color-picker/dynamic-color-change.vue
  examples/sites/demos/app/color-picker/event.vue
  examples/sites/demos/app/color-picker/webdoc/color-picker.cn.md
  examples/sites/demos/app/color-picker/webdoc/color-picker.en.md
  examples/sites/demos/app/color-picker/webdoc/color-picker.js
  examples/sites/demos/menus.js
  package.json
  packages/modules.json
  packages/renderless/src/color-picker/alpha-select/index.ts
  packages/renderless/src/color-picker/alpha-select/vue.ts
  packages/renderless/src/color-picker/color-select/index.ts
  packages/renderless/src/color-picker/color-select/vue.ts
  packages/renderless/src/color-picker/index.ts
  packages/renderless/src/color-picker/utils/color.ts
  packages/renderless/src/color-picker/utils/use-drag.ts
  packages/renderless/src/color-picker/vue.ts
  packages/renderless/types/color-picker.type.ts
  packages/renderless/types/index.ts
  packages/theme/src/color-picker/index.less
  packages/theme/src/color-picker/vars.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/mobile-first.ts
  packages/vue/package.json
  packages/vue/src/color-picker/__tests__/color-picker.spec.ts
  packages/vue/src/color-picker/index.ts
  packages/vue/src/color-picker/package.json
  packages/vue/src/color-picker/src/components/alpha-select.vue
  packages/vue/src/color-picker/src/components/color-select.vue
  packages/vue/src/color-picker/src/index.ts
  packages/vue/src/color-picker/src/mobile.vue
  packages/vue/src/color-picker/src/pc.vue
  packages/vue/src/color-picker/src/utils/use-drag.ts
Labels: enhancement

#374 test(modal): add modal unit test
  packages/vue/src/modal/__tests__/modal.test.tsx
Labels: unit-test

#394 fix(color-picker): 修复组件若干问题
  packages/renderless/src/color-picker/alpha-select/vue.ts
  packages/renderless/src/color-picker/color-select/index.ts
  packages/renderless/src/color-picker/color-select/vue.ts
  packages/renderless/src/color-picker/index.ts
  packages/renderless/src/color-picker/vue.ts
  packages/theme/src/index.less
  packages/vue/src/color-picker/src/pc.vue
Labels: bug

#405 feat: tiny-react event module, imitate vue event system
  packages/react-common/src/event.js
Labels: enhancement

#408 feat: tiny-react props resolver，to get events & attrs from props
  packages/react-common/src/resolve-props.js
Labels: enhancement

#409 feat: utils of packages/react-common
  packages/react-common/src/utils.ts
Labels: enhancement

#412 feat: replacing some rendering logic in jsx with virtual components
  packages/react-common/src/virtual-comp.jsx
Labels: enhancement

#406 feat: svg render function of tiny-react
  packages/react-common/src/SvgRender.jsx
  packages/react-common/src/svg-render.jsx
Labels: enhancement

#422 fix(playground): fix process.env \ changeVersion \sortablejs bugs
  examples/sites/index.html
  examples/sites/md.extend.config.js
  examples/sites/package.json
  examples/sites/playground/App.vue
  examples/sites/vite.config.js
Labels: bug

#421 fix(sites): fix grid demo api link jump error url
  examples/sites/demos/app/chart/webdoc/chart.js
  examples/sites/src/views/components/components.vue
Labels: bug

#414 feat(rich-text-editor): add row height and merge h1-h6 and pargraph
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#416 feat: data responsive core, registering responsive objects through us…
  packages/react-common/src/reactive.js
Labels: enhancement

#426 fix(modal): fix css value error
  packages/theme/src/modal/index.less
Labels: bug

#439 fix(search): the enter bug of the search component is fixed
  packages/renderless/src/search/index.ts
  packages/vue/src/search/src/mobile-first.vue
  packages/vue/src/search/src/mobile.vue
  packages/vue/src/search/src/pc.vue
Labels: bug

#441 docs(container): fix container composition demos fix #425
  examples/sites/demos/app/container/basic-usage-composition-api.vue
  examples/sites/demos/app/container/classic-composition-api.vue
  examples/sites/demos/app/container/custom-container-composition-api.vue
  examples/sites/demos/app/container/custom-with-height-composition-api.vue
  examples/sites/demos/app/container/fashion-composition-api.vue
  examples/sites/demos/app/container/legend-composition-api.vue
  examples/sites/demos/app/container/simple-composition-api.vue
Labels: documentation

#440 feat(rich-text-editor): support code highlight
  packages/renderless/src/rich-text-edtior/code-highlight.tsx
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#435 test(modal): add surplus unit test
  packages/vue/src/modal/__tests__/modal.test.tsx
Labels: unit-test

#444 feat: optimize rich text editor toolbar style
  packages/theme/src/rich-text-editor/index.less
  packages/theme/src/rich-text-editor/vars.less
  packages/vue-common/src/index.ts
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#431 feat(react): Add related operations to the fiber tree
  packages/react-common/src/fiber.js
Labels: enhancement

#453 docs: fix the problem of missing container component style
  examples/sites/demos/app/container/basic-usage-composition-api.vue
  examples/sites/demos/app/container/classic-composition-api.vue
  examples/sites/demos/app/container/custom-container-composition-api.vue
  examples/sites/demos/app/container/custom-with-height-composition-api.vue
  examples/sites/demos/app/container/fashion-composition-api.vue
  examples/sites/demos/app/container/legend-composition-api.vue
  examples/sites/demos/app/container/simple-composition-api.vue
  examples/sites/demos/webdoc/envpreparation-open-en.md
  examples/sites/demos/webdoc/envpreparation-open.md
Labels: documentation

#451 fix(checkbox): fix checkbox selected icon bug close #450
  packages/theme/src/checkbox/index.less
Labels: bug
