Repository opentiny/tiny-vue, pull requests merged in 2023-03, with the labels that each got.

#32 fix(grid): 修复表格再虚拟滚动模式下，始终有横向滚动条问题
  packages/grid/src/table/src/methods.js
Labels: bug

#19 feat(modal): 增加反馈弹窗modal组件
  example/src/demo/mobile/modal/base.vue
  example/src/demo/mobile/modal/cancel-event.vue
  example/src/demo/mobile/modal/close-event.vue
  example/src/demo/mobile/modal/confirm-event.vue
  example/src/demo/mobile/modal/duration.vue
  example/src/demo/mobile/modal/esc-closable.vue
  example/src/demo/mobile/modal/footer-slot.vue
  example/src/demo/mobile/modal/fullscreen.vue
  example/src/demo/mobile/modal/grid.vue
  example/src/demo/mobile/modal/hide-event.vue
  example/src/demo/mobile/modal/id.vue
  example/src/demo/mobile/modal/is-form-reset.vue
  example/src/demo/mobile/modal/lock-scroll.vue
  example/src/demo/mobile/modal/lock-view.vue
  example/src/demo/mobile/modal/mask-closable.vue
  example/src/demo/mobile/modal/message.vue
  example/src/demo/mobile/modal/min-height.vue
  example/src/demo/mobile/modal/min-width.vue
  example/src/demo/mobile/modal/resize.vue
  example/src/demo/mobile/modal/show-event.vue
  example/src/demo/mobile/modal/showFooter.vue
  example/src/demo/mobile/modal/showHeader.vue
  example/src/demo/mobile/modal/status.vue
  example/src/demo/mobile/modal/title.vue
  example/src/demo/mobile/modal/top.vue
  example/src/demo/mobile/modal/type.vue
  example/src/demo/mobile/modal/value.vue
  example/src/demo/mobile/modal/zIndex.vue
  example/src/demo/mobile/modal/zoom-event.vue
  example/src/docs/mobile/modal/basic-usage.md
  example/src/docs/mobile/modal/is-form-reset.md
  example/src/docs/mobile/modal/modal-duration.md
  example/src/docs/mobile/modal/modal-esc-closable.md
  example/src/docs/mobile/modal/modal-event.md
  example/src/docs/mobile/modal/modal-fullscreen.md
  example/src/docs/mobile/modal/modal-id.md
  example/src/docs/mobile/modal/modal-is-form-reset.md
  example/src/docs/mobile/modal/modal-lock-scroll.md
  example/src/docs/mobile/modal/modal-lock-view.md
  example/src/docs/mobile/modal/modal-mask-closable.md
  example/src/docs/mobile/modal/modal-mask.md
  example/src/docs/mobile/modal/modal-message.md
  example/src/docs/mobile/modal/modal-resize.md
  example/src/docs/mobile/modal/modal-showFooter.md
  example/src/docs/mobile/modal/modal-showHeader.md
  example/src/docs/mobile/modal/modal-slots.md
  example/src/docs/mobile/modal/modal-status.md
  example/src/docs/mobile/modal/modal-title.md
  example/src/docs/mobile/modal/modal-top.md
  example/src/docs/mobile/modal/modal-type.md
  example/src/docs/mobile/modal/modal-value.md
  example/src/docs/mobile/modal/modal-zIndex.md
  example/src/nav.config.comp.mobile.json
  example/src/route.config.comp.mobile.js
  packages/modal/index.js
  packages/modal/src/index.js
  packages/modal/src/mobile.vue
  packages/modal/src/pc.vue
Labels: enhancement

#21 feat(button): 按钮组件样式修改
  example/src/demo/mobile/button/icon.vue
  example/src/demo/mobile/button/reset-time.vue
  example/src/demo/mobile/button/round.vue
  example/src/demo/mobile/button/size.vue
  packages/button/src/mobile.vue
Labels: enhancement

#31 fix(checkbox): 修复vue3模式下，checkbox-group的change事件触发2次的问题
  packages/checkbox-group/src/index.js
Labels: bug

#26 fix: 修复存在2个高度不一样的notify时，新增的notify高度错误
  packages/notify/index.js
Labels: bug

#39 feat(timeline): 时间线插槽作用域增加index属性
  example/src/demo/pc/time-line/custom-normal-step.vue
  example/src/demo/pc/time-line/custom-vertical-step.vue
  packages/time-line/src/pc.vue
Labels: enhancement

#47 feat(indexbar): 增加索引组件
  example/src/demo/mobile/index-bar/base.vue
  example/src/demo/mobile/index-bar/event.vue
  example/src/docs/mobile/index-bar/base.md
  example/src/docs/mobile/index-bar/event.md
  example/src/nav.config.comp.mobile.json
  example/src/route.config.comp.mobile.js
  modules.json
  packages/index-bar-anchor/index.js
  packages/index-bar-anchor/package.json
  packages/index-bar-anchor/src/index.vue
  packages/index-bar/index.js
  packages/index-bar/package.json
  packages/index-bar/src/index.js
  packages/index-bar/src/index.vue
Labels: enhancement

#51 feat(badge): add badge-class close #50
  example/src/demo/pc/badge/badge-class.vue
  example/src/docs/zh-CN/badge/badge-class.md
  example/src/nav.config.comp.json
  example/src/route.config.comp1.js
  packages/badge/src/index.js
  packages/badge/src/pc.vue
Labels: enhancement

#52 feat(tag): add beforeDelete props
  example/src/demo/pc/tag/before-delete.vue
  example/src/docs/zh-CN/tag/before-delete.md
  example/src/nav.config.comp.json
  example/src/route.config.comp1.js
  packages/tag/src/index.js
  packages/tag/src/pc.vue
Labels: enhancement

#59 feat(switch): add beforeChange props
  example/src/demo/pc/switch/before-change.vue
  example/src/docs/zh-CN/switch/before-change.md
  example/src/nav.config.comp.json
  example/src/route.config.comp.js
  packages/switch/src/index.js
  packages/switch/src/pc.vue
Labels: enhancement

#61 feat(fullscreen): add beforeChange props
  example/src/demo/pc/fullscreen/before-change.vue
  example/src/docs/zh-CN/fullscreen/before-change.md
  example/src/nav.config.comp.json
  example/src/route.config.comp2.js
  packages/fullscreen/src/index.vue
Labels: enhancement

#63 feat(badge): add offset props
  example/src/demo/pc/badge/offset.vue
  example/src/docs/zh-CN/badge/offset.md
  example/src/nav.config.comp.json
  example/src/route.config.comp1.js
  packages/badge/src/index.js
  packages/badge/src/pc.vue
Labels: enhancement

#64 feat(split): add collapsible props
  example/src/demo/pc/split/collapsible.vue
  example/src/docs/zh-CN/split/collapsible.md
  example/src/nav.config.comp.json
  example/src/route.config.comp.js
  packages/split/src/index.js
  packages/split/src/pc.vue
Labels: enhancement

#75 feat(transfer): add beforeTransfer props
  example/src/demo/pc/transfer/before-transfer.vue
  example/src/docs/zh-CN/switch/before-change.md
  example/src/docs/zh-CN/transfer/before-transfer.md
  example/src/nav.config.comp.json
  example/src/route.config.comp.js
  packages/transfer/src/index.js
  packages/transfer/src/pc.vue
Labels: enhancement

#77 feat(search): add prefix/suffix slots
  packages/search/src/pc.vue
Labels: enhancement

#79 docs: add english README and CONTRIBUTING
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
  build/release.js
  package.json
Labels: documentation

#81 fix: 修复tabs组件展开内容被遮盖，multi-slect返回值增加value
  example/src/demo/mobile/multi-select/basic-usage.vue
  example/src/demo/mobile/pull-refresh/hasmore.vue
  example/src/demo/mobile/pull-refresh/head-height.vue
  example/src/demo/mobile/pull-refresh/pulling-text.vue
  example/src/docs/mobile/pull-refresh/hasmore.md
  example/src/nav.config.comp.mobile.json
  example/src/route.config.comp.mobile.js
  packages/locale/lang/en.js
  packages/locale/lang/zh-CN.js
  packages/pull-refresh/src/index.vue
Labels: bug

#93 fix(anchor): 修复父锚点指示异常的问题
  examples/docs/resources/pc/demo/anchor/basic-usage.vue
  examples/docs/resources/pc/demo/anchor/is-affix.vue
  examples/docs/resources/pc/demo/anchor/on-change.vue
  examples/docs/resources/pc/demo/anchor/set-container.vue
  packages/renderless/src/anchor/index.ts
  packages/renderless/src/anchor/vue.ts
Labels: bug

#98 docs: update README
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
  README.md
  README.zh-CN.md
  package.json
Labels: documentation

#100 fix: Failed to resolve entry for package "@opentiny/vue" close #99
  packages/vue/package.json
Labels: bug
