Repository opentiny/tiny-vue, pull requests merged in 2023-10, with the labels that each got.

#547 docs(breadcrumb): optimize breadcrumb docs
  examples/sites/demos/app/breadcrumb/base-composition-api.vue
  examples/sites/demos/app/breadcrumb/base-on-route-composition-api.vue
  examples/sites/demos/app/breadcrumb/base-on-route.vue
  examples/sites/demos/app/breadcrumb/base.vue
  examples/sites/demos/app/breadcrumb/options-composition-api.vue
  examples/sites/demos/app/breadcrumb/options.vue
  examples/sites/demos/app/breadcrumb/separator-composition-api.vue
  examples/sites/demos/app/breadcrumb/separator.vue
  examples/sites/demos/app/breadcrumb/slot-default-composition-api.vue
  examples/sites/demos/app/breadcrumb/slot-default.vue
  examples/sites/demos/app/breadcrumb/webdoc/breadcrumb.cn.md
  examples/sites/demos/app/breadcrumb/webdoc/breadcrumb.en.md
  examples/sites/demos/app/breadcrumb/webdoc/breadcrumb.js
Labels: documentation

#541 docs(guide): fix alert out of bounds
  examples/sites/demos/app/guide/arror-position.vue
  examples/sites/demos/app/guide/dom-hight-composition-api.vue
  examples/sites/demos/app/guide/dom-hight.vue
Labels: bug

#554 feat: scripts support cross-platform
  package.json
  packages/renderless/package.json
  packages/theme-mobile/package.json
  packages/theme-saas/package.json
  packages/theme/package.json
  pnpm-lock.yaml
Labels: enhancement

#537 fix: fix extra highlight color when press button in mobile mode
  packages/theme-mobile/src/button/index.less
Labels: bug

#551 feat(react): collect refs and children in one traverse
  packages/react-common/src/fiber.js
Labels: enhancement

#538 feat(react): 添加贡献文档，readme 改名为 README
  packages/react/CONTRIBUTING.md
  packages/react/README.md
Labels: documentation

#535 docs: fix popover demo position error when toggle code block
  examples/sites/src/views/components/demo.vue
Labels: bug

#530 feat(color-select-panel): history & predefine color
  examples/sites/demos/app/color-select-panel/history-composition-api.vue
  examples/sites/demos/app/color-select-panel/history.vue
  examples/sites/demos/app/color-select-panel/predefine-composition-api.vue
  examples/sites/demos/app/color-select-panel/predefine.vue
  examples/sites/demos/app/color-select-panel/webdoc/color-select-panel.js
  packages/renderless/src/color-select-panel/alpha-select/vue.ts
  packages/renderless/src/color-select-panel/index.ts
  packages/renderless/src/color-select-panel/utils/color.ts
  packages/renderless/src/color-select-panel/vue.ts
  packages/theme/src/color-select-panel/index.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/color-select-panel/package.json
  packages/vue/src/color-select-panel/src/index.ts
  packages/vue/src/color-select-panel/src/pc.vue
Labels: enhancement

#560 fix(color-select-panel): z-index
  packages/theme/src/color-select-panel/index.less
  packages/theme/src/color-select-panel/vars.less
Labels: bug

#561 docs(README): correct misspellings
  packages/react/README.md
Labels: documentation

#566 feat(react): add badge comp with mobile & pc mode
  packages/react/src/badge/index.ts
  packages/react/src/badge/package.json
  packages/react/src/badge/src/index.ts
  packages/react/src/badge/src/mobile.jsx
  packages/react/src/badge/src/pc.jsx
Labels: enhancement

#564 feat(react): ehance virtual comp，each comp has v-if，default as true
  packages/react-common/src/virtual-comp.jsx
Labels: enhancement

#562 feat(popeditor): adds the autoreset property
  examples/sites/demos/app/popeditor/auto-reset-composition-api.vue
  examples/sites/demos/app/popeditor/auto-reset.spec.ts
  examples/sites/demos/app/popeditor/auto-reset.vue
  examples/sites/demos/app/popeditor/webdoc/popeditor.js
  packages/renderless/src/popeditor/index.ts
  packages/vue/src/popeditor/src/index.ts
  packages/vue/src/popeditor/src/pc.vue
Labels: enhancement

#568 fix(tree): Click margin-top zoom will collapse treemenu(#559)
  packages/theme/src/tree/index.less
Labels: bug

#567 fix(divider,color-picker): divider组件content-position描述完善，以及部分api关联示例变动；color-picker组件修改错误变量
  examples/sites/demos/app/divider/webdoc/divider.js
  packages/theme/src/color-picker/vars.less
Labels: documentation

#550 feat(react): add mobile mode in tiny react alert
  packages/react/src/alert/package.json
  packages/react/src/alert/src/index.ts
  packages/react/src/alert/src/mobile.jsx
Labels: enhancement

#570 fix(popper): fix popper element offset error in micro-app
  packages/renderless/src/common/deps/popper.ts
Labels: bug

#574 fix: Guide component mobile overflow
  packages/renderless/src/guide/index.ts
  packages/theme/src/guide/index.less
  packages/vue/src/guide/src/index.ts
Labels: bug

#563 fix(numeric):numeric 修复输入超大数字变为科学计数法时失焦后组件消失的问题
  packages/renderless/src/common/bigInt.ts
  packages/renderless/src/numeric/index.ts
Labels: bug

#579 fix(rich-text-editor): fix Unsupported URL Type "link:" when execute npm i
  packages/vue/src/rich-text-editor/package.json
Labels: bug

#585 docs: update component number
  README.md
  README.zh-CN.md
Labels: documentation

#592 fix(rich-text-edtior):fix rich-text-edtior functionality and style issues
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  packages/renderless/src/rich-text-edtior/index.ts
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
Labels: bug

#587 feat(anchor): Add anchor component dot type theme
  examples/sites/demos/pc/app/anchor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/anchor/basic-usage.vue
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  packages/renderless/src/anchor/index.ts
  packages/theme/src/anchor/index.less
  packages/theme/src/anchor/smb-theme.js
  packages/theme/src/anchor/vars.less
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Labels: enhancement

#599 fix(form): form tooltip append-to-body fix
  packages/vue/src/form-item/src/index.ts
Labels: bug

#601 fix(rich-text-editor): fix Unsupported URL Type link
  packages/vue/src/rich-text-editor/package.json
Labels: bug

#603 fix(vue-icon_left-ward-arrow): Correct LeftWardArrow import path
  packages/vue-icon/src/left-ward-arrow/index.ts
Labels: bug

#605 fix: fix incorrect target in webComponent
  packages/renderless/src/common/event.ts
  packages/renderless/src/grid/utils/dom.ts
Labels: bug

#614 feat(search): Add default selection function for search types and pre…
  examples/sites/demos/pc/app/search/custom-search-types-composition-api.vue
  examples/sites/demos/pc/app/search/custom-search-types.vue
  examples/sites/demos/pc/app/search/webdoc/search.js
  packages/renderless/src/search/index.ts
  packages/renderless/src/search/vue.ts
  packages/vue/src/search/src/index.ts
  packages/vue/src/search/src/pc.vue
Labels: enhancement

#610 fix(select-text-field): Select，text-fiel And value-field Example For One
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: bug

#608 fix(grid-slot):Table Example Add Editor Slot
  examples/sites/demos/pc/app/grid/slot/editor-slot.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-slot.js
Labels: documentation

#607 fix（select-size）:select component medium，small，mini Type For One
  examples/sites/demos/pc/app/select/size-medium.vue
  examples/sites/demos/pc/app/select/size-mini.spec.ts
  examples/sites/demos/pc/app/select/size-mini.vue
  examples/sites/demos/pc/app/select/size-small.spec.ts
  examples/sites/demos/pc/app/select/size-small.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: documentation

#630 fix(docs): add support vue2.7 docs
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/playground/App.vue
Labels: documentation

#629 docs: update changelog v3.11.0
  examples/sites/demos/pc/webdoc/changelog.md
Labels: documentation

#635 docs(calendar-view): add calendar-view composition api demos
  examples/sites/demos/pc/app/calendar-view/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-day-mark-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-event-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-mode-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-schedule-slot-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-timeline-range-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-timeline-slot-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/custom-calendar-toolbar-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/custom-day-bg-color-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/custom-header-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/hide-mode-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/mode-combination-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/multi-select-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/set-working-day-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/set-working-day.vue
  examples/sites/demos/pc/app/calendar-view/webdoc/calendar-view.js
Labels: documentation

#641 fix(rich-text-editor): remove Collaboration function, remove the depe…
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/code-highlight.tsx
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: bug

#643 Fix bugs of dialog-box, tabbar and tree-menu
  packages/theme/src/dialog-box/index.less
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
  packages/vue/src/tabbar/src/mobile.vue
Labels: bug

#625 fix(check-select-demo): Unify Check Demo Optimize Example Show Style
  examples/sites/demos/pc/app/select/clear-no-match-value-composition-api.vue
  examples/sites/demos/pc/app/select/clear-no-match-value.vue
  examples/sites/demos/pc/app/select/disable-grid-select-radio-composition-api.vue
  examples/sites/demos/pc/app/select/disable-grid-select-radio.vue
  examples/sites/demos/pc/app/select/input-box-type-composition-api.vue
  examples/sites/demos/pc/app/select/input-box-type.vue
  examples/sites/demos/pc/app/select/is-drop-inherit-width-composition-api.vue
  examples/sites/demos/pc/app/select/is-drop-inherit-width.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-filter-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-filter.vue
  examples/sites/demos/pc/app/select/nest-remote-grid-composition-api.vue
  examples/sites/demos/pc/app/select/nest-remote-grid.vue
  examples/sites/demos/pc/app/select/no-data-text-composition-api.vue
  examples/sites/demos/pc/app/select/no-data-text.vue
  examples/sites/demos/pc/app/select/remote-search-allow-copy-composition-api.vue
  examples/sites/demos/pc/app/select/remote-search-allow-copy.vue
  examples/sites/demos/pc/app/select/search-allow-copy-composition-api.vue
  examples/sites/demos/pc/app/select/search-allow-copy.vue
  examples/sites/demos/pc/app/select/searchable-composition-api.vue
  examples/sites/demos/pc/app/select/searchable.vue
  examples/sites/demos/pc/app/select/tag-copy-all-composition-api.vue
  examples/sites/demos/pc/app/select/tag-copy-all.vue
  examples/sites/demos/pc/app/select/tag-select-composition-api.vue
  examples/sites/demos/pc/app/select/tag-select.vue
Labels: bug

#651 fix(rich-text-editor): Enable History Mode；Fix Console Warning
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: bug

#654 Hyl fixbug 2310
  packages/vue/src/tabbar/src/mobile.vue
Labels: bug

#615 feat(Timeline): Timeline component adapts to new themes
  examples/sites/demos/pc/app/time-line/shape-composition-api.vue
  examples/sites/demos/pc/app/time-line/shape.spec.ts
  examples/sites/demos/pc/app/time-line/shape.vue
  examples/sites/demos/pc/app/time-line/status-composition-api.vue
  examples/sites/demos/pc/app/time-line/status.spec.ts
  examples/sites/demos/pc/app/time-line/status.vue
  examples/sites/demos/pc/app/time-line/webdoc/time-line.js
  packages/renderless/src/time-line/index.ts
  packages/renderless/src/timeline-item/index.ts
  packages/renderless/types/timeline-item.type.ts
  packages/theme/src/steps/index.less
  packages/theme/src/steps/smb-theme.js
  packages/theme/src/steps/vars.less
  packages/vue/src/time-line/__tests__/time-line.test.tsx
  packages/vue/src/time-line/src/index.ts
  packages/vue/src/time-line/src/pc.vue
  packages/vue/src/timeline-item/src/pc.vue
Labels: enhancement

#664 fix(image): fix preview image demo's bug
  packages/renderless/src/image-viewer/index.ts
  packages/renderless/src/image/index.ts
  packages/theme/src/image-viewer/index.less
  packages/vue/src/image-viewer/src/pc.vue
Labels: bug

#662 fix(grid): Solving the problem of multiple tables being mutually exclusive
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#669 fix(date-picker): fix date-picker style
  packages/theme/src/date-table/index.less
Labels: bug

#670 docs(date-picker): fix date picker time-arrow-control demo error
  examples/sites/demos/pc/app/date-picker/step-composition-api.vue
Labels: documentation

#671 ci(test-e2e): add github actions for E2E Testing
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
Labels: ci

#682 fix(components): [date-picker] fix date-picker browser lag issue
  packages/renderless/src/picker/index.ts
  packages/renderless/src/picker/vue.ts
Labels: bug

#684 fix(tabs): Fix tabs initialization clicking more buttons not working …
  packages/renderless/src/tabs/index.ts
  packages/renderless/src/tabs/vue.ts
Labels: bug

#687 fix(components): [date-picker] fix Invalid prop: type check failed for prop "type"
  packages/vue/src/date-picker/src/index.ts
Labels: bug

#694 fix(option): Fix the incorrect style when using the multiple-limit arrtbuite in the Select component.
  packages/theme/src/option/index.less
  packages/vue/src/option/src/pc.vue
Labels: bug

#698 fix(components): [date-picker] fix year type current year color
  packages/theme/src/month-table/index.less
Labels: bug

#695 fix(components): [date-range] change date range icons
  packages/theme-saas/src/date-picker/index.less
  packages/theme-saas/src/picker/index.less
  packages/vue/src/date-range/src/pc.vue
Labels: bug

#696 feat(components): [date-picker] add props time-editable
  examples/sites/demos/pc/app/date-picker/step-composition-api.vue
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/date-picker/src/index.ts
  packages/vue/src/date-range/src/pc.vue
  packages/vue/src/picker/src/pc.vue
  packages/vue/src/picker/src/type.ts
Labels: enhancement

#686 feat(components):[tree-menu]The placeholder of the search box can be customized
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/vue/src/tree-menu/src/pc.vue
Labels: enhancement

#663 fix(select-events-merge):Select Multiple Events Merge
  examples/sites/demos/pc/app/select/envts-change-composition-api.vue
  examples/sites/demos/pc/app/select/envts-change.vue
  examples/sites/demos/pc/app/select/envts-remove.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: bug

#679 feat(theme): [playground] add design theme in playground
  examples/sites/playground/App.vue
Labels: enhancement

#667 fix(amount): fix custom-currency demo disabled
  examples/sites/demos/pc/app/amount/custom-currency.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
Labels: bug

#703 fix(docs): [grid] update big data docs
  examples/sites/demos/pc/app/grid/large-data/full-data-loading-composition-api.vue
  examples/sites/demos/pc/app/grid/large-data/full-data-loading.spec.js
  examples/sites/demos/pc/app/grid/large-data/full-data-loading.vue
  examples/sites/demos/pc/app/grid/large-data/grid-large-tree-data-composition-api.vue
  examples/sites/demos/pc/app/grid/large-data/grid-large-tree-data.spec.js
  examples/sites/demos/pc/app/grid/large-data/grid-large-tree-data.vue
  examples/sites/demos/pc/app/grid/large-data/scroll-paging-composition-api.vue
  examples/sites/demos/pc/app/grid/large-data/scroll-paging.spec.js
  examples/sites/demos/pc/app/grid/large-data/scroll-paging.vue
  examples/sites/demos/pc/app/grid/large-data/virtual-rolling-composition-api.vue
  examples/sites/demos/pc/app/grid/large-data/virtual-rolling.spec.js
  examples/sites/demos/pc/app/grid/large-data/virtual-rolling.vue
  examples/sites/demos/pc/app/grid/tiny-first-menu/grid-optimization-composition-api.vue
  examples/sites/demos/pc/app/grid/tiny-first-menu/grid-optimization.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-grid-optimization.cn.md
  examples/sites/demos/pc/app/grid/webdoc/grid-grid-optimization.en.md
  examples/sites/demos/pc/app/grid/webdoc/grid-grid-optimization.js
  examples/sites/demos/pc/app/grid/webdoc/grid-grid-optimization.json.cn.md
  examples/sites/demos/pc/app/grid/webdoc/grid-grid-optimization.json.en.md
  examples/sites/demos/pc/app/grid/webdoc/grid-large-data.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  examples/sites/demos/pc/menus.js
  packages/vue/src/grid/__tests__/grid.test.tsx
Labels: documentation

#709 fix(components): [image-viewer] fix img url not match bug
  packages/renderless/src/image-viewer/index.ts
  packages/renderless/src/image-viewer/vue.ts
Labels: bug
