Repository opentiny/tiny-vue, pull requests merged in 2023-09, with the labels that each got.

#459 feat(rich-text-editor): css style adjustment
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/theme/src/svgs/rich-text-table.svg
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#457 feat(unit): add breadcrumb unit test
  packages/vue/src/breadcrumb/__tests__/breadcrumb.test.tsx
Labels: unit-test

#464 fix(time-picker): fix time-picker arrow-control bug
  packages/renderless/src/time-spinner/vue.ts
Labels: bug

#456 refactor(date-table): supplement the ts type declaration of the date-table component
  packages/renderless/src/date-table/index.ts
  packages/renderless/types/date-table.type.ts
Labels: refactoring

#478 fix: alert mobile close should works
  packages/vue/src/alert/src/mobile.vue
Labels: bug

#477 feat(react): add alert component
  packages/react/src/alert/index.ts
  packages/react/src/alert/package.json
  packages/react/src/alert/src/index.ts
  packages/react/src/alert/src/mobile-first.jsx
  packages/react/src/alert/src/pc.jsx
  packages/react/src/card/package.json
  packages/react/src/card/src/pc.jsx
  packages/renderless/src/alert/react.ts
Labels: enhancement

#471 feature(divider): 增加 Divider 组件 (#354 close)
  examples/sites/demos/app/divider/base.vue
  examples/sites/demos/app/divider/contentPosition.vue
  examples/sites/demos/app/divider/customStyle.vue
  examples/sites/demos/app/divider/direction.vue
  examples/sites/demos/app/divider/webdoc/divider.cn.md
  examples/sites/demos/app/divider/webdoc/divider.en.md
  examples/sites/demos/app/divider/webdoc/divider.js
  examples/sites/demos/menus.js
  packages/modules.json
  packages/renderless/src/divider/vue.ts
  packages/theme/src/divider/index.less
  packages/theme/src/divider/vars.less
  packages/vue/package.json
  packages/vue/src/divider/__test__/divider.test.tsx
  packages/vue/src/divider/index.ts
  packages/vue/src/divider/package.json
  packages/vue/src/divider/src/index.ts
  packages/vue/src/divider/src/pc.vue
  pnpm-lock.yaml
Labels: enhancement

#475 feat(rich-text-editor): Add api design
  examples/sites/demos/app/rich-text-editor/webdoc/rich-text-editor.js
  packages/renderless/src/rich-text-edtior/index.ts
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: documentation

#488 🐛 fork tiny-vue 启动失败，添加字符串末尾缺少的引号
  examples/sites/demos/app/rich-text-editor/webdoc/rich-text-editor.js
Labels: bug

#493 feat(react): Packaging and building React series components
  .gitignore
  internals/cli/package.json
  internals/cli/src/commands/build/build-entry-react.ts
  internals/cli/src/commands/build/build-ui-react.ts
  internals/cli/src/commands/build/index.ts
  internals/cli/src/commands/create/common-mapping-react.json
  internals/cli/src/commands/create/create-mapping-react.ts
  internals/cli/src/index.ts
  package.json
Labels: enhancement

#483 feat(rich-text-editor): add vue2 support
  examples/sites/demos/app/rich-text-editor/webdoc/rich-text-editor.js
  examples/vue2/vite.config.ts
  examples/vue3/vite.config.ts
  internals/cli/src/commands/build/build-ui.ts
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#500 fix(dialog-box): 修复右侧弹窗不能滚动问题
  packages/theme/src/dialog-box/index.less
Labels: bug

#497 feat(rich-text-editor): fix bug, add font-size and add api demo
  examples/sites/demos/app/rich-text-editor/basic-usage-composi-api.vue
  examples/sites/demos/app/rich-text-editor/collaboration-usage-composition-api.vue
  examples/sites/demos/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/app/rich-text-editor/custom-bar-usage-composition-api.vue
  examples/sites/demos/app/rich-text-editor/custom-bar-usage.vue
  examples/sites/demos/app/rich-text-editor/event-usage-composition-api.vue
  examples/sites/demos/app/rich-text-editor/event-usage.vue
  examples/sites/demos/app/rich-text-editor/options-usage-composition-api.vue
  examples/sites/demos/app/rich-text-editor/options-usage.vue
  examples/sites/demos/app/rich-text-editor/placeholder-usage-composition-api.vue
  examples/sites/demos/app/rich-text-editor/placeholder-usage.vue
  examples/sites/demos/app/rich-text-editor/webdoc/rich-text-editor.js
  packages/renderless/src/rich-text-edtior/code-highlight.tsx
  packages/renderless/src/rich-text-edtior/index.ts
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/mobile-first.ts
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/code-highlight.vue
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#508 feat(rich-text-editor): support media url
  packages/renderless/src/rich-text-edtior/index.ts
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement

#513 fix(Cascader, DropDown, Popeditor): fixed Cascader component panel no…
  packages/vue/src/cascader/src/pc.vue
  packages/vue/src/dropdown-item/src/mobile.vue
  packages/vue/src/dropdown-menu/src/mobile.vue
  packages/vue/src/popeditor/src/pc.vue
Labels: bug

#512 fix(collapse): 修复collapse未深度监听导致Pc端tiny-collapse activeNames直接push无法响…
  packages/renderless/src/collapse/vue.ts
  packages/vue/src/collapse/__test__/collapse.test.tsx
Labels: bug

#518 fix(slider): slider range select bug (#390)
  packages/renderless/src/slider/index.ts
Labels: bug

#503 fix(dialog-box): dialog mask err(#495)
  packages/theme/src/dialog-box/index.less
Labels: bug

#496 fix(theme): 修复官网组件标题背景色异常
  examples/sites/src/tools/storage.js
Labels: bug

#522 optimize button docs
  examples/sites/demos/app/button/autofocus.vue
  examples/sites/demos/app/button/base-composition-api.vue
  examples/sites/demos/app/button/base.spec.js
  examples/sites/demos/app/button/base.vue
  examples/sites/demos/app/button/circle-composition-api.vue
  examples/sites/demos/app/button/circle.spec.js
  examples/sites/demos/app/button/circle.vue
  examples/sites/demos/app/button/click.vue
  examples/sites/demos/app/button/dynamic-disabled.vue
  examples/sites/demos/app/button/icon-composition-api.vue
  examples/sites/demos/app/button/icon.vue
  examples/sites/demos/app/button/image.vue
  examples/sites/demos/app/button/loading.vue
  examples/sites/demos/app/button/plain-composition-api.vue
  examples/sites/demos/app/button/plain.spec.js
  examples/sites/demos/app/button/plain.vue
  examples/sites/demos/app/button/reset-time.vue
  examples/sites/demos/app/button/round-composition-api.vue
  examples/sites/demos/app/button/round.spec.js
  examples/sites/demos/app/button/round.vue
  examples/sites/demos/app/button/text.vue
  examples/sites/demos/app/button/type-composition-api.vue
  examples/sites/demos/app/button/type.spec.js
  examples/sites/demos/app/button/type.vue
  examples/sites/demos/app/button/webdoc/button.cn.md
  examples/sites/demos/app/button/webdoc/button.en.md
  examples/sites/demos/app/button/webdoc/button.js
Labels: documentation

#527 fix(react): Development and debugging environment adjustment
  examples/react-docs/.eslintrc.cjs
  examples/react-docs/.gitignore
  examples/react-docs/index.html
  examples/react-docs/package.json
  examples/react-docs/src/App.tsx
  examples/react-docs/src/index.d.ts
  examples/react-docs/src/main.tsx
  package.json
Labels: bug

#529 feat(react): fix packaging code infinite loop replacement
  internals/cli/src/commands/build/build-ui-react.ts
Labels: bug

#536 fix: fix pnpm dev:site error
  examples/sites/vite.config.js
Labels: bug

#540 docs(anchor): optimize anchor demo api docs
  examples/sites/demos/app/anchor/webdoc/anchor.cn.md
  examples/sites/demos/app/anchor/webdoc/anchor.en.md
  examples/sites/demos/app/anchor/webdoc/anchor.js
Labels: documentation
