Repository opentiny/tiny-vue, pull requests merged in 2023-07, with the labels that each got.

#297 fix(numeric): 修复当前value + step > max时, 无法取值max的问题
  packages/renderless/src/numeric/vue.ts
Labels: bug

#298 fix(grid): 修复表格组件存在冻结列且没有滚动条时样式异常问题
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/footer/src/footer.ts
  packages/vue/src/grid/src/header/src/header.ts
Labels: bug

#311 恢复demo中的示例中的样式
  examples/docs/resources/pc/demo/col/col-move.vue
  examples/docs/resources/pc/demo/col/tag.vue
  examples/docs/resources/pc/demo/row/align.vue
  examples/docs/resources/pc/demo/row/gutter.vue
  examples/docs/resources/pc/demo/row/justify.vue
  examples/docs/resources/pc/demo/row/order.vue
  examples/docs/resources/pc/demo/row/tag1.vue
Labels: documentation

#315 fix #268 增加编辑框弹出时自定义事件
  examples/docs/resources/pc/api/zh-CN/popeditor.json
  examples/docs/resources/pc/demo-config/zh-CN/pop-editor.json
  examples/docs/resources/pc/demo/popeditor/popup-event.vue
  packages/vue/src/popeditor/src/pc.vue
Labels: enhancement

#320 feat(pnpm-lock): 添加pnpm-lock到git仓库
  .gitignore
  pnpm-lock.yaml
Labels: refactoring

#331 fix(checkbox): 修复checkbox label为0时不显示bug
  packages/renderless/src/checkbox-button/vue.ts
  packages/renderless/src/checkbox/index.ts
  packages/renderless/src/checkbox/vue.ts
  packages/vue/src/checkbox-button/src/pc.vue
  packages/vue/src/checkbox/src/mobile-first.vue
  packages/vue/src/checkbox/src/mobile.vue
  packages/vue/src/checkbox/src/pc.vue
Labels: bug

#346 feat(rich-text-editor): add new component rich-text-editor
  examples/docs/resources/pc/demo-config/zh-CN/rich-text-editor.json
  examples/docs/resources/pc/demo/rich-text-editor/basic-usage.vue
  examples/docs/resources/pc/menus.js
  packages/modules.json
  packages/renderless/src/rich-text-edtior/vue.ts
  packages/vue/package.json
  packages/vue/src/rich-text-editor/index.ts
  packages/vue/src/rich-text-editor/package.json
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement
