Repository opentiny/tiny-vue, pull requests merged in 2024-08, with the labels that each got.

#1807 docs(fluent-editor): optimize fluent-editor pc docs
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/data-switch.vue
  examples/sites/demos/pc/app/fluent-editor/disabled.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload.vue
  examples/sites/demos/pc/app/fluent-editor/options-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  packages/fluent-editor/src/assets/counter.scss
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/pc.vue
Labels: documentation

#1815 fix(fluent-editor): fix error when execute pnpm site
  examples/sites/package.json
Labels: bug

#1814 fix(fluent-editor): fix fluent-editor saas theme
  packages/theme-saas/src/fluent-editor/index.less
Labels: bug

#1805 fix(form): [form] fix content not aligned when display only close #1698
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
Labels: bug

#1811 feat(file-upload): [file-upload]刷新上传组件新规范
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
  packages/vue/src/upload-list/src/pc.vue
Labels: enhancement

#1806 docs(theme): add custom cssvar variable prefix documentation
  examples/sites/demos/pc/webdoc/theme.md
Labels: documentation

#1825 fix(warning): fix unocss version conflicts
  examples/react-site/package.json
  examples/sites/package.json
  examples/sites/vite.config.mts
  examples/vue2.7/package.json
  examples/vue2/package.json
  examples/vue3/package.json
Labels: bug

#1818 fix(playground): fix old version runtime not found close #1817
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Labels: bug

#1819 feat(pager): [pager] add new props total-fixed-left
  examples/sites/demos/apis/pager.js
  packages/vue/src/pager/src/pc.vue
Labels: enhancement

#1816 feat(link): add link‘s typescript and docs
  examples/sites/demos/apis/link.js
  packages/renderless/src/select/index.ts
  packages/vue/src/link/src/index.ts
  packages/vue/src/link/src/pc.vue
Labels: documentation

#1829 fix(fluent-editor): fix style error
  examples/sites/package.json
  package.json
Labels: bug

#1826 feat(readme): add readme files to main packages
  packages/renderless/README.md
  packages/renderless/README.zh-CN.md
  packages/theme-mobile/README.md
  packages/theme-mobile/README.zh-CN.md
  packages/theme-saas/README.md
  packages/theme-saas/README.zh-CN.md
  packages/theme/README.md
  packages/theme/README.zh-CN.md
  packages/vue-common/README.md
  packages/vue-common/README.zh-CN.md
  packages/vue-directive/README.md
  packages/vue-directive/README.zh-CN.md
  packages/vue-icon-saas/README.md
  packages/vue-icon-saas/README.zh-CN.md
  packages/vue-icon/README.md
  packages/vue-icon/README.zh-CN.md
  packages/vue-locale/README.md
  packages/vue-locale/README.zh-CN.md
  packages/vue-runtime/README.md
  packages/vue-runtime/README.zh-CN.md
  packages/vue-saas-common/README.md
  packages/vue-saas-common/README.zh-CN.md
Labels: documentation

#1831 fix(fluent-editor): fix style missing
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Labels: bug

#1833 fix(fluent-editor): fix console warn
  packages/fluent-editor/src/assets/toolbar.scss
  packages/fluent-editor/src/fluent-editor.ts
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/fluent-editor/src/mobile-first.vue
Labels: bug

#1838 feat(tiny-vue-nuxt): [tiny-vue-nuxt] finish importing all components to nuxt module
  examples/tiny-vue-nuxt/src/module.ts
Labels: enhancement, ospp-2024

#1834 docs(fluent-editor): add fluent-editor docs
  examples/sites/demos/pc/app/fluent-editor/fluent-editor-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/package.json
  packages/fluent-editor/docs/index.html
  packages/fluent-editor/docs/package.json
  packages/fluent-editor/docs/src/App.vue
  packages/fluent-editor/docs/src/components/BasicUsage.vue
  packages/fluent-editor/docs/src/main.ts
  packages/fluent-editor/docs/src/style.css
  packages/fluent-editor/docs/src/vite-env.d.ts
  packages/fluent-editor/docs/tsconfig.json
  packages/fluent-editor/docs/tsconfig.node.json
  packages/fluent-editor/docs/vite.config.ts
Labels: documentation

#1836 docs(fluent-editor): optimize mobile-first demo
  examples/sites/demos/mobile-first/app/fluent-editor/options.vue
  examples/sites/demos/mobile-first/app/fluent-editor/webdoc/fluent-editor.js
  packages/fluent-editor/src/assets/toolbar.scss
  packages/theme-saas/src/fluent-editor/index.less
  packages/theme-saas/theme/defaultTheme.js
  packages/theme/src/fluent-editor/index.less
Labels: documentation

#1830 develop split for smb-design theme
  examples/sites/demos/pc/app/split/trigger-slot-composition-api.vue
  examples/sites/demos/pc/app/split/trigger-slot.spec.ts
  examples/sites/demos/pc/app/split/trigger-slot.vue
  packages/theme/src/split/index.less
  packages/theme/src/split/smb-theme.js
  packages/theme/src/split/vars.less
  packages/theme/src/theme-tool.js
  packages/theme/src/theme.config.js
Labels: enhancement

#1832 ci: add automate script to transform demos to add "Tiny" prefix
  internals/automate/package.json
  internals/automate/src/doc-prefix.ts
Labels: ci

#1835 fix(select): [select] Adapt to multiple+disabled+displayOnly scenarios with different themes
  examples/sites/demos/pc/app/select/multiple.vue
  packages/design/aurora/src/select/index.ts
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
  packages/theme/src/input/aurora-theme.js
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
  packages/theme/src/select/aurora-theme.js
  packages/theme/src/select/index.less
  packages/theme/src/select/smb-theme.js
  packages/theme/src/select/vars.less
  packages/vue/src/select/src/pc.vue
Labels: bug

#1842 feat(fall-menu): [fall-menu]modify smb-theme
  packages/theme/src/fall-menu/index.less
  packages/theme/src/fall-menu/smb-theme.js
  packages/theme/src/fall-menu/vars.less
Labels: enhancement

#1844 feat(bulletin-board): [bulletin-board] updata bulletin-board xdesign
  packages/theme/src/bulletin-board/index.less
  packages/theme/src/bulletin-board/smb-theme.js
  packages/theme/src/bulletin-board/vars.less
  packages/vue/src/bulletin-board/src/pc.vue
Labels: enhancement

#1845 fix(fluent-editor): fix tasklist format
  packages/fluent-editor/src/assets/editor.scss
  packages/fluent-editor/src/assets/tasklist.scss
  packages/fluent-editor/src/config.ts
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#1846 feat(link-menu): [link-menu]modify smb-theme
  examples/sites/demos/apis/link-menu.js
  packages/theme/src/link-menu/index.less
Labels: documentation, enhancement

#1849 feat(nav-menu): [nav-menu] updata nav-menu xdesign
  examples/sites/demos/pc/app/nav-menu/slot-logo-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/slot-logo.vue
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/smb-theme.js
  packages/theme/src/nav-menu/vars.less
Labels: enhancement

#1850 feat(pop-upload): [pop-upload] 刷新popupload规范，增加uploadTip插槽
  examples/sites/demos/apis/pop-upload.js
  examples/sites/demos/pc/app/pop-upload/upload-tip-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/upload-tip.vue
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  packages/renderless/src/pop-upload/index.ts
  packages/renderless/src/pop-upload/vue.ts
  packages/theme/src/pop-upload/index.less
  packages/theme/src/pop-upload/smb-theme.js
  packages/theme/src/pop-upload/vars.less
  packages/theme/src/progress/index.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/pop-upload/src/pc.vue
Labels: enhancement

#1852 feat(pop-upload): [pop-upload] 刷新popupload规范，表格头部优化，增加上传数据统计能力,修复长度限制bug
  examples/sites/demos/apis/pop-upload.js
  packages/theme/src/pop-upload/index.less
  packages/theme/src/pop-upload/smb-theme.js
  packages/theme/src/pop-upload/vars.less
  packages/theme/src/theme.config.js
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/pop-upload/src/pc.vue
Labels: bug, enhancement

#1857 fix(form): [form] fix dynamic change size fail in prod mode
  examples/sites/demos/pc/app/form/form-disabled.spec.js
  packages/vue/src/form-item/src/pc.vue
Labels: bug

#1854 fix(theme): [anchor] Fixed the theme switch bug and the anchor line color under the default theme.
  packages/theme/src/anchor/index.less
  packages/theme/src/anchor/smb-theme.js
  packages/theme/src/anchor/vars.less
  packages/theme/src/theme-tool.js
Labels: bug

#1861 feat(toggle-menu): [toggle-menu] add smb theme
  packages/theme/src/theme.config.js
  packages/theme/src/toggle-menu/index.less
  packages/theme/src/toggle-menu/smb-theme.js
  packages/theme/src/toggle-menu/vars.less
  packages/theme/src/vars.less
Labels: enhancement

#1837 feat(color-select-panel): [color-select-panel]modify smb-theme
  packages/theme/src/color-select-panel/index.less
  packages/theme/src/color-select-panel/smb-theme.js
  packages/theme/src/color-select-panel/vars.less
  packages/theme/src/theme/infinity-theme/component-vars.js
  packages/theme/src/vars.less
  packages/vue/src/color-select-panel/src/pc.vue
Labels: enhancement

#1863 fix(pop-confirm): [pop-confirm] remove m funtion from pc template
  packages/vue/src/popconfirm/src/pc.vue
Labels: bug

#1853 fix(button): [button] add ts declaration for button , and remove hook-updated …
  examples/sites/demos/apis/button.js
  examples/sites/demos/apis/dropdown.js
  packages/vue/src/button/src/index.ts
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/mobile.vue
  packages/vue/src/button/src/pc.vue
  packages/vue/src/fall-menu/src/pc.vue
  packages/vue/src/tree/src/tree-node.vue
Labels: enhancement

#1873 fix(build): fix some bugs when build components
  examples/sites/demos/pc/app/fluent-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/basic-usage.vue
  examples/sites/demos/pc/app/fluent-editor/data-switch-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/data-switch.vue
  examples/sites/demos/pc/app/fluent-editor/disabled-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/disabled.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/image-upload.vue
  examples/sites/demos/pc/app/fluent-editor/options-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options.vue
  examples/sites/package.json
  examples/sites/playground/App.vue
  packages/fluent-editor/package.json
  packages/vue/src/fluent-editor/package.json
Labels: bug

#1868 fix(random): [random] use Math.random() instead to support SSR
  packages/renderless/src/common/browser.ts
  packages/renderless/src/common/string.ts
Labels: enhancement, ospp-2024

#1886 fix(fluent-editor): fix file module
  packages/fluent-editor/docs/src/components/BasicUsage.vue
  packages/fluent-editor/docs/src/style.css
  packages/fluent-editor/src/assets/editor.scss
  packages/fluent-editor/src/custom-uploader.ts
  packages/fluent-editor/src/file/formats/file.ts
  packages/fluent-editor/src/file/modules/file-bar.ts
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#1888 docs(fluent-editor): add mention module demo
  packages/fluent-editor/docs/src/components/BasicUsage.vue
Labels: documentation

#1891 fix(fluent-editor): fix emoji module
  packages/fluent-editor/docs/src/components/BasicUsage.vue
  packages/fluent-editor/src/assets/emoji/emoji.scss
  packages/fluent-editor/src/assets/emoji/style.scss
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#1892 fix (anchor): [anchor] Fix the issue that the scrolling response lags after the anchor is clicked. Add a tooltip to adapt to the SaaS theme.
  packages/renderless/src/anchor/index.ts
  packages/theme-saas/src/anchor/index.less
  packages/theme-saas/theme/defaultTheme.js
  packages/vue/src/anchor/package.json
  packages/vue/src/anchor/src/pc.vue
Labels: bug, enhancement

#1894 fix(fluent-editor): fix code-block highlight
  packages/fluent-editor/docs/src/components/BasicUsage.vue
  packages/fluent-editor/src/assets/editor.scss
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/syntax/index.ts
Labels: bug

#1893 fix(theme): Fixed the issue that multiple root files are generated when the theme is packaged.
  packages/theme/build/edit‐dir‐theme.js
  packages/theme/src/base/index.less
  packages/theme/src/error-page/index-global.less
  packages/theme/src/error-page/index.js
  packages/theme/src/error-page/index.less
  packages/theme/src/error-page/vars.less
  packages/theme/src/index.less
Labels: bug

#1882 fix(useBreakpoint): [useBreakpoint] fix SSR problem
  packages/vue-common/src/breakpoint.ts
Labels: ospp-2024

#1899 fix(build): Fixed an issue where theme comments caused packaging to fail.
  packages/theme/build/edit‐dir‐theme.js
Labels: bug

#1897 fix(pop-upload): [pop-upload] fix popupload saas theme
  packages/theme-saas/src/pop-upload/index.less
Labels: bug

#1889 chore: fix contact link url in issue template config
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation

#1885 fix(select): [select] Adapt to multiple+disabled+displayOnly scenarios with different themes
  packages/design/saas/src/select/index.ts
Labels: bug

#1730 feat(virtual-scroll): add virtual-scroll component
  examples/sites/demos/apis/virtual-scroll.js
  examples/sites/demos/pc/app/virtual-scroll/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.js
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.vue
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.cn.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.en.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/theme/src/virtual-scroll/index.less
  packages/theme/src/virtual-scroll/vars.less
  packages/vue/package.json
  packages/vue/src/virtual-scroll/index.ts
  packages/vue/src/virtual-scroll/package.json
  packages/vue/src/virtual-scroll/src/index.ts
  packages/vue/src/virtual-scroll/src/pc.vue
Labels: ospp-2024

#1918 feat: add blocks
  examples/blocks/.gitignore
  examples/blocks/README.md
  examples/blocks/components.d.ts
  examples/blocks/index.html
  examples/blocks/package.json
  examples/blocks/src/App.vue
  examples/blocks/src/blocks/BlockDemo.vue
  examples/blocks/src/main.ts
  examples/blocks/src/style.css
  examples/blocks/src/vite-env.d.ts
  examples/blocks/tsconfig.json
  examples/blocks/tsconfig.node.json
  examples/blocks/vite.config.ts
Labels: documentation

#1916 docs(grid): grid doc add IFilterConfig type
  examples/sites/demos/apis/grid.js
Labels: documentation

#1924 fix(tree): [tree]adjust the style of the tree-node to the lower part of the…
  packages/theme/src/tree/index.less
Labels: bug

#1923 fix(anchor): [anchor] Fix anchor view issue
  packages/theme/src/anchor/index.less
Labels: bug

#1920 fix(anchor): [anchor] Add Anchor Component Software as a Service Topic
  examples/sites/demos/apis/anchor.js
  examples/sites/demos/mobile-first/app/anchor/basic-usage.vue
  examples/sites/demos/mobile-first/app/anchor/change.vue
  examples/sites/demos/mobile-first/app/anchor/is-affix.vue
  examples/sites/demos/mobile-first/app/anchor/set-container.vue
  examples/sites/demos/mobile-first/app/anchor/webdoc/anchor.cn.md
  examples/sites/demos/mobile-first/app/anchor/webdoc/anchor.en.md
  examples/sites/demos/mobile-first/app/anchor/webdoc/anchor.js
  examples/sites/demos/mobile-first/menus.js
  packages/theme-saas/src/anchor/index.less
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/mobile-first.vue
Labels: enhancement

#1915 fix(numeric): [numeric] modify smb-theme
  packages/theme/src/numeric/index.less
  packages/theme/src/numeric/smb-theme.js
Labels: enhancement

#1914 fix(modal): [modal] modify smb-theme
  packages/theme/src/modal/smb-theme.js
Labels: enhancement

#1922 fix(form): [form] change x-design form label text color
  packages/theme/src/form-item/smb-theme.js
  packages/theme/src/form-item/vars.less
Labels: enhancement

#1908 fix(carousel): [carousel]modify carousel of xdesign theme
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.vue
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/smb-theme.js
  packages/theme/src/carousel/vars.less
Labels: enhancement

#1907 fix(nav-menu): [nav-menu] error occurred when modifying route redirection
  packages/renderless/package.json
  packages/renderless/src/nav-menu/index.ts
Labels: bug

#1903 fix(grid): [grid] fix panel flash in page
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/filter/src/panel.tsx
Labels: bug

#1913 fix(drawer): [drawer]: modify smb-theme
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/smb-theme.js
  packages/theme/src/drawer/vars.less
Labels: enhancement

#1902 fix(tabs): [tabs] Correct the new standard font size value
  packages/theme/src/tabs/smb-theme.js
Labels: bug

#1884 feat(rich-text-editor): base bubble menu
  packages/renderless/src/rich-text-editor/vue.ts
  packages/theme/src/rich-text-editor/bubble-menu.less
  packages/theme/src/rich-text-editor/index.less
  packages/tiny-tiptap/src/TiptapEditor.ts
  packages/tiny-tiptap/src/components/bubble/index.ts
  packages/tiny-tiptap/src/extension/table/index.ts
  packages/tiny-tiptap/src/extension/text/index.ts
  packages/tiny-tiptap/types/index.ts
  packages/vue/src/rich-text-editor/src/components/bubble-menu.tsx
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: ospp-2024

#1901 fix(build): Theme packaging replaced by es module
  packages/theme/build/build-svg-to-css.js
  packages/theme/build/edit‐dir‐theme.js
  packages/theme/build/gulp-dist.js
  packages/theme/build/postbuild.js
  packages/theme/build/release.js
  packages/theme/build/replace-img.js
  packages/theme/package.json
  packages/theme/src/guide/aurora-theme.js
  packages/theme/src/upload/smb-theme.js
Labels: bug

#1870 fix(fall-menu): [fall-menu]modify smb theme
  packages/theme/src/fall-menu/index.less
Labels: enhancement

#1867 fix(tree-menu): [tree-menu] the search box supports custom placeholder #589
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/basic-usage.vue
Labels: documentation

#1917 fix(milestone): [milestone] fix getComputedStyle、addEventListener、cre…
  packages/renderless/src/image-viewer/index.ts
  packages/renderless/src/milestone/index.ts
  packages/renderless/src/tabs-mf/wheel.ts
Labels: ospp-2024

#1926 fix(select): [select]fix select for no-match-value 's bug
  packages/renderless/src/select/index.ts
Labels: bug

#1927 fix(fluent-editor): fix style.css
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Labels: bug

#1925 fix(tabs): [tabs, anchor] Fix tabs view issue
  packages/theme/src/anchor/index.less
  packages/theme/src/tabs/aurora-theme.js
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Labels: bug

#1878 docs(card): [card] fix card image cannot be displayed
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  examples/sites/demos/pc/app/card/check-mode-composition-api.vue
  examples/sites/demos/pc/app/card/check-mode.vue
Labels: documentation

#1822 test(input): [input] add unit test cases
  packages/vue/src/input/__tests__/input.test.tsx
Labels: unit-test

#1930 fix(steps): [steps] Fix steps view issue
  packages/theme/src/steps/index.less
  packages/theme/src/steps/smb-theme.js
  packages/theme/src/steps/vars.less
Labels: bug

#1912 fix(dialog-box): [dialog-box] modify smb-theme
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/smb-theme.js
  packages/theme/src/dialog-box/vars.less
  packages/vue/src/dialog-box/src/pc.vue
Labels: enhancement

#1910 feat(tooltip): [tooltip] add text content wrapper and content-max-height prop
  examples/sites/demos/apis/tooltip.js
  examples/sites/demos/pc/app/tooltip/content-max-height-composition-api.vue
  examples/sites/demos/pc/app/tooltip/content-max-height.spec.js
  examples/sites/demos/pc/app/tooltip/content-max-height.vue
  examples/sites/demos/pc/app/tooltip/custom-popper.spec.js
  examples/sites/demos/pc/app/tooltip/webdoc/tooltip.js
  packages/theme-saas/src/tooltip/index.less
  packages/theme/src/tooltip/index.less
  packages/theme/src/tooltip/vars.less
  packages/vue/src/tooltip/src/index.ts
  packages/vue/src/tooltip/src/pc.vue
Labels: enhancement, breaking-change

#1679 feat(grid): [grid] support resizable config
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/size/grid-resizable-config-composition-api.vue
  examples/sites/demos/pc/app/grid/size/grid-resizable-config.spec.ts
  examples/sites/demos/pc/app/grid/size/grid-resizable-config.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-size.js
  packages/vue/src/grid/src/header/src/header.ts
  packages/vue/src/grid/src/table/src/table.ts
Labels: enhancement

#1843 feat(crop): [crop] update crop for smb design
  examples/sites/demos/apis/crop.js
  examples/sites/demos/pc/app/crop/aspect-ratio-composition-api.vue
  examples/sites/demos/pc/app/crop/aspect-ratio.spec.ts
  examples/sites/demos/pc/app/crop/aspect-ratio.vue
  examples/sites/demos/pc/app/crop/auto-crop-area.spec.ts
  examples/sites/demos/pc/app/crop/basic-usage.spec.ts
  examples/sites/demos/pc/app/crop/crop-meth-composition-api.vue
  examples/sites/demos/pc/app/crop/crop-meth.spec.ts
  examples/sites/demos/pc/app/crop/crop-meth.vue
  examples/sites/demos/pc/app/crop/drag-mode.spec.ts
  examples/sites/demos/pc/app/crop/event-about-crop.spec.ts
  examples/sites/demos/pc/app/crop/event-ready.spec.ts
  examples/sites/demos/pc/app/crop/get-container-data.spec.ts
  examples/sites/demos/pc/app/crop/get-crop-box-data.spec.ts
  examples/sites/demos/pc/app/crop/get-cropped-canvas.spec.ts
  examples/sites/demos/pc/app/crop/get-data.spec.ts
  examples/sites/demos/pc/app/crop/get-image-data-composition-api.vue
  examples/sites/demos/pc/app/crop/get-image-data.spec.ts
  examples/sites/demos/pc/app/crop/min-crop-box-width-height.spec.ts
  examples/sites/demos/pc/app/crop/no-background.spec.ts
  examples/sites/demos/pc/app/crop/no-guides.spec.ts
  examples/sites/demos/pc/app/crop/no-modal.spec.ts
  examples/sites/demos/pc/app/crop/replace-image.spec.ts
  examples/sites/demos/pc/app/crop/view-mode-composition-api.vue
  examples/sites/demos/pc/app/crop/view-mode.spec.ts
  examples/sites/demos/pc/app/crop/view-mode.vue
  examples/sites/demos/pc/app/crop/webdoc/crop.js
  examples/sites/demos/pc/app/crop/wheel-zoom-ratio.spec.ts
  examples/sites/demos/pc/app/crop/zoom-on-wheel.spec.ts
  packages/renderless/src/crop/index.ts
  packages/renderless/src/crop/vue.ts
  packages/theme/src/crop/index.less
  packages/theme/src/crop/vars.less
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/crop/src/pc.vue
Labels: enhancement

#1928 docs(changelog): update 3.18.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
Labels: documentation

#1929 fix(docs): add beta logo to solve the problem of incomplete text display
  examples/sites/src/views/components/VersionTip.vue
  examples/sites/src/views/layout/layout.vue
Labels: bug

#1944 fix(link): [link] remove link's emits declare and add e2e test for click event
  examples/sites/demos/pc/app/link/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/link/basic-usage.spec.ts
  examples/sites/demos/pc/app/link/basic-usage.vue
  examples/sites/demos/pc/app/link/webdoc/link.js
  packages/vue/src/link/package.json
  packages/vue/src/link/src/index.ts
Labels: bug

#1935 fix(ssr): [ssr] fix ssr problems
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/cascader-select/column-index.ts
  packages/renderless/src/common/deps/eSpaceCtrl.ts
  packages/renderless/src/image-viewer/index.ts
  packages/renderless/src/select-dropdown/vue.ts
  packages/renderless/src/select/index.ts
  packages/renderless/src/split/index.ts
  packages/renderless/src/upload-list/vue.ts
  packages/vue/src/float-button/src/index.ts
  packages/vue/src/image/src/index.ts
Labels: bug, ospp-2024

#1938 fix(pager): [pager] change pager XDesign theme
  examples/sites/demos/apis/pager.js
  packages/design/smb/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/renderless/types/pager.type.ts
  packages/theme/src/pager/index.less
  packages/theme/src/pager/smb-theme.js
  packages/theme/src/pager/vars.less
  packages/vue/src/pager/src/index.ts
  packages/vue/src/pager/src/pc.vue
Labels: enhancement

#1945 feat(tag): [tag] updata tag xdesign
  packages/theme/src/tag/smb-theme.js
Labels: documentation

#1943 feat(collapse): [collapse] updata collapse xdesign
  packages/theme/src/collapse-item/index.less
  packages/theme/src/collapse-item/smb-theme.js
  packages/theme/src/collapse-item/vars.less
Labels: documentation

#1936 feat(rich-text-editor): editor collaboration
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  packages/renderless/src/rich-text-editor/vue.ts
  packages/theme/src/rich-text-editor/collaboration.less
  packages/theme/src/rich-text-editor/index.less
  packages/tiny-tiptap/package.json
  packages/tiny-tiptap/src/TiptapEditor.ts
  packages/tiny-tiptap/src/components/collaboration/index.ts
  packages/tiny-tiptap/src/extension/collaboration-cursor/index.ts
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement, ospp-2024

#1948 fix(select): [select] Adapt to select component smb theme
  packages/theme/src/input/smb-theme.js
  packages/theme/src/option-group/index.less
  packages/theme/src/option-group/smb-theme.js
  packages/theme/src/option-group/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/select/index.less
  packages/theme/src/select/vars.less
Labels: enhancement

#1951 feat(alert): [alert] updata alert xdesign
  examples/sites/demos/pc/app/alert/slot-default-composition-api.vue
  examples/sites/demos/pc/app/alert/slot-default.vue
  packages/theme/src/alert/smb-theme.js
Labels: documentation

#1953 feat(ip-address): [ip-address] updata ip-address xdesign
  packages/theme/src/ip-address/index.less
  packages/theme/src/ip-address/smb-theme.js
  packages/theme/src/ip-address/vars.less
Labels: documentation

#1950 feat(input,autocomplete): [input,autocomplete] update input&autocompl…
  examples/sites/demos/pc/app/autocomplete/popper-class-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/popper-class.vue
  packages/design/aurora/src/input/index.ts
  packages/design/saas/src/input/index.ts
  packages/renderless/src/input/vue.ts
  packages/theme-saas/src/svgs/loading-shadow.svg
  packages/theme/src/autocomplete/index.less
  packages/theme/src/autocomplete/smb-theme.js
  packages/theme/src/autocomplete/vars.less
  packages/theme/src/input/index.less
  packages/theme/src/input/smb-theme.js
  packages/theme/src/input/vars.less
  packages/theme/src/textarea/index.less
  packages/theme/src/theme/smb-theme/index.js
  packages/vue/src/autocomplete/src/pc.vue
Labels: enhancement

#1960 fix(dialog-box): [dialog-box] modify smb theme
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/smb-theme.js
Labels: enhancement

#1962 fix(carousel): [carousel] modify smb theme
  examples/sites/demos/pc/app/carousel/card-show.vue
  packages/renderless/src/carousel-item/index.ts
Labels: bug, enhancement

#1961 fix(drawer): [drawer] modify smb theme
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/smb-theme.js
Labels: enhancement

#1952 feat(fileupload): [file-upload] Fixed the issue of new specification review of the upload component.
  examples/sites/demos/pc/app/file-upload/custom-upload-tip-composition-api.vue
  examples/sites/demos/pc/app/file-upload/custom-upload-tip.vue
  examples/sites/demos/pc/app/file-upload/picture-card-composition-api.vue
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-card.vue
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#1906 refactor(grid-body): [grid] add TInyGridBody renderless logic
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
  examples/sites/demos/pc/app/grid/size/column-width.spec.js
  internals/vite-plugin-template2jsx/package.json
  packages/renderless/src/grid/body/index.ts
  packages/renderless/src/grid/body/vue.ts
  packages/vue/src/grid/src/body/index.ts
  packages/vue/src/grid/src/body/src/pc.vue
  packages/vue/src/grid/src/grid/grid.ts
  packages/vue/src/grid/src/grid/index.ts
  packages/vue/src/grid/src/grid/src/pc.vue
  packages/vue/src/grid/src/index.ts
Labels: refactoring, ospp-2024

#1971 fix(querySelectorAll): [querySelectorAll] fix querySelectorAll
  packages/renderless/src/nav-menu/index.ts
Labels: ospp-2024

#1972 docs(grid): add new getStateSelection api
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/operation-column/grid-pager-reserve-composition-api.vue
  examples/sites/demos/pc/app/grid/operation-column/grid-pager-reserve.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-operation-column.js
  packages/vue/src/grid/src/table/src/methods.ts
Labels: documentation

#1977 fix(file-upload): [file-upload] Optimize the adaptation of new specifications based on the alignment comments.
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
Labels: enhancement

#1974 feat(slider): [slider] Adapt slider component smb theme
  packages/theme/src/slider/index.less
  packages/theme/src/slider/smb-theme.js
  packages/theme/src/slider/vars.less
Labels: enhancement

#1965 fix(anchor): [anchor] Modifying the Filled Circle Style of a Specification Retraction
  packages/theme/src/anchor/index.less
Labels: bug

#1979 fix(time-line): [time-line] fix timeline view issue
  packages/theme/src/steps/index.less
  packages/theme/src/steps/smb-theme.js
Labels: bug

#1967 fix(dropdown,actionMenu): [dropdown,action-menu] Adapt to Dropdown an…
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.spec.ts
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/action-menu/spacing-composition-api.vue
  examples/sites/demos/pc/app/action-menu/spacing.spec.ts
  examples/sites/demos/pc/app/action-menu/spacing.vue
  examples/sites/demos/pc/app/dropdown/show-icon-composition-api.vue
  examples/sites/demos/pc/app/dropdown/show-icon.vue
  examples/sites/demos/pc/app/dropdown/visible-arrow-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible-arrow.vue
  packages/design/smb/src/action-menu/index.ts
  packages/renderless/src/action-menu/index.ts
  packages/renderless/src/action-menu/vue.ts
  packages/theme/src/action-menu/index.less
  packages/theme/src/action-menu/smb-theme.js
  packages/theme/src/action-menu/vars.less
  packages/theme/src/dropdown-item/aurora-theme.js
  packages/theme/src/dropdown-item/smb-theme.js
  packages/theme/src/dropdown-menu/aurora-theme.js
  packages/theme/src/dropdown-menu/index.less
  packages/theme/src/dropdown-menu/vars.less
  packages/theme/src/dropdown/aurora-theme.js
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/smb-theme.js
  packages/theme/src/dropdown/vars.less
  packages/vue/src/action-menu/src/pc.vue
  packages/vue/src/dropdown-item/src/index.ts
  packages/vue/src/dropdown-item/src/pc.vue
Labels: enhancement

#1981 fix(autocomplete): [autocomplete]fix autocomplete panel padding size
  packages/theme/src/autocomplete/index.less
  packages/vue/src/autocomplete/src/pc.vue
Labels: bug

#1895 feat(image): [image] Adapt to SMB themes
  examples/sites/demos/pc/app/image/keep-style.spec.ts
  examples/sites/demos/pc/app/image/lazy-composition-api.vue
  examples/sites/demos/pc/app/image/lazy.vue
  examples/sites/demos/pc/app/image/preview-composition-api.vue
  examples/sites/demos/pc/app/image/preview-in-dialog-composition-api.vue
  examples/sites/demos/pc/app/image/preview-in-dialog.vue
  examples/sites/demos/pc/app/image/preview.spec.ts
  examples/sites/demos/pc/app/image/preview.vue
  packages/theme/src/image-viewer/index.less
  packages/theme/src/image-viewer/smb-theme.js
  packages/theme/src/image-viewer/vars.less
  packages/theme/src/image/aurora-theme.js
  packages/theme/src/image/smb-theme.js
  packages/theme/src/theme.config.js
Labels: enhancement

#1970 fix(theme): [tree,tooltip,transfer,cascader,input] update smb design for tree/tooltip/transfer/cascader components
  examples/sites/demos/pc/app/tooltip/content-composition-api.vue
  examples/sites/demos/pc/app/tooltip/content.vue
  packages/design/smb/index.ts
  packages/design/smb/src/transfer-panel/index.ts
  packages/renderless/src/transfer-panel/vue.ts
  packages/theme/src/cascader-node/smb-theme.js
  packages/theme/src/cascader/smb-theme.js
  packages/theme/src/input/index.less
  packages/theme/src/input/smb-theme.js
  packages/theme/src/input/vars.less
  packages/theme/src/select/aurora-theme.js
  packages/theme/src/select/index.less
  packages/theme/src/select/smb-theme.js
  packages/theme/src/select/vars.less
  packages/theme/src/theme.config.js
  packages/theme/src/tooltip/smb-theme.js
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/smb-theme.js
  packages/theme/src/transfer/vars.less
  packages/theme/src/tree/index.less
  packages/theme/src/tree/smb-theme.js
  packages/theme/src/tree/vars.less
  packages/vue/src/cascader-node/src/pc.vue
  packages/vue/src/cascader/package.json
  packages/vue/src/cascader/src/pc.vue
  packages/vue/src/transfer-panel/src/pc.vue
Labels: feature

#1866 feat(tree-menu): [tree-menu] adapt to tree-menu smb themes
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/show-filter-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/show-filter.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/smb-theme.js
  packages/theme/src/tree-menu/vars.less
  packages/vue/src/tree-menu/src/index.ts
  packages/vue/src/tree-menu/src/pc.vue
Labels: enhancement

#1973 feat(popeditor): [popeditor] Adapt popeditor component xdesign theme
  examples/sites/demos/pc/app/popeditor/multi-composition-api.vue
  examples/sites/demos/pc/app/popeditor/multi.vue
  examples/sites/demos/pc/app/popeditor/pager-composition-api.vue
  examples/sites/demos/pc/app/popeditor/pager.vue
  examples/sites/demos/pc/app/popeditor/resize.spec.ts
  examples/sites/demos/pc/app/popeditor/slot-composition-api.vue
  examples/sites/demos/pc/app/popeditor/slot.spec.ts
  examples/sites/demos/pc/app/popeditor/slot.vue
  examples/sites/demos/pc/app/popeditor/tree-composition-api.vue
  examples/sites/demos/pc/app/popeditor/tree.vue
  packages/design/aurora/index.ts
  packages/design/aurora/src/popeditor/index.ts
  packages/design/saas/index.ts
  packages/design/saas/src/popeditor/index.ts
  packages/renderless/src/popeditor/index.ts
  packages/renderless/src/popeditor/vue.ts
  packages/theme/src/dialog-box/index.less
  packages/theme/src/popeditor/index.less
  packages/theme/src/popeditor/smb-theme.js
  packages/theme/src/popeditor/vars.less
  packages/theme/src/theme.config.js
  packages/theme/src/vars.less
  packages/vue/src/popeditor/src/pc.vue
Labels: enhancement

#1985 fix(dialog-box): [dialog-box] modify smb theme
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/smb-theme.js
  packages/vue/src/dialog-box/src/pc.vue
Labels: enhancement

#1988 fix(build): fix theme build error
  .gitignore
  packages/theme/src/button/vars.less
Labels: bug

#1976 feat(useLazyShow): add useLazyShow function
  packages/vue-hooks/index.ts
  packages/vue-hooks/src/use-lazy-show.ts
Labels: feature

#1989 feat(tree-menu): [tree-menu] adapt to tree-menu smb themes
  packages/renderless/src/popeditor/index.ts
  packages/theme/src/tree-menu/smb-theme.js
  packages/vue/src/calendar-view/src/pc.vue
Labels: documentation

#1939 fix(modal): [modal] after a pop-up window whose type is message is closed, the close event instead of the hide event is triggered issue#1384
  examples/sites/demos/pc/app/modal/event.spec.ts
  examples/sites/demos/pc/app/modal/message-closable-composition-api.vue
  examples/sites/demos/pc/app/modal/message-closable.vue
  packages/renderless/src/modal/index.ts
  packages/vue/src/modal/index.ts
Labels: bug

#1986 feat(virtual-scroll): demo with tests
  examples/sites/demos/apis/virtual-scroll.js
  examples/sites/demos/pc/app/virtual-scroll/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.js
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.vue
  examples/sites/demos/pc/app/virtual-scroll/show-status-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/show-status.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/show-status.vue
  examples/sites/demos/pc/app/virtual-scroll/specified-item-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/specified-item.spec.ts
  examples/sites/demos/pc/app/virtual-scroll/specified-item.vue
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.cn.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.en.md
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.js
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/utils/utils.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/theme/src/virtual-scroll/index.less
  packages/vue/src/virtual-scroll/index.ts
  packages/vue/src/virtual-scroll/src/index.ts
  packages/vue/src/virtual-scroll/src/pc.vue
Labels: ospp-2024

#1993 feat: add nuxt dev environment
  examples/nuxt/.editorconfig
  examples/nuxt/.gitignore
  examples/nuxt/.npmrc
  examples/nuxt/package.json
  examples/nuxt/playground/.gitignore
  examples/nuxt/playground/nuxt.config.ts
  examples/nuxt/playground/package.json
  examples/nuxt/playground/pages/alert.vue
  examples/nuxt/playground/pages/button.vue
  examples/nuxt/playground/pages/index.vue
  examples/nuxt/playground/pages/select.vue
  examples/nuxt/playground/public/favicon.ico
  examples/nuxt/playground/public/robots.txt
  examples/nuxt/playground/server/tsconfig.json
  examples/nuxt/playground/tsconfig.json
  examples/nuxt/src/module.ts
  examples/tiny-vue-nuxt/playground/app.vue
  examples/tiny-vue-nuxt/playground/nuxt.config.ts
  examples/tiny-vue-nuxt/playground/package.json
  package.json
  packages/renderless/src/common/xss.ts
  pnpm-workspace.yaml
Labels: enhancement, ospp-2024

#1996 feat(milestone): [milestone] Adapt milestone component smb theme
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/basic-usage.vue
  packages/design/smb/index.ts
  packages/design/smb/src/milestone/index.ts
  packages/renderless/src/milestone/index.ts
  packages/renderless/src/milestone/vue.ts
  packages/renderless/types/milestone.type.ts
  packages/theme/src/milestone/aurora-theme.js
  packages/theme/src/milestone/index.less
  packages/theme/src/milestone/smb-theme.js
  packages/theme/src/milestone/vars.less
  packages/vue/src/milestone/src/index.ts
  packages/vue/src/milestone/src/pc.vue
Labels: enhancement

#1998 feat(rich-text-editor): bubble menu resolve conflict
  packages/tiny-tiptap/src/components/bubble/index.ts
  packages/tiny-tiptap/src/extension/image/index.ts
  packages/tiny-tiptap/src/extension/text/index.ts
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: bug, ospp-2024

#2004 fix(carousel): [carousel] modify smb-theme
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.vue
Labels: enhancement

#2000 feat(wizard): [wizard] Add new specification wizard component
  examples/sites/demos/pc/app/wizard/vertical-composition-api.vue
  examples/sites/demos/pc/app/wizard/vertical.spec.ts
  examples/sites/demos/pc/app/wizard/vertical.vue
  packages/theme/src/mixins/wizard.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/user-contact/index.less
  packages/theme/src/user-contact/smb-theme.js
  packages/theme/src/user-contact/vars.less
  packages/theme/src/wizard/index.less
  packages/theme/src/wizard/smb-theme.js
  packages/theme/src/wizard/vars.less
Labels: enhancement

#1990 fix(theme): [popover,tree] update popover/tree smb design
  packages/theme/src/popover/index.less
  packages/theme/src/popover/smb-theme.js
  packages/theme/src/popover/vars.less
  packages/theme/src/transfer/index.less
  packages/theme/src/tree/smb-theme.js
Labels: developing

#2007 fix(anchor): [anchor,steps] Updated the specifications based on the check.
  examples/sites/demos/pc/app/steps/line-horizontal-composition-api.vue
  examples/sites/demos/pc/app/steps/line-horizontal.vue
  packages/theme/src/anchor/index.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/smb-theme.js
  packages/theme/src/steps/vars.less
Labels: bug

#2010 fix(currency): [currency] Fixed an issue where the currency document example cannot be displayed.
  examples/sites/demos/pc/app/currency/set-default-composition-api.vue
  examples/sites/demos/pc/app/currency/set-default-custom-service-composition-api.vue
Labels: bug

#2019 fix(theme): fix theme dark style
  examples/sites/package.json
  examples/sites/src/main.js
Labels: bug

#2016 docs: fix search grid no result
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Labels: documentation

#2013 feat(time-picker): [time-picker] updata time-picker xdesign
  packages/design/smb/src/milestone/index.ts
  packages/renderless/src/milestone/index.ts
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/smb-theme.js
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/time-spinner/smb-theme.js
  packages/theme/src/time-spinner/vars.less
Labels: documentation

#2017 fix(site): remove custom css for input suffix icon
  examples/sites/src/views/overview.vue
Labels: bug

#2020 fix(notify): [notify, split] Dev update notifycrop split
  packages/design/smb/index.ts
  packages/design/smb/src/split/index.ts
  packages/renderless/src/split/vue.ts
  packages/theme/src/notify/index.less
  packages/theme/src/split/index.less
  packages/vue/src/split/src/pc.vue
Labels: feature
