Repository opentiny/tiny-vue, pull requests merged in 2024-03, with the labels that each got.

#1452 test(dept): [dept] Fix test cases
  examples/sites/demos/pc/app/dept/custom-service.spec.ts
Labels: e2e-test

#1449 test(pop-upload): [pop-upload] Fix test cases
  examples/sites/demos/pc/app/pop-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.spec.ts
Labels: e2e-test

#1447 test(milestone): [milestone] Fix test cases
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
Labels: e2e-test

#1451 docs(site/loading): [loading] improve documentation
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Labels: documentation

#1440 fix(ci): delete e2e-comment useless 'echo'
  .github/workflows/test-e2e-pr-comment.yml
Labels: bug, ci

#1439 feat(vue): [popconfirm] add popper-options props
  packages/vue/src/popconfirm/src/index.ts
  packages/vue/src/popconfirm/src/pc.vue
Labels: enhancement

#1438 docs(site/popeditor): improve documentation
  examples/sites/demos/apis/popeditor.js
  examples/sites/demos/pc/app/popeditor/condition-form-composition-api.vue
  examples/sites/demos/pc/app/popeditor/condition-form.vue
  examples/sites/demos/pc/app/popeditor/events-composition-api.vue
  examples/sites/demos/pc/app/popeditor/events.vue
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
Labels: documentation

#1407 fix(vue/grid/src/edit/src/methods): [grid] fix-1383 The activeMethod …
  packages/vue/src/grid/src/edit/src/methods.ts
Labels: bug

#1458 test(e2e): [grid]fix grid e2e test error
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/mutil-render.spec.js
Labels: documentation, e2e-test

#1462 docs(radio): [radio] optimize demo
  examples/sites/demos/pc/app/radio/group-options-composition-api.vue
Labels: documentation

#1467 fix(test): [tree-menu,ip-address,rate] update e2e test
  examples/sites/demos/pc/app/ip-address/delimiter.spec.ts
  examples/sites/demos/pc/app/rate/custom-3-threshold-icon.spec.js
  examples/sites/demos/pc/app/rate/disabled-not-selected-class.spec.js
  examples/sites/demos/pc/app/rate/not-selected-class.spec.js
  examples/sites/demos/pc/app/tree-menu/basic-usage.spec.ts
  examples/sites/demos/pc/app/tree-menu/props.spec.ts
  packages/renderless/src/tree-menu/index.ts
  packages/renderless/src/tree-menu/vue.ts
Labels: e2e-test

#1466 fix(ci): fix e2e test pr commment
  .github/workflows/test-e2e-pr-comment.yml
Labels: bug, ci

#1461 fix(time-picker): fix time-picker components bug
  packages/renderless/src/time-spinner/index.ts
  packages/renderless/src/time-spinner/vue.ts
Labels: bug

#1463 feat(theme/input): [input] smb theme
  packages/theme/src/form-item/index.less
  packages/theme/src/input/smb-theme.js
  packages/theme/src/textarea/smb-theme.js
Labels: enhancement

#1464 fix(theme/notify): [notify] word-break
  packages/theme/src/notify/index.less
Labels: bug

#1472 docs(sites): change apis doc and hidden form menu
  examples/sites/demos/apis/float-button.js
  examples/sites/demos/pc/app/float-button/webdoc/float-button.js
  examples/sites/demos/pc/menus.js
Labels: documentation

#1470 docs(sites): add 3.14 version playground
  examples/sites/playground/App.vue
Labels: documentation

#1469 feat(search): refresh ui
  examples/sites/demos/mobile/app/search/base.vue
  packages/theme-mobile/src/search/index.less
  packages/theme-mobile/src/search/vars.less
  packages/vue/src/search/src/mobile.vue
Labels: enhancement

#1473 docs(sites): add deep style in scoped
  examples/sites/src/views/components/components.vue
Labels: documentation

#1475 fix(ip-address): [ip-address] add spaces
  examples/sites/demos/apis/ip-address.js
Labels: documentation

#1476 docs: add docs unplugin and changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  internals/unplugin-tiny-vue/package.json
Labels: documentation

#1477 fix(site): anchor offset
  examples/sites/src/views/components/components.vue
Labels: bug

#1478 feat(sites): add theme route
  examples/sites/src/App.vue
  examples/sites/src/const.ts
  examples/sites/src/router.js
  examples/sites/src/tools/useTheme.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Labels: enhancement

#1480 docs(grid): update grid apis
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
Labels: documentation

#1486 docs: add project name to issue template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: documentation

#1495 docs(grid): [grid] fix tree-grid-insert-delete-update demo
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update-composition-api.vue
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-insert-delete-update.vue
Labels: documentation

#1499 docs(sites): fix site overview input error
  examples/sites/src/views/overview.vue
Labels: documentation

#1501 docs: update changelog
  examples/sites/demos/pc/webdoc/changelog.md
Labels: documentation

#1514 feat(action-menu): [action-menu] add XDesign theme
  examples/sites/demos/apis/action-menu.js
  examples/sites/demos/pc/app/action-menu/card-mode-composition-api.vue
  examples/sites/demos/pc/app/action-menu/card-mode.spec.ts
  examples/sites/demos/pc/app/action-menu/card-mode.vue
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  packages/renderless/src/action-menu/index.ts
  packages/renderless/src/action-menu/vue.ts
  packages/renderless/types/action-menu.type.ts
  packages/theme/src/action-menu/index.less
  packages/theme/src/action-menu/smb-theme.js
  packages/theme/src/action-menu/vars.less
  packages/theme/src/dropdown-item/smb-theme.js
  packages/theme/src/dropdown/smb-theme.js
  packages/vue/src/action-menu/src/index.ts
  packages/vue/src/action-menu/src/pc.vue
Labels: enhancement

#1513 feat(date-picker): [date-picker] date picker add quarter type
  examples/sites/demos/apis/date-picker.js
  examples/sites/demos/pc/app/date-picker/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/date-picker/basic-usage.vue
  examples/sites/demos/pc/app/date-picker/default-value.spec.ts
  examples/sites/demos/pc/app/date-picker/events.spec.ts
  examples/sites/demos/pc/app/date-picker/format.spec.ts
  package.json
  packages/modules.json
  packages/renderless/src/common/index.ts
  packages/renderless/src/picker/index.ts
  packages/renderless/src/quarter-panel/index.ts
  packages/renderless/src/quarter-panel/vue.ts
  packages/theme/src/quarter-panel/index.less
  packages/theme/src/quarter-panel/vars.less
  packages/theme/src/theme.config.js
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/picker/package.json
  packages/vue/src/picker/src/pc.vue
  packages/vue/src/quarter-panel/index.ts
  packages/vue/src/quarter-panel/package.json
  packages/vue/src/quarter-panel/src/pc.vue
Labels: enhancement

#1488 [select] Optimized remote search demo
  examples/sites/demos/pc/app/select/events.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-multi-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-multi.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote-multi.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-single-composition-api.vue
  examples/sites/demos/pc/app/select/nest-grid-remote-single.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote-single.vue
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
  packages/theme/src/split/index.less
Labels: documentation

#1491 feat(statistic): statistic component
  examples/sites/demos/apis/statistic.js
  examples/sites/demos/pc/app/statistic/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/statistic/basic-usage.spec.ts
  examples/sites/demos/pc/app/statistic/basic-usage.vue
  examples/sites/demos/pc/app/statistic/statistic-slot-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-slot.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-slot.vue
  examples/sites/demos/pc/app/statistic/statistic-style-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-style.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-style.vue
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.en.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  examples/sites/demos/pc/menus.js
  examples/sites/demos/saas/menus.js
  packages/modules.json
  packages/renderless/src/statistic/index.ts
  packages/renderless/src/statistic/vue.ts
  packages/renderless/types/index.ts
  packages/renderless/types/statistic.type.ts
  packages/theme/src/statistic/index.less
  packages/theme/src/statistic/smb-theme.js
  packages/theme/src/statistic/vars.less
  packages/vue/src/statistic/__tests__/statistic.test.tsx
  packages/vue/src/statistic/index.ts
  packages/vue/src/statistic/package.json
  packages/vue/src/statistic/src/index.ts
  packages/vue/src/statistic/src/pc.vue
Labels: enhancement

#1493 fix(modal): [modal]switch browser address, error triggered close event issue when Modal is closed
  packages/renderless/src/modal/index.ts
Labels: bug

#1503 feat(select): add show-proportion props of select component
  examples/sites/demos/apis/select.js
  examples/sites/demos/mobile-first/app/select/collapse-tags.vue
  examples/sites/demos/mobile-first/app/select/webdoc/select.js
  examples/sites/demos/pc/app/select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/select/collapse-tags.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
  packages/theme/src/select/index.less
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/pc.vue
Labels: enhancement

#1512 ci(publish): add github action auto publish
  .github/workflows/auto-all-publish.yml
  .github/workflows/auto-publish.yml
  package.json
Labels: ci

#1504 feat(rich-text-editor): [rich-text-editor] add image drag adjustment
  packages/theme-saas/src/rich-text-editor/index.less
  packages/theme/src/rich-text-editor/index.less
  packages/vue/src/rich-text-editor/src/extensions/image.ts
  packages/vue/src/rich-text-editor/src/image-view.vue
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement
