Repository opentiny/tiny-vue, pull requests merged in 2024-01, with the labels that each got.

#1076 test(date-picker): [date-picker] optimize date-picker e2e test
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
  examples/sites/demos/pc/app/date-picker/align.spec.ts
  examples/sites/demos/pc/app/date-picker/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-picker/clear.spec.ts
  examples/sites/demos/pc/app/date-picker/date-range.spec.ts
  examples/sites/demos/pc/app/date-picker/default-value.spec.ts
  examples/sites/demos/pc/app/date-picker/events.spec.ts
  examples/sites/demos/pc/app/date-picker/format.spec.ts
  examples/sites/demos/pc/app/date-picker/shortcuts.spec.ts
Labels: e2e-test

#1240 docs(form): [form] form docs add trigger usage
  examples/sites/demos/pc/app/form/form-validation-composition-api.vue
  examples/sites/demos/pc/app/form/form-validation.vue
  examples/sites/demos/pc/app/form/popper-options.spec.ts
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/webdoc/form-valid-en.md
  examples/sites/demos/pc/webdoc/form-valid.md
Labels: documentation

#1239 docs(anchor): [anchor] Fix test sheets, optimize anchor component documentation
  examples/sites/demos/pc/app/anchor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/anchor/basic-usage.spec.ts
  examples/sites/demos/pc/app/anchor/basic-usage.vue
  examples/sites/demos/pc/app/anchor/change-composition-api.vue
  examples/sites/demos/pc/app/anchor/change.spec.ts
  examples/sites/demos/pc/app/anchor/change.vue
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/milestone/show-number-composition-api.vue
  examples/sites/demos/pc/app/milestone/show-number.vue
  packages/vue/src/anchor/__tests__/anchor.test.tsx
Labels: documentation

#1003 fix(components):[numeric]Fixed a bug where manually entering values does not change according to step after fixing the stepStrictly property setting
  packages/renderless/src/numeric/index.ts
  packages/renderless/src/numeric/vue.ts
Labels: bug

#1243 docs(grid): [grid] fix-grid-docs
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid-import-export.js
Labels: documentation

#1244 docs: change props type VueComponent to Component
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  examples/sites/demos/pc/app/input/webdoc/input.js
  examples/sites/demos/pc/app/ip-address/webdoc/ip-address.js
  examples/sites/demos/pc/app/link/webdoc/link.js
  examples/sites/demos/pc/app/loading/webdoc/loading.js
  examples/sites/demos/pc/app/notify/webdoc/notify.js
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.js
  examples/sites/demos/pc/app/select/webdoc/select.js
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/toggle-menu/webdoc/toggle-menu.js
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  examples/sites/demos/pc/app/tree/webdoc/tree.js
Labels: documentation

#1245 fix(popper): [popover]add stopPropagation for wheel event
  packages/renderless/src/common/deps/popper.ts
Labels: bug

#1251 fix(pager): [pager] change pager content to unicode
  packages/theme/src/pager/index.less
Labels: bug

#1207 feat(vue): [mind-map] mindmap
  examples/sites/demos/pc/app/mind-map/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/mind-map/basic-usage.spec.ts
  examples/sites/demos/pc/app/mind-map/basic-usage.vue
  examples/sites/demos/pc/app/mind-map/event-composition-api.vue
  examples/sites/demos/pc/app/mind-map/event.spec.ts
  examples/sites/demos/pc/app/mind-map/event.vue
  examples/sites/demos/pc/app/mind-map/export-data-composition-api.vue
  examples/sites/demos/pc/app/mind-map/export-data.spec.ts
  examples/sites/demos/pc/app/mind-map/export-data.vue
  examples/sites/demos/pc/app/mind-map/webdoc/mind-map.cn.md
  examples/sites/demos/pc/app/mind-map/webdoc/mind-map.en.md
  examples/sites/demos/pc/app/mind-map/webdoc/mind-map.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/mind-map/index.ts
  packages/renderless/src/mind-map/vue.ts
  packages/renderless/tsconfig.json
  packages/renderless/types/index.ts
  packages/renderless/types/mind-map.type.ts
  packages/vue/package.json
  packages/vue/src/mind-map/index.ts
  packages/vue/src/mind-map/package.json
  packages/vue/src/mind-map/src/index.ts
  packages/vue/src/mind-map/src/pc.vue
Labels: enhancement

#1253 chore: [date-picker] config playwright timezoneId
  .github/workflows/test-e2e-all.yml
  .github/workflows/test-e2e-dispatch.yml
  .github/workflows/test-e2e-pr.yml
  internals/playwright-config/src/index.js
Labels: ci

#1254 fix(build): fix build error and update versions
  internals/cli/src/commands/build/build-entry-app.ts
  packages/modules.json
  packages/renderless/package.json
  packages/theme-mobile/package.json
  packages/theme-mobile/src/index.less
  packages/theme-saas/package.json
  packages/theme-saas/src/svgs/add-picture.svg
  packages/theme/package.json
  packages/theme/src/pager/index.less
  packages/vue-icon-saas/index.ts
  packages/vue/package.json
  packages/vue/src/mask/src/mobile.vue
Labels: bug

#1256 build(internal): fix inline chunk error
  internals/cli/src/commands/build/build-ui.ts
Labels: ci

#1257 feat(switch): [switch] amend demo and API bug of switch
  examples/sites/demos/mobile-first/app/switch/webdoc/switch.cn.md
  examples/sites/demos/mobile-first/app/switch/webdoc/switch.en.md
  examples/sites/demos/mobile/app/switch/webdoc/switch.cn.md
  examples/sites/demos/pc/app/switch/before-change-composition-api.vue
  examples/sites/demos/pc/app/switch/before-change.vue
  examples/sites/demos/pc/app/switch/custom-true-false-value-composition-api.vue
  examples/sites/demos/pc/app/switch/custom-true-false-value.spec.ts
  examples/sites/demos/pc/app/switch/custom-true-false-value.vue
  examples/sites/demos/pc/app/switch/event-change-composition-api.vue
  examples/sites/demos/pc/app/switch/event-change.vue
  examples/sites/demos/pc/app/switch/webdoc/switch.cn.md
Labels: documentation

#1259 fix(vue): [grid] fix show icon condition
  packages/vue/src/grid/src/cell/src/cell.ts
Labels: bug

#1260 docs(grid): [grid] fix grid docs
  examples/sites/demos/pc/app/grid/dynamically-columns/dynamically-columns-composition-api.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/dynamically-columns.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/reverse-row-composition-api.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/reverse-row.vue
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box-composition-api.vue
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box.spec.js
  examples/sites/demos/pc/app/grid/faq/grid-in-dialog-box.vue
  examples/sites/demos/pc/app/grid/filter/advanced-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/advanced-filter.spec.js
  examples/sites/demos/pc/app/grid/filter/advanced-filter.vue
  examples/sites/demos/pc/app/grid/filter/custom-filter.spec.js
  examples/sites/demos/pc/app/grid/filter/default-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/default-filter.spec.ts
  examples/sites/demos/pc/app/grid/filter/default-filter.vue
  examples/sites/demos/pc/app/grid/filter/simple-default-value-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/simple-default-value-filter.vue
  examples/sites/demos/pc/app/grid/filter/simple-filter-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/simple-filter.vue
  examples/sites/demos/pc/app/grid/footer/configuration-summary.spec.js
  examples/sites/demos/pc/app/grid/highlight/set-current-row-composition-api.vue
  examples/sites/demos/pc/app/grid/highlight/set-current-row.vue
  examples/sites/demos/pc/app/grid/large-data/scroll-to-composition-api.vue
  examples/sites/demos/pc/app/grid/large-data/scroll-to.vue
  examples/sites/demos/pc/app/grid/pager/inner-pager-composition-api.vue
  examples/sites/demos/pc/app/grid/pager/inner-pager.spec.js
  examples/sites/demos/pc/app/grid/pager/inner-pager.vue
  examples/sites/demos/pc/app/grid/sort/server-sort-composition-api.vue
  examples/sites/demos/pc/app/grid/sort/server-sort.vue
  examples/sites/demos/pc/app/grid/sort/sort-composition-api.vue
  examples/sites/demos/pc/app/grid/sort/sort.spec.js
  examples/sites/demos/pc/app/grid/sort/sort.vue
  examples/sites/demos/pc/app/grid/validation/before-submit-validation-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.spec.js
  examples/sites/demos/pc/app/grid/validation/before-submit-validation.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-appearance-settings.js
  examples/sites/demos/pc/app/grid/webdoc/grid-context-menu.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid-drag.js
  examples/sites/demos/pc/app/grid/webdoc/grid-dynamically-columns.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-empty.js
  examples/sites/demos/pc/app/grid/webdoc/grid-expand.js
  examples/sites/demos/pc/app/grid/webdoc/grid-faq.js
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
  examples/sites/demos/pc/app/grid/webdoc/grid-footer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-highlight.js
  examples/sites/demos/pc/app/grid/webdoc/grid-import-export.js
  examples/sites/demos/pc/app/grid/webdoc/grid-large-data.js
  examples/sites/demos/pc/app/grid/webdoc/grid-mouse-keyboard.js
  examples/sites/demos/pc/app/grid/webdoc/grid-pager.js
  examples/sites/demos/pc/app/grid/webdoc/grid-renderer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-row-grouping.js
  examples/sites/demos/pc/app/grid/webdoc/grid-size.js
  examples/sites/demos/pc/app/grid/webdoc/grid-slot.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tip.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tree-table.js
  examples/sites/demos/pc/app/grid/webdoc/grid-validation.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
Labels: documentation, e2e-test

#1261 test(tag): [tag] improve unit testing of components
  packages/vue/src/tag/__tests__/tag.test.tsx
Labels: unit-test

#1274 docs(components): [anchor] Test document walkthrough
  examples/sites/demos/pc/app/anchor/change-composition-api.vue
  examples/sites/demos/pc/app/anchor/change.vue
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/search/webdoc/search.js
Labels: documentation

#1275 test(wizard): [wizard] improve unit testing of components
  packages/vue/src/wizard/__tests__/wizard.test.tsx
Labels: unit-test

#1271 fix(collapse): [collapse] fix collapse api type
  examples/sites/demos/pc/app/collapse/webdoc/collapse.js
Labels: documentation

#1270 test(TimeSelect): improve unit testing of TimeSelect Component
  packages/vue/src/time-select/__tests__/time-select.test.tsx
Labels: unit-test

#1241 fix(calendar-view): [calendar-view] week display error
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day.spec.ts
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
Labels: bug

#1277 fix(vue-common): fix process env error
  packages/vue-common/src/index.ts
  packages/vue/src/modal/index.ts
Labels: bug

#1169 fix(time): [time-picker] Scroll to the specified position on the second click
  packages/renderless/src/time/index.ts
Labels: bug

#1288 docs(sites): [grid] add custom pager in grid demo
  examples/sites/demos/pc/app/grid/pager/pager-in-grid-composition-api.vue
  examples/sites/demos/pc/app/grid/pager/pager-in-grid.spec.ts
  examples/sites/demos/pc/app/grid/pager/pager-in-grid.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-pager.js
Labels: documentation

#1278 docs(sites): add v3.13.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
Labels: documentation

#1291 feat(playground): add 3.13 version and change layoutReverse default
  examples/sites/playground/App.vue
Labels: documentation

#1282 docs(progress): [progress] Optimization Merge Example
  examples/sites/demos/pc/app/progress/progress-type-circle-composition-api.vue
  examples/sites/demos/pc/app/progress/progress-type-circle.spec.ts
  examples/sites/demos/pc/app/progress/progress-type-circle.vue
  examples/sites/demos/pc/app/progress/progress-type-dashboard-composition-api.vue
  examples/sites/demos/pc/app/progress/progress-type-dashboard.spec.ts
  examples/sites/demos/pc/app/progress/progress-type-dashboard.vue
  examples/sites/demos/pc/app/progress/webdoc/progress.js
Labels: documentation

#1281 feat(time-line): refresh ui
  examples/sites/demos/mobile/app/timeline/different-data.vue
  packages/theme-mobile/src/steps/index.less
  packages/theme-mobile/src/steps/vars.less
  packages/theme-mobile/src/time-line/vars.less
  packages/vue/src/time-line/src/mobile.vue
Labels: enhancement

#1258 feat(numeric): refresh ui
  examples/sites/demos/mobile/app/numeric/size.vue
  examples/sites/demos/mobile/app/numeric/webdoc/numeric.js
  packages/theme-mobile/src/numeric/index.less
  packages/theme-mobile/src/numeric/vars.less
Labels: enhancement

#1202 fix(slider): [slider] In input box mode, set the min attribute to a n…
  examples/sites/demos/pc/app/slider/dynamic-disable-composition-api.vue
  examples/sites/demos/pc/app/slider/dynamic-disable.vue
  examples/sites/demos/pc/app/slider/range-select-composition-api.vue
  examples/sites/demos/pc/app/slider/range-select.vue
  examples/sites/demos/pc/app/slider/shortcut-operation-composition-api.vue
  examples/sites/demos/pc/app/slider/shortcut-operation.vue
  examples/sites/demos/pc/app/slider/show-input-composition-api.vue
  examples/sites/demos/pc/app/slider/show-input.vue
  examples/sites/demos/pc/app/slider/show-iput.spec.ts
  examples/sites/demos/pc/app/slider/slider-event-composition-api.vue
  examples/sites/demos/pc/app/slider/slider-event.vue
  examples/sites/demos/pc/app/slider/slider-slot-composition-api.vue
  examples/sites/demos/pc/app/slider/slider-slot.vue
  examples/sites/demos/pc/app/slider/webdoc/slider.js
  packages/vue/src/slider/__tests__/slider.test.tsx
  packages/vue/src/slider/src/pc.vue
Labels: bug

#1292 fix(select): [dialog-box, select] fix select async emit form validate
  examples/sites/demos/pc/app/dialog-box/form-in-dialog-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/form-in-dialog.spec.ts
  examples/sites/demos/pc/app/dialog-box/form-in-dialog.vue
  packages/renderless/src/select/index.ts
Labels: bug

#1287 docs(modal/dialog-box): [modal,dialog-box] update docs
  examples/sites/demos/pc/app/dialog-box/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/basic-usage.spec.ts
  examples/sites/demos/pc/app/dialog-box/basic-usage.vue
  examples/sites/demos/pc/app/dialog-box/center-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/center.spec.ts
  examples/sites/demos/pc/app/dialog-box/center.vue
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal.spec.ts
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal.vue
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape.spec.ts
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.vue
  examples/sites/demos/pc/app/dialog-box/dialog-top-height.spec.ts
  examples/sites/demos/pc/app/dialog-box/dialog-width.spec.ts
  examples/sites/demos/pc/app/modal/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/modal/basic-usage.vue
  examples/sites/demos/pc/app/modal/default-grid-composition-api.vue
  examples/sites/demos/pc/app/modal/default-grid.spec.ts
  examples/sites/demos/pc/app/modal/default-grid.vue
  examples/sites/demos/pc/app/modal/duration-composition-api.vue
  examples/sites/demos/pc/app/modal/duration.spec.ts
  examples/sites/demos/pc/app/modal/duration.vue
  examples/sites/demos/pc/app/modal/event-composition-api.vue
  examples/sites/demos/pc/app/modal/event.vue
  examples/sites/demos/pc/app/modal/footer-slot-composition-api.vue
  examples/sites/demos/pc/app/modal/footer-slot.spec.ts
  examples/sites/demos/pc/app/modal/footer-slot.vue
  examples/sites/demos/pc/app/modal/id-composition-api.vue
  examples/sites/demos/pc/app/modal/id.vue
  examples/sites/demos/pc/app/modal/top-composition-api.vue
  examples/sites/demos/pc/app/modal/top.vue
  examples/sites/demos/pc/app/modal/type-composition-api.vue
  examples/sites/demos/pc/app/modal/type.vue
  examples/sites/demos/pc/app/modal/webdoc/modal.cn.md
  examples/sites/demos/pc/app/modal/webdoc/modal.en.md
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  examples/sites/demos/pc/app/modal/z-index-composition-api.vue
  examples/sites/demos/pc/app/modal/z-index.spec.ts
  examples/sites/demos/pc/app/modal/z-index.vue
  packages/vue/package.json
Labels: documentation

#1286 fix(theme): [pager, radio] x-design style css var fix
  packages/theme/src/pager/smb-theme.js
  packages/theme/src/radio-button/vars.less
Labels: bug

#1285 docs(tree): [tree] Clear redundant default-expand-all attribute descripttions
  examples/sites/demos/pc/app/tree/webdoc/tree.js
Labels: documentation

#1302 feat(badge): [badge] optimize docs and API
  examples/sites/demos/pc/app/badge/webdoc/badge.js
Labels: documentation

#1283 docs(TimeSelect): [TimeSelect]improve ths docs of TimeSelect
  examples/sites/demos/pc/app/time-select/webdoc/time-select.js
Labels: documentation

#1307 styles(action-sheet): [action-sheet] add action-sheet type
  packages/renderless/src/action-sheet/vue.ts
  packages/renderless/src/alert/vue.ts
  packages/renderless/types/action-sheet.type.ts
  packages/vue/src/action-sheet/src/index.ts
Labels: enhancement

#1310 styles(amount): [amount] add amount types
  packages/renderless/src/amount/vue.ts
  packages/renderless/types/alert.type.ts
  packages/renderless/types/amount.type.ts
  packages/vue/src/amount/src/index.ts
Labels: enhancement

#1315 styles(fall-menu): [fall-menu] add fall-menu types
  packages/renderless/src/fall-menu/index.ts
  packages/renderless/src/fall-menu/vue.ts
  packages/renderless/types/fall-menu.type.ts
  packages/renderless/types/shared.type.ts
  packages/vue/src/fall-menu/src/index.ts
Labels: enhancement

#1316 styles(tree-menu): [tree-menu] add tree-menu types
  packages/renderless/src/tree-menu/index.ts
  packages/renderless/src/tree-menu/vue.ts
  packages/renderless/types/tree-menu.type.ts
  packages/vue/src/tree-menu/src/index.ts
Labels: enhancement

#1317 styles(collapse): [collapse] add collapse types
  packages/renderless/src/collapse/index.ts
  packages/renderless/src/collapse/vue.ts
  packages/renderless/types/collapse.type.ts
Labels: enhancement

#1318 styles(drawer): [drawer] add drawer types
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/renderless/types/drawer.type.ts
  packages/vue/src/drawer/src/index.ts
Labels: enhancement

#1322 styles(autocomplete): [autocomplete] add autocomplete types
  packages/renderless/src/autocomplete/index.ts
  packages/renderless/src/autocomplete/vue.ts
  packages/renderless/types/autocomplete.type.ts
  packages/vue/src/autocomplete/src/index.ts
Labels: enhancement

#1323 style(tag-group): [tag-group] improve ts types of components
  packages/renderless/src/tag-group/index.ts
  packages/renderless/src/tag-group/vue.ts
  packages/renderless/types/tag-group.type.ts
  packages/vue/src/tag-group/src/index.ts
Labels: enhancement

#1324 styles(cascader): [cascader] add cascader types
  packages/renderless/src/cascader/index.ts
  packages/renderless/src/cascader/vue.ts
  packages/renderless/types/cascader.type.ts
  packages/vue/src/cascader/src/index.ts
Labels: enhancement

#1325 style(popconfirm): [popconfirm] improve typescript declaration of components
  packages/renderless/src/popconfirm/index.ts
  packages/renderless/src/popconfirm/vue.ts
  packages/renderless/types/popconfirm.type.ts
  packages/vue/src/popconfirm/src/index.ts
Labels: enhancement

#1328 style(rate): [rate] improve typescript declaration of components
  packages/renderless/src/rate/index.ts
  packages/renderless/src/rate/vue.ts
  packages/renderless/types/rate.type.ts
  packages/vue/src/rate/src/index.ts
Labels: enhancement

#1329 styles(ip-address): [ip-address] add ip-address types
  packages/renderless/src/ip-address/index.ts
  packages/renderless/src/ip-address/vue.ts
  packages/renderless/types/ip-address.type.ts
  packages/vue/src/ip-address/src/index.ts
Labels: enhancement

#1320 docs(date-picker): [date-picker] optimize date-picker docs
  examples/sites/demos/pc/app/date-picker/clear-composition-api.vue
  examples/sites/demos/pc/app/date-picker/clear.vue
  examples/sites/demos/pc/app/date-picker/date-range-composition-api.vue
  examples/sites/demos/pc/app/date-picker/date-range.vue
  examples/sites/demos/pc/app/date-picker/default-value-composition-api.vue
  examples/sites/demos/pc/app/date-picker/default-value.vue
  examples/sites/demos/pc/app/date-picker/disabled-composition-api.vue
  examples/sites/demos/pc/app/date-picker/disabled.vue
  examples/sites/demos/pc/app/date-picker/label-inside-composition-api.vue
  examples/sites/demos/pc/app/date-picker/label-inside.vue
  examples/sites/demos/pc/app/date-picker/size-composition-api.vue
  examples/sites/demos/pc/app/date-picker/size.vue
  examples/sites/demos/pc/app/date-picker/validate-event-composition-api.vue
  examples/sites/demos/pc/app/date-picker/validate-event.vue
  examples/sites/demos/pc/app/date-picker/webdoc/date-picker.js
Labels: documentation

#1333 docs(container): [container] optimize docs and demos
  examples/sites/demos/pc/app/container/webdoc/container.js
Labels: documentation

#1337 docs(site/notify): [notify] specification document
  examples/sites/demos/pc/app/notify/duration-composition-api.vue
  examples/sites/demos/pc/app/notify/duration.vue
  examples/sites/demos/pc/app/notify/notify-events-composition-api.vue
  examples/sites/demos/pc/app/notify/notify-events.vue
  examples/sites/demos/pc/app/notify/position-composition-api.vue
  examples/sites/demos/pc/app/notify/position.spec.ts
  examples/sites/demos/pc/app/notify/position.vue
  examples/sites/demos/pc/app/notify/type-composition-api.vue
  examples/sites/demos/pc/app/notify/type.spec.ts
  examples/sites/demos/pc/app/notify/type.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
Labels: documentation

#1336 docs(site/input): [input] specification document
  examples/sites/demos/pc/app/input/event-composition-api.vue
  examples/sites/demos/pc/app/input/event.vue
  examples/sites/demos/pc/app/input/webdoc/input.js
Labels: documentation

#1338 docs(site/loading): [loading] specification document
  examples/sites/demos/pc/app/loading/custom-class-composition-api.vue
  examples/sites/demos/pc/app/loading/custom-class.vue
  examples/sites/demos/pc/app/loading/fullscreen-composition-api.vue
  examples/sites/demos/pc/app/loading/fullscreen.spec.ts
  examples/sites/demos/pc/app/loading/fullscreen.vue
  examples/sites/demos/pc/app/loading/spinner-composition-api.vue
  examples/sites/demos/pc/app/loading/spinner.spec.ts
  examples/sites/demos/pc/app/loading/spinner.vue
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Labels: documentation

#1304 docs(anchor):[anchor]Fixed mode on and off with text reversed
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
Labels: documentation

#1332 fix(renderless): fix popper fixed offset in transform parent
  packages/renderless/src/common/deps/popper.ts
Labels: bug

#1319 fix(vue): [cascader] fix search mode in wujie
  packages/renderless/src/cascader/index.ts
  packages/vue/src/cascader/src/pc.vue
Labels: bug

#1342 fix: fix tsconfig for not Vue projects
  tsconfig.json
  tsconfig.react.json
  tsconfig.vue2.7.json
  tsconfig.vue2.json
  tsconfig.vue3.json
Labels: bug

#1339 fix(cli): package.json missing dependency when create ui
  internals/cli/public/template/component/package.json
Labels: bug

#1344 fix(site): async-highlight lost reactivity
  examples/sites/src/views/components/async-highlight.vue
  examples/sites/src/views/components/demo.vue
Labels: bug

#1312 styles(async-flowchart): [async-flowchart] add async-flowchart types
  packages/renderless/src/async-flowchart/index.ts
  packages/renderless/src/async-flowchart/vue.ts
  packages/renderless/types/async-flowchart.type.ts
  packages/renderless/types/index.ts
  packages/vue/src/async-flowchart/src/index.ts
Labels: enhancement

#1311 styles(area): [area] add area types
  packages/renderless/src/area/vue.ts
  packages/renderless/types/area.type.ts
  packages/vue/src/area/src/index.ts
Labels: enhancement

#1321 fix(grid): [grid] fix the abnornal blank block when quantity from 500…
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug
