Repository opentiny/tiny-vue, pull requests merged in 2024-02, with the labels that each got.

#1235 fix(pull-refresh): fix pull up
  packages/renderless/src/pull-refresh/index.ts
  packages/renderless/src/pull-refresh/vue.ts
Labels: bug

#1268 feat(dialog-box): [dialog-box] make the dialogBox drag outside the window
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
  packages/renderless/src/dialog-box/index.ts
  packages/theme/src/dialog-box/index.less
  packages/vue/src/dialog-box/src/index.ts
  packages/vue/src/dialog-box/src/pc.vue
Labels: enhancement

#1272 fix(col): [layout] Fix Vue warning with configuration span of 24
  packages/vue/src/col/src/index.ts
Labels: bug

#1284 fix(numeric): [numeric] Fix Bug caused by initial value greater than maximum
  examples/sites/demos/pc/app/numeric/max-min.vue
  packages/renderless/src/numeric/index.ts
  packages/vue/src/numeric/__tests__/numeric.test.tsx
Labels: bug

#1297 fix(timeline): [time-line] fix console error about `event click undefined`
  packages/vue/src/time-line/src/pc.vue
Labels: bug

#1351 feat(ci): add pr preview action
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  examples/sites/package.json
  package.json
Labels: ci

#1353 fix(site/loading): [loading] rectify loading size prop description
  examples/sites/demos/pc/app/loading/webdoc/loading.js
Labels: documentation

#1356 fix(dropdown): [dropdown] Fix the issue of dropdown component causing warning messages in the console: Component emitted event "is-disabled" but it is neither declared in the emits option
  packages/vue/src/dropdown/src/pc.vue
Labels: bug

#1357 fix(theme): [grid] fix xDesign grid toolbar button style
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Labels: bug

#1360 docs(CONTRIBUTING): supplement the pr title description document
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Labels: documentation

#1362 fix(tree-menu): [tree-menu] Fix the issue of asynchronous loading of …
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/tree-menu/index.ts
Labels: bug

#1345 feat(skeleton): skeleton component
  examples/sites/demos/pc/app/skeleton/base-composition-api.vue
  examples/sites/demos/pc/app/skeleton/base.spec.ts
  examples/sites/demos/pc/app/skeleton/base.vue
  examples/sites/demos/pc/app/skeleton/complex-demo-composition-api.vue
  examples/sites/demos/pc/app/skeleton/complex-demo.spec.ts
  examples/sites/demos/pc/app/skeleton/complex-demo.vue
  examples/sites/demos/pc/app/skeleton/custom-layout-composition-api.vue
  examples/sites/demos/pc/app/skeleton/custom-layout.spec.ts
  examples/sites/demos/pc/app/skeleton/custom-layout.vue
  examples/sites/demos/pc/app/skeleton/custom-paragraph-width-composition-api.vue
  examples/sites/demos/pc/app/skeleton/custom-paragraph-width.spec.ts
  examples/sites/demos/pc/app/skeleton/custom-paragraph-width.vue
  examples/sites/demos/pc/app/skeleton/custom-rows-composition-api.vue
  examples/sites/demos/pc/app/skeleton/custom-rows.spec.ts
  examples/sites/demos/pc/app/skeleton/custom-rows.vue
  examples/sites/demos/pc/app/skeleton/fine-grained-mode-composition-api.vue
  examples/sites/demos/pc/app/skeleton/fine-grained-mode.spec.ts
  examples/sites/demos/pc/app/skeleton/fine-grained-mode.vue
  examples/sites/demos/pc/app/skeleton/loading-completed-composition-api.vue
  examples/sites/demos/pc/app/skeleton/loading-completed.spec.ts
  examples/sites/demos/pc/app/skeleton/loading-completed.vue
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.cn.md
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.en.md
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/skeleton-item/vue.ts
  packages/renderless/src/skeleton/index.ts
  packages/renderless/src/skeleton/vue.ts
  packages/renderless/types/index.ts
  packages/renderless/types/skeleton-item.type.ts
  packages/renderless/types/skeleton.type.ts
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/skeleton/index.less
  packages/theme/src/skeleton/vars.less
  packages/vue/package.json
  packages/vue/src/skeleton-item/__tests__/skeleton-item.test.tsx
  packages/vue/src/skeleton-item/index.ts
  packages/vue/src/skeleton-item/package.json
  packages/vue/src/skeleton-item/src/index.ts
  packages/vue/src/skeleton-item/src/pc.vue
  packages/vue/src/skeleton/__tests__/skeleton.test.tsx
  packages/vue/src/skeleton/index.ts
  packages/vue/src/skeleton/package.json
  packages/vue/src/skeleton/src/index.ts
  packages/vue/src/skeleton/src/pc.vue
Labels: enhancement

#1370 docs(sites): add saas sites env
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/package.json
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/src/skeleton/index.less
Labels: documentation

#1374 fix(select): [select] Fix the required or disable and selected option that cannot be cancelled
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
Labels: bug

#1371 fix(tree-menu): [tree-menu]fix treeMenu error in vue2
  packages/vue/src/area/src/index.ts
  packages/vue/src/tree-menu/src/index.ts
Labels: bug

#1368 fix(anchor):[anchor]When the anchor component has a default currentLink, the style is not the expected style
  packages/renderless/src/anchor/index.ts
Labels: bug

#1385 fix(sites): add saas sites env
  examples/sites/env/.env.innersaas
  examples/sites/env/.env.saasopen
  examples/sites/env/.env.saasprod
  examples/sites/playground/App.vue
Labels: documentation

#1388 chore(ci): add pr preview through vercel deploy
  package.json
  packages/vue/src/guide/package.json
  vercel.json
Labels: ci

#1382 docs: optimize contributing guide docs
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Labels: documentation

#1389 feat(e2e): set default value to playwright
  internals/playwright-config/src/index.js
Labels: e2e-test

#1386 fix(date-picker): [date-picker] fixed the issue that entering date did not work
  examples/sites/demos/pc/app/date-picker/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-picker/clear.spec.ts
  examples/sites/demos/pc/app/date-picker/date-range.spec.ts
  examples/sites/demos/pc/app/date-picker/events.spec.ts
  examples/sites/demos/pc/app/date-picker/format.spec.ts
  examples/sites/demos/pc/app/date-picker/shortcuts.spec.ts
  packages/renderless/src/picker/index.ts
Labels: bug

#1377 fix(modal): [modal] The Modal Modal box component should not automatically close when hovering over a message with type="message"
  packages/renderless/src/modal/index.ts
  packages/renderless/src/modal/vue.ts
  packages/renderless/types/modal.type.ts
  packages/vue/src/modal/src/pc.vue
Labels: bug

#1380 style(user-head): [user-head] improve typescript declaration of compo…
  packages/renderless/src/user-head/index.ts
  packages/renderless/src/user-head/vue.ts
  packages/renderless/types/user-head.type.ts
  packages/vue/src/user-head/src/index.ts
Labels: enhancement

#1403 docs(time-select): [time-select] optimize docs and demos
  examples/sites/demos/apis/time-select.js
  examples/sites/demos/pc/app/time-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/time-select/clear-icon.spec.ts
  examples/sites/demos/pc/app/time-select/default-value.spec.ts
  examples/sites/demos/pc/app/time-select/event-blur-composition-api.vue
  examples/sites/demos/pc/app/time-select/event-blur.spec.ts
  examples/sites/demos/pc/app/time-select/event-blur.vue
  examples/sites/demos/pc/app/time-select/focus-composition-api.vue
  examples/sites/demos/pc/app/time-select/focus.vue
  examples/sites/demos/pc/app/time-select/range-placeholder.spec.ts
Labels: documentation

#1423 fix(renderless): fix designConfig error
  packages/renderless/src/form/vue.ts
  packages/renderless/src/pager/vue.ts
  packages/renderless/src/tree-node/index.ts
Labels: bug

#1430 fix(types): fix button group ts type warning
  packages/renderless/types/button-group.type.ts
Labels: bug

#1425 fix(watermark): [watermark] fix the pic watermark above the content
  packages/renderless/src/watermark/index.ts
Labels: bug

#1422 fix(carousel ): [carousel] update carousel xdesign
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/smb-theme.js
  packages/theme/src/carousel/vars.less
Labels: enhancement

#1421 feat(autocomplete): [autocomplete] adapt to autocomplete smb themes
  packages/theme/src/input/smb-theme.js
Labels: documentation

#1420 fix(badge): [badge] update badge xdesign
  packages/theme/src/badge/index.js
  packages/theme/src/badge/smb-theme.js
Labels: enhancement

#1417 feat(date-picker): [date-picker] support xdesign
  packages/theme/src/date-panel/index.less
  packages/theme/src/date-panel/smb-theme.js
  packages/theme/src/date-panel/vars.less
  packages/theme/src/date-picker/index.less
  packages/theme/src/date-picker/smb-theme.js
  packages/theme/src/date-picker/vars.less
  packages/theme/src/date-table/index.less
  packages/theme/src/date-table/smb-theme.js
  packages/theme/src/date-table/vars.less
  packages/theme/src/month-table/index.less
  packages/theme/src/month-table/smb-theme.js
  packages/theme/src/month-table/vars.less
  packages/theme/src/picker/index.js
  packages/theme/src/picker/index.less
  packages/theme/src/picker/smb-theme.js
  packages/theme/src/theme-tool.js
  packages/theme/src/theme.config.js
Labels: enhancement

#1415 docs(steps): optimize demo
  examples/sites/demos/pc/app/steps/advanced-steps-composition-api.vue
  examples/sites/demos/pc/app/steps/advanced-steps.vue
  examples/sites/demos/pc/app/steps/click-composition-api.vue
  examples/sites/demos/pc/app/steps/click.vue
  examples/sites/demos/pc/app/time-line/show-divider-composition-api.vue
  examples/sites/demos/pc/app/time-line/show-divider.vue
Labels: documentation

#1413 fix(theme/notify): [notify] fix notify title white-space
  packages/theme-saas/src/notify/index.less
  packages/theme/src/notify/aurora-theme.js
  packages/theme/src/notify/index.less
  packages/theme/src/notify/vars.less
Labels: bug

#1397 feat auto import plugin
  internals/unplugin-tiny-vue/.npmignore
  internals/unplugin-tiny-vue/README.md
  internals/unplugin-tiny-vue/example/index.html
  internals/unplugin-tiny-vue/example/package.json
  internals/unplugin-tiny-vue/example/src/App.vue
  internals/unplugin-tiny-vue/example/src/main.js
  internals/unplugin-tiny-vue/example/vite.config.js
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
  internals/unplugin-tiny-vue/tsconfig.json
Labels: enhancement

#1393 fix(ci): delete pr github action
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
Labels: ci

#1391 ci: chat gpt code review
  .github/workflows/gpt-ci.yaml
Labels: ci

#1367 style(rich-text-editor): [rich-text-editor] css variable error
  packages/theme/src/rich-text-editor/index.less
Labels: bug

#1376 (docs): update drag-outside-window of dialog-box
  examples/sites/demos/apis/dialog-box.js
  examples/sites/demos/pc/app/dialog-box/draggable-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/draggable.vue
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
Labels: documentation

#1411 [drawer] fix smb theme
  examples/sites/demos/pc/app/drawer/default-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/default-slot.spec.ts
  examples/sites/demos/pc/app/drawer/default-slot.vue
  examples/sites/demos/pc/app/drawer/tips-props-composition-api.vue
  examples/sites/demos/pc/app/drawer/tips-props.spec.ts
  examples/sites/demos/pc/app/drawer/tips-props.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  packages/design/smb/index.ts
  packages/design/smb/src/drawer/index.ts
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/theme/src/drawer/aurora-theme.js
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/smb-theme.js
  packages/theme/src/drawer/vars.less
  packages/vue/src/drawer/package.json
  packages/vue/src/drawer/src/index.ts
  packages/vue/src/drawer/src/pc.vue
Labels: enhancement

#1427 feat(collapse): [collapse] updata collapse xdesign
  packages/theme/src/collapse-item/index.less
  packages/theme/src/collapse-item/smb-theme.js
  packages/theme/src/collapse-item/vars.less
Labels: documentation

#1419 fix(transfer ): [transfer] update transfer xdesign
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/smb-theme.js
  packages/theme/src/transfer/vars.less
Labels: enhancement

#1433 fix: fix theme tool
  packages/theme/src/theme-tool.js
  packages/vue/src/numeric/package.json
  packages/vue/src/numeric/src/pc.vue
Labels: bug

#1394 feat(float-button): [float-button] add float-button
  .all-contributorsrc
  examples/sites/demos/pc/app/float-button/backTop-composition-api.vue
  examples/sites/demos/pc/app/float-button/backTop.vue
  examples/sites/demos/pc/app/float-button/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/float-button/basic-usage.vue
  examples/sites/demos/pc/app/float-button/icon-composition-api.vue
  examples/sites/demos/pc/app/float-button/icon.vue
  examples/sites/demos/pc/app/float-button/jump-composition-api.vue
  examples/sites/demos/pc/app/float-button/jump.vue
  examples/sites/demos/pc/app/float-button/reset-time-composition-api.vue
  examples/sites/demos/pc/app/float-button/reset-time.vue
  examples/sites/demos/pc/app/float-button/trigger-composition-api.vue
  examples/sites/demos/pc/app/float-button/trigger.vue
  examples/sites/demos/pc/app/float-button/webdoc/float-button.cn.md
  examples/sites/demos/pc/app/float-button/webdoc/float-button.en.md
  examples/sites/demos/pc/app/float-button/webdoc/float-button.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/float-button/index.ts
  packages/renderless/src/float-button/vue.ts
  packages/renderless/types/float-button.type.ts
  packages/renderless/types/index.ts
  packages/theme/src/float-button/aurora-theme.js
  packages/theme/src/float-button/index.less
  packages/theme/src/float-button/smb-theme.js
  packages/theme/src/float-button/vars.less
  packages/vue/package.json
  packages/vue/src/float-button/index.ts
  packages/vue/src/float-button/package.json
  packages/vue/src/float-button/src/index.ts
  packages/vue/src/float-button/src/pc.vue
Labels: enhancement

#1398 feat(ci): e2e add vue2
  .github/workflows/test-e2e-pr-comment.yml
  .github/workflows/test-e2e-pr.yml
  examples/vue2/playwright.config.js
  examples/vue3/playwright.config.js
  internals/playwright-config/src/index.js
Labels: ci

#1418 docs(time-select): [time-select] optimize docs and demos
  examples/sites/demos/pc/app/time-select/focus-composition-api.vue
  examples/sites/demos/pc/app/time-select/focus.spec.ts
  examples/sites/demos/pc/app/time-select/focus.vue
  packages/renderless/src/picker/index.ts
Labels: documentation

#1431 feat(loading): [loading] smb theme
  packages/theme/src/loading/smb-theme.js
Labels: enhancement

#1432 fix(docs): update docs of fall-menu
  examples/sites/demos/apis/fall-menu.js
Labels: documentation

#1434 fix(docs): update docs of dialog-box
  examples/sites/demos/apis/dialog-box.js
  examples/sites/demos/pc/app/dialog-box/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/basic-usage.vue
  examples/sites/demos/pc/app/dialog-box/center-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/center.vue
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal.vue
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.vue
  examples/sites/demos/pc/app/dialog-box/dialog-top-height-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/dialog-top-height.vue
  examples/sites/demos/pc/app/dialog-box/dialog-width-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/dialog-width.vue
  examples/sites/demos/pc/app/dialog-box/draggable-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/draggable.vue
  examples/sites/demos/pc/app/dialog-box/open-close-events-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/open-close-events.vue
Labels: documentation

#1437 fix(modal): [modal]optimize modal demo
  examples/sites/demos/pc/app/modal/basic-usage.spec.ts
  examples/sites/demos/pc/app/modal/duration.spec.ts
  examples/sites/demos/pc/app/modal/min-height.spec.ts
  examples/sites/demos/pc/app/modal/min-width-composition-api.vue
  examples/sites/demos/pc/app/modal/min-width-height-composition-api.vue
  examples/sites/demos/pc/app/modal/min-width-height.spec.ts
  examples/sites/demos/pc/app/modal/min-width-height.vue
  examples/sites/demos/pc/app/modal/min-width.vue
  examples/sites/demos/pc/app/modal/show-header-footer-composition-api.vue
  examples/sites/demos/pc/app/modal/show-header-footer.spec.ts
  examples/sites/demos/pc/app/modal/show-header-footer.vue
  examples/sites/demos/pc/app/modal/showFooter-composition-api.vue
  examples/sites/demos/pc/app/modal/showFooter.spec.ts
  examples/sites/demos/pc/app/modal/showHeader-composition-api.vue
  examples/sites/demos/pc/app/modal/showHeader.vue
  examples/sites/demos/pc/app/modal/webdoc/modal.js
Labels: documentation

#1444 test(file-upload): [file-upload] Fix test cases
  examples/sites/demos/pc/app/file-upload/file-picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-request.spec.ts
Labels: e2e-test
