Repository opentiny/tiny-vue, pull requests merged in 2024-09, with the labels that each got.

#2024 feat(docs): A message is added to the document, indicating that the theme is switched
  examples/sites/src/views/components/float-settings.vue
Labels: documentation

#2026 fix(nuxt): update vue version to fix button slot error
  package.json
Labels: bug

#2015 fix(tree): [tree] fix tree showLine props's bug , sometimes the line is too…
  packages/theme/package.json
  packages/theme/src/tree/index.less
Labels: bug

#2028 build(sites): optimize build chunks num
  examples/sites/package.json
  examples/sites/vite.config.ts
Labels: documentation, ci

#2030 fix(docs): The theme switch prompt is placed in the lower right corner.
  examples/sites/package.json
  examples/sites/src/views/components/float-settings.vue
Labels: documentation

#2039 fix(link-menu): [link-menu] modify smb theme
  packages/theme/src/link-menu/index.less
  packages/theme/src/link-menu/smb-theme.js
  packages/theme/src/link-menu/vars.less
Labels: enhancement

#2035 fix(tree): [tree] fix tree theme for content-right, add tree docs
  examples/sites/demos/pc/app/tree/edit-composition-api.vue
  examples/sites/demos/pc/app/tree/edit.vue
  examples/sites/demos/pc/app/tree/webdoc/tree.js
  packages/theme/src/tree/index.less
Labels: documentation

#2033 fix(modal): [modal] after the window size is changed, the window is displayed in the center
  examples/sites/demos/pc/app/modal/footer-slot-composition-api.vue
  examples/sites/demos/pc/app/modal/footer-slot.vue
  packages/renderless/package.json
  packages/renderless/src/modal/index.ts
  packages/renderless/src/modal/vue.ts
  packages/renderless/types/modal.type.ts
Labels: bug

#2032 feat(filter-panel): [filter-panel] Added filter panel new specification topic
  examples/sites/demos/pc/app/filter-panel/code-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/code.spec.ts
  examples/sites/demos/pc/app/filter-panel/code.vue
  examples/sites/demos/pc/app/filter-panel/tip-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/tip.vue
  packages/design/smb/index.ts
  packages/design/smb/src/filter-box/index.ts
  packages/renderless/src/filter-box/vue.ts
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/smb-theme.js
  packages/theme/src/filter-box/vars.less
  packages/theme/src/filter-panel/index.less
  packages/theme/src/filter-panel/smb-theme.js
  packages/theme/src/filter-panel/vars.less
  packages/theme/src/theme.config.js
  packages/vue/src/filter-box/src/pc.vue
Labels: enhancement

#2038 fix(tree): [tree] fix drag event lost
  examples/sites/demos/pc/app/tree/edit.spec.ts
  packages/renderless/src/tree/index.ts
Labels: bug

#2051 fix(grid): [grid] fix empty slot error when is-center-empty is set
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#2050 fix(checkbox): [checkbox]modify smb theme
  examples/sites/demos/apis/checkbox.js
  examples/sites/demos/pc/app/checkbox/border-composition-api.vue
  examples/sites/demos/pc/app/checkbox/border.spec.ts
  examples/sites/demos/pc/app/checkbox/border.vue
  examples/sites/demos/pc/app/checkbox/custom-color.vue
  examples/sites/demos/pc/app/checkbox/size.spec.ts
  packages/theme/src/checkbox-button/index.less
  packages/theme/src/checkbox-button/smb-theme.js
  packages/theme/src/checkbox-button/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/smb-theme.js
  packages/theme/src/checkbox/vars.less
Labels: enhancement

#2056 docs: fix demo anchor not correct
  examples/sites/src/views/components/components.vue
Labels: documentation

#2049 fix(dropdown): [dropdown] fix the issue with the dropdown box position
  examples/nuxt/playground/package.json
  examples/nuxt/playground/pages/Badge.vue
  examples/nuxt/playground/pages/Carousel.vue
  examples/nuxt/playground/pages/Image.vue
  examples/nuxt/playground/pages/Skeleton.vue
  examples/nuxt/playground/pages/Slider.vue
  examples/nuxt/playground/pages/TagGroup.vue
  examples/nuxt/playground/pages/TimeLine.vue
  examples/nuxt/playground/pages/index.vue
  packages/renderless/src/cascader/index.ts
  packages/renderless/src/common/deps/fullscreen/screenfull.ts
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/common/deps/touch-emulator.ts
  packages/renderless/src/select/vue.ts
Labels: ospp-2024

#2055 feat(time-picker): [alert,time-picker,collapse] updata xdesign
  examples/sites/demos/pc/app/collapse/title-composition-api.vue
  examples/sites/demos/pc/app/collapse/title.vue
  packages/theme/src/svgs/error.svg
  packages/theme/src/time-spinner/smb-theme.js
Labels: documentation

#2052 fix(radio): [radio] modify smb theme
  examples/sites/demos/pc/app/radio/radio-size.spec.ts
  packages/theme/src/radio-button/index.less
  packages/theme/src/radio-button/smb-theme.js
  packages/theme/src/radio/smb-theme.js
Labels: enhancement

#2048 fix(dialog-box): [dialog-box] modify smb theme of demo
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.spec.ts
  examples/sites/demos/pc/app/dialog-box/open-close-events-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/open-close-events.vue
Labels: enhancement

#2063 fix(file-upload): [file-upload] Updated the new specifications of the upload component.
  examples/sites/demos/pc/app/file-upload/picture-card-composition-api.vue
  examples/sites/demos/pc/app/file-upload/picture-card.vue
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/smb-theme.js
  packages/theme/src/upload-list/vars.less
Labels: bug

#2060 fix(grid): [grid] change grid-toolbar x-design theme
  examples/sites/demos/pc/app/grid/toolbar/custom-toolbar-composition-api.vue
  examples/sites/demos/pc/app/grid/toolbar/custom-toolbar.spec.js
  examples/sites/demos/pc/app/grid/toolbar/custom-toolbar.vue
  examples/sites/demos/pc/app/grid/toolbar/refresh-grid-composition-api.vue
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
Labels: enhancement

#2058 fix(theme): [popover,cascader,transfer,tooltip] update smb design for popover,cascader,transfer,tooltip
  examples/sites/demos/pc/app/cascader/auto-load-checkStrictly.spec.ts
  examples/sites/demos/pc/app/cascader/auto-load.spec.ts
  examples/sites/demos/pc/app/tooltip/content-composition-api.vue
  examples/sites/demos/pc/app/tooltip/content.vue
  examples/sites/demos/pc/app/tree/icons-composition-api.vue
  examples/sites/demos/pc/app/tree/icons.vue
  packages/theme/src/base/reset.less
  packages/theme/src/cascader/smb-theme.js
  packages/theme/src/popover/index.less
  packages/theme/src/popover/smb-theme.js
  packages/theme/src/popover/vars.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/smb-theme.js
Labels: enhancement

#2069 fix(dialog-box): [dialog-box] modify smb theme of demo
  examples/sites/demos/pc/app/dialog-box/open-close-events-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/open-close-events.spec.ts
  examples/sites/demos/pc/app/dialog-box/open-close-events.vue
Labels: enhancement

#2071 feat(steps): [steps] Refresh the design specifications for styles that are not designed.
  examples/sites/demos/pc/app/steps/line-horizontal-composition-api.vue
  examples/sites/demos/pc/app/steps/line-horizontal.spec.ts
  examples/sites/demos/pc/app/steps/line-horizontal.vue
  packages/theme/src/steps/index.less
  packages/theme/src/steps/smb-theme.js
Labels: enhancement

#2076 fix(input): [input] fix textarea x-design style
  examples/sites/demos/pc/app/input/resize-composition-api.vue
  examples/sites/demos/pc/app/input/resize.spec.ts
  examples/sites/demos/pc/app/input/resize.vue
  examples/sites/demos/pc/app/input/slot.spec.ts
  packages/theme/src/textarea/index.less
Labels: bug

#2084 feat(search): [search] The vertical bar on the right of the star theme close button is added.
  packages/theme/src/search/index.less
  packages/theme/src/search/smb-theme.js
  packages/theme/src/search/vars.less
  packages/vue/src/search/src/pc.vue
Labels: enhancement

#2089 fix(directives): fix directives error in script-setup with typescript
  examples/sites/demos/pc/app/directives/auto-tip/always-show-composition-api.vue
  examples/sites/demos/pc/app/directives/auto-tip/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/directives/highlight-query/avoid-composition-api.vue
  examples/sites/demos/pc/app/directives/highlight-query/basic-usage-composition-api.vue
Labels: bug

#2086 fix(icon): solve the style problem caused by multiple identical ids o…
  examples/sites/vite.config.ts
  examples/vue2/vite.config.ts
  examples/vue3/vite.config.ts
  packages/modules.json
  packages/vue-common/src/generateIcon.ts
  packages/vue-common/src/index.ts
Labels: bug

#2023 fix(loading): [icon] Fix loadingshadow, built-in rotation
  packages/theme/src/autocomplete/index.less
  packages/theme/src/loading/index.less
  packages/theme/src/svgs/loading-shadow.svg
Labels: bug

#2085 feat(popconfirm): [popconfirm] Adapting to the SMB theme
  packages/design/smb/src/popconfirm/index.ts
  packages/theme/src/popconfirm/index.less
  packages/theme/src/popconfirm/smb-theme.js
  packages/theme/src/popconfirm/vars.less
  packages/vue/src/popconfirm/src/index.ts
  packages/vue/src/popconfirm/src/pc.vue
Labels: enhancement

#1997 feat(rich-text-editor): toolbar menu by extension
  packages/renderless/src/rich-text-editor/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/theme/src/rich-text-editor/toolbar-menu.less
  packages/tiny-tiptap/src/TiptapEditor.ts
  packages/tiny-tiptap/src/components/toolbar/index.ts
  packages/tiny-tiptap/src/extension/blockquote/index.ts
  packages/tiny-tiptap/src/extension/bold/index.ts
  packages/tiny-tiptap/src/extension/bullet-list/index.ts
  packages/tiny-tiptap/src/extension/code-block/index.ts
  packages/tiny-tiptap/src/extension/code/index.ts
  packages/tiny-tiptap/src/extension/color/index.ts
  packages/tiny-tiptap/src/extension/heading/index.ts
  packages/tiny-tiptap/src/extension/highlight/index.ts
  packages/tiny-tiptap/src/extension/history/index.ts
  packages/tiny-tiptap/src/extension/image/index.ts
  packages/tiny-tiptap/src/extension/italic/index.ts
  packages/tiny-tiptap/src/extension/link/index.ts
  packages/tiny-tiptap/src/extension/ordered-list/index.ts
  packages/tiny-tiptap/src/extension/paragraph/index.ts
  packages/tiny-tiptap/src/extension/strike/index.ts
  packages/tiny-tiptap/src/extension/subscript/index.ts
  packages/tiny-tiptap/src/extension/supscript/index.ts
  packages/tiny-tiptap/src/extension/table/index.ts
  packages/tiny-tiptap/src/extension/task-list/index.ts
  packages/tiny-tiptap/src/extension/text/index.ts
  packages/tiny-tiptap/src/extension/underline/index.ts
  packages/vue/src/rich-text-editor/src/common/box-selector.tsx
  packages/vue/src/rich-text-editor/src/components/toolbar-menu-item.tsx
  packages/vue/src/rich-text-editor/src/components/toolbar-menu.tsx
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: enhancement, ospp-2024

#2093 feat(form): [form] x-design theme refresh
  examples/sites/demos/pc/app/form/error-slot-composition-api.vue
  examples/sites/demos/pc/app/form/error-slot.spec.ts
  examples/sites/demos/pc/app/form/error-slot.vue
  examples/sites/demos/pc/app/form/slot-label.vue
  packages/theme/src/form-item/smb-theme.js
  packages/theme/src/form/index.less
  packages/theme/src/form/vars.less
Labels: enhancement

#2094 feat(grid): [grid] x-design theme refresh
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/operation-column/dropdown-composition-api.vue
  examples/sites/demos/pc/app/grid/operation-column/dropdown.vue
  packages/theme/src/dropdown/smb-theme.js
  packages/theme/src/dropdown/vars.less
  packages/theme/src/grid/header.less
  packages/theme/src/grid/vars.less
  packages/theme/src/svgs/edit.svg
Labels: enhancement

#2092 feat(time-picker): [time-picker] updata time frame xdesign
  examples/sites/demos/pc/app/time-picker/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/time-picker/basic-usage.vue
  examples/sites/demos/pc/app/time-picker/clearable-composition-api.vue
  examples/sites/demos/pc/app/time-picker/clearable.vue
  examples/sites/demos/pc/app/time-picker/default-value-composition-api.vue
  examples/sites/demos/pc/app/time-picker/default-value.vue
  examples/sites/demos/pc/app/time-picker/disabled-composition-api.vue
  examples/sites/demos/pc/app/time-picker/disabled.vue
  examples/sites/demos/pc/app/time-picker/editable-composition-api.vue
  examples/sites/demos/pc/app/time-picker/editable.vue
  examples/sites/demos/pc/app/time-picker/event-composition-api.vue
  examples/sites/demos/pc/app/time-picker/event.vue
  examples/sites/demos/pc/app/time-picker/format-composition-api.vue
  examples/sites/demos/pc/app/time-picker/format.vue
  examples/sites/demos/pc/app/time-picker/name-composition-api.vue
  examples/sites/demos/pc/app/time-picker/name.vue
  examples/sites/demos/pc/app/time-picker/placeholder-composition-api.vue
  examples/sites/demos/pc/app/time-picker/placeholder.vue
  examples/sites/demos/pc/app/time-picker/popper-class-composition-api.vue
  examples/sites/demos/pc/app/time-picker/popper-class.vue
  examples/sites/demos/pc/app/time-picker/size-composition-api.vue
  examples/sites/demos/pc/app/time-picker/size.vue
  examples/sites/demos/pc/app/time-picker/step-composition-api.vue
  examples/sites/demos/pc/app/time-picker/step.vue
  examples/sites/demos/pc/app/time-picker/suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/time-picker/suffix-icon.vue
  packages/design/smb/index.ts
  packages/design/smb/src/time-range/index.ts
  packages/renderless/src/time-range/vue.ts
  packages/theme-saas/src/time-panel/index.less
  packages/theme-saas/src/time-range/index.less
  packages/theme/src/picker/index.less
  packages/theme/src/picker/smb-theme.js
  packages/theme/src/picker/vars.less
  packages/theme/src/theme.config.js
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-range/index.less
  packages/theme/src/time-range/smb-theme.js
  packages/theme/src/time-range/vars.less
  packages/vue/src/picker/src/pc.vue
  packages/vue/src/time-range/src/pc.vue
Labels: enhancement

#2095 feat(tree-menu): [tree-menu] updata tree-menu xdesign
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/smb-theme.js
  packages/theme/src/tree-menu/vars.less
Labels: enhancement

#2096 fix(checkbox): [checkbox] modify smb theme
  packages/theme/src/checkbox-button/index.less
Labels: bug

#2101 fix(tree-menu): [tree-menu] fix tree-menu bug
  packages/theme/src/tree-menu/index.less
Labels: bug

#2099 feat(button-group): [button-group] Adapting to the SMB theme
  examples/sites/demos/pc/app/button-group/sup-composition-api.vue
  examples/sites/demos/pc/app/button-group/sup.vue
Labels: enhancement

#2105 fix(site): fixed the official website style exception and icon parse …
  examples/sites/package.json
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/components/float-settings.vue
  packages/vue-common/src/generateIcon.ts
Labels: bug

#2110 feat(steps): [steps] The stateless step style is added to the step bar, and the itemFooter slot is added.
  examples/sites/demos/apis/steps.js
  examples/sites/demos/pc/app/steps/slot-item-footer-composition-api.vue
  examples/sites/demos/pc/app/steps/slot-item-footer.vue
  examples/sites/demos/pc/app/steps/webdoc/steps.js
  packages/theme/src/steps/index.less
  packages/vue-directive/src/auto-tip.ts
  packages/vue/src/steps/package.json
  packages/vue/src/steps/src/pc/pc-line.vue
Labels: enhancement

#2104 feat(button): [button] Adapting to the SMB theme
  examples/sites/demos/pc/app/button/dynamic-disabled.spec.ts
  examples/sites/demos/pc/app/button/ghost.spec.ts
  examples/sites/demos/pc/app/button/size.spec.ts
  examples/sites/demos/pc/app/button/text.spec.ts
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
  packages/vue/src/button/src/pc.vue
Labels: enhancement

#2107 feat(badge): [badge] Adapting to the SMB theme
  examples/sites/demos/pc/app/badge/basic-usage.spec.ts
  examples/sites/demos/pc/app/badge/offset-composition-api.vue
  examples/sites/demos/pc/app/badge/offset.spec.ts
  examples/sites/demos/pc/app/badge/offset.vue
  examples/sites/demos/pc/app/badge/type.spec.ts
  packages/theme/src/badge/vars.less
  packages/vue/src/badge/src/index.ts
Labels: enhancement

#2121 feat(guide): [guide] replace x with close-icon
  packages/renderless/src/guide/index.ts
  packages/theme/src/guide/index.less
  packages/theme/src/guide/vars.less
Labels: enhancement

#2117 test(e2e): [input] fix input e2e error
  examples/sites/demos/pc/app/input/basic-usage.spec.ts
  examples/sites/demos/pc/app/input/size.spec.ts
Labels: e2e-test

#2126 feat(pager): [pager] add simplest pager to adaptive x-design
  examples/sites/demos/apis/pager.js
  examples/sites/demos/pc/app/pager/disabled-and-size.spec.ts
  examples/sites/demos/pc/app/pager/pager-mode-composition-api.vue
  examples/sites/demos/pc/app/pager/pager-mode.vue
  packages/design/smb/src/pager/index.ts
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/theme/src/base-select/vars.less
  packages/theme/src/pager/index.less
  packages/theme/src/pager/old-theme.js
  packages/theme/src/pager/vars.less
  packages/vue/src/base-select/package.json
  packages/vue/src/base-select/src/pc.vue
  packages/vue/src/pager/package.json
  packages/vue/src/pager/src/pc.vue
Labels: enhancement

#2125 feat(carousel): [carousel]modify smb theme and add props
  examples/sites/demos/apis/carousel.js
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.spec.ts
  examples/sites/demos/pc/app/carousel/card-show.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.spec.ts
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/vars.less
  packages/vue/src/carousel/src/index.ts
  packages/vue/src/carousel/src/pc.vue
Labels: enhancement, e2e-test

#2112 feat(switch): [switch] Adapting to the SMB theme
  examples/sites/demos/apis/switch.js
  examples/sites/demos/pc/app/switch/basic-usage.spec.ts
  examples/sites/demos/pc/app/switch/dynamic-disable.spec.ts
  examples/sites/demos/pc/app/switch/loading-composition-api.vue
  examples/sites/demos/pc/app/switch/loading.spec.ts
  examples/sites/demos/pc/app/switch/loading.vue
  examples/sites/demos/pc/app/switch/mini-mode.spec.ts
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  packages/theme/src/switch/index.less
  packages/theme/src/switch/vars.less
  packages/vue/src/switch/src/pc.vue
Labels: enhancement

#2118 feat(drop-times): [drop-times] Adapting to the SMB theme
  packages/theme/src/picker/index.less
  packages/theme/src/picker/vars.less
Labels: enhancement

#2111 fix(pager): [pager] fix pager hover style
  packages/design/aurora/src/pager/index.ts
  packages/design/saas/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/renderless/types/pager.type.ts
  packages/theme/src/pager/index.less
  packages/theme/src/pager/vars.less
  packages/vue/src/pager/src/pc.vue
Labels: bug

#2124 fix(theme):　[tree,tooltip,transfer, cascader] update unsolved smb components
  examples/sites/demos/pc/app/tree/icons-composition-api.vue
  examples/sites/demos/pc/app/tree/icons.spec.ts
  examples/sites/demos/pc/app/tree/icons.vue
  examples/sites/demos/pc/app/tree/props.spec.ts
  packages/theme/src/cascader-menu/vars.less
  packages/theme/src/cascader/index.less
  packages/theme/src/cascader/vars.less
  packages/theme/src/mixins/tooltip.less
  packages/theme/src/tooltip/index.less
  packages/theme/src/tooltip/vars.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
  packages/vue/src/cascader/src/pc.vue
Labels: bug, feature

#2129 feat(modal): [modal] modify demo
  examples/sites/demos/pc/app/modal/default-grid-composition-api.vue
  examples/sites/demos/pc/app/modal/default-grid.vue
Labels: enhancement

#2130 feat(checkbox): [checkbox] Adapting to the SMB theme
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  examples/sites/demos/pc/app/checkbox/border.spec.ts
  examples/sites/demos/pc/app/checkbox/checkbox-button.spec.ts
  examples/sites/demos/pc/app/checkbox/size.spec.ts
  examples/sites/demos/pc/app/checkbox/vertical-checkbox-composition-api.vue
  examples/sites/demos/pc/app/checkbox/vertical-checkbox.spec.ts
  examples/sites/demos/pc/app/checkbox/vertical-checkbox.vue
  packages/theme/src/checkbox-button/vars.less
  packages/theme/src/checkbox/index.less
  packages/vue/src/checkbox/src/pc.vue
Labels: enhancement

#2128 feat: [input] add new vars less
  packages/theme/package.json
  packages/theme/src/base/index.less
  packages/theme/src/base/vars.less
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
Labels: enhancement

#2114 feat(rich-text-editor): old toolbar remove
  packages/renderless/src/rich-text-editor/index.ts
  packages/renderless/src/rich-text-editor/vue.ts
  packages/theme/src/rich-text-editor/index.less
  packages/theme/src/rich-text-editor/toolbar-menu.less
  packages/theme/src/rich-text-editor/vars.less
  packages/vue/src/rich-text-editor/src/pc.vue
Labels: refactoring, ospp-2024

#2115 feat(rich-text-editor): collaboration doc complete
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.js
  examples/sites/server/package-lock.json
  examples/sites/server/package.json
  examples/sites/server/rich-text-editor/collaboration/index.js
  packages/tiny-tiptap/src/components/collaboration/index.ts
Labels: documentation, ospp-2024

#2135 fix(select): [select] fix clear-no-match prop
  packages/renderless/src/select/index.ts
Labels: bug

#2134 fix(dialog-box): [dialog-box] modify theme
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Labels: bug

#2116 feat(steps): [steps] Node line alignment
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
Labels: enhancement

#2139 fix(site): add <code> style in api-table
  examples/sites/src/views/components/components.vue
Labels: bug

#2142 fix(fluent-editor): fix link and img render error
  packages/renderless/src/common/xss.ts
Labels: bug

#2146 feat(modal): [modal] modify smb theme
  examples/sites/demos/pc/app/modal/show-header-footer-composition-api.vue
  examples/sites/demos/pc/app/modal/show-header-footer.spec.ts
  examples/sites/demos/pc/app/modal/show-header-footer.vue
  packages/theme/src/modal/index.less
  packages/theme/src/modal/vars.less
Labels: enhancement

#2154 fix(form): [form] fix form tooltip class name
  packages/vue/src/form-item/package.json
  packages/vue/src/form-item/src/pc.vue
Labels: bug

#2155 fix(anchor): [anchor] fix anchor error when links is empty
  packages/renderless/package.json
  packages/renderless/src/anchor/index.ts
Labels: bug

#2152 feat(grid): [grid] grid custom panel adapt to x-design
  examples/sites/demos/pc/app/grid/drag/row-drag-ctrl-composition-api.vue
  examples/sites/demos/pc/app/grid/drag/row-drag-ctrl.spec.js
  examples/sites/demos/pc/app/grid/drag/row-drag-ctrl.vue
  examples/sites/demos/pc/app/grid/editor/mutil-render.spec.js
  examples/sites/demos/pc/app/grid/filter/simple-date-filter.spec.ts
  examples/sites/demos/pc/app/grid/fixed/group-header-fixed-composition-api.vue
  examples/sites/demos/pc/app/grid/fixed/group-header-fixed.vue
  examples/sites/demos/pc/app/grid/header/custom-grid-header-composition-api.vue
  examples/sites/demos/pc/app/grid/header/custom-grid-header.vue
  examples/sites/demos/pc/app/grid/highlight/highlight-hover-row.spec.js
  examples/sites/demos/pc/app/grid/large-data/full-data-loading.spec.js
  examples/sites/demos/pc/app/grid/renderer/inner-renderer-rate.spec.js
  examples/sites/demos/pc/app/grid/renderer/inner-renderer.spec.js
  examples/sites/demos/pc/app/grid/size/adaptive-column-width.spec.js
  examples/sites/demos/pc/app/grid/size/max-min-grid-height.spec.js
  examples/sites/demos/pc/app/grid/slot/editor-slot.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-data-composition-api.vue
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-data.vue
  examples/sites/demos/pc/app/grid/tree-table/tree-grid-index.spec.js
  packages/theme/src/grid/custom.less
  packages/theme/src/grid/radio.less
  packages/theme/src/grid/table.less
  packages/vue/src/grid-toolbar/src/custom.vue
Labels: enhancement

#2151 fix(input): [input] fix textarea disabled style error
  examples/sites/demos/pc/app/input/disabled-composition-api.vue
  examples/sites/demos/pc/app/input/disabled.spec.ts
  examples/sites/demos/pc/app/input/disabled.vue
  examples/sites/demos/pc/app/input/webdoc/input.js
  packages/theme/src/textarea/index.less
Labels: bug

#2147 feat(dialog-box): [dialog-box] modify smb theme
  examples/sites/demos/pc/app/dialog-box/right-dialog-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/right-dialog.vue
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Labels: enhancement

#2148 feat(button): [button] Adapting to the SMB theme
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/mixins/button.less
Labels: enhancement

#2150 feat(drawer): [drawer] modify smb theme
  examples/sites/demos/pc/app/drawer/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/drawer/basic-usage.vue
  examples/sites/demos/pc/app/drawer/footer-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/footer-slot.spec.ts
  examples/sites/demos/pc/app/drawer/footer-slot.vue
  examples/sites/demos/pc/app/drawer/show-footer-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-footer.vue
  examples/sites/demos/pc/app/drawer/tips-props-composition-api.vue
  examples/sites/demos/pc/app/drawer/tips-props.vue
Labels: enhancement

#2153 feat(carousel): [carousel] modify smb theme
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  packages/theme/src/carousel-item/index.less
  packages/theme/src/carousel-item/vars.less
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/vars.less
Labels: enhancement

#2157 feat: optimize theme style variables
  packages/theme/src/base/vars.less
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
Labels: enhancement

#2108 feat(dropdown): [dropdown,select,slider] Adapt to xdesign themes
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/dropdown/basic-usage.spec.ts
  examples/sites/demos/pc/app/dropdown/border-composition-api.vue
  examples/sites/demos/pc/app/dropdown/border.vue
  examples/sites/demos/pc/app/dropdown/disabled.spec.ts
  examples/sites/demos/pc/app/dropdown/multi-level-composition-api.vue
  examples/sites/demos/pc/app/dropdown/multi-level.vue
  examples/sites/demos/pc/app/dropdown/size.spec.ts
  examples/sites/demos/pc/app/dropdown/split-button.spec.ts
  examples/sites/demos/pc/app/select/automatic-dropdown.spec.ts
  examples/sites/demos/pc/app/select/copy-multi.spec.ts
  examples/sites/demos/pc/app/select/input-box-type.spec.ts
  examples/sites/demos/pc/app/select/multiple-composition-api.vue
  examples/sites/demos/pc/app/select/multiple.spec.ts
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  examples/sites/demos/pc/app/select/nest-grid.spec.ts
  examples/sites/demos/pc/app/select/nest-radio-grid-much-data.spec.ts
  examples/sites/demos/pc/app/select/size.spec.ts
  examples/sites/demos/pc/app/slider/dynamic-disable-composition-api.vue
  examples/sites/demos/pc/app/slider/dynamic-disable.vue
  examples/sites/demos/pc/app/slider/show-input.spec.ts
  packages/renderless/src/slider/index.ts
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/select-dropdown/aurora-theme.js
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/select/index.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
  packages/vue/src/dropdown-item/src/pc.vue
  packages/vue/src/dropdown/src/pc.vue
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/pc.vue
  packages/vue/src/slider/package.json
  packages/vue/src/slider/src/pc.vue
Labels: enhancement

#2160 fix(theme): update vars.less comments
  packages/theme/src/base/vars.less
Labels: bug

#2163 fix(theme): update base/vars.less order
  packages/theme/src/base/vars.less
Labels: bug

#2158 fix(cascader): [cascader] update cascader's x design
  examples/sites/demos/pc/app/cascader/check-strictly-multiple.spec.ts
  examples/sites/demos/pc/app/cascader/filter-mode-composition-api.vue
  examples/sites/demos/pc/app/cascader/filter-mode.vue
  examples/sites/demos/pc/app/cascader/size.spec.ts
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/vars.less
Labels: bug

#2162 refactor(pager): [pager] refactor pager style
  .vscode/settings.json
  examples/sites/demos/pc/app/pager/disabled-and-size.vue
  packages/design/aurora/src/pager/index.ts
  packages/design/saas/src/pager/index.ts
  packages/design/smb/index.ts
  packages/design/smb/src/pager/index.ts
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/theme/src/pager/index.less
  packages/theme/src/pager/old-theme.js
  packages/theme/src/pager/vars.less
Labels: refactoring

#2167 feat(badge): [badge]: Adapting to the SMB theme
  examples/sites/demos/pc/app/badge/max.vue
  examples/sites/demos/pc/app/badge/type-composition-api.vue
  examples/sites/demos/pc/app/badge/type.spec.ts
  examples/sites/demos/pc/app/badge/type.vue
Labels: enhancement

#2166 feat(ip-address): [ip-address] Adapting to the SMB theme
  examples/sites/demos/pc/app/ip-address/disabled.spec.ts
  examples/sites/demos/pc/app/ip-address/size-composition-api.vue
  examples/sites/demos/pc/app/ip-address/size.spec.ts
  examples/sites/demos/pc/app/ip-address/size.vue
  packages/renderless/src/ip-address/index.ts
  packages/renderless/src/ip-address/vue.ts
  packages/theme-saas/src/ip-address/index.less
  packages/theme/src/ip-address/index.less
  packages/theme/src/ip-address/vars.less
  packages/vue/src/ip-address/src/pc.vue
Labels: enhancement

#2169 feat(alert): [alert] Adapting to the SMB theme
  examples/sites/demos/pc/app/alert/basic-usage.spec.ts
  examples/sites/demos/pc/app/alert/size.spec.ts
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/vue/src/alert/src/index.ts
Labels: enhancement

#2178 fix(grid): [grid] fix drop-config trigger don't work
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/dragger/src/methods.ts
Labels: bug

#2175 fix(theme): add tv-color-icon-stable
  packages/theme/src/base/vars.less
Labels: bug

#2171 feat(skeleton): [skeleton] Adapting to the SMB theme
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/skeleton/vars.less
Labels: enhancement

#2172 feat(button): [button] Adapting to the SMB theme
  packages/theme/src/button/index.less
Labels: enhancement

#2168 feat(popconfirm): [popconfirm] Adapting to the SMB theme
  examples/sites/demos/pc/app/popconfirm/type-composition-api.vue
  examples/sites/demos/pc/app/popconfirm/type.vue
  packages/theme/src/popconfirm/index.less
  packages/theme/src/popconfirm/vars.less
  packages/vue/src/popconfirm/src/pc.vue
Labels: enhancement

#2174 refactor(checkbox): [checkbox] refactor checkbox x-design theme
  examples/sites/demos/apis/checkbox.js
  examples/sites/demos/pc/app/checkbox/border-composition-api.vue
  examples/sites/demos/pc/app/checkbox/border.spec.ts
  examples/sites/demos/pc/app/checkbox/border.vue
  examples/sites/demos/pc/app/checkbox/shape.spec.ts
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.js
  packages/theme/src/base/vars.less
  packages/theme/src/card/index.less
  packages/theme/src/checkbox-button/index.less
  packages/theme/src/checkbox-button/vars.less
  packages/theme/src/checkbox-group/index.less
  packages/theme/src/checkbox-group/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
  packages/theme/src/mixins/checkbox.less
Labels: refactoring

#2182 fix(theme): rename warning to base-warn
  packages/theme/src/base/vars.less
Labels: bug

#2179 feat(divider): [divider]modify smb theme
  examples/sites/demos/pc/app/divider/customStyle-composition-api.vue
  examples/sites/demos/pc/app/divider/customStyle.vue
  packages/theme/src/divider/index.less
  packages/theme/src/divider/vars.less
Labels: enhancement

#2137 feat(rich-text-editor): table background color
  packages/theme/src/rich-text-editor/bubble-menu.less
  packages/tiny-tiptap/src/components/bubble/index.ts
  packages/tiny-tiptap/src/extension/table-cell/index.ts
  packages/tiny-tiptap/src/extension/table-header/index.ts
  packages/tiny-tiptap/src/extension/table/index.ts
  packages/vue/src/rich-text-editor/src/common/box-selector.tsx
  packages/vue/src/rich-text-editor/src/components/bubble-menu.tsx
Labels: enhancement, ospp-2024

#2185 feat(theme): modify variable names and add reset styles
  packages/theme/src/base/reset.less
  packages/theme/src/base/vars.less
Labels: enhancement

#2186 refactor(search): [search] refactor search theme
  examples/sites/demos/pc/app/search/mini-mode.spec.ts
  examples/sites/demos/pc/app/search/slot-prefix.spec.ts
  examples/sites/demos/pc/app/search/transparent-mode.spec.ts
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
Labels: refactoring

#2183 refactor(swicth): [switch]refactor switch theme
  examples/sites/demos/pc/app/switch/basic-usage.spec.ts
  packages/theme/src/switch/index.less
  packages/theme/src/switch/vars.less
Labels: refactoring

#2181 refactor(radio): [radio] refactor radio theme
  examples/sites/demos/apis/radio.js
  examples/sites/demos/pc/app/radio/radio-size-composition-api.vue
  examples/sites/demos/pc/app/radio/radio-size.spec.ts
  examples/sites/demos/pc/app/radio/radio-size.vue
  examples/sites/demos/pc/app/radio/webdoc/radio.js
  examples/sites/demos/pc/app/radio/with-border-composition-api.vue
  examples/sites/demos/pc/app/radio/with-border.spec.ts
  examples/sites/demos/pc/app/radio/with-border.vue
  packages/theme/src/radio-button/index.less
  packages/theme/src/radio-button/vars.less
  packages/theme/src/radio-group/index.less
  packages/theme/src/radio-group/vars.less
  packages/theme/src/radio/index.less
  packages/theme/src/radio/vars.less
Labels: refactoring

#2184 feat(drawer): [drawer]add props of height
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/placement-composition-api.vue
  examples/sites/demos/pc/app/drawer/placement.vue
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/vue/src/drawer/src/index.ts
  packages/vue/src/drawer/src/pc.vue
  packages/vue/src/drawer/src/service.ts
Labels: enhancement

#2188 feat(image): [iamge] Fix bug regarding image links
  packages/theme/src/image/vars.less
Labels: enhancement

#2193 refactor(button): [button] refactor the component variables of the button component.
  examples/sites/demos/pc/app/button/ghost.spec.ts
  examples/sites/demos/pc/app/button/size-composition-api.vue
  examples/sites/demos/pc/app/button/size.vue
  packages/theme/src/button/index.less
  packages/theme/src/button/snippet.js
  packages/theme/src/button/vars.less
Labels: refactoring

#2194 refactor(split): [split] refactor split theme
  examples/sites/demos/pc/app/split/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/split/basic-usage.spec.ts
  examples/sites/demos/pc/app/split/basic-usage.vue
  examples/sites/demos/pc/app/split/collapsible-composition-api.vue
  examples/sites/demos/pc/app/split/collapsible.vue
  examples/sites/demos/pc/app/split/disabled-drag-composition-api.vue
  examples/sites/demos/pc/app/split/disabled-drag.vue
  examples/sites/demos/pc/app/split/event-click-composition-api.vue
  examples/sites/demos/pc/app/split/event-click.vue
  examples/sites/demos/pc/app/split/horizontal-collapse-composition-api.vue
  examples/sites/demos/pc/app/split/horizontal-collapse-left-top-composition-api.vue
  examples/sites/demos/pc/app/split/horizontal-collapse-left-top.vue
  examples/sites/demos/pc/app/split/horizontal-collapse.vue
  examples/sites/demos/pc/app/split/left-right-slot-composition-api.vue
  examples/sites/demos/pc/app/split/left-right-slot.vue
  examples/sites/demos/pc/app/split/moveend-event-composition-api.vue
  examples/sites/demos/pc/app/split/moveend-event.vue
  examples/sites/demos/pc/app/split/movestart-event-composition-api.vue
  examples/sites/demos/pc/app/split/movestart-event.vue
  examples/sites/demos/pc/app/split/moving-event-composition-api.vue
  examples/sites/demos/pc/app/split/moving-event.vue
  examples/sites/demos/pc/app/split/nested-use-composition-api.vue
  examples/sites/demos/pc/app/split/nested-use.spec.ts
  examples/sites/demos/pc/app/split/nested-use.vue
  examples/sites/demos/pc/app/split/split-mode-composition-api.vue
  examples/sites/demos/pc/app/split/split-mode.spec.ts
  examples/sites/demos/pc/app/split/split-mode.vue
  examples/sites/demos/pc/app/split/split-threshold-composition-api.vue
  examples/sites/demos/pc/app/split/split-threshold.spec.ts
  examples/sites/demos/pc/app/split/split-threshold.vue
  examples/sites/demos/pc/app/split/three-areas-composition-api.vue
  examples/sites/demos/pc/app/split/three-areas.vue
  examples/sites/demos/pc/app/split/top-bottom-slot-composition-api.vue
  examples/sites/demos/pc/app/split/top-bottom-slot.vue
  examples/sites/demos/pc/app/split/trigger-simple-composition-api.vue
  examples/sites/demos/pc/app/split/trigger-simple.spec.ts
  examples/sites/demos/pc/app/split/trigger-simple.vue
  examples/sites/demos/pc/app/split/trigger-slot-composition-api.vue
  examples/sites/demos/pc/app/split/trigger-slot.vue
  packages/theme/src/split/index.less
  packages/theme/src/split/vars.less
Labels: refactoring

#2196 refactor(form): [form] refactor form style
  examples/sites/demos/apis/form.js
  examples/sites/demos/pc/app/form/label-align-composition-api.vue
  examples/sites/demos/pc/app/form/label-align.vue
  examples/sites/demos/pc/app/form/message-type-composition-api.vue
  examples/sites/demos/pc/app/form/message-type.spec.ts
  examples/sites/demos/pc/app/form/message-type.vue
  examples/sites/demos/pc/app/form/size.spec.ts
  examples/sites/demos/pc/app/form/slot-label.spec.ts
  examples/sites/demos/pc/app/form/smb-required.spec.ts
  packages/design/aurora/src/form/index.ts
  packages/design/saas/src/form/index.ts
  packages/design/smb/index.ts
  packages/design/smb/src/form/index.ts
  packages/renderless/src/form/index.ts
  packages/renderless/src/form/vue.ts
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/old-theme.js
  packages/theme/src/form-item/vars.less
  packages/theme/src/form/aurora-theme.js
  packages/theme/src/form/index.less
  packages/theme/src/form/old-theme.js
  packages/theme/src/form/vars.less
  packages/vue/src/form-item/src/pc.vue
Labels: refactoring

#2198 refactor(pager): [pager] delete useless code
  packages/theme/src/pager/index.less
  packages/theme/src/pager/vars.less
Labels: refactoring

#2195 refactor(dropdown): [dropdown] refactoring styles and variable for dropdown
  examples/sites/demos/pc/app/dropdown/inherit-width-composition-api.vue
  examples/sites/demos/pc/app/dropdown/inherit-width.vue
  examples/sites/demos/pc/app/dropdown/size-composition-api.vue
  examples/sites/demos/pc/app/dropdown/size.vue
  examples/sites/demos/pc/app/dropdown/split-button-composition-api.vue
  examples/sites/demos/pc/app/dropdown/split-button.vue
  examples/sites/demos/pc/app/select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/select/collapse-tags.vue
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/tabs/index.less
  packages/vue/src/dropdown/src/pc.vue
Labels: refactoring

#2199 feat(site): the official website temporarily blocks English
  examples/sites/src/i18n/index.js
  examples/sites/src/main.js
  examples/sites/src/router.js
  examples/sites/src/tools/appData.js
  examples/sites/src/tools/useStyleSettings.js
Labels: enhancement

#2165 feat(tree): [tree] basic virtual scroll logic
  examples/sites/demos/pc/app/tree/virtual-basic.vue
  examples/sites/demos/pc/app/tree/webdoc/tree.js
  packages/renderless/src/tree-node/index.ts
  packages/renderless/src/tree/index.ts
  packages/renderless/src/tree/vue.ts
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/vue/src/tree/src/index.ts
  packages/vue/src/tree/src/pc.vue
  packages/vue/src/tree/src/tree-node.vue
Labels: enhancement, ospp-2024

#2200 refactor(numeric): [numeric]refactor numeric theme vars
  examples/sites/demos/pc/app/numeric/dynamic-disabled-composition-api.vue
  examples/sites/demos/pc/app/numeric/dynamic-disabled.vue
  examples/sites/demos/pc/app/numeric/numeric-size-composition-api.vue
  examples/sites/demos/pc/app/numeric/numeric-size.spec.ts
  examples/sites/demos/pc/app/numeric/numeric-size.vue
  packages/theme/src/numeric/index.less
  packages/theme/src/numeric/vars.less
Labels: refactoring

#2201 refactor(collapse): [collapse] refactor collapse theme vars
  packages/theme/src/base/vars.less
  packages/theme/src/collapse-item/index.less
  packages/theme/src/collapse-item/vars.less
  packages/theme/src/collapse/index.less
  packages/theme/src/collapse/vars.less
Labels: refactoring

#2202 refactor(dialog-box): [dialog-box] refactor dialog-box theme vars
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Labels: refactoring

#2207 refactor(guide): [guide] refactor guide theme vars
  packages/theme/src/guide/index.less
  packages/theme/src/guide/vars.less
Labels: refactoring

#2203 fix(input): [input] fix input small size of font
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
Labels: bug

#2209 refactor(breadcrumb): [breadcrumb] refactor breadcrumb theme vars
  examples/sites/demos/pc/app/breadcrumb/base.spec.ts
  examples/sites/demos/pc/app/breadcrumb/options.spec.ts
  examples/sites/demos/pc/app/breadcrumb/size.spec.ts
  packages/theme/src/breadcrumb/index.less
  packages/theme/src/breadcrumb/vars.less
Labels: refactoring

#2205 feat(date-picker): [date-picker] Adapting to the SMB themem
  examples/sites/demos/pc/app/date-picker/date-range-composition-api.vue
  examples/sites/demos/pc/app/date-picker/date-range.vue
  examples/sites/demos/pc/app/date-picker/default-value-composition-api.vue
  examples/sites/demos/pc/app/date-picker/default-value.vue
  examples/sites/demos/pc/app/date-picker/disabled-composition-api.vue
  examples/sites/demos/pc/app/date-picker/disabled.vue
  examples/sites/demos/pc/app/date-picker/label-inside-composition-api.vue
  examples/sites/demos/pc/app/date-picker/label-inside.vue
  examples/sites/demos/pc/app/date-picker/shortcuts-composition-api.vue
  examples/sites/demos/pc/app/date-picker/shortcuts.vue
  examples/sites/demos/pc/app/date-picker/size-composition-api.vue
  examples/sites/demos/pc/app/date-picker/size.vue
  examples/sites/demos/pc/app/time-picker/is-range-composition-api.vue
  examples/sites/demos/pc/app/time-picker/is-range.vue
  examples/sites/demos/pc/app/time-picker/size-composition-api.vue
  examples/sites/demos/pc/app/time-picker/size.spec.ts
  examples/sites/demos/pc/app/time-picker/size.vue
  packages/design/saas/index.ts
  packages/design/saas/src/date-panel/index.ts
  packages/renderless/src/date-panel/vue.ts
  packages/theme-saas/src/picker/index.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/picker/index.less
  packages/theme/src/picker/vars.less
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/date-range/src/pc.vue
  packages/vue/src/picker/src/pc.vue
Labels: enhancement

#2219 refactor(theme): [qr-code,text-popup,watemark,rate] refactor some com…
  examples/sites/demos/pc/app/text-popup/basic-usage.spec.ts
  packages/theme/src/base/vars.less
  packages/theme/src/bulletin-board/index.less
  packages/theme/src/bulletin-board/vars.less
  packages/theme/src/dept/index.less
  packages/theme/src/dept/vars.less
  packages/theme/src/drop-roles/vars.less
  packages/theme/src/espace/index.less
  packages/theme/src/espace/vars.less
  packages/theme/src/fullscreen/vars.less
  packages/theme/src/qr-code/index.less
  packages/theme/src/qr-code/vars.less
  packages/theme/src/rate/index.less
  packages/theme/src/rate/vars.less
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/skeleton/index.less
  packages/theme/src/skeleton/vars.less
  packages/theme/src/text-popup/index.less
  packages/theme/src/text-popup/vars.less
  packages/theme/src/watermark/index.less
  packages/theme/src/watermark/vars.less
Labels: refactoring

#2208 refactor(dropdown-menu): [dropdown] refactor DropdownMenu and DropdownItem vars and style
  examples/sites/demos/pc/app/dropdown/visible-arrow.spec.ts
  packages/renderless/src/dropdown-item/vue.ts
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/dropdown-item/vars.less
  packages/theme/src/dropdown-menu/index.less
  packages/theme/src/dropdown-menu/vars.less
  packages/vue/src/dropdown-item/src/pc.vue
Labels: refactoring

#2223 refactor(theme): refactor business comp theme vars
  packages/theme/src/amount/index.less
  packages/theme/src/amount/vars.less
  packages/theme/src/roles/index.less
  packages/theme/src/roles/vars.less
  packages/theme/src/user-account/index.less
  packages/theme/src/user-account/vars.less
  packages/theme/src/user-card/index.less
  packages/theme/src/user-card/vars.less
  packages/theme/src/user-contact/index.less
  packages/theme/src/user-contact/vars.less
  packages/theme/src/user-head/index.less
  packages/theme/src/user-head/vars.less
  packages/theme/src/user-link/index.less
  packages/theme/src/user-link/vars.less
  packages/theme/src/user/index.less
  packages/theme/src/user/vars.less
Labels: refactoring

#2224 refactor(action-menu): [action-menu] modify variable names and add refactor styles
  examples/sites/demos/pc/app/action-menu/disabled-composition-api.vue
  examples/sites/demos/pc/app/action-menu/disabled.spec.ts
  examples/sites/demos/pc/app/action-menu/disabled.vue
  examples/sites/demos/pc/app/action-menu/slot-item-composition-api.vue
  examples/sites/demos/pc/app/action-menu/slot-item.vue
  packages/theme/src/action-menu/index.less
  packages/theme/src/action-menu/vars.less
Labels: refactoring

#2210 feat(link-menu): [link-menu]modify smb theme
  examples/sites/demos/apis/link-menu.js
  examples/sites/demos/pc/app/link-menu/data-resource-composition-api.vue
  examples/sites/demos/pc/app/link-menu/data-resource.vue
  packages/theme/src/link-menu/index.less
  packages/theme/src/link-menu/vars.less
  packages/vue/src/link-menu/src/index.ts
  packages/vue/src/link-menu/src/pc.vue
Labels: enhancement
