Repository opentiny/tiny-vue, pull requests merged in 2024-07, with the labels that each got.

#1711 fix(popper): fix build error in vitepress
  packages/renderless/package.json
  packages/renderless/src/common/deps/popper.ts
Labels: bug

#1724 fix(grid): [grid] change custom components to tinyvue components to a…
  packages/theme/package.json
  packages/theme/src/grid/custom.less
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/custom.vue
Labels: bug, breaking-change

#1721 chore(fluent-editor): update package.json
  packages/fluent-editor/package.json
Labels: bug

#1717 fix(dropdown): [dropdown] fix dropdown error in virtual scrolling grid
  packages/renderless/src/dropdown-menu/index.ts
Labels: bug

#1745 fix(grid-toolbar): [grid] fix toolbar ref name error
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/custom.vue
Labels: bug

#1749 docs(changelog): update changelog and runtime doc
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/playground.html
  examples/sites/playground/App.vue
Labels: documentation

#1755 fix(breadcrumb): [breadcrumb] resolve delimiter issued
  packages/renderless/package.json
  packages/renderless/src/breadcrumb-item/vue.ts
Labels: bug

#1758 docs(sites): fix docs typo
  examples/sites/demos/apis/form.js
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/app/grid/webdoc/grid-pager.js
Labels: documentation

#1754 fix(docs): fix components number
  examples/sites/package.json
  examples/sites/src/views/overview.vue
Labels: bug

#1757 docs(fluent-editor): optimize demo/api docs
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/basic-usage.vue
  examples/sites/demos/pc/app/fluent-editor/data-switch-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/data-switch.vue
  examples/sites/demos/pc/app/fluent-editor/disabled-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/disabled.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.cn.md
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.en.md
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/demos/pc/menus.js
  examples/sites/package.json
  packages/fluent-editor/package.json
Labels: documentation

#1761 feat(tiny-vue-nuxt): [tiny-vue-nuxt] add tiny-vue-nuxt module and add…
  examples/tiny-vue-nuxt/.editorconfig
  examples/tiny-vue-nuxt/.gitignore
  examples/tiny-vue-nuxt/.npmrc
  examples/tiny-vue-nuxt/package.json
  examples/tiny-vue-nuxt/playground/app.vue
  examples/tiny-vue-nuxt/playground/nuxt.config.ts
  examples/tiny-vue-nuxt/playground/package.json
  examples/tiny-vue-nuxt/src/module.ts
Labels: enhancement, ospp-2024

#1762 feat(tabs): [tabs] Add new specification function
  examples/sites/demos/apis/tabs.js
  examples/sites/demos/pc/app/tabs/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tabs/basic-usage.vue
  examples/sites/demos/pc/app/tabs/size-composition-api.vue
  examples/sites/demos/pc/app/tabs/size.spec.ts
  examples/sites/demos/pc/app/tabs/size.vue
  examples/sites/demos/pc/app/tabs/tabs-second-layer-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-second-layer.vue
  examples/sites/demos/pc/app/tabs/tabs-separator-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-separator.vue
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/src/views/components/components.vue
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/smb-theme.js
  packages/theme/src/tabs/vars.less
  packages/theme/src/theme/smb-theme/index.js
  packages/vue/src/tabs/src/tab-nav/pc.vue
Labels: enhancement

#1764 feat(rich-text-editor): tiny-tiptap and some extension
  packages/tiny-tiptap/README.md
  packages/tiny-tiptap/package.json
  packages/tiny-tiptap/src/TiptapEditor.ts
  packages/tiny-tiptap/src/components/slash/index.ts
  packages/tiny-tiptap/src/extension/blockquote/index.ts
  packages/tiny-tiptap/src/extension/bold/index.ts
  packages/tiny-tiptap/src/extension/bullet-list/index.ts
  packages/tiny-tiptap/src/extension/code-block/index.ts
  packages/tiny-tiptap/src/extension/code-block/lowlight.ts
  packages/tiny-tiptap/src/extension/code/index.ts
  packages/tiny-tiptap/src/extension/color/index.ts
  packages/tiny-tiptap/src/extension/heading/index.ts
  packages/tiny-tiptap/src/extension/highlight/index.ts
  packages/tiny-tiptap/src/extension/history/index.ts
  packages/tiny-tiptap/src/extension/image/index.ts
  packages/tiny-tiptap/src/extension/index.ts
  packages/tiny-tiptap/src/extension/italic/index.ts
  packages/tiny-tiptap/src/extension/link/index.ts
  packages/tiny-tiptap/src/extension/ordered-list/index.ts
  packages/tiny-tiptap/src/extension/paragraph/index.ts
  packages/tiny-tiptap/src/extension/placeholder/index.ts
  packages/tiny-tiptap/src/extension/strike/index.ts
  packages/tiny-tiptap/src/extension/subscript/index.ts
  packages/tiny-tiptap/src/extension/supscript/index.ts
  packages/tiny-tiptap/src/extension/table/index.ts
  packages/tiny-tiptap/src/extension/task-list/index.ts
  packages/tiny-tiptap/src/extension/text-align/index.ts
  packages/tiny-tiptap/src/extension/text/index.ts
  packages/tiny-tiptap/src/extension/underline/index.ts
  packages/tiny-tiptap/src/index.ts
  packages/tiny-tiptap/tsconfig.json
  packages/tiny-tiptap/types/index.ts
Labels: enhancement, ospp-2024

#1782 docs(grid): add grid-column props docs
  examples/sites/demos/apis/grid.js
Labels: documentation

#1783 fix(breadcrumb): [breadcrumb] resolve the issue of separator not switching
  packages/renderless/package.json
  packages/renderless/src/breadcrumb-item/vue.ts
Labels: enhancement

#1551 feat(Switch): [switch] suppor custom open and close icon.
  examples/sites/demos/apis/switch.js
  examples/sites/demos/pc/app/switch/custom-open-close-icon-composition-api.vue
  examples/sites/demos/pc/app/switch/custom-open-close-icon.spec.ts
  examples/sites/demos/pc/app/switch/custom-open-close-icon.vue
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  packages/theme/src/switch/index.less
  packages/vue/src/switch/__tests__/switch.test.tsx
  packages/vue/src/switch/src/pc.vue
Labels: enhancement

#1732 docs(dialog-box): [dialog-box] update document
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
Labels: documentation

#1753 docs(numeric): [numeric]optimized docs of numeric component
  examples/sites/demos/apis/numeric.js
  examples/sites/demos/pc/app/numeric/numeric-size-composition-api.vue
  examples/sites/demos/pc/app/numeric/numeric-size.vue
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
Labels: documentation

#1768 fix(theme): when release theme, copy dist to _dist and replace cssvar…
  packages/theme/build/release.js
  packages/theme/package.json
Labels: enhancement

#1774 fix(auto-tip): [auto-tip] Fix the issue where the placement configuration always has old values
  packages/renderless/src/tooltip/vue.ts
  packages/vue-directive/src/auto-tip.ts
Labels: bug

#1784 feat(runtime): add directive runtime
  examples/sites/playground/App.vue
  internals/cli/src/commands/build/build-runtime.ts
Labels: enhancement

#1779 fix(rich-text-editor): [rich-text-editor] fix data binding doen't work
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.vue
  packages/renderless/src/rich-text-editor/vue.ts
Labels: bug

#1787 fix(playground): could not open playground as Composition mode
  examples/sites/src/views/components/demo.vue
Labels: bug

#1678 fix(picker): fix mobile breakpoint cannot use pc datepicker and timep…
  packages/renderless/src/picker/index.ts
  packages/renderless/src/picker/vue.ts
  packages/vue/src/picker/src/mobile-first.vue
Labels: bug

#1786 fix(fluent-editor): fix toolbar icon and undo/redo
  examples/sites/demos/pc/app/fluent-editor/fluent-editor-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/fluent-editor.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/package.json
  packages/fluent-editor/src/assets/font.scss
  packages/fluent-editor/src/assets/size.scss
  packages/fluent-editor/src/config/icons.config.ts
  packages/fluent-editor/src/custom-clipboard.ts
  packages/fluent-editor/src/fluent-editor.ts
Labels: bug

#1778 fix: fix layout asider layer error on mobile mode
  examples/sites/src/style.css
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/float-settings.vue
  examples/sites/src/views/layout/layout.vue
Labels: bug

#1686 fix(color-picker): [color-picker,color-select-panel] fix issue 1684
  examples/sites/demos/pc/app/color-picker/base.vue
  packages/renderless/src/color-picker/index.ts
  packages/renderless/src/color-picker/vue.ts
  packages/renderless/src/color-select-panel/index.ts
  packages/renderless/src/color-select-panel/vue.ts
  packages/vue/src/color-picker/package.json
  packages/vue/src/color-picker/src/pc.vue
Labels: bug

#1729 refactor(Grid): [grid]refactor the basic feature of TinyGrid Component
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/grid/grid/index.ts
  packages/renderless/src/grid/grid/vue.ts
  packages/renderless/src/grid/utils/common.ts
  packages/renderless/types/grid/grid.type.ts
  packages/renderless/types/index.ts
  packages/vue-common/src/breakpoint.ts
  packages/vue/src/grid/__tests__/grid.test.tsx
  packages/vue/src/grid/src/grid/index.ts
  packages/vue/src/grid/src/grid/src/pc.vue
  packages/vue/src/grid/src/index.ts
Labels: ospp-2024

#1792 fix(warning): fix all warning , fix dialog-box's visible ,default false
  examples/sites/demos/apis/dialog-box.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/vite.config.ts
Labels: documentation, enhancement

#1791 fix: fix Vue packages version mismatch
  internals/vite-plugin-template2jsx/package.json
Labels: bug

#1788 fix(fluent-editor): fix better-table module
  packages/fluent-editor/src/config.ts
  packages/fluent-editor/src/fluent-editor.ts
  packages/fluent-editor/src/table/modules/table-operation-menu.ts
Labels: bug

#1797 docs(button-group): add new slot api version
  examples/sites/demos/apis/button-group.js
Labels: documentation

#1794 feat(fluent-editor): optimize fluent-editor mobile-first
  examples/docs/newsrc/mobile-first.vue
  examples/sites/demos/mobile-first/app/fluent-editor/basic-usage.vue
  packages/renderless/src/fluent-editor/index.ts
  packages/renderless/src/fluent-editor/options.ts
  packages/renderless/src/fluent-editor/vue.ts
  packages/theme/src/fluent-editor/index.less
  packages/vue/src/fluent-editor/src/mobile-first.vue
Labels: enhancement

#1798 fix(form): [form] fix text validation style error in other size form …
  examples/sites/demos/pc/app/form/message-type-composition-api.vue
  examples/sites/demos/pc/app/form/message-type.vue
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
Labels: bug

#1789 fix(tree-menu): [tree-menu] Delete the prefix-icon attribute of the tree-menu component
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/custom-icon-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/custom-icon.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/vue/src/tree-menu/src/index.ts
  packages/vue/src/tree-menu/src/pc.vue
Labels: bug

#1802 fix(grid): fix grid click menu item jump to blank tab in playground c…
  packages/vue/src/grid/src/menu/src/children.ts
Labels: bug

#1803 fix(numeric): modify docs
  examples/sites/demos/apis/numeric.js
Labels: documentation
