Repository opentiny/tiny-vue, pull requests merged in 2024-04, with the labels that each got.

#1510 fix(vue-component): [mind-map] border-radius & border
  packages/theme/src/mind-map/index.less
  packages/vue/src/mind-map/index.ts
Labels: bug

#1522 docs(date-picker): [date-picker] fix format docs
  examples/sites/src/views/components/components.vue
Labels: documentation

#1519 fix(quarter-panel): [date-picker] add mono: true
  packages/vue/src/quarter-panel/src/pc.vue
Labels: bug

#1518 feat(grid): [grid] add XDesign theme
  packages/theme/src/grid/button.less
  packages/theme/src/grid/smb-theme.js
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
  packages/theme/src/tooltip/smb-theme.js
Labels: enhancement

#1516 docs(sites): add aui adapter document
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/aui-adapter-en.md
  examples/sites/demos/pc/webdoc/aui-adapter.md
Labels: documentation

#1517 ci(publish): add dispatch publish action
  .github/workflows/dispatch-renderless-theme-publish.yml
  .github/workflows/dispatch-ui-publish.yml
Labels: ci

#1528 fix(search): [search] fixed the maxlength attribute bug in search
  packages/vue/src/search/src/pc.vue
Labels: bug

#1535 fix(rich-text-editor): fix right package name
  packages/vue/src/rich-text-editor/src/extensions/image.ts
  packages/vue/src/rich-text-editor/src/image-view.vue
Labels: bug

#1533 fix(docs): fix the issue of the theme switch button not being centered
  examples/sites/src/views/layout/layout.vue
Labels: bug, documentation

#1537 docs: add v3.15.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
Labels: documentation

#1539 fix(sites): change tinyui-design-common script link
  examples/sites/index.html
Labels: bug

#1542 fix(grid): fix right fixed table header gutter style
  packages/theme/package.json
  packages/theme/src/grid/table.less
Labels: bug

#1541 docs: update vue-docs version
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: documentation

#1536 fix(grid): [grid] fix grid no emit filter-change bug
  examples/sites/playground/App.vue
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/filter/src/methods.ts
Labels: bug

#1544 docs: add v3.15.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: documentation

#1538 fix(action-menu): [action-menu] fix no divided bug
  examples/sites/demos/apis/action-menu.js
  examples/sites/demos/pc/app/action-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/index.html
  packages/renderless/types/action-menu.type.ts
  packages/vue/src/action-menu/package.json
  packages/vue/src/action-menu/src/pc.vue
Labels: bug

#1553 refactor(unplugin): rewrite unplugin for autoimport Vue components
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
Labels: enhancement

#1549 fix(tabs): [tabs] Fix the bug where the name is empty caused by using…
  packages/renderless/src/tabs/index.ts
Labels: bug

#1554 fix(modal): the width of the modal box can be displayed in the center as the browser window size changes
  examples/sites/demos/apis/modal.js
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  packages/renderless/src/modal/index.ts
  packages/vue/src/modal/src/pc.vue
Labels: bug

#1550 fix(dialog-box): [dialog-box] fix issue #1242
  packages/vue/src/dialog-box/__tests__/dialog-box.test.tsx
  packages/vue/src/dialog-box/src/pc.vue
Labels: bug

#1548 fix(carousel): [carousel] fix issue #1543
  packages/theme/src/carousel/index.less
Labels: bug

#1558 fix(tabs): [tabs] Fixed issue with default slot and template/v-if/v-for usage in vue2 and vue3
  packages/renderless/package.json
  packages/renderless/src/tabs/index.ts
  packages/vue/src/tabs/package.json
  packages/vue/src/tabs/src/tab-nav/pc.vue
Labels: bug

#1582 fix(theme-saas): update theme saas dependencies
  packages/theme-saas/src/index.less
  packages/theme-saas/src/mind-map/index.less
Labels: bug

#1578 fix(grid): [grid] fix nested grid context menu error
  packages/vue/src/grid/src/menu/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#1577 fix(skeleton): [skeleton] update document
  examples/sites/demos/apis/skeleton.js
Labels: documentation

#1580 fix(grid): [grid] fix simple custom setting selected value not match …
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#1569 fix(anchor): [anchor] Correcting Ambiguity in Anchor Document Descrip…
  examples/sites/demos/pc/app/anchor/is-affix-composition-api.vue
  examples/sites/demos/pc/app/anchor/is-affix.vue
Labels: documentation

#1574 fix(grid): [grid] fix remote filter default value
  examples/sites/demos/pc/app/grid/filter/server-filter-default-composition-api.vue
  examples/sites/demos/pc/app/grid/filter/server-filter-default.spec.js
  examples/sites/demos/pc/app/grid/filter/server-filter-default.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
  packages/vue/src/grid/src/filter/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#1592 docs: add description and keywords for seo
  examples/sites/index.html
Labels: documentation

#1562 docs: update changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: documentation

#1591 test(loading): add E2E test cases for mobile component
  examples/sites/demos/mobile/app/loading/background.spec.ts
  examples/sites/demos/mobile/app/loading/base.spec.ts
  examples/sites/demos/mobile/app/loading/custom-class.spec.ts
  examples/sites/demos/mobile/app/loading/global-regitstry.spec.ts
  examples/sites/demos/mobile/app/loading/size.spec.ts
  examples/sites/demos/mobile/app/loading/spinner.spec.ts
  examples/sites/demos/mobile/app/loading/spinner.vue
  examples/sites/demos/mobile/app/loading/tip-text.spec.ts
  examples/sites/demos/mobile/app/loading/webdoc/loading.js
Labels: e2e-test

#1590 fix(rich-text-editor): code overflow
  examples/sites/demos/pc/app/rich-text-editor/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.vue
Labels: bug

#1593 fix(grid): [grid] fix shadow-root does not have getAttribute function
  packages/renderless/src/grid/utils/dom.ts
Labels: bug

#1567 feat: 增加openinula模板转换脚本
  internals/cli/package.json
  internals/cli/public/template/openinula/index.ts
  internals/cli/public/template/openinula/package.json
  internals/cli/public/template/openinula/src/index.ts
  internals/cli/public/template/openinula/src/mobile-first.jsx
  internals/cli/public/template/openinula/src/mobile.jsx
  internals/cli/public/template/openinula/src/pc.jsx
  internals/cli/src/commands/build/build-entry-openinula.ts
  internals/cli/src/commands/build/build-ui-openinula.ts
  internals/cli/src/commands/build/index.ts
  internals/cli/src/commands/create/common-mapping-openinula.json
  internals/cli/src/commands/create/create-mapping-openinula.ts
  internals/cli/src/commands/create/create-ui-openinula.ts
  internals/cli/src/commands/create/index.ts
  internals/cli/src/index.ts
  package.json
  packages/openinula/README.md
  packages/openinula/index.ts
  packages/openinula/mobile-first.ts
  packages/openinula/mobile.ts
  packages/openinula/modules.json
  packages/openinula/package.json
  packages/openinula/pc.ts
  packages/openinula/src/badge/index.ts
  packages/openinula/src/badge/package.json
  packages/openinula/src/badge/src/index.ts
  packages/openinula/src/badge/src/mobile.jsx
  packages/openinula/src/badge/src/pc.jsx
  packages/openinula/src/button/index.ts
  packages/openinula/src/button/package.json
  packages/openinula/src/button/src/index.ts
  packages/openinula/src/button/src/mobile-first.jsx
  packages/openinula/src/button/src/mobile.jsx
  packages/openinula/src/button/src/pc.jsx
  packages/openinula/src/button/src/token.ts
  packages/openinula/src/common/src/fiber.ts
  packages/openinula/src/common/src/utils.ts
  packages/openinula/src/common/src/vm.ts
  packages/openinula/src/common/src/vue-instance.ts
  packages/openinula/src/switch/index.ts
  packages/openinula/src/switch/package.json
  packages/openinula/src/switch/src/index.ts
  packages/openinula/src/switch/src/mobile.jsx
  packages/openinula/src/switch/src/pc.jsx
Labels: enhancement

#1596 test(button-group): [button-group] Supplement button-group component test case
  packages/vue/src/button-group/__tests__/button-group.test.tsx
Labels: unit-test

#1589 fix[DatePicker]: [DatePicker]fix the tabindex's default value to 0
  packages/vue/src/date-picker/src/index.ts
Labels: bug

#1570 fix(modal): the modal prompt box is compatible with the position of titles and content icons
  packages/vue/src/modal/src/pc.vue
Labels: bug

#1584 fix(cascader): [cascader] add smb theme
  examples/sites/demos/pc/app/cascader/filterable-composition-api.vue
  examples/sites/demos/pc/app/cascader/filterable.vue
  packages/theme/src/cascader-node/smb-theme.js
Labels: enhancement

#1581 fix(checkbox): [checkbox,checkbutton] Improve Checkbox and CheckButton accessibility.
  packages/theme/src/checkbox-button/index.less
  packages/theme/src/checkbox/index.less
  packages/vue/src/checkbox-button/src/index.ts
  packages/vue/src/checkbox-button/src/pc.vue
  packages/vue/src/checkbox/src/index.ts
  packages/vue/src/checkbox/src/pc.vue
Labels: enhancement

#1586 fix(button & button-grounp): [button, button-group]improve the accessibility
  packages/theme/src/button-group/index.less
  packages/vue/src/button-group/src/pc.vue
  packages/vue/src/button/src/index.ts
Labels: enhancement

#1571 docs[Carousel]: [carousel] improve the document of Carousel Component
  examples/sites/demos/apis/carousel.js
  examples/sites/demos/pc/app/carousel/autoplay-composition-api.vue
  examples/sites/demos/pc/app/carousel/autoplay.vue
  examples/sites/demos/pc/app/carousel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/carousel/basic-usage.vue
  examples/sites/demos/pc/app/carousel/card-mode-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-mode.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.vue
  examples/sites/demos/pc/app/carousel/carousel-events-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-events.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/custom-height-composition-api.vue
  examples/sites/demos/pc/app/carousel/custom-height.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger-composition-api.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger.vue
  examples/sites/demos/pc/app/carousel/initial-index-composition-api.vue
  examples/sites/demos/pc/app/carousel/initial-index.vue
  examples/sites/demos/pc/app/carousel/manual-play-composition-api.vue
  examples/sites/demos/pc/app/carousel/manual-play.vue
  examples/sites/demos/pc/app/carousel/play-interval-composition-api.vue
  examples/sites/demos/pc/app/carousel/play-interval.vue
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel-composition-api.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel.vue
Labels: documentation
