Repository opentiny/tiny-vue, pull requests merged in 2024-10, with the labels that each got.

#2234 refactor(progress): [progress] refactor the progress theme
  packages/theme/src/mixins/progress.less
  packages/theme/src/progress/aurora-theme.js
  packages/theme/src/progress/index.less
  packages/theme/src/progress/old-theme.js
  packages/theme/src/progress/vars.less
Labels: refactoring

#2235 fix(button): add ghost's cssvars for button
  packages/theme/src/base/reset.less
  packages/theme/src/base/vars.less
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/float-button/index.less
Labels: bug

#2222 refactor(theme): [ip-address] refactor ip-address theme vars
  examples/sites/demos/pc/app/ip-address/size.spec.ts
  packages/theme/src/ip-address/index.less
  packages/theme/src/ip-address/vars.less
Labels: refactoring

#2225 fix(anchor): [anchor] Reconstruct the anchor theme.
  packages/theme/src/anchor/index.less
  packages/theme/src/anchor/old-theme.js
  packages/theme/src/anchor/vars.less
Labels: bug

#2232 refactor(select): [select] refactor theme vars for select
  examples/sites/demos/pc/app/select/events.spec.ts
  examples/sites/demos/pc/app/select/input-box-type.spec.ts
  packages/theme-saas/src/select/index.less
  packages/theme/src/select/index.less
  packages/theme/src/select/vars.less
  packages/vue/src/select/src/pc.vue
Labels: refactoring

#2206 feat(fall-menu): [fall-menu]modify smb theme
  packages/renderless/src/fall-menu/index.ts
  packages/renderless/src/fall-menu/vue.ts
  packages/renderless/types/fall-menu.type.ts
  packages/theme/src/fall-menu/index.less
  packages/theme/src/fall-menu/vars.less
  packages/vue/src/fall-menu/src/pc.vue
Labels: enhancement

#2229 refactor(badge): [badge] refactor badge theme vars
  examples/sites/demos/pc/app/badge/type.spec.ts
  examples/sites/demos/pc/app/link/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/link/basic-usage.vue
  examples/sites/demos/pc/app/link/custom-icon-composition-api.vue
  examples/sites/demos/pc/app/link/custom-icon.vue
  examples/sites/demos/pc/app/link/dynamic-disable-composition-api.vue
  examples/sites/demos/pc/app/link/dynamic-disable.vue
  examples/sites/demos/pc/app/link/focus-no-underline-composition-api.vue
  examples/sites/demos/pc/app/link/focus-no-underline.vue
  examples/sites/demos/pc/app/link/link-style-composition-api.vue
  examples/sites/demos/pc/app/link/link-style.vue
  examples/sites/demos/pc/app/link/size-composition-api.vue
  examples/sites/demos/pc/app/link/size.vue
  packages/theme/src/badge/index.less
  packages/theme/src/badge/vars.less
Labels: refactoring

#2233 refactor(milestone): [milestone] refactor the milestone theme.
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/custom-icon-slot.spec.ts
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/theme/src/milestone/aurora-theme.js
  packages/theme/src/milestone/index.less
  packages/theme/src/milestone/old-theme.js
  packages/theme/src/milestone/vars.less
Labels: refactoring

#2236 refactor(image): [image] refactor the image theme
  examples/sites/demos/pc/app/image/keep-style.spec.ts
  examples/sites/demos/pc/app/image/preview.spec.ts
  packages/theme/src/image-viewer/index.less
  packages/theme/src/image-viewer/vars.less
  packages/theme/src/image/index.less
  packages/theme/src/image/vars.less
Labels: refactoring

#2231 feat(card): Adapting to the SMB themes
  packages/theme/src/card/index.less
  packages/theme/src/card/vars.less
Labels: enhancement

#2240 refactor(alert): [alert] refactor Alert's css vars
  examples/sites/demos/apis/alert.js
  examples/sites/demos/pc/app/alert/basic-usage.spec.ts
  examples/sites/demos/pc/app/alert/size.spec.ts
  examples/sites/demos/pc/app/alert/slot-default-composition-api.vue
  examples/sites/demos/pc/app/alert/slot-default.vue
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/base/transition.less
  packages/theme/src/mixins/alert.less
  packages/theme/src/transition/alert-fade.less
Labels: refactoring

#2241 refactor(grid): [grid] refactor grid style
  examples/sites/demos/pc/app/grid/highlight/highlight-hover-column.spec.js
  examples/sites/src/views/components/components.vue
  packages/design/aurora/src/grid/index.ts
  packages/design/saas/src/grid/index.ts
  packages/design/smb/index.ts
  packages/design/smb/src/grid/index.ts
  packages/theme/src/grid/aurora-theme.js
  packages/theme/src/grid/body.less
  packages/theme/src/grid/button.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/custom-switch.less
  packages/theme/src/grid/custom.less
  packages/theme/src/grid/excel.less
  packages/theme/src/grid/filter.less
  packages/theme/src/grid/footer.less
  packages/theme/src/grid/grid.less
  packages/theme/src/grid/header.less
  packages/theme/src/grid/icon.less
  packages/theme/src/grid/input.less
  packages/theme/src/grid/loading.less
  packages/theme/src/grid/menu.less
  packages/theme/src/grid/mixins/button.less
  packages/theme/src/grid/mixins/icon.less
  packages/theme/src/grid/mixins/table.less
  packages/theme/src/grid/old-theme.js
  packages/theme/src/grid/radio.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
  packages/vue/src/grid-toolbar/src/index.ts
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/config.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: refactoring

#2237 refactor(theme): [drawer] refactor drawer theme vars
  packages/theme/src/base/vars.less
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/vars.less
Labels: refactoring

#2238 refactor(theme): [divider] refactor divider theme vars
  packages/theme/src/divider/index.less
  packages/theme/src/divider/vars.less
Labels: refactoring

#2239 refactor(theme): [statistic] refactor statisic theme vars
  packages/theme/src/statistic/index.less
  packages/theme/src/statistic/vars.less
Labels: refactoring

#2243 refactor(theme): [color-picker] refactor color-picker theme vars
  examples/sites/demos/pc/app/color-picker/size.spec.ts
  packages/theme/src/color-picker/index.less
  packages/theme/src/color-picker/vars.less
  packages/theme/src/color-select-panel/index.less
  packages/theme/src/color-select-panel/vars.less
  packages/vue/src/color-select-panel/package.json
  packages/vue/src/color-select-panel/src/pc.vue
Labels: refactoring

#2242 fix(select): [select] modifying the loading icon issue
  packages/vue/src/select/src/pc.vue
Labels: bug

#2247 fix(tree): [tree] remove __content-box dom, compact with AUI code
  examples/sites/demos/apis/tree.js
  packages/theme-saas/src/tree-menu/index.less
  packages/theme-saas/src/tree/index.less
  packages/theme/src/link-menu/index.less
  packages/theme/src/toggle-menu/index.less
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
  packages/vue/src/tree/src/tree-node.vue
Labels: bug

#2254 refactor(select): [select] refactor theme vars and style for select-dropdown/option/option-group
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/select/index.ts
  packages/theme/src/base/vars.less
  packages/theme/src/option-group/index.less
  packages/theme/src/option-group/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/vars.less
  packages/vue/src/base-select/src/mobile-first.vue
  packages/vue/src/base-select/src/pc.vue
  packages/vue/src/option/src/mobile-first.vue
  packages/vue/src/option/src/pc.vue
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/pc.vue
Labels: refactoring

#2249 fix(transfer): [transfer] update smb design
  examples/sites/demos/pc/app/transfer/nested-tree-composition-api.vue
  examples/sites/demos/pc/app/transfer/nested-tree.vue
  packages/theme/src/transfer/index.less
  packages/vue/src/transfer-panel/src/pc.vue
Labels: bug

#2261 refactor(steps): [steps, timeline] Refactoring the steps and timeline themes
  examples/sites/demos/apis/steps.js
  examples/sites/demos/pc/app/steps/advanced-steps-composition-api.vue
  examples/sites/demos/pc/app/steps/advanced-steps.spec.ts
  packages/theme/src/steps/aurora-theme.js
  packages/theme/src/steps/index.less
  packages/theme/src/steps/old-theme.js
  packages/theme/src/steps/vars.less
  packages/theme/src/theme/infinity-theme/component-vars.js
Labels: refactoring

#2246 fix(link-menu): fix link-menu theme vars
  packages/theme/src/link-menu/index.less
  packages/theme/src/link-menu/vars.less
Labels: bug

#2244 refactor(theme): [carousel] refactor carousel theme vars
  examples/sites/demos/pc/app/carousel/card-show.spec.ts
  packages/theme/src/carousel-item/index.less
  packages/theme/src/carousel-item/vars.less
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/vars.less
Labels: refactoring

#2257 refactor(theme): [tooltip] refactor tooltip theme vars
  packages/theme/src/tooltip/index.less
  packages/theme/src/tooltip/vars.less
Labels: refactoring

#2258 fix: fix error description of base vars
  packages/theme/src/base/vars.less
Labels: bug

#2259 refactor(theme): [popover] refactor popover theme vars
  packages/theme/src/popover/index.less
  packages/theme/src/popover/vars.less
Labels: refactoring

#2260 feat(checkbox): [checkbox] adapte checkbox saas theme and x-design theme
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
  packages/theme/src/mixins/checkbox.less
  packages/vue/src/checkbox/src/pc.vue
Labels: enhancement

#2263 refactor(autocomplete): [autocomplete] modify variable names and add …
  packages/theme/src/autocomplete/index.less
  packages/theme/src/autocomplete/vars.less
  packages/theme/src/base/vars.less
  packages/vue/src/autocomplete/src/pc.vue
Labels: refactoring

#2248 refactor(theme): [toggle-menu] refactor toggle-menu theme vars
  examples/sites/demos/pc/app/toggle-menu/automatic-filtering.spec.ts
  examples/sites/demos/pc/app/toggle-menu/drag-events.spec.ts
  examples/sites/demos/pc/app/toggle-menu/draggable.spec.ts
  packages/theme/src/toggle-menu/index.less
  packages/theme/src/toggle-menu/vars.less
Labels: refactoring

#2266 fix(docs): Fixes style issues with document anchors
  examples/react-site/src/views/components/componentsDetail.vue
  examples/sites/src/views/components/components.vue
Labels: bug

#2264 refactor(tag): [tag] refactor tag 's theme and demos
  examples/sites/demos/apis/tag.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/tag/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tag/basic-usage.spec.ts
  examples/sites/demos/pc/app/tag/basic-usage.vue
  examples/sites/demos/pc/app/tag/color-border-composition-api.vue
  examples/sites/demos/pc/app/tag/color-border.spec.ts
  examples/sites/demos/pc/app/tag/color-border.vue
  examples/sites/demos/pc/app/tag/content-composition-api.vue
  examples/sites/demos/pc/app/tag/content.spec.ts
  examples/sites/demos/pc/app/tag/content.vue
  examples/sites/demos/pc/app/tag/create-composition-api.vue
  examples/sites/demos/pc/app/tag/create.spec.ts
  examples/sites/demos/pc/app/tag/create.vue
  examples/sites/demos/pc/app/tag/size-composition-api.vue
  examples/sites/demos/pc/app/tag/size.spec.ts
  examples/sites/demos/pc/app/tag/size.vue
  examples/sites/demos/pc/app/tag/slot-default-composition-api.vue
  examples/sites/demos/pc/app/tag/slot-default.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/theme/src/tag/index.less
  packages/theme/src/tag/vars.less
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/pc.vue
Labels: refactoring

#2270 refactor(tabs): [tabs] refactor the Tabs Theme
  examples/sites/demos/pc/app/tabs/basic-usage.spec.ts
  examples/sites/demos/pc/app/tabs/size.spec.ts
  examples/sites/demos/pc/app/tabs/tab-style-bordercard.spec.ts
  examples/sites/demos/pc/app/tabs/tab-style-card.spec.ts
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/src/views/components/components.vue
  packages/theme/src/bulletin-board/index.less
  packages/theme/src/tabs/aurora-theme.js
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/old-theme.js
  packages/theme/src/tabs/vars.less
  packages/theme/src/theme/infinity-theme/component-vars.js
Labels: refactoring

#2272 fix(breadcrumb): [breadcrumb]modify demo of disable page redirection
  examples/sites/demos/pc/app/breadcrumb/base-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/base.vue
  examples/sites/demos/pc/app/breadcrumb/options-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/options.vue
  examples/sites/demos/pc/app/breadcrumb/separator-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/separator.vue
  examples/sites/demos/pc/app/breadcrumb/size-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/size.vue
  examples/sites/demos/pc/app/breadcrumb/slot-default-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/slot-default.spec.ts
  examples/sites/demos/pc/app/breadcrumb/slot-default.vue
Labels: bug

#2265 fix(radio): [radio] fix using aria-hidden="true" on focusable elements
  examples/sites/demos/pc/app/radio/default-slot.spec.ts
  examples/sites/demos/pc/app/radio/group-options.spec.ts
  examples/sites/demos/pc/app/radio/radio-events.spec.ts
  packages/vue/src/radio/src/pc.vue
Labels: bug

#2267 feat: remove toggle-menu and fall-menu from docs
  examples/sites/demos/pc/menus.js
Labels: enhancement

#2276 refactor(theme): [button-group] refactor button-group theme vars
  examples/sites/demos/apis/button-group.js
  examples/sites/demos/pc/app/button-group/basic-usage.spec.ts
  examples/sites/demos/pc/app/button-group/button-group-multiple.spec.ts
  examples/sites/demos/pc/app/button-group/disabled-composition-api.vue
  examples/sites/demos/pc/app/button-group/disabled.spec.ts
  examples/sites/demos/pc/app/button-group/disabled.vue
  examples/sites/demos/pc/app/button-group/show-edit-composition-api.vue
  examples/sites/demos/pc/app/button-group/show-edit.spec.ts
  examples/sites/demos/pc/app/button-group/show-edit.vue
  examples/sites/demos/pc/app/button-group/size-composition-api.vue
  examples/sites/demos/pc/app/button-group/size.spec.ts
  examples/sites/demos/pc/app/button-group/size.vue
  examples/sites/demos/pc/app/button-group/slot-default.spec.ts
  examples/sites/demos/pc/app/button-group/slot-empty.spec.ts
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
  packages/theme/src/base/vars.less
  packages/theme/src/button-group/index.less
  packages/theme/src/button-group/vars.less
  packages/theme/src/carousel/vars.less
  packages/vue/src/button-group/src/pc.vue
Labels: refactoring

#2274 fix(tabs): [tabs] modify tabs demo bug
  examples/sites/demos/pc/app/tabs/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tabs/basic-usage.spec.ts
  examples/sites/demos/pc/app/tabs/basic-usage.vue
  examples/sites/demos/pc/app/tabs/tabs-separator-composition-api.vue
  examples/sites/demos/pc/app/tabs/tabs-separator.vue
Labels: bug

#2273 refactor(link): [link] refactor the link theme
  examples/sites/demos/pc/app/link/basic-usage.spec.ts
  examples/sites/demos/pc/app/link/dynamic-disable.spec.ts
  examples/sites/demos/pc/app/link/link-style.spec.ts
  packages/theme/src/link/index.less
  packages/theme/src/link/vars.less
Labels: refactoring

#2275 refactor(time-select): [time-select] refactor the theme
  examples/sites/demos/pc/app/time-select/size-medium.spec.ts
  packages/theme/src/time-select/index.less
  packages/theme/src/time-select/vars.less
Labels: refactoring

#2280 refactor(drop-times): [drop-times] refactor the theme
  packages/theme/src/drop-times/index.less
  packages/theme/src/drop-times/vars.less
Labels: refactoring

#2278 fix: by monitoring the route, display the corresponding directory content in the left menu
  examples/sites/src/views/layout/layout.vue
Labels: bug

#2279 refactor(wizard): [wizard] refactor the Wizard Theme
  examples/sites/demos/pc/app/wizard/base-usage.spec.ts
  examples/sites/demos/pc/app/wizard/time-line-flow.spec.ts
  examples/sites/demos/pc/app/wizard/vertical.spec.ts
  packages/theme-saas/src/wizard/index.less
  packages/theme/src/mixins/wizard.less
  packages/theme/src/wizard/index.less
  packages/theme/src/wizard/old-theme.js
  packages/theme/src/wizard/vars.less
  packages/vue/src/wizard/__tests__/wizard.test.tsx
  packages/vue/src/wizard/src/pc.vue
Labels: refactoring

#2268 fix(grid): [grid] toolbar simple setting fix
  packages/vue/src/grid-toolbar/package.json
  packages/vue/src/grid-toolbar/src/index.ts
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#2282 refactor(popconfirm): [popconfirm] refactor theme vars
  packages/theme/src/popconfirm/index.less
  packages/theme/src/popconfirm/vars.less
Labels: refactoring

#2281 refactor(theme): [input] refactor textarea theme vars
  packages/theme/src/textarea/index.less
  packages/theme/src/textarea/vars.less
Labels: refactoring

#2277 refactor(theme): [loading] refactor loading theme vars
  packages/theme/src/loading/index.less
  packages/theme/src/loading/vars.less
Labels: refactoring

#2284 fix(pager): [pager] fix pager css vars default value error
  packages/theme/package.json
  packages/theme/src/pager/vars.less
Labels: bug

#2285 fix(grid): [grid] fix grid jsx default slot error
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/column/src/column.ts
Labels: bug

#2123 refactor(tree-menu): [tree-menu] refactor tree-menu thems vars
  examples/sites/demos/pc/app/tree-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/basic-usage.vue
  examples/sites/demos/pc/app/tree-menu/clearable.spec.ts
  examples/sites/demos/pc/app/tree-menu/default-expand-all-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/default-expand-all.vue
  examples/sites/demos/pc/app/tree-menu/default-expanded-keys-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/default-expanded-keys-highlight-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/default-expanded-keys-highlight.vue
  examples/sites/demos/pc/app/tree-menu/default-expanded-keys.vue
  examples/sites/demos/pc/app/tree-menu/draggable.spec.ts
  examples/sites/demos/pc/app/tree-menu/expand-on-click-node-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/expand-on-click-node.vue
  examples/sites/demos/pc/app/tree-menu/menu-collapsible.spec.ts
  examples/sites/demos/pc/app/tree-menu/props-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/show-checkbox-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/show-checkbox.vue
  examples/sites/demos/pc/app/tree-menu/show-filter-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/show-filter.vue
  examples/sites/demos/pc/app/tree-menu/show-number-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/show-number.vue
  examples/sites/demos/pc/app/tree-menu/text-ellipsis-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/text-ellipsis.vue
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
  packages/vue-locale/src/lang/zh-CN.ts
Labels: refactoring

#2288 refactor(theme): [filter-panel] refactor filter-panel theme vars
  examples/sites/demos/pc/app/filter-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/filter-panel/event.spec.ts
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/vars.less
  packages/theme/src/filter-panel/index.less
  packages/theme/src/filter-panel/vars.less
Labels: refactoring

#2289 refactor(theme): [file-upload] refactor file-upload theme vars
  examples/sites/demos/pc/app/file-upload/upload-file-list.spec.ts
  packages/theme/src/file-upload/index.less
  packages/theme/src/file-upload/vars.less
  packages/theme/src/upload-dragger/index.less
  packages/theme/src/upload-dragger/vars.less
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/vars.less
  packages/theme/src/upload/index.less
  packages/theme/src/upload/vars.less
Labels: refactoring

#2290 refactor(theme): [pop-upload] refactor pop-upload theme vars
  examples/sites/demos/pc/app/pop-upload/size.spec.ts
  packages/theme/src/pop-upload/index.less
  packages/theme/src/pop-upload/vars.less
Labels: refactoring

#2292 refactor(theme): [scroll-text] refactor scroll-text、scrollbar、tall-st…
  packages/theme/src/scroll-text/index.less
  packages/theme/src/scroll-text/vars.less
  packages/theme/src/scrollbar/index.less
  packages/theme/src/scrollbar/vars.less
  packages/theme/src/tall-storage/index.less
  packages/theme/src/tall-storage/vars.less
  packages/theme/src/top-box/index.less
  packages/theme/src/top-box/vars.less
Labels: refactoring

#2295 refactor(theme): [slider] refactor slider theme vars
  packages/theme/src/base/vars.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
Labels: refactoring

#2303 refactor(badge): [badge] refactor theme vars
  packages/theme/src/badge/index.less
  packages/theme/src/badge/vars.less
Labels: refactoring

#2300 fix(chart): Modify Chart Case
  examples/sites/demos/pc/app/chart/question/demo4-composition-api.vue
  examples/sites/demos/pc/app/chart/question/demo4.vue
  examples/sites/demos/pc/app/chart/webdoc/chart-autonavi-map.js
  examples/sites/demos/pc/app/chart/webdoc/chart.js
Labels: bug

#2301 refactor(tag): refactor fix lost css for button,tag
  examples/sites/demos/pc/app/tag/size-composition-api.vue
  examples/sites/demos/pc/app/tag/size.vue
  packages/theme/src/alert/index.less
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/tag/index.less
  packages/theme/src/tag/vars.less
  packages/theme/src/tree/index.less
  packages/vue/src/tree/src/tree-node.vue
Labels: refactoring

#2298 refactor(theme): [popeditor] refactor popeditor theme vars
  examples/sites/demos/pc/app/popeditor/size-composition-api.vue
  examples/sites/demos/pc/app/popeditor/size.vue
  packages/theme/src/popeditor/index.less
  packages/theme/src/popeditor/vars.less
Labels: refactoring

#2304 refactor(theme): refactor table theme vars
  packages/theme/src/table/index.less
  packages/theme/src/table/vars.less
Labels: refactoring

#2305 feat: remove float-button error style
  packages/theme/src/float-button/aurora-theme.js
  packages/theme/src/float-button/index.less
  packages/theme/src/float-button/old-theme.js
  packages/theme/src/float-button/vars.less
Labels: enhancement

#2308 fix(button-group): [button-group]fix button-group component style issues
  packages/vue/src/button-group/src/pc.vue
Labels: bug

#2307 fix(ip-address): fix ip-address and autocomplete component style issues
  examples/sites/demos/pc/app/autocomplete/slot-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/slot.vue
  packages/theme/src/ip-address/index.less
Labels: bug

#2306 fix(docs): [progress] The document is modified to meet the requirements of the new specifications.
  examples/sites/demos/pc/app/progress/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/progress/basic-usage.spec.ts
  examples/sites/demos/pc/app/progress/basic-usage.vue
  examples/sites/demos/pc/app/progress/custom-color-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-color.vue
  examples/sites/demos/pc/app/progress/custom-status-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-status.vue
  examples/sites/demos/pc/app/progress/format-text-composition-api.vue
  examples/sites/demos/pc/app/progress/format-text.vue
  examples/sites/demos/pc/app/progress/progress-status-composition-api.vue
  examples/sites/demos/pc/app/progress/progress-status.spec.ts
  examples/sites/demos/pc/app/progress/progress-status.vue
Labels: bug

#2313 feat(anchor): [anchor] Added additional anchor features and modified document issues such as icons found in the document.
  examples/sites/demos/apis/anchor.js
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
  packages/theme/src/anchor/index.less
  packages/theme/src/anchor/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Labels: enhancement

#2311 refactor(notify): [notify] refactor notify theme
  examples/sites/demos/apis/notify.js
  examples/sites/demos/pc/app/notify/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/notify/basic-usage.spec.ts
  examples/sites/demos/pc/app/notify/basic-usage.vue
  examples/sites/demos/pc/app/notify/message-composition-api.vue
  examples/sites/demos/pc/app/notify/message.spec.ts
  examples/sites/demos/pc/app/notify/message.vue
  examples/sites/demos/pc/app/notify/notify-events-composition-api.vue
  examples/sites/demos/pc/app/notify/notify-events.vue
  examples/sites/demos/pc/app/notify/position-composition-api.vue
  examples/sites/demos/pc/app/notify/position.spec.ts
  examples/sites/demos/pc/app/notify/position.vue
  examples/sites/demos/pc/app/notify/showClose-composition-api.vue
  examples/sites/demos/pc/app/notify/showClose.vue
  examples/sites/demos/pc/app/notify/showIcon-composition-api.vue
  examples/sites/demos/pc/app/notify/showIcon.vue
  examples/sites/demos/pc/app/notify/title-composition-api.vue
  examples/sites/demos/pc/app/notify/title.spec.ts
  examples/sites/demos/pc/app/notify/title.vue
  examples/sites/demos/pc/app/notify/type-composition-api.vue
  examples/sites/demos/pc/app/notify/type.vue
  examples/sites/demos/pc/app/notify/verticalOffset-composition-api.vue
  examples/sites/demos/pc/app/notify/verticalOffset.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
  packages/theme/src/notify/index.less
  packages/theme/src/notify/vars.less
  packages/vue/src/notify/index.ts
Labels: refactoring

#2314 fix(modal): fix demo which lost jsx
  examples/sites/demos/pc/app/modal/modal-fn-slots-composition-api.vue
Labels: bug

#2312 fix(button): [button]fix error css var
  examples/sites/demos/pc/app/button/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/button/basic-usage.vue
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/ghost.spec.ts
  examples/sites/demos/pc/app/button/ghost.vue
  packages/theme/src/button/vars.less
Labels: bug

#2271 refactor(tag-group): [tag-group] update tag-group theme
  examples/sites/demos/pc/app/tag-group/basic-usage.spec.js
  examples/sites/demos/pc/app/tag-group/more-composition-api.vue
  examples/sites/demos/pc/app/tag-group/more.vue
  examples/sites/demos/pc/app/tag-group/tag-group-effect-composition-api.vue
  examples/sites/demos/pc/app/tag-group/tag-group-effect.spec.js
  examples/sites/demos/pc/app/tag-group/tag-group-effect.vue
  examples/sites/demos/pc/app/tag-group/tag-group-event-composition-api.vue
  examples/sites/demos/pc/app/tag-group/tag-group-event.spec.js
  examples/sites/demos/pc/app/tag-group/tag-group-event.vue
  examples/sites/demos/pc/app/tag-group/tag-group-size-composition-api.vue
  examples/sites/demos/pc/app/tag-group/tag-group-size.spec.js
  examples/sites/demos/pc/app/tag-group/tag-group-size.vue
  examples/sites/demos/pc/app/tag-group/webdoc/tag-group.js
  packages/theme/src/tag-group/index.less
  packages/theme/src/tag-group/vars.less
  packages/vue/src/tag-group/src/pc.vue
Labels: refactoring

#2316 feat(fileupload): [file-upload] The fileupload example is added to adapt to the new specifications and fix the saas theme bug.
  examples/sites/demos/pc/app/file-upload/disabled-composition-api.vue
  examples/sites/demos/pc/app/file-upload/disabled.vue
  packages/theme-saas/src/upload-list/index.less
Labels: enhancement

#2320 refactor(transfer): [transfer] update css vars
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
Labels: refactoring

#2297 refactor(calendar-view): [calendar-view] refactor theme vars
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day.spec.ts
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/old-theme.js
  packages/theme/src/calendar-view/vars.less
  packages/vue/src/calendar-view/src/pc.vue
Labels: refactoring

#2302 refactor(floatbar): [floatbar] refactor theme vars
  examples/sites/demos/pc/app/floatbar/custom-style-composition-api.vue
  examples/sites/demos/pc/app/floatbar/custom-style.spec.ts
  examples/sites/demos/pc/app/floatbar/custom-style.vue
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Labels: refactoring

#2319 refactor(tree): [tree] refactor tree theme
  examples/sites/demos/pc/app/tree/filter-view.spec.ts
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
Labels: refactoring

#2315 feat(progress): [progress] The progress example is added to adapt to the new specifications and additional features.
  examples/sites/demos/pc/app/progress/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/progress/basic-usage.spec.ts
  examples/sites/demos/pc/app/progress/basic-usage.vue
  examples/sites/demos/pc/app/progress/custom-color-composition-api.vue
  examples/sites/demos/pc/app/progress/custom-color.spec.ts
  examples/sites/demos/pc/app/progress/custom-color.vue
  examples/sites/demos/pc/app/progress/format-text-composition-api.vue
  examples/sites/demos/pc/app/progress/format-text.spec.ts
  examples/sites/demos/pc/app/progress/format-text.vue
  examples/sites/demos/pc/app/progress/progress-type-circle-composition-api.vue
  examples/sites/demos/pc/app/progress/progress-type-circle.spec.ts
  examples/sites/demos/pc/app/progress/progress-type-circle.vue
  packages/theme/src/progress/vars.less
Labels: enhancement

#2323 refactor(calendar): [calendar] refactor theme vars
  packages/theme/src/calendar/index.less
  packages/theme/src/calendar/vars.less
Labels: refactoring

#2326 fix(notify): [notify] fix notify's demos
  examples/sites/demos/pc/app/notify/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/notify/basic-usage.vue
  examples/sites/demos/pc/app/notify/debounceDelay-composition-api.vue
  examples/sites/demos/pc/app/notify/debounceDelay.vue
  examples/sites/demos/pc/app/notify/duration-composition-api.vue
  examples/sites/demos/pc/app/notify/duration.spec.ts
  examples/sites/demos/pc/app/notify/duration.vue
  examples/sites/demos/pc/app/notify/showClose-composition-api.vue
  examples/sites/demos/pc/app/notify/showClose.vue
  examples/sites/demos/pc/app/notify/showIcon-composition-api.vue
  examples/sites/demos/pc/app/notify/showIcon.vue
  examples/sites/demos/pc/app/notify/type-composition-api.vue
  examples/sites/demos/pc/app/notify/type.vue
  examples/sites/demos/pc/app/notify/verticalOffset-composition-api.vue
  examples/sites/demos/pc/app/notify/verticalOffset.vue
Labels: bug

#2318 refactor(cascader): [cascader] refactor cascader's css vars
  examples/sites/demos/pc/app/cascader/auto-load-checkStrictly.spec.ts
  examples/sites/demos/pc/app/cascader/check-strictly.spec.ts
  packages/theme/src/cascader-menu/index.less
  packages/theme/src/cascader-menu/vars.less
  packages/theme/src/cascader-node/index.less
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/cascader-panel/index.less
  packages/theme/src/cascader-panel/vars.less
  packages/theme/src/cascader/index.less
  packages/theme/src/cascader/vars.less
Labels: refactoring

#2322 fix: delete useless comp entries and fix theme building errors
  examples/sites/demos/pc/menus.js
  packages/theme/build/release.js
  packages/theme/package.json
  packages/theme/src/index.less
Labels: bug

#2324 fix(dialog-box): [dialog-box] destoryOnClose transition
  packages/theme/src/dialog-box/index.less
Labels: bug

#2330 fix(time-picker): [time-picker] fixed a button style issue in the Sass theme
  packages/theme-saas/src/time-range/index.less
  packages/vue/src/time-range/src/pc.vue
  packages/vue/src/time/src/pc.vue
Labels: bug

#2332 docs: 删除smb配置以及相关依赖
  examples/docs/newsrc/pc.vue
  examples/docs/package.json
  examples/sites/package.json
  examples/sites/playground/App.vue
  examples/sites/src/tools/useTheme.js
  examples/vue2/package.json
  examples/vue3/package.json
  internals/cli/src/commands/build/build-ui.ts
  internals/cli/src/commands/create/commonMapping.json
  packages/design/smb/index.ts
  packages/design/smb/package.json
Labels: documentation

#2331 fix(dropdown): [dropdown] rename getTip api in dropdown-item; replace reset.less cssvars by --tv- vars
  packages/renderless/src/dropdown-item/index.ts
  packages/renderless/src/dropdown-item/vue.ts
  packages/theme/src/base/reset.less
  packages/theme/src/base/vars.less
  packages/theme/src/scrollbar/index.less
  packages/vue/src/dropdown-item/src/pc.vue
Labels: bug

#2333 fix(card): replace card-group,card-template components css-vars
  packages/theme/src/card-group/index.less
  packages/theme/src/card-group/vars.less
  packages/theme/src/card-item/index.less
  packages/theme/src/card-item/vars.less
  packages/theme/src/card-layout/index.less
  packages/theme/src/card-layout/vars.less
  packages/theme/src/card-template/index.less
  packages/theme/src/card-template/vars.less
  packages/theme/src/index.less
Labels: bug

#2335 feat(nav-menu): [nav-menu] updata nav-menu xdesign
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
Labels: enhancement

#2296 fix(autocomplete): [autocomplete] fix form validate error when select…
  packages/renderless/package.json
  packages/renderless/src/autocomplete/index.ts
  packages/renderless/src/autocomplete/vue.ts
  packages/vue/src/autocomplete/package.json
  packages/vue/src/autocomplete/src/pc.vue
Labels: bug

#2338 fix(theme): fix error css vars
  packages/theme/src/base/reset.less
  packages/theme/src/cascader-panel/vars.less
  packages/theme/src/grid/table.less
  packages/theme/src/search/index.less
  packages/theme/src/select-dropdown/vars.less
Labels: bug

#2340 refactor(date-picker): [date-picker] modify variable names and styles for date-picker
  packages/renderless/src/picker/index.ts
  packages/theme/src/base/vars.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/date-panel/vars.less
  packages/theme/src/date-picker/index.less
  packages/theme/src/date-picker/vars.less
  packages/theme/src/date-range/index.less
  packages/theme/src/date-range/vars.less
  packages/theme/src/date-table/index.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/month-table/index.less
  packages/theme/src/month-table/vars.less
  packages/theme/src/picker/index.less
  packages/theme/src/picker/vars.less
  packages/theme/src/quarter-panel/index.less
  packages/theme/src/quarter-panel/vars.less
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-range/index.less
  packages/theme/src/time-range/vars.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/time-spinner/vars.less
  packages/theme/src/year-table/index.less
  packages/theme/src/year-table/vars.less
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/date-range/src/pc.vue
  packages/vue/src/month-range/src/pc.vue
  packages/vue/src/picker/src/pc.vue
  packages/vue/src/time-range/src/pc.vue
  packages/vue/src/time/src/pc.vue
  packages/vue/src/year-range/src/pc.vue
Labels: refactoring

#2328 refactor(theme): [hrapprover] refactor hrapprover theme vars
  packages/theme/src/hrapprover/index.less
  packages/theme/src/hrapprover/vars.less
Labels: refactoring

#2341 fix(input): [input] fix input disabled border style
  packages/theme/src/textarea/index.less
  packages/theme/src/textarea/vars.less
Labels: bug

#2343 refactor(dropdown/action-menu): [dropdown,action-menu] refactor styles for drodpwn
  packages/theme/src/action-menu/index.less
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
Labels: refactoring

#2344 fix(icon): [steps] The size of the steps icon is modified to adapt to the new specifications.
  examples/sites/demos/pc/app/icon/iconGroups.js
  packages/theme/src/steps/index.less
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#2342 feat: add hyperlinks to the menu, support right-click to open the page
  examples/sites/src/views/layout/layout.vue
Labels: enhancement

#2347 fix(button): [button] solve the problem of uneven button graphics when mixing
  packages/theme/src/button/index.less
  packages/theme/src/modal/index.less
Labels: bug

#2346 refactor(rich-text-editor): refactor rich-text-editor style
  packages/theme/src/rich-text-editor/index.less
  packages/theme/src/rich-text-editor/vars.less
Labels: refactoring

#2348 feat(button): [button] Check and modify issues
  examples/sites/demos/apis/button.js
  examples/sites/demos/pc/app/button/autofocus-composition-api.vue
  examples/sites/demos/pc/app/button/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/button/click-composition-api.vue
  examples/sites/demos/pc/app/button/dynamic-disabled-composition-api.vue
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/icon-composition-api.vue
  examples/sites/demos/pc/app/button/image-composition-api.vue
  examples/sites/demos/pc/app/button/loading-composition-api.vue
  examples/sites/demos/pc/app/button/loading.spec.ts
  examples/sites/demos/pc/app/button/loading.vue
  examples/sites/demos/pc/app/button/reset-time-composition-api.vue
  examples/sites/demos/pc/app/button/size-composition-api.vue
  examples/sites/demos/pc/app/button/size.vue
  examples/sites/demos/pc/app/button/text-composition-api.vue
  examples/sites/demos/pc/app/button/webdoc/button.js
Labels: enhancement

#2349 feat(container): [container] Check and modify issues
  examples/sites/demos/pc/app/container/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/container/basic-usage.vue
  examples/sites/demos/pc/app/container/custom-with-height-composition-api.vue
  examples/sites/demos/pc/app/container/webdoc/container.js
Labels: enhancement

#2351 feat(link): [link] Check and modify issues
  examples/sites/demos/pc/app/link/config-href-composition-api.vue
  examples/sites/demos/pc/app/link/config-href.vue
  examples/sites/demos/pc/app/link/custom-icon-composition-api.vue
  examples/sites/demos/pc/app/link/custom-icon.vue
Labels: enhancement

#2354 fix(chart): modify chart packages
  internals/cli/src/commands/build/build-chart-theme.ts
Labels: bug

#2355 fix(grid): [grid] fix x-design theme style
  examples/sites/demos/apis/grid.js
  packages/theme/src/grid/custom.less
  packages/theme/src/grid/menu.less
  packages/theme/src/grid/mixins/table.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
Labels: bug

#2350 feat(fluent-editor): export default toolbar
  packages/renderless/src/fluent-editor/options.ts
  packages/vue/src/fluent-editor/src/index.ts
Labels: enhancement

#2358 refactor: replace all ti-common css var
  packages/theme-mobile/src/mixins/input.less
  packages/theme-saas/src/mixins/input.less
  packages/theme/src/card-template/index.less
  packages/theme/src/card-template/vars.less
  packages/theme/src/date-table/index.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/form/index.less
  packages/theme/src/grid/excel.less
  packages/theme/src/grid/icon.less
  packages/theme/src/grid/input.less
  packages/theme/src/grid/menu.less
  packages/theme/src/link-menu/index.less
  packages/theme/src/mixins/button.less
  packages/theme/src/mixins/input.less
  packages/theme/src/mixins/tip.less
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
  packages/theme/src/popeditor/index.less
  packages/theme/src/popeditor/vars.less
  packages/theme/src/slide-img/index.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload/index.less
  packages/theme/src/user-contact/index.less
  packages/theme/src/user-contact/vars.less
  packages/theme/src/user-head/index.less
  packages/theme/src/user-head/vars.less
  packages/theme/src/wizard/index.less
Labels: refactoring

#2359 feat(button-group): [button-group] Check and modify issues
  examples/sites/demos/pc/app/button-group/sup-composition-api.vue
  examples/sites/demos/pc/app/button-group/sup.vue
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
Labels: enhancement

#2362 fix(fluent-editor): fix fluent-editor style.css
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Labels: bug

#2361 fix(cascader): [ cascader] fix active-node 's color and font-weight
  packages/theme/src/cascader-node/vars.less
Labels: bug

#2370 fix(fluent-editor): fix export defaultToolbar error
  packages/vue/src/fluent-editor/index.ts
  packages/vue/src/fluent-editor/package.json
  packages/vue/src/fluent-editor/src/index.ts
Labels: bug

#2367 fix(anchor): [anchor] Adapting to the new specifications of the anchor point dot mode
  packages/theme/src/anchor/index.less
Labels: bug

#2376 fix(carousel): [carousel] modify carousel style
  packages/theme/src/carousel/index.less
Labels: bug

#2379 fix(icon): [icon] restore title demo
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/icon/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/basic-usage.spec.js
  examples/sites/demos/pc/app/icon/basic-usage.vue
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
Labels: bug

#2371 fix(search): [search] Cancel the border of the search drop-down list box according to the specifications.
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
Labels: bug, suggestion

#2375 fix(user-contact): [user-contact] modify demo of console warning
  examples/sites/demos/pc/app/user-contact/contact-espace-composition-api.vue
Labels: bug, documentation

#2373 fix(wizard): [wizard] Fix review issues
  examples/sites/demos/pc/app/wizard/base-usage.spec.ts
  packages/theme/src/wizard/index.less
  packages/theme/src/wizard/vars.less
Labels: bug

#2381 fix(milestone): [milestone] Fix review issues
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/basic-usage.vue
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/theme/src/milestone/index.less
Labels: bug

#2380 fix(button): [button]set svg size when button is only icon
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Labels: bug

#2364 fix(drawer): [drawer] modify the problem that the before-close method is triggered upon page loading is solved
  examples/sites/demos/pc/app/drawer/before-close.spec.ts
  packages/renderless/src/drawer/index.ts
Labels: bug

#2368 fix(popupload): [pop-upload]Fixed popupload review issues.
  examples/sites/demos/pc/app/pop-upload/upload-tip-composition-api.vue
  examples/sites/demos/pc/app/pop-upload/upload-tip.vue
  packages/theme/src/pop-upload/index.less
Labels: bug

#2365 fix(chart): modify chart package
  internals/cli/src/commands/build/build-chart-theme.ts
Labels: bug

#2382 fix(dialog-box): [dialog-box] modify dialog-box of demo design bug
  examples/sites/demos/pc/app/dialog-box/hidden-header-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/hidden-header.vue
  examples/sites/demos/pc/app/dialog-box/lock-scroll-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/lock-scroll.vue
Labels: bug

#2366 feat(docs): the official website adds API anchor function
  examples/sites/src/views/components/components.vue
Labels: enhancement

#2372 fix(input): [input] fix input remembers the input history and does no…
  examples/sites/demos/pc/app/input/display-only-popup-more-composition-api.vue
  packages/renderless/src/tall-storage/index.ts
Labels: bug

#2377 fix(split): [split] fix split error apis
  examples/sites/demos/apis/split.js
  packages/theme/src/split/index.less
Labels: bug

#2384 feat(autocomplete): [autocomplete] update autocomplete demos
  examples/sites/demos/pc/app/autocomplete/size-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/size.spec.ts
  examples/sites/demos/pc/app/autocomplete/size.vue
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
Labels: enhancement

#2383 refactor(time-spinner): [date-picker] roll back some styles for time-spinner
  packages/theme/src/time-panel/index.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/index.less
  packages/theme/src/time-spinner/vars.less
Labels: refactoring

#2385 fix(drawer): [drawer] modify drawer demo of design
  examples/sites/demos/pc/app/drawer/confirm-event.vue
  examples/sites/demos/pc/app/drawer/dragable-composition-api.vue
  examples/sites/demos/pc/app/drawer/dragable.vue
  examples/sites/demos/pc/app/drawer/events-composition-api.vue
  examples/sites/demos/pc/app/drawer/events.vue
  examples/sites/demos/pc/app/drawer/header-right-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-right-slot.vue
  examples/sites/demos/pc/app/drawer/header-slot-composition-api.vue
  examples/sites/demos/pc/app/drawer/header-slot.vue
  examples/sites/demos/pc/app/drawer/mask-closable-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask-closable.vue
  examples/sites/demos/pc/app/drawer/mask-composition-api.vue
  examples/sites/demos/pc/app/drawer/mask.vue
  examples/sites/demos/pc/app/drawer/placement-composition-api.vue
  examples/sites/demos/pc/app/drawer/placement.vue
  examples/sites/demos/pc/app/drawer/show-close-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-close.vue
  examples/sites/demos/pc/app/drawer/show-header-composition-api.vue
  examples/sites/demos/pc/app/drawer/show-header.vue
  examples/sites/demos/pc/app/drawer/use-through-method-composition-api.vue
  examples/sites/demos/pc/app/drawer/use-through-method.vue
  examples/sites/demos/pc/app/drawer/width-composition-api.vue
  examples/sites/demos/pc/app/drawer/width.vue
  examples/sites/demos/pc/app/drawer/z-index-composition-api.vue
  examples/sites/demos/pc/app/drawer/z-index.vue
Labels: bug

#2386 feat(date-picker): [date-picker]Optimize case display and fix style i…
  examples/sites/demos/pc/app/date-picker/align-composition-api.vue
  examples/sites/demos/pc/app/date-picker/align.vue
  examples/sites/demos/pc/app/date-picker/date-range-composition-api.vue
  examples/sites/demos/pc/app/date-picker/date-range.vue
  examples/sites/demos/pc/app/date-picker/events-composition-api.vue
  examples/sites/demos/pc/app/date-picker/events.vue
  examples/sites/demos/pc/app/date-picker/now-composition-api.vue
  examples/sites/demos/pc/app/date-picker/now.vue
  examples/sites/demos/pc/app/date-picker/timezone-composition-api.vue
  packages/theme/src/date-table/index.less
Labels: enhancement

#2388 feat(anchor): [anchor] add top-offset props
  packages/renderless/src/anchor/index.ts
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Labels: enhancement

#2389 fix(modal): [modal] modify design style
  packages/theme/src/modal/vars.less
Labels: bug

#2391 docs: fix demo anchor position not correct
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/src/menus.jsx
  examples/sites/src/router.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
Labels: documentation

#2390 fix(icon): [icon] added the content of the show-title example
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.spec.ts
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/icon/webdoc/icon.js
  packages/theme/build/release.js
  packages/theme/src/button/vars.less
Labels: bug

#2394 refactor: [anchor] rename topOffset and reverse judge condition
  packages/renderless/src/anchor/index.ts
  packages/renderless/src/anchor/vue.ts
  packages/renderless/types/anchor.type.ts
  packages/vue/src/anchor/src/index.ts
  packages/vue/src/anchor/src/pc.vue
Labels: refactoring

#2397 fix(checkbox): [checkbox] fixed change event bubbling caused it to be…
  packages/vue/src/checkbox/src/mobile-first.vue
  packages/vue/src/checkbox/src/mobile.vue
  packages/vue/src/checkbox/src/pc.vue
Labels: bug

#2396 refactor(transfer): [transfer] refactor transfer by checkbox
  examples/sites/demos/pc/app/transfer/custom-titles-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-titles.spec.ts
  examples/sites/demos/pc/app/transfer/custom-titles.vue
  packages/theme/src/transfer/index.less
  packages/vue/src/transfer-panel/src/pc.vue
Labels: refactoring

#2393 fix(notify): [notify] add manual close demo for notify
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/notify/manual-close-composition-api.vue
  examples/sites/demos/pc/app/notify/manual-close.spec.ts
  examples/sites/demos/pc/app/notify/manual-close.vue
  examples/sites/demos/pc/app/notify/webdoc/notify.js
Labels: bug

#2398 fix(build): fix build theme error
  packages/theme/src/top-box/index.less
Labels: bug

#2399 refactor(base-select): [base-select] refactor vars for base-select
  packages/theme/src/base-select/index.less
  packages/theme/src/base-select/vars.less
  packages/vue/src/base-select/src/pc.vue
Labels: refactoring

#2395 fix(theme): Fixed an issue where some global styles become invalid when a theme is switched using an alias.
  packages/theme/build/edit‐dir‐theme.js
  packages/theme/package.json
Labels: bug

#2403 refactor(theme-doc): add ThemeTools docs
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/src/assets/custom-block.less
  packages/theme/src/theme-tool.d.ts
  packages/theme/src/theme-tool.js
Labels: refactoring

#2405 fix(user-contact): fix background-color of user-contact's header
  packages/theme/src/user-contact/vars.less
Labels: bug

#2407 fix(e2e): [time-line] Fixing Test Cases
  examples/sites/demos/pc/app/time-line/status.spec.ts
Labels: bug, e2e-test

#2387 doc: 修复网站中引入组件部分示例代码错误问题
  examples/sites/demos/pc/webdoc/import-components.md
Labels: documentation

#2404 fix(cascader): [cascader] add designConfig for tag's type
  examples/sites/demos/pc/app/cascader/slot.spec.ts
  packages/design/saas/index.ts
  packages/design/saas/src/cascader/index.ts
  packages/renderless/src/cascader/vue.ts
  packages/vue/src/cascader/src/pc.vue
Labels: bug

#2410 feat(tree-menu,skeleton): [tree-menu,skeleton] modify testing issues
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
  packages/theme/src/skeleton-item/index.less
  packages/theme/src/tree-menu/index.less
Labels: enhancement

#2411 fix(docs): Fixed an issue with the loading level of the document.
  examples/sites/src/style.css
  examples/sites/src/views/components/components.vue
Labels: bug

#2412 fix(search): [search] Fixed an issue where search is disabled can be deleted.
  packages/vue/src/search/src/pc.vue
Labels: bug

#2204 feat(tree): virtual scroll/node operation
  examples/sites/demos/apis/virtual-scroll.js
  examples/sites/demos/pc/app/tree/virtual-drag-node.vue
  examples/sites/demos/pc/app/tree/virtual-filter.vue
  examples/sites/demos/pc/app/tree/virtual-node-op.vue
  examples/sites/demos/pc/app/tree/webdoc/tree.js
  examples/sites/demos/pc/app/virtual-scroll/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/basic-usage.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/dynamic-height.vue
  examples/sites/demos/pc/app/virtual-scroll/show-status-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/show-status.vue
  examples/sites/demos/pc/app/virtual-scroll/specified-item-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll/specified-item.vue
  examples/sites/demos/pc/app/virtual-scroll/webdoc/virtual-scroll.js
  packages/renderless/src/common/deps/tree-model/tree-store.ts
  packages/renderless/src/tree/index.ts
  packages/renderless/src/tree/vue.ts
  packages/renderless/src/virtual-scroll/index.ts
  packages/renderless/src/virtual-scroll/vue.ts
  packages/vue/src/tree/src/pc.vue
  packages/vue/src/virtual-scroll/index.ts
  packages/vue/src/virtual-scroll/package.json
Labels: enhancement, ospp-2024

#2227 feat(tree): API word
  examples/sites/demos/apis/tree.js
  examples/sites/demos/pc/app/tree/virtual-drag-node-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-drag-node.spec.ts
  examples/sites/demos/pc/app/tree/virtual-drag-node.vue
  examples/sites/demos/pc/app/tree/virtual-filter-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-filter.spec.ts
  examples/sites/demos/pc/app/tree/virtual-filter.vue
  examples/sites/demos/pc/app/tree/virtual-node-op-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-node-op.spec.ts
  examples/sites/demos/pc/app/tree/virtual-node-op.vue
  examples/sites/demos/pc/app/tree/virtual-tree-composition-api.vue
  examples/sites/demos/pc/app/tree/virtual-tree.spec.ts
  examples/sites/demos/pc/app/tree/virtual-tree.vue
  examples/sites/demos/pc/app/tree/webdoc/tree.js
Labels: documentation, ospp-2024

#2417 fix(theme): remove oldTheme's DOCS
  examples/sites/demos/pc/webdoc/theme.md
Labels: documentation

#2414 fix(anchor): [anchor] fix parent anchor no divider
  packages/theme/src/anchor/index.less
Labels: bug

#2418 fix(time-picker): [time-picker] Style optimization
  examples/sites/demos/pc/app/time-picker/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/time-picker/basic-usage.vue
  examples/sites/demos/pc/app/time-picker/clearable-composition-api.vue
  examples/sites/demos/pc/app/time-picker/clearable.vue
  examples/sites/demos/pc/app/time-picker/default-value-composition-api.vue
  examples/sites/demos/pc/app/time-picker/default-value.vue
  examples/sites/demos/pc/app/time-picker/disabled-composition-api.vue
  examples/sites/demos/pc/app/time-picker/disabled.vue
  examples/sites/demos/pc/app/time-picker/editable-composition-api.vue
  examples/sites/demos/pc/app/time-picker/editable.vue
  examples/sites/demos/pc/app/time-picker/event-composition-api.vue
  examples/sites/demos/pc/app/time-picker/event.vue
  examples/sites/demos/pc/app/time-picker/format-composition-api.vue
  examples/sites/demos/pc/app/time-picker/format.vue
  examples/sites/demos/pc/app/time-picker/is-range-composition-api.vue
  examples/sites/demos/pc/app/time-picker/is-range.vue
  examples/sites/demos/pc/app/time-picker/name-composition-api.vue
  examples/sites/demos/pc/app/time-picker/name.vue
  examples/sites/demos/pc/app/time-picker/picker-options-composition-api.vue
  examples/sites/demos/pc/app/time-picker/picker-options.vue
  examples/sites/demos/pc/app/time-picker/placeholder-composition-api.vue
  examples/sites/demos/pc/app/time-picker/placeholder.vue
  examples/sites/demos/pc/app/time-picker/popper-class-composition-api.vue
  examples/sites/demos/pc/app/time-picker/popper-class.vue
  examples/sites/demos/pc/app/time-picker/size-composition-api.vue
  examples/sites/demos/pc/app/time-picker/size.vue
  examples/sites/demos/pc/app/time-picker/step-composition-api.vue
  examples/sites/demos/pc/app/time-picker/step.vue
  examples/sites/demos/pc/app/time-picker/suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/time-picker/suffix-icon.vue
Labels: bug

#2419 fix(crop): [crop]modify crops component demo problem
  examples/sites/demos/pc/app/crop/min-crop-box-width-height-composition-api.vue
  examples/sites/demos/pc/app/crop/min-crop-box-width-height.spec.ts
  examples/sites/demos/pc/app/crop/min-crop-box-width-height.vue
  packages/theme/src/crop/index.less
Labels: bug

#2420 fix(drawer): [drawer] modify demo
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/width-composition-api.vue
  examples/sites/demos/pc/app/drawer/width.vue
Labels: bug
