Repository opentiny/tiny-vue, pull requests merged in 2024-11, with the labels that each got.

#2470 fix(tree): [button,tree] update tree demos and the plain button's border color
  examples/sites/demos/pc/app/tree/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree/basic-usage.vue
  examples/sites/demos/pc/app/tree/edit-composition-api.vue
  examples/sites/demos/pc/app/tree/edit.vue
  examples/sites/demos/pc/app/tree/other-composition-api.vue
  examples/sites/demos/pc/app/tree/other.vue
  examples/sites/demos/pc/app/tree/slot-composition-api.vue
  examples/sites/demos/pc/app/tree/slot.vue
  packages/theme/src/button/vars.less
  packages/vue/src/tree/src/pc.vue
Labels: bug

#2472 fix(dialog-box): [dialog-box] modify demo
  examples/sites/demos/apis/dialog-box.js
  examples/sites/demos/pc/app/dialog-box/dialog-width-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/dialog-width.spec.ts
  examples/sites/demos/pc/app/dialog-box/dialog-width.vue
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
Labels: bug

#2483 docs: optimize i18n docs
  examples/sites/demos/pc/webdoc/i18n.md
Labels: documentation

#2469 chore(playground): update latest version
  examples/sites/package.json
  examples/sites/playground/App.vue
Labels: chore

#2484 fix(drawer): [drawer] modify height props,setting the height of the left and right sliders
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/dragable-composition-api.vue
  examples/sites/demos/pc/app/drawer/dragable.vue
  examples/sites/demos/pc/app/drawer/placement-composition-api.vue
  examples/sites/demos/pc/app/drawer/placement.vue
  packages/vue/src/drawer/src/index.ts
  packages/vue/src/drawer/src/pc.vue
Labels: bug

#2482 fix: [virtual-scroll-box] fixed the wrong class and horizontal scrol…
  examples/sites/demos/pc/app/virtual-tree/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/virtual-tree/basic-usage.vue
  packages/vue/src/virtual-scroll-box/src/pc.vue
  packages/vue/src/virtual-tree/src/pc.vue
Labels: bug

#2497 fix(tabs): [tabs] Optimize the tabs document
  examples/sites/demos/pc/app/tabs/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tabs/basic-usage.vue
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Labels: bug

#2504 fix(input): [input] fix input container 1px higher than input
  packages/theme/src/input/index.less
Labels: bug

#2501 fix(tree): [tree] fix parent node toggle when click child node margin
  packages/renderless/src/tree-node/index.ts
  packages/vue/src/tree/package.json
  packages/vue/src/tree/src/tree-node.vue
Labels: bug

#2496 feat(card): Simplification and optimization of card components
  examples/sites/demos/apis/card.js
  examples/sites/demos/pc/app/card/custom-class-composition-api.vue
  examples/sites/demos/pc/app/card/custom-class.vue
  examples/sites/demos/pc/app/card/webdoc/card.js
  packages/theme/src/card/index.less
Labels: enhancement

#2506 fix(site): fix scroll bugs
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/layout/layout.vue
Labels: bug

#2509 feat(grid-select): [grid-select] add grid select component and implement single/multiple select features
  examples/sites/demos/apis/grid-select.js
  examples/sites/demos/pc/app/grid-select/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/grid-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/grid-select/basic-usage.vue
  examples/sites/demos/pc/app/grid-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/grid-select/multiple.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.cn.md
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.en.md
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  examples/sites/demos/pc/menus.js
  examples/sites/src/views/components/cmp-config.js
  packages/modules.json
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
  packages/vue/package.json
  packages/vue/src/grid-select/index.ts
  packages/vue/src/grid-select/package.json
  packages/vue/src/grid-select/src/pc.vue
Labels: enhancement

#2510 fix(docs): fix the wrong filename
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
Labels: bug

#2500 fix(tree-select): [tree-select] fix tree-select can't load data dynamically close #2287
  packages/renderless/src/tree-select/vue.ts
Labels: bug

#2415 fix(time-select): [time-select]After manually modifying the time, the initial time cannot be selected again.
  packages/renderless/src/time-panel/vue.ts
Labels: bug

#2492 fix(transfer): [transfer] fix drag 2 item to right when set filterable=true
  packages/renderless/package.json
  packages/renderless/src/transfer/index.ts
  packages/renderless/src/transfer/vue.ts
Labels: bug

#2431 style(action-menu): misspelled word
  examples/sites/demos/mobile-first/app/dialog-box/basic-usage.vue
  packages/theme/src/action-menu/index.less
  packages/vue/src/action-menu/src/pc.vue
Labels: documentation

#2522 refactor(base-select): [base-select] remove tree/grid code from base-select
  examples/sites/demos/pc/app/base-select/size.spec.ts
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
Labels: refactoring

#2524 feat(input): [input,date-picker] adapt input date-picker to the old theme style
  examples/sites/demos/apis/input.js
  packages/theme-saas/src/picker/index.less
  packages/theme/src/base/index.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/input/index.less
  packages/theme/src/input/vars.less
  packages/theme/src/picker/index.less
  packages/theme/src/transition/icon.less
  packages/vue/src/picker/src/pc.vue
Labels: enhancement

#2531 feat(pager): [pager] adapt to pager old theme
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/pager/index.less
  packages/theme/src/pager/vars.less
Labels: enhancement, feature

#2530 feat(grid-select): [grid-select] add remote feature
  examples/sites/demos/pc/app/grid-select/config-composition-api.vue
  examples/sites/demos/pc/app/grid-select/filter.vue
  examples/sites/demos/pc/app/grid-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/grid-select/multiple.vue
  examples/sites/demos/pc/app/grid-select/remote-composition-api.vue
  examples/sites/demos/pc/app/grid-select/remote.vue
  examples/sites/demos/pc/app/grid-select/webdoc/grid-select.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/grid-select/vue.ts
Labels: enhancement

#2532 feat(base-select): [base-select] optimize base select and fix some bugs
  examples/sites/demos/pc/app/base-select/disabled.spec.ts
  examples/sites/demos/pc/app/base-select/size-composition-api.vue
  examples/sites/demos/pc/app/base-select/size.spec.ts
  examples/sites/demos/pc/app/base-select/size.vue
  examples/sites/demos/pc/app/base-select/slot-default-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-default.vue
  examples/sites/demos/pc/app/base-select/slot-prefix-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-prefix.vue
  examples/sites/demos/pc/app/base-select/webdoc/base-select.cn.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
  packages/renderless/src/grid-select/index.ts
  packages/renderless/src/tree-select/index.ts
  packages/theme/src/base-select/index.less
  packages/vue/src/base-select/src/index.ts
  packages/vue/src/base-select/src/pc.vue
Labels: enhancement

#2534 feat(theme): optimize the overall basic variables and update treeMenu css var
  examples/sites/demos/pc/app/tree-menu/lazy-load-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/lazy-load.vue
  packages/theme/src/autocomplete/vars.less
  packages/theme/src/base-select/vars.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button-group/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/calendar/vars.less
  packages/theme/src/cascader-panel/vars.less
  packages/theme/src/cascader/vars.less
  packages/theme/src/checkbox-button/vars.less
  packages/theme/src/checkbox/vars.less
  packages/theme/src/color-picker/vars.less
  packages/theme/src/date-panel/vars.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/dept/vars.less
  packages/theme/src/dialog-select/vars.less
  packages/theme/src/dropdown-item/vars.less
  packages/theme/src/dropdown-menu/vars.less
  packages/theme/src/fall-menu/vars.less
  packages/theme/src/form-item/vars.less
  packages/theme/src/grid/vars.less
  packages/theme/src/input/vars.less
  packages/theme/src/ip-address/vars.less
  packages/theme/src/link-menu/vars.less
  packages/theme/src/loading/vars.less
  packages/theme/src/milestone/vars.less
  packages/theme/src/nav-menu/vars.less
  packages/theme/src/numeric/vars.less
  packages/theme/src/option/vars.less
  packages/theme/src/pager/vars.less
  packages/theme/src/popeditor/vars.less
  packages/theme/src/radio-button/vars.less
  packages/theme/src/radio/vars.less
  packages/theme/src/rich-text-editor/vars.less
  packages/theme/src/roles/vars.less
  packages/theme/src/search/vars.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/select/vars.less
  packages/theme/src/selected-box/vars.less
  packages/theme/src/slider/vars.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/tag/vars.less
  packages/theme/src/tall-storage/vars.less
  packages/theme/src/text-popup/vars.less
  packages/theme/src/textarea/vars.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-range/vars.less
  packages/theme/src/transfer/vars.less
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
  packages/theme/src/upload-dragger/vars.less
  packages/theme/src/upload/vars.less
  packages/theme/src/user-card/vars.less
  packages/theme/src/user-link/vars.less
  packages/theme/src/wizard/vars.less
Labels: enhancement

#2520 fix(calendar-view): [calendar-view] Fix bug with invalid calendar hei…
  examples/sites/demos/apis/calendar-view.js
  examples/sites/demos/pc/app/calendar-view/calendar-disabled-day.spec.ts
  packages/theme/src/calendar-view/index.less
  packages/vue/src/calendar-view/src/index.ts
  packages/vue/src/calendar-view/src/pc.vue
Labels: bug

#2537 fix(docs): Fixed an issue where the document demo disappears in github-markdown-css5.8.0.
  examples/sites/package.json
Labels: bug

#2523 fix(tabs): [tabs] Adapt to the old theme style
  packages/theme/src/base/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
Labels: bug

#2535 fix(base-select): [base-select] fix style issues in the old theme
  examples/sites/demos/pc/app/base-select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/base-select/size.spec.ts
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.vue
  packages/renderless/src/base-select/index.ts
  packages/theme/src/base-select/index.less
  packages/theme/src/select-dropdown/index.less
Labels: bug

#2538 feat(tree-select): [tree-select] add data init and optimize demo docs
  examples/sites/demos/pc/app/tree-select/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-select/basic-usage.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags.vue
  examples/sites/demos/pc/app/tree-select/multiple-composition-api.vue
  examples/sites/demos/pc/app/tree-select/multiple.vue
  examples/sites/demos/pc/app/tree-select/size-composition-api.vue
  examples/sites/demos/pc/app/tree-select/size.vue
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
  packages/vue/src/tree-select/src/pc.vue
Labels: enhancement

#2541 fix(base-select): fix size style
  packages/theme/src/base-select/index.less
  packages/theme/src/base-select/vars.less
Labels: bug

#2525 feat(time-select): [time-select] Adapt to old components
  packages/theme/src/time-select/index.less
  packages/theme/src/time-select/vars.less
Labels: enhancement

#2544 feat(date-picker): [date-picker] Adapt to the theme
  packages/theme/src/date-table/index.less
Labels: enhancement

#2542 fix(steps): [steps] Added the visibleNum prop.
  examples/sites/demos/apis/steps.js
  examples/sites/demos/pc/app/steps/line-horizontal-composition-api.vue
  examples/sites/demos/pc/app/steps/line-horizontal.vue
  examples/sites/demos/pc/app/steps/webdoc/steps.js
Labels: bug

#2549 feat(steps): [steps] Adapting to the Default Theme
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
Labels: enhancement

#2551 feat(old-theme): [dropdown,grid,tree] modify incorrect css vars
  packages/theme/src/dropdown/index.less
  packages/theme/src/grid/vars.less
  packages/theme/src/tree/vars.less
Labels: enhancement

#2553 fix(dropdown): [dropdown] fixed the data disorder issue caused by the composite scenario of two-layer components and self-invoking groups.
  examples/sites/demos/pc/app/dropdown/visible-arrow.spec.ts
  packages/vue/src/dropdown-item/src/pc.vue
Labels: bug

#2552 fix(dialog-select): fix demos for dislog-select
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
Labels: bug

#2513 fix(chart): Fix chart dataZoom bug and colors bug
  internals/cli/src/commands/build/build-entry-app.ts
  packages/vue/src/huicharts/huicharts-amap/src/autonavi-map.vue
  packages/vue/src/huicharts/huicharts-bar/src/chart-bar.vue
  packages/vue/src/huicharts/huicharts-bmap/src/baidu-map.vue
  packages/vue/src/huicharts/huicharts-core/src/chart-core.ts
  packages/vue/src/huicharts/huicharts-heatmap/src/chart-heatmap.vue
  packages/vue/src/huicharts/huicharts-histogram/src/chart-histogram.vue
  packages/vue/src/huicharts/huicharts-line/src/chart-line.vue
  packages/vue/src/huicharts/huicharts-sunburst/src/chart-sunburst.vue
  packages/vue/src/huicharts/huicharts-tree/src/chart-tree.vue
Labels: bug

#2554 feat(grid): [grid] grid component adapt to old theme
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/base/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/grid/base/basic-usage.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/column-switching-scroll-composition-api.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/column-switching-scroll.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/reverse-columns-composition-api.vue
  examples/sites/demos/pc/app/grid/dynamically-columns/reverse-columns.vue
  examples/sites/demos/pc/app/grid/footer/footer-summation-empty-composition-api.vue
  examples/sites/demos/pc/app/grid/footer/footer-summation-empty.vue
  examples/sites/demos/pc/app/grid/header/config-grid-header-composition-api.vue
  examples/sites/demos/pc/app/grid/header/config-grid-header.spec.js
  examples/sites/demos/pc/app/grid/header/config-grid-header.vue
  examples/sites/demos/pc/app/grid/header/custom-grid-header-composition-api.vue
  examples/sites/demos/pc/app/grid/header/custom-grid-header.spec.js
  examples/sites/demos/pc/app/grid/header/custom-grid-header.vue
  examples/sites/demos/pc/app/grid/header/many-header-switching-composition-api.vue
  examples/sites/demos/pc/app/grid/header/many-header-switching.vue
  examples/sites/demos/pc/app/grid/header/slot-header-composition-api.vue
  examples/sites/demos/pc/app/grid/header/slot-header.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-header.js
  examples/sites/demos/pc/app/grid/webdoc/grid-operation-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-serial-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-size.js
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/grid/filter.less
  packages/theme/src/grid/mixins/table.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
  packages/vue/src/grid/src/filter/src/panel.tsx
Labels: enhancement

#2557 fix(dropdown): [dropdown] fix icon shaking when hover
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
Labels: bug

#2558 fix(option): [select] restore hoverItem method and fix the issue of i…
  examples/sites/demos/pc/app/select/multiple.spec.ts
  packages/renderless/src/option/index.ts
  packages/renderless/src/option/vue.ts
  packages/vue/src/option/src/mobile-first.vue
  packages/vue/src/option/src/pc.vue
Labels: bug

#2567 feat(modal): [modal] add e2e-test and update modal demo of problem
  examples/sites/demos/pc/app/modal/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/modal/basic-usage.spec.ts
  examples/sites/demos/pc/app/modal/basic-usage.vue
  examples/sites/demos/pc/app/modal/footer-slot-composition-api.vue
  examples/sites/demos/pc/app/modal/footer-slot.vue
  examples/sites/demos/pc/app/modal/message-closable-composition-api.vue
  examples/sites/demos/pc/app/modal/message-closable.vue
  examples/sites/demos/pc/app/modal/message-close-composition-api.vue
  examples/sites/demos/pc/app/modal/message-close.spec.ts
  examples/sites/demos/pc/app/modal/message-close.vue
  examples/sites/demos/pc/app/modal/message-event-composition-api.vue
  examples/sites/demos/pc/app/modal/message-event.spec.ts
  examples/sites/demos/pc/app/modal/message-event.vue
  examples/sites/demos/pc/app/modal/message-id-composition-api.vue
  examples/sites/demos/pc/app/modal/message-id.spec.ts
  examples/sites/demos/pc/app/modal/message-id.vue
  examples/sites/demos/pc/app/modal/message-top-composition-api.vue
  examples/sites/demos/pc/app/modal/message-top.spec.ts
  examples/sites/demos/pc/app/modal/message-top.vue
  examples/sites/demos/pc/app/modal/modal-event-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-event.spec.ts
  examples/sites/demos/pc/app/modal/modal-event.vue
  examples/sites/demos/pc/app/modal/modal-fn-slots-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-fn-slots.spec.ts
  examples/sites/demos/pc/app/modal/modal-fn-slots.vue
  examples/sites/demos/pc/app/modal/modal-footer-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-footer.spec.ts
  examples/sites/demos/pc/app/modal/modal-footer.vue
  examples/sites/demos/pc/app/modal/modal-header-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-header.spec.ts
  examples/sites/demos/pc/app/modal/modal-header.vue
  examples/sites/demos/pc/app/modal/modal-lock-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-lock.spec.ts
  examples/sites/demos/pc/app/modal/modal-lock.vue
  examples/sites/demos/pc/app/modal/modal-mask-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-mask.spec.ts
  examples/sites/demos/pc/app/modal/modal-mask.vue
  examples/sites/demos/pc/app/modal/modal-other-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-other.spec.ts
  examples/sites/demos/pc/app/modal/modal-other.vue
  examples/sites/demos/pc/app/modal/modal-resize-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-resize.spec.ts
  examples/sites/demos/pc/app/modal/modal-resize.vue
  examples/sites/demos/pc/app/modal/modal-size-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-size.spec.ts
  examples/sites/demos/pc/app/modal/modal-size.vue
  examples/sites/demos/pc/app/modal/status-composition-api.vue
  examples/sites/demos/pc/app/modal/status.spec.ts
  examples/sites/demos/pc/app/modal/status.vue
  packages/renderless/src/modal/index.ts
Labels: bug, enhancement

#2563 fix(icon): [icon] The icon search algorithm is optimized.
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
Labels: bug

#2562 feat(form): [form] form component adapt to old theme
  examples/sites/demos/apis/form.js
  examples/sites/demos/pc/app/config-provider/form-composition-api.vue
  examples/sites/demos/pc/app/config-provider/form.spec.ts
  examples/sites/demos/pc/app/config-provider/form.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/app/form/hide-required-composition-api.vue
  examples/sites/demos/pc/app/form/hide-required.spec.ts
  examples/sites/demos/pc/app/form/hide-required.vue
  examples/sites/demos/pc/app/form/slot-label-composition-api.vue
  examples/sites/demos/pc/app/form/slot-label.spec.ts
  examples/sites/demos/pc/app/form/slot-label.vue
  examples/sites/demos/pc/app/form/webdoc/form.js
  packages/design/aurora/src/form/index.ts
  packages/design/saas/src/form/index.ts
  packages/renderless/src/form/index.ts
Labels: enhancement

#2569 fix(icon): [icon] The icon search algorithm is optimized.
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
Labels: bug

#2571 fix(notify): [notify] missing title parameter style exception
  packages/vue/src/notify/src/pc.vue
Labels: bug

#2572 fix(button): [button,cascader] fix button's radius and cascader bgcolor
  examples/sites/demos/pc/app/button/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/button/basic-usage.vue
  examples/sites/demos/pc/app/button/webdoc/button.js
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/guide/vars.less
  packages/theme/src/pager/vars.less
Labels: bug

#2566 fix(select): [select] fix the problem of multiple selection of hover …
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
  packages/theme/src/option/index.less
  packages/theme/src/select/index.less
  packages/vue/src/select/src/pc.vue
Labels: bug

#2574 feat(site): switch theme styles through routing
  examples/sites/src/tools/useTheme.js
  packages/theme/src/old-theme-index.js
Labels: enhancement

#2576 feat(breadcrumb): [breadcrumb] modify delimiter
  examples/sites/demos/pc/app/breadcrumb/separator-composition-api.vue
  examples/sites/demos/pc/app/breadcrumb/separator.spec.ts
  examples/sites/demos/pc/app/breadcrumb/separator.vue
Labels: enhancement

#2575 feat(date-picker): [date-picker] Adapting to the old-theme
  packages/theme/src/base/old-theme.less
  packages/theme/src/date-table/index.less
  packages/theme/src/month-table/index.less
Labels: enhancement

#2577 feat: [select]reduce common package size
  internals/cli/src/config/vite.ts
  packages/vue-common/package.json
  packages/vue-common/src/index-dev.ts
  packages/vue-common/src/index.ts
  packages/vue-saas-common/package.json
  packages/vue-saas-common/src/index.ts
Labels: enhancement

#2579 feat(collapse): [collapse] fix style issues in the old theme
  packages/theme/src/collapse-item/vars.less
Labels: enhancement

#2578 feat: [config-provider] optimize global configuration component documentation
  examples/sites/demos/pc/app/config-provider/base-composition-api.vue
  examples/sites/demos/pc/app/config-provider/base.vue
  examples/sites/demos/pc/app/config-provider/basic.spec.ts
  examples/sites/demos/pc/app/config-provider/form-composition-api.vue
  examples/sites/demos/pc/app/config-provider/form.spec.ts
  examples/sites/demos/pc/app/config-provider/form.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/button/index.ts
  packages/renderless/src/button/vue.ts
  packages/renderless/src/form/index.ts
  packages/renderless/types/button.type.ts
  packages/vue/src/button/src/index.ts
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/pc.vue
Labels: enhancement

#2580 feat: optimize basic variables and switch the overall rounded corner …
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/guide/vars.less
  packages/theme/src/month-table/vars.less
  packages/theme/src/pager/vars.less
  packages/theme/src/time-spinner/vars.less
Labels: enhancement

#2581 feat: add space var to adapt to old theme
  packages/theme/src/anchor/vars.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
  packages/theme/src/drawer/index.less
  packages/theme/src/drawer/vars.less
  packages/theme/src/form-item/index.less
  packages/theme/src/form-item/vars.less
  packages/theme/src/image-viewer/vars.less
  packages/theme/src/link-menu/index.less
  packages/theme/src/modal/vars.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/wizard/vars.less
Labels: enhancement

#2582 ci: add auto deploy site
  .github/workflows/auto-deploy-site.yml
Labels: ci
