Repository opentiny/tiny-vue, pull requests merged in 2024-06, with the labels that each got.

#1657 fix(select): [select] Fix the issue of invalid select component click events and remove inheritAttrs
  packages/vue/src/select/src/pc.vue
Labels: bug

#1661 fix(theme): [grid] fix tree node text overflow
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/header.less
  packages/theme/src/grid/table.less
Labels: bug

#1656 fix(vue): [grid] fix multi toolbar can not get tableColumns config
  packages/vue/src/grid/src/grid/grid.ts
Labels: bug

#1658 fix(modal): adjust the title icon display of the modal
  packages/vue/src/modal/package.json
  packages/vue/src/modal/src/pc.vue
Labels: bug

#1662 feat(runtime): add all、pc、mobile、mobile-first、simple runtime
  .gitignore
  internals/cli/package.json
  internals/cli/src/commands/build/build-entry-app.ts
  internals/cli/src/commands/build/build-runtime.ts
  internals/cli/src/commands/build/build-ui.ts
  internals/cli/src/index.ts
  package.json
  packages/modules.json
  packages/vue-runtime/package.json
Labels: enhancement

#1660 fix(statistic): optimized the style, test, and example of the statistics component
  examples/sites/demos/pc/app/statistic/basic-usage.spec.ts
  examples/sites/demos/pc/app/statistic/prefix-suffix-slot-composition-api.vue
  examples/sites/demos/pc/app/statistic/prefix-suffix-slot.spec.ts
  examples/sites/demos/pc/app/statistic/prefix-suffix-slot.vue
  examples/sites/demos/pc/app/statistic/statistic-slot-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-slot.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-slot.vue
  examples/sites/demos/pc/app/statistic/statistic-style-composition-api.vue
  examples/sites/demos/pc/app/statistic/statistic-style.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-style.vue
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  packages/renderless/src/statistic/index.ts
  packages/theme/src/statistic/aurora-theme.js
  packages/theme/src/statistic/index.less
  packages/theme/src/statistic/smb-theme.js
  packages/theme/src/statistic/vars.less
  packages/vue/src/statistic/src/pc.vue
Labels: documentation, e2e-test

#1668 fix(theme): update scrollbar width to 8px
  packages/theme/src/base/basic-var.less
  packages/theme/src/guide/vars.less
  packages/theme/src/theme/smb-theme/index.js
Labels: enhancement

#1667 ci(runtime): add runtime git action
  .github/workflows/dispatch-renderless-theme-publish.yml
  package.json
Labels: ci

#1669 build(runtime): update runtime playgroud
  examples/sites/playground/App.vue
  internals/cli/src/commands/build/build-runtime.ts
  packages/vue-runtime/package.json
Labels: enhancement

#1663 feat(base-select): [select,base-select] add panel slot
  examples/sites/demos/apis/base-select.js
  examples/sites/demos/pc/app/base-select/slot-panel-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-panel.spec.ts
  examples/sites/demos/pc/app/base-select/slot-panel.vue
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/base-select/vue.ts
  packages/vue/src/base-select/src/pc.vue
Labels: enhancement

#1527 feat(components): [drawer] enable open event
  examples/sites/demos/apis/drawer.js
  examples/sites/demos/pc/app/drawer/open-event-composition-api.vue
  examples/sites/demos/pc/app/drawer/open-event.spec.ts
  examples/sites/demos/pc/app/drawer/open-event.vue
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  packages/renderless/src/drawer/index.ts
  packages/vue/src/drawer/src/pc.vue
Labels: enhancement

#1690 docs(date-picker): [date-picker] Optimization Cases
  examples/sites/demos/pc/app/date-picker/align-composition-api.vue
  examples/sites/demos/pc/app/date-picker/align.vue
  examples/sites/demos/pc/app/date-picker/clear-composition-api.vue
  examples/sites/demos/pc/app/date-picker/clear.vue
  examples/sites/demos/pc/app/date-picker/custom-weeks-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-weeks.vue
  examples/sites/demos/pc/app/date-picker/default-value-composition-api.vue
  examples/sites/demos/pc/app/date-picker/default-value.vue
  examples/sites/demos/pc/app/date-picker/disabled-composition-api.vue
  examples/sites/demos/pc/app/date-picker/disabled.vue
  examples/sites/demos/pc/app/date-picker/format-composition-api.vue
  examples/sites/demos/pc/app/date-picker/format.vue
  examples/sites/demos/pc/app/date-picker/shortcuts-composition-api.vue
  examples/sites/demos/pc/app/date-picker/shortcuts.vue
  examples/sites/demos/pc/app/date-picker/step-composition-api.vue
  examples/sites/demos/pc/app/date-picker/step.vue
  examples/sites/demos/pc/app/date-picker/timezone-composition-api.vue
  examples/sites/demos/pc/app/date-picker/timezone.vue
  examples/sites/demos/pc/app/date-picker/unlink-panels-composition-api.vue
  examples/sites/demos/pc/app/date-picker/unlink-panels.vue
Labels: documentation

#1689 fix(button-group): [button-group] Fixed I18n
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/button-group/src/pc.vue
Labels: bug

#1685 fix(timeline): [timeline] add vertical description to node description slot
  packages/vue/src/timeline-item/src/pc.vue
Labels: bug

#1674 fix(dialog-box): update style problem
  packages/theme/src/dialog-box/index.less
Labels: bug

#1673 fix(pager): all theme use same svg to show dot
  packages/theme/src/pager/index.less
  packages/theme/src/pager/smb-theme.js
  packages/theme/src/pager/vars.less
Labels: enhancement

#1695 fix(nav-menu): [nav-menu] resolve the issue of current component not being highlighted
  packages/renderless/src/nav-menu/index.ts
Labels: bug

#1693 feat(breadcrumb): [breadcrumb] adapts to xdesign theme
  packages/design/smb/index.ts
  packages/design/smb/src/breadcrumb-item/index.ts
  packages/renderless/src/breadcrumb-item/vue.ts
  packages/vue/src/breadcrumb-item/src/pc.vue
  packages/vue/src/breadcrumb/src/index.ts
Labels: enhancement

#1691 fix(chart): [chart] Fixed baidu chart example and chart-core bug
  examples/sites/demos/pc/app/chart/amap/base-composition-api.vue
  examples/sites/demos/pc/app/chart/amap/base.vue
  examples/sites/demos/pc/app/chart/bmap/base.vue
  packages/vue/src/chart/chart-core/src/chart-core.ts
Labels: bug

#1681 chore(base-select): [base-select] add mark and metaData
  examples/sites/demos/pc/app/base-select/webdoc/base-select.cn.md
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  examples/sites/demos/pc/menus.js
Labels: documentation

#1683 feat(tree-select): [tree-select] add tree-select component
  examples/sites/demos/apis/tree-select.js
  examples/sites/demos/pc/app/tree-select/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-select/basic-usage.spec.ts
  examples/sites/demos/pc/app/tree-select/basic-usage.vue
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.cn.md
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.en.md
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
  packages/vue/package.json
  packages/vue/src/tree-select/index.ts
  packages/vue/src/tree-select/package.json
  packages/vue/src/tree-select/src/pc.vue
Labels: enhancement

#1701 feat(drawer): [drawer] Add drag listening event
  examples/sites/demos/pc/app/drawer/dragable-composition-api.vue
  examples/sites/demos/pc/app/drawer/dragable.vue
  packages/renderless/package.json
  packages/renderless/src/drawer/index.ts
  packages/renderless/src/drawer/vue.ts
  packages/vue/src/drawer/package.json
  packages/vue/src/drawer/src/pc.vue
Labels: enhancement

#1676 fix(unplugin-virtual-template): fix build internals error in node v18.19.1
  internals/automate/package.json
  internals/cli/package.json
  internals/unplugin-virtual-template/package.json
  packages/renderless/package.json
Labels: bug

#1650 fix(vue-renderless): [radio] fix handleKeydown blocking default events and bubble logic
  packages/renderless/src/radio-group/index.ts
Labels: bug

#1672 feat(tree-menu)[tree-menu]: clearable
  examples/sites/demos/apis/tree-menu.js
  examples/sites/demos/pc/app/tree-menu/clearable-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/clearable.spec.ts
  examples/sites/demos/pc/app/tree-menu/clearable.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/renderless/src/tree-menu/vue.ts
  packages/renderless/types/tree-menu.type.ts
  packages/vue/src/tree-menu/src/index.ts
  packages/vue/src/tree-menu/src/pc.vue
Labels: enhancement

#1702 fix: fix pnpm site error
  internals/cli/package.json
Labels: bug

#1705 fix(select): fix Select‘s SMB theme, multi select svg color
  packages/theme/src/option/index.less
  packages/theme/src/option/smb-theme.js
  packages/theme/src/option/vars.less
Labels: bug
