Repository opentiny/tiny-vue, pull requests merged in 2024-12, with the labels that each got.

#2588 fix: fix grid、flowchart、grid、tree-menu bugs
  examples/sites/package.json
  packages/modules.json
  packages/renderless/src/flowchart/index.ts
  packages/renderless/types/tree-menu.type.ts
  packages/theme-saas/src/cascader-menu/index.less
  packages/theme-saas/src/date-range/index.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/picker/index.less
  packages/theme/src/old-theme-index.js
  packages/theme/src/svgs/ellipsis.svg
  packages/vue/src/file-upload/src/mobile-first.vue
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/radio/src/radio.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalMousedownEvent.ts
  packages/vue/src/tree-menu/index.ts
  packages/vue/src/tree-menu/src/pc.vue
  packages/vue/src/tree-menu/src/props.ts
Labels: bug

#2587 fix: remove mathlive demo to fixed site build error
  examples/sites/demos/pc/app/fluent-editor/options-formula-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/options-formula.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/package.json
Labels: bug

#2583 fix: fix color-select-panel error when publish
  packages/vue/src/color-select-panel/package.json
Labels: bug

#2591 feat: add design smb packages
  internals/cli/src/commands/create/commonMapping.json
  packages/design/smb/index.ts
  packages/design/smb/package.json
  packages/modules.json
Labels: enhancement

#2584 feat(numeric): [numeric] add step strategy of props
  examples/sites/demos/apis/numeric.js
  examples/sites/demos/pc/app/numeric/about-step-composition-api.vue
  examples/sites/demos/pc/app/numeric/about-step.spec.ts
  examples/sites/demos/pc/app/numeric/about-step.vue
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
  packages/renderless/src/numeric/index.ts
  packages/vue/src/numeric/src/index.ts
Labels: enhancement

#2592 fix(date-picker): [date-picker] Fix the issue of icons not being cent…
  packages/theme/src/picker/index.less
Labels: bug

#2593 fix(site): fix catalog flashing
  examples/sites/src/views/components/components.vue
Labels: bug

#2590 fix: [button-group] fixed the bug that multiple clicks on the same button would trigger multiple events
  packages/renderless/src/button-group/index.ts
Labels: bug

#2595 feat(locale): use Object.assign for better tree shaking
  packages/vue-locale/src/index.ts
Labels: enhancement

#2594 fix: fix the error when starting the saas official website
  packages/theme-saas/src/old-theme-index.js
  packages/theme-saas/src/theme-tool.js
  packages/theme-saas/src/theme/aurora-theme/index.js
  packages/theme-saas/src/theme/deep-theme/index.js
  packages/theme-saas/src/theme/galaxy-theme/index.js
  packages/theme-saas/src/theme/impression-theme/index.js
  packages/theme-saas/src/theme/index.js
  packages/theme-saas/src/theme/infinity-theme/index.js
  packages/theme-saas/src/theme/smb-theme/index.js
  packages/theme-saas/src/theme/utils.js
Labels: bug

#2596 feat(theme): [button] submit the initial version of aurora-theme-vars
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/index.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/breadcrumb/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/calendar/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/pager/vars.less
  packages/theme/src/popeditor/vars.less
  packages/theme/src/selected-box/vars.less
Labels: enhancement

#2599 fix(site): add smb design-config support
  examples/sites/package.json
  examples/sites/src/tools/useTheme.js
  packages/vue-common/src/index.ts
  packages/vue/src/config-provider/src/index.vue
Labels: bug, feature

#2598 fix(transfer): [transfer] fix uncorrect vars for transfer
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
Labels: bug

#2601 feat(bulletin-board): [bulletin-board] Add click events #2143
  examples/sites/demos/apis/bulletin-board.js
  examples/sites/demos/pc/app/bulletin-board/events-composition-api.vue
  examples/sites/demos/pc/app/bulletin-board/events.spec.ts
  examples/sites/demos/pc/app/bulletin-board/events.vue
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
  packages/renderless/src/bulletin-board/index.ts
  packages/renderless/src/bulletin-board/vue.ts
  packages/theme/src/bulletin-board/index.less
  packages/vue/src/bulletin-board/src/pc.vue
Labels: enhancement

#2602 fix: fix build all components error
  internals/cli/src/commands/build/build-ui.ts
  packages/design/smb/package.json
  packages/theme/src/old-theme-index.js
Labels: bug

#2603 docs: add algolia search
  examples/sites/demos/pc/webdoc/develop-demo-en.md
  examples/sites/demos/pc/webdoc/develop-demo.md
  examples/sites/demos/pc/webdoc/envpreparation-open-en.md
  examples/sites/demos/pc/webdoc/envpreparation-open.md
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
  examples/sites/demos/pc/webdoc/form-valid-en.md
  examples/sites/demos/pc/webdoc/form-valid.md
  examples/sites/demos/pc/webdoc/i18n-en.md
  examples/sites/demos/pc/webdoc/i18n.md
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/index.html
  examples/sites/src/App.vue
  examples/sites/src/style.css
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/layout/layout.vue
Labels: documentation

#2604 fix(site): the aurora-theme switch function is added to the official website
  examples/sites/demos/pc/webdoc/theme.md
  examples/sites/src/tools/useTheme.js
  packages/theme/build/gulp-dist.js
  packages/theme/build/release.js
  packages/theme/src/aurora-theme-index.js
  packages/theme/src/aurora-theme-index.less
  packages/theme/src/theme-tool.js
  packages/theme/src/tooltip/vars.less
Labels: bug

#2605 docs: optimize algolia search style
  examples/sites/src/style.css
Labels: documentation

#2607 docs: hide the search input on the left menu at open source sites
  examples/sites/src/views/layout/layout.vue
Labels: documentation

#2610 fix: fix problems found during verification
  packages/renderless/package.json
  packages/renderless/src/color-select-panel/vue.ts
  packages/vue-common/package.json
  packages/vue-common/src/index.ts
Labels: bug

#2609 feat: add mobile dependence
  examples/sites/package.json
Labels: enhancement

#2612 feat: update changelog and playground
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
  examples/sites/src/menus.jsx
Labels: enhancement

#2613 feat: change default router link
  examples/sites/src/router.js
Labels: enhancement

#2619 fix(anchor): [anchor] fixed the bug that querySelect cannot select sp…
  packages/renderless/package.json
  packages/renderless/src/anchor/index.ts
Labels: bug

#2617 ci: auto deploy site
  .github/workflows/auto-deploy-site.yml
  examples/sites/cp-component-md.sh
  examples/sites/env/.env.pages
  examples/sites/package.json
Labels: ci

#2622 fix(chart): huiCharts打包替换为Chart
  internals/cli/src/commands/build/build-entry.ts
Labels: bug

#2626 fix(site): add overflow for datepicker's demo on small screen
  examples/sites/src/views/components/demo.vue
Labels: bug

#2624 feat: optimize the example display style of the official website
  examples/sites/src/views/components/demo.vue
Labels: enhancement

#2623 fix: fixed the problem of global search js resource access failure
  examples/sites/index.html
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/main.js
  examples/sites/src/style.css
Labels: bug

#2627 feat(tree-menu): [tree-menu] Resolve the warning issue on the tree-menu
  packages/vue/src/tree-menu/package.json
  packages/vue/src/tree-menu/src/props.ts
Labels: enhancement

#2630 fix: fix search box style
  examples/sites/src/style.css
Labels: bug

#2636 chore: upgrade fluent editor
  packages/vue/src/fluent-editor/package.json
Labels: chore

#2637 feat: support global search shortcut keys to search multiple websites
  examples/sites/package.json
  examples/sites/src/tools/docsearch.js
  examples/sites/vite-dosearch-plugin.js
  examples/sites/vite.config.ts
Labels: enhancement

#2625 fix: fix slider compilation error in vue2
  packages/vue/src/slider/src/pc.vue
Labels: bug

#2608 feat(dropdown): [dropdown] add right side expansion function for dropdown
  examples/sites/demos/apis/dropdown.js
  examples/sites/demos/pc/app/dropdown/placement-composition-api.vue
  examples/sites/demos/pc/app/dropdown/placement.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/dropdown-item/vars.less
Labels: enhancement

#2638 fix(tabbar): modify mobile tabbar problem
  packages/mobile/components/tabbar-item/src/renderless/vue.ts
Labels: bug

#2642 fix(dropdown-menu): fix mobile problem
  examples/sites/demos/mobile/app/dropdownmenu/title-class.vue
  packages/mobile/components/dropdown-item/src/dropdown-item.ts
  packages/mobile/components/dropdown-item/src/mobile.vue
  packages/mobile/components/dropdown-menu/src/renderless/vue.ts
Labels: bug

#2643 fix(form): modify mobile form problem
  packages/mobile/components/form-item/src/mobile.vue
  packages/mobile/components/form-item/src/renderless/index.ts
  packages/mobile/components/form-item/src/renderless/vue.ts
  packages/mobile/components/form/src/renderless/vue.ts
  packages/mobile/components/input/src/input.ts
  packages/theme-mobile/src/form-item/index.less
  packages/theme-mobile/src/form-item/vars.less
  packages/theme-mobile/src/form/index.less
Labels: bug

#2646 fix(container): modify mobile problem
  examples/sites/demos/mobile/app/container/basic-usage.vue
Labels: bug

#2644 fix(dialog-box): modify mobile dialog-box problem
  packages/mobile/components/dialog-box/src/renderless/index.ts
  packages/mobile/components/input/src/input.ts
Labels: bug

#2647 fix(grid): [grid] fix selection header disabled error when config che…
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/checkbox/src/methods.ts
Labels: bug

#2645 fix(select): [select] fix the vertical centering of the suffix icon
  packages/theme/src/select/index.less
Labels: bug

#2657 fix(select): [select] fix the vertical centering of the suffix icon (…
  packages/theme/src/select/index.less
Labels: bug

#2659 fix(tree-select): solve the problem of tree attributes not being passed through
  packages/vue/src/tree-select/src/pc.vue
Labels: bug

#2671 fix(input): modify mobile problem
  packages/mobile/components/input/src/renderless/index.ts
  packages/mobile/components/input/src/renderless/vue.ts
  packages/theme-mobile/src/input/index.less
Labels: bug

#2667 fix(tree): default-expanded-keys description is wrong
  examples/sites/demos/apis/tree.js
Labels: bug

#2666 fix(checkbox): modify mobile problem
  examples/sites/demos/mobile/app/checkbox/checkbox-group.vue
  packages/mobile/components/checkbox-group/src/mobile.vue
  packages/mobile/components/checkbox/src/checkbox.ts
  packages/mobile/components/checkbox/src/mobile.vue
  packages/mobile/components/checkbox/src/renderless/index.ts
  packages/mobile/components/checkbox/src/renderless/vue.ts
Labels: bug

#2665 fix(form): modify mobile problem
  examples/sites/demos/mobile/app/form/validate-position.vue
  packages/mobile/components/form/src/mobile.vue
  packages/mobile/components/form/src/renderless/index.ts
  packages/mobile/components/form/src/renderless/vue.ts
Labels: bug

#2664 fix(popover): remove aria-hidden
  packages/vue/src/popover/src/pc.vue
Labels: bug

#2654 fix(progress): modify mobile problem
  examples/sites/demos/mobile/app/progress/progress-type-circle.vue
  examples/sites/demos/mobile/app/progress/progress-type-dashboard.vue
  examples/sites/demos/mobile/app/progress/progress-width.vue
  packages/mobile/components/progress/src/mobile.vue
Labels: bug

#2660 fix(button): modify mobile problem
  packages/mobile/components/button/src/button.ts
  packages/mobile/components/button/src/renderless/index.ts
  packages/mobile/components/input/src/input.ts
Labels: bug

#2663 fix(form): [form] fix validate icon shrink when text very long
  packages/theme/package.json
  packages/theme/src/form-item/index.less
Labels: bug

#2511 fix(auto-import-plugin): support functional components
  examples/sites/demos/pc/webdoc/import-components.md
  internals/unplugin-tiny-vue/example/auto-imports.d.ts
  internals/unplugin-tiny-vue/example/components.d.ts
  internals/unplugin-tiny-vue/example/package.json
  internals/unplugin-tiny-vue/example/src/App.vue
  internals/unplugin-tiny-vue/example/vite.config.js
  internals/unplugin-tiny-vue/src/index.ts
Labels: bug

#2662 fix: fix warning in cascader component
  packages/vue/src/cascader-menu/src/index.ts
  packages/vue/src/cascader-menu/src/pc.vue
  packages/vue/src/cascader-panel/src/pc.vue
Labels: bug

#2670 feat(fluent-editor): add before-editor-init props
  examples/sites/demos/apis/fluent-editor.js
  examples/sites/demos/pc/app/fluent-editor/before-editor-init-composition-api.vue
  examples/sites/demos/pc/app/fluent-editor/before-editor-init.vue
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  packages/renderless/src/fluent-editor/index.ts
  packages/vue/src/fluent-editor/src/index.ts
  packages/vue/src/fluent-editor/src/mobile-first.vue
  packages/vue/src/fluent-editor/src/pc.vue
Labels: enhancement

#2680 feat: [grid,alert,form]use catalog to globally upgrade vite and vitest; and add mobile build config
  internals/cli/package.json
  internals/unplugin-virtual-template/tsup.config.ts
  package.json
  packages/mobile/package.json
  packages/mobile/tsconfig.json
  packages/mobile/tsconfig.node.json
  packages/mobile/vite.config.ts
  packages/utils/package.json
  packages/utils/src/crypt/sha256.ts
  pnpm-workspace.yaml
Labels: enhancement

#2683 fix(statistic): [statistic] when precision is not set, the current value is displayed by default
  examples/sites/demos/apis/statistic.js
  examples/sites/demos/pc/app/statistic/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/statistic/basic-usage.vue
  examples/sites/demos/pc/app/statistic/statistic-slot.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-style.spec.ts
  packages/renderless/src/statistic/index.ts
  packages/vue/src/statistic/package.json
  packages/vue/src/statistic/src/index.ts
Labels: bug

#2688 feat(site): Optimize site documentation typesetting
  examples/sites/demos/pc/webdoc/aui-adapter.md
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/demos/pc/webdoc/develop-demo.md
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
  examples/sites/demos/pc/webdoc/form-valid.md
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/demos/pc/webdoc/theme-en.md
  examples/sites/demos/pc/webdoc/theme.md
Labels: enhancement

#2692 fix(action-sheet): modify mobile problem
  examples/sites/demos/apis/actionsheet.js
  examples/sites/demos/mobile/app/actionsheet/clickfn.vue
  examples/sites/demos/mobile/app/actionsheet/ellipsis.vue
  examples/sites/demos/mobile/app/actionsheet/slot-action.vue
  examples/sites/demos/mobile/app/actionsheet/slot-item.vue
  examples/sites/demos/mobile/app/actionsheet/webdoc/actionsheet.js
  packages/theme-mobile/src/action-sheet/index.less
Labels: bug

#2677 fix(pull-refresh): modify mobile bug
  packages/mobile/components/pull-refresh/src/mobile.vue
  packages/mobile/components/pull-refresh/src/pull-refresh.ts
Labels: bug

#2690 fix(exception): modify mobile problem
  examples/sites/demos/mobile/app/exception/buttonText.vue
  examples/sites/demos/mobile/app/exception/exceptionClass.vue
  examples/sites/demos/mobile/app/exception/message.vue
  packages/mobile/components/exception/src/exception.ts
  packages/mobile/components/exception/src/mobile.vue
Labels: bug

#2694 fix(file-upload): [file-upload] Optimized the usage of the customized upload example.
  examples/sites/demos/apis/file-upload.js
  examples/sites/demos/pc/app/file-upload/http-request-composition-api.vue
  examples/sites/demos/pc/app/file-upload/http-request.vue
Labels: bug

#2693 fix(vue-renderless): [action-menu, alert] fix site: Optimize site documentation typesetting
  examples/sites/demos/pc/app/action-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/action-menu/basic-usage.vue
  examples/sites/demos/pc/app/action-menu/card-mode-composition-api.vue
  examples/sites/demos/pc/app/action-menu/card-mode.vue
  examples/sites/demos/pc/app/action-menu/disabled-composition-api.vue
  examples/sites/demos/pc/app/action-menu/disabled.vue
  examples/sites/demos/pc/app/action-menu/events-composition-api.vue
  examples/sites/demos/pc/app/action-menu/events.spec.ts
  examples/sites/demos/pc/app/action-menu/events.vue
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/action-menu/max-show-num-composition-api.vue
  examples/sites/demos/pc/app/action-menu/max-show-num.vue
  examples/sites/demos/pc/app/action-menu/more-text-composition-api.vue
  examples/sites/demos/pc/app/action-menu/more-text.vue
  examples/sites/demos/pc/app/action-menu/popper-class-composition-api.vue
  examples/sites/demos/pc/app/action-menu/popper-class.vue
  examples/sites/demos/pc/app/action-menu/slot-item-composition-api.vue
  examples/sites/demos/pc/app/action-menu/slot-item.vue
  examples/sites/demos/pc/app/action-menu/spacing-composition-api.vue
  examples/sites/demos/pc/app/action-menu/spacing.vue
  examples/sites/demos/pc/app/action-menu/text-field-composition-api.vue
  examples/sites/demos/pc/app/action-menu/text-field.vue
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/alert/custom-close.spec.ts
  examples/sites/demos/pc/app/alert/slot-default.spec.ts
  examples/sites/demos/pc/app/alert/title.spec.ts
  examples/sites/demos/pc/app/alert/webdoc/alert.js
Labels: bug

#2681 fix: fix change theme error when open playground
  examples/sites/playground/App.vue
  examples/sites/src/const.ts
  examples/sites/src/router.js
  examples/sites/src/tools/useTheme.js
  examples/sites/src/views/components/demo.vue
Labels: bug

#2696 fix(mobile): fix mobile components build error
  packages/mobile/components/container/index.ts
  packages/mobile/components/date-picker/src/mobile.vue
  packages/mobile/components/loading/index.ts
  packages/mobile/components/modal/index.ts
  packages/mobile/components/multi-select-item/src/mobile.vue
  packages/mobile/components/popover/index.ts
  packages/mobile/components/tooltip/src/mobile.vue
  packages/mobile/components/upload/src/mobile.vue
  packages/mobile/package.json
  packages/mobile/vite.config.ts
  packages/mobile/vue-common/index.ts
  packages/mobile/vue-common/src/adapter/index.ts
  packages/mobile/vue-common/src/adapter/vue3/index.ts
  packages/mobile/vue-common/src/adapter/vue3/package.json
Labels: bug

#2700 feat: add saas-common runtime
  internals/cli/src/commands/build/build-runtime.ts
  packages/vue-runtime/package.json
Labels: enhancement

#2701 fix(site): fix error when build saas site
  examples/sites/playground/App.vue
  examples/sites/src/views/layout/layout.vue
  packages/theme-saas/src/aurora-theme-index.js
  packages/theme-saas/src/old-theme-index.js
  packages/theme-saas/src/theme-tool.js
Labels: bug

#2698 fix(mini-picker): the demo on the mobile client is modified.
  examples/sites/demos/mobile/app/minipicker/webdoc/minipicker.js
Labels: bug

#2704 fix(modal): modify the display and error issues of the mobile demo
  examples/sites/demos/mobile/app/modal/is-form-reset.vue
  examples/sites/demos/mobile/app/modal/showFooter.vue
  examples/sites/demos/mobile/app/modal/webdoc/modal.js
Labels: bug

#2699 fix(user-head): the problem and type of the demo on the mobile client are modified
  examples/sites/demos/mobile/app/user-head/basic-usage.vue
  examples/sites/demos/mobile/app/user-head/custom-background-color.vue
  examples/sites/demos/mobile/app/user-head/webdoc/user-head.js
  packages/mobile/components/user-head/src/renderless/index.ts
  packages/mobile/components/user-head/src/user-head.ts
Labels: bug

#2708 docs(select): add the description of the filterMethod prop for Select
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: documentation

#2705 fix(runtime): fix the problem of simple-runtime relying on echarts, and add base-select component
  internals/cli/src/commands/build/build-entry-app.ts
  packages/vue-runtime/package.json
Labels: bug

#2710 fix(tabs): modify the issue of the mobile demo not displaying and reporting errors
  packages/mobile/components/tabs/src/renderless/index.ts
  packages/mobile/components/tabs/src/renderless/vue.ts
Labels: bug

#2713 feat(site): optimize the performance of the official website, use lazy loading for document examples
  examples/sites/package.json
  examples/sites/src/views/components/cmp-config.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/vite.config.ts
Labels: enhancement

#2712 docs: fix back to top does not work and the document tab title does n…
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/float-settings.vue
Labels: documentation

#2718 feat(nav-menu): [nav-menu] Add custom selected mode
  examples/sites/demos/apis/nav-menu.js
  examples/sites/demos/pc/app/nav-menu/selecte-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/selecte.spec.ts
  examples/sites/demos/pc/app/nav-menu/selecte.vue
  examples/sites/demos/pc/app/nav-menu/webdoc/nav-menu.js
  packages/mobile/types/nav-menu.type.ts
  packages/renderless/src/nav-menu/index.ts
  packages/renderless/src/nav-menu/vue.ts
  packages/theme/src/nav-menu/index.less
  packages/vue/src/nav-menu/src/index.ts
  packages/vue/src/nav-menu/src/pc.vue
Labels: enhancement

#2719 fix(grid): [grid] fix the initial position on the left when dragging …
  packages/vue/src/grid/src/header/src/header.ts
Labels: bug
