Repository opentiny/tiny-vue, pull requests merged in 2024-05, with the labels that each got.

#1615 fix(test): [pop-upload] Fix e2e test cases
  examples/sites/demos/pc/app/pop-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.spec.ts
Labels: e2e-test

#1614 fix(file-upload): [file-upload] Fix the hidden feature bug in props.isHidden
  packages/theme/src/upload/index.less
  packages/vue/src/upload/src/pc.vue
Labels: bug

#1613 fix(test): [tabs] Fix e2e test cases
  examples/sites/demos/pc/app/tabs/stretch-wh.spec.ts
Labels: e2e-test

#1612 fix(test): [milestone] Fix e2e test cases
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/flag-before.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
Labels: e2e-test

#1617 fix(file-upload): [file-upload] Fix the hidden feature bug in props.isHidden
  packages/vue/src/upload/src/pc.vue
Labels: bug

#1624 fix(chart): delete chart duplicate key
  packages/vue/src/chart/chart-core/src/chart-core.ts
Labels: bug

#1626 docs: optimize component category
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.en.md
  examples/sites/demos/pc/app/chart/boxplot/vertical-composition-api.vue
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.cn.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.en.md
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.cn.md
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.en.md
  examples/sites/demos/pc/app/container/webdoc/container.cn.md
  examples/sites/demos/pc/app/container/webdoc/container.en.md
  examples/sites/demos/pc/app/divider/webdoc/divider.cn.md
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.en.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.cn.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.en.md
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.en.md
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.cn.md
  examples/sites/demos/pc/app/layout/webdoc/layout.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.en.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.cn.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.en.md
  examples/sites/demos/pc/app/pager/webdoc/pager.cn.md
  examples/sites/demos/pc/app/pager/webdoc/pager.en.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.cn.md
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.cn.md
  examples/sites/demos/pc/app/popover/webdoc/popover.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/time-line/webdoc/time-line.cn.md
  examples/sites/demos/pc/app/time-select/webdoc/time-select.cn.md
  examples/sites/demos/pc/menus.js
Labels: documentation

#1627 fix(select): [select] add showAllTextTag prop for select
  packages/vue/src/select/package.json
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/pc.vue
Labels: enhancement

#1638 fix(chart): fix chart extend bugs
  packages/vue/src/chart/chart-core/common/extend.ts
  packages/vue/src/chart/chart-core/package.json
  packages/vue/src/chart/chart-core/src/chart-core.ts
Labels: bug

#1641 docs: optimize component category
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.cn.md
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.en.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.cn.md
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.en.md
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.cn.md
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.cn.md
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.en.md
  examples/sites/demos/pc/app/container/webdoc/container.cn.md
  examples/sites/demos/pc/app/container/webdoc/container.en.md
  examples/sites/demos/pc/app/divider/webdoc/divider.cn.md
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.cn.md
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.en.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.cn.md
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.en.md
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.cn.md
  examples/sites/demos/pc/app/image/webdoc/image.en.md
  examples/sites/demos/pc/app/infinite-scroll/webdoc/infinite-scroll.cn.md
  examples/sites/demos/pc/app/layout/webdoc/layout.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.cn.md
  examples/sites/demos/pc/app/link/webdoc/link.en.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.cn.md
  examples/sites/demos/pc/app/numeric/webdoc/numeric.en.md
  examples/sites/demos/pc/app/pager/webdoc/pager.cn.md
  examples/sites/demos/pc/app/pager/webdoc/pager.en.md
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.cn.md
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.cn.md
  examples/sites/demos/pc/app/popover/webdoc/popover.cn.md
  examples/sites/demos/pc/app/rich-text-editor/webdoc/rich-text-editor.cn.md
  examples/sites/demos/pc/app/statistic/webdoc/statistic.cn.md
  examples/sites/demos/pc/app/time-line/webdoc/time-line.cn.md
  examples/sites/demos/pc/app/time-select/webdoc/time-select.cn.md
  examples/sites/demos/pc/menus.js
Labels: documentation

#1609 fix: add carousel component of demo
  examples/sites/demos/apis/carousel.js
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.spec.ts
  examples/sites/demos/pc/app/carousel/card-show.vue
  examples/sites/demos/pc/app/carousel/dialog-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/dialog-show.spec.ts
  examples/sites/demos/pc/app/carousel/dialog-show.vue
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
Labels: documentation

#1653 feat(alert): [alert] add type title text color css var
  packages/theme/package.json
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
Labels: enhancement
