Repository opentiny/tiny-vue, pull requests merged in 2025-09, with the labels that each got.

#3670 fix(grid): fix use title function text can not overflow ellipsis
  packages/vue/src/grid/src/cell/src/cell.ts
Labels: bug

#3674 fix(loading): Fix e2e error issue
  examples/sites/demos/pc/app/loading/background.spec.ts
  examples/sites/demos/pc/app/loading/custom-class.spec.ts
  examples/sites/demos/pc/app/loading/fullscreen.spec.ts
  examples/sites/demos/pc/app/loading/loading-tip-text.spec.ts
  examples/sites/demos/pc/app/loading/size.spec.ts
Labels: bug

#3673 fix(grid): fix rowspan border can not visible
  packages/theme-saas/src/grid/footer.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/vue/src/grid/src/body/src/body.tsx
Labels: bug

#3672 fix(amount): Fix the issue of inconsistent currency input and display in the table
  examples/sites/demos/pc/app/amount/custom-service.spec.js
  packages/vue/src/amount/src/mobile-first.vue
Labels: bug

#3678 fix(grid): fix has footer last row border duplicate
  packages/theme-saas/src/grid/table.less
Labels: bug

#3680 fix(select): Fix the issue with the option two-layer prompts
  packages/vue/src/option/src/pc.vue
Labels: bug

#3685 fix(e2e): fix amount's e2e test
  examples/sites/demos/pc/app/amount/custom-service.spec.js
  examples/sites/demos/pc/app/base-select/slot-reference.spec.ts
  examples/sites/demos/pc/app/input/basic-usage.spec.ts
Labels: bug

#3687 fix(build): fix themeSaas build errors, add LESS compilation and error handling, update gulp tasks to enhance readability and debug information
  package.json
  packages/theme-saas/build/gulp-dist.js
Labels: bug

#3688 fix(tag): Fix the issue where the tag on the mobile-first can be selected but does not take effect
  packages/renderless/src/tag/index.ts
Labels: bug

#3705 fix(site): push update logs and upgrade the playground version number to the release3.26 branch
  examples/sites/demos/pc/webdoc/changelog-en.md
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/playground/App.vue
Labels: bug

#3708 feat: Adapt to SaaS official website
  .github/workflows/auto-deploy-site.yml
  examples/sites/demos/mobile-first/menus.js
  examples/sites/demos/pc/app/container/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/container/basic-usage.vue
  examples/sites/demos/pc/app/container/custom-with-height-composition-api.vue
  examples/sites/demos/pc/app/container/custom-with-height.vue
  examples/sites/demos/pc/app/query-builder/webdoc/query-builder.js
  examples/sites/demos/pc/menus.js
  examples/sites/demos/saas/menus.js
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/anchor.vue
  examples/sites/src/components/demo.vue
  examples/sites/src/components/float-settings.vue
  examples/sites/src/tools/useApiMode.js
  examples/sites/src/tools/useTemplateMode.js
  examples/sites/src/views/components-doc/cmp-config.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/layout/layout.vue
  package.json
  packages/theme-saas/package.json
  packages/theme-saas/src/base/dark-theme.less
  packages/theme-saas/src/dark-theme-index.js
  packages/theme-saas/src/theme-tool.js
  packages/theme-saas/src/token.js
  packages/theme/build/writeDefaultValue.js
  packages/vue/package.json
Labels: enhancement

#3699 fix(select): repairing searchable, when frequent setSelected interrupts the search
  packages/renderless/src/select/index.ts
Labels: bug

#3707 fix(tabs): Optimize the rendering logic of multi terminal tabs
  packages/renderless/src/tabs-mf/vue-nav.ts
  packages/renderless/src/tabs-mf/vue-slider-bar.ts
  packages/renderless/src/tabs-mf/vue.ts
  packages/vue/src/tabs/src/mobile-first.vue
  packages/vue/src/tabs/src/mobile-first/tab-bar.vue
  packages/vue/src/tabs/src/mobile-first/tab-nav.vue
  packages/vue/src/tabs/src/mobile-first/tab-slider-bar.vue
Labels: bug

#3695 fix: fix the issue of missing the tiny prefix in CSS after packaging
  packages/theme/src/nav-menu/index.less
  packages/theme/src/row/index.less
Labels: bug

#3717 fix: resolve the issue of button size not expanding with text
  packages/theme/src/guide/index.less
  packages/theme/src/guide/vars.less
Labels: bug

#3726 fix(tabs): Supplement SaaS modifications
  packages/design/saas/src/dropdown-item/index.ts
Labels: bug

#3731 chore: add up-and-down-arrow svgs
  packages/theme-saas/src/svgs/badge-hot-cn.svg
  packages/theme-saas/src/svgs/badge-hot-en.svg
  packages/theme-saas/src/svgs/badge-new-cn.svg
  packages/theme-saas/src/svgs/badge-new-en.svg
  packages/theme-saas/src/svgs/up-and-down-arrow-inner.svg
  packages/theme-saas/src/svgs/up-and-down-arrow-outer.svg
  packages/theme/src/svgs/badge-hot-cn.svg
  packages/theme/src/svgs/badge-hot-en.svg
  packages/theme/src/svgs/badge-new-cn.svg
  packages/theme/src/svgs/badge-new-en.svg
  packages/theme/src/svgs/up-and-down-arrow-inner.svg
  packages/theme/src/svgs/up-and-down-arrow-outer.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/up-and-down-arrow-inner/index.ts
  packages/vue-icon/src/up-and-down-arrow-outer/index.ts
Labels: chore

#3734 fix(grid): fix grid loading-component error
  examples/sites/demos/apis/grid.js
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3752 feat: [tree-menu] change the demo data of tree menu
  examples/sites/demos/pc/app/tree-menu/with-icon-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/with-icon.spec.ts
  examples/sites/demos/pc/app/tree-menu/with-icon.vue
Labels: enhancement

#3740 fix(auto-tip): determine boundingValue.content whether it is incoming and the priority of incoming is higher
  packages/vue-directive/src/auto-tip.ts
Labels: bug

#3753 fix(grid): fix body height error after change pager size
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3701 fix(vue-popup): fix v-modal animation is not working
  packages/vue-hooks/src/vue-popup.ts
Labels: bug
