Repository opentiny/tiny-vue, pull requests merged in 2025-03, with the labels that each got.

#2981 feat: add huicharts runtime and update docs
  examples/sites/demos/pc/webdoc/import-components.md
  examples/sites/demos/pc/webdoc/installation.md
  internals/cli/src/commands/build/build-runtime.ts
Labels: enhancement

#2987 feat(pager): [pager] add dark theme
  packages/theme/src/pager/index.less
  packages/theme/src/pager/vars.less
Labels: enhancement

#2983 fix(renderless): fix renderless publish error and fix button-group apis
  examples/sites/demos/apis/button-group.js
  packages/renderless/scripts/postbuild.ts
Labels: bug

#2984 feat(breadcrumb): [breadcrumb] Add dark theme
  packages/theme/src/breadcrumb/index.less
  packages/theme/src/breadcrumb/vars.less
Labels: enhancement

#2979 feat(progress): [progress] add slot support for custom status icons
  examples/sites/demos/apis/progress.js
  examples/sites/demos/mobile-first/app/progress/slot-icon-status.vue
  examples/sites/demos/pc/app/progress/slot-icon-status-composition-api.vue
  examples/sites/demos/pc/app/progress/slot-icon-status.spec.ts
  examples/sites/demos/pc/app/progress/slot-icon-status.vue
  examples/sites/demos/pc/app/progress/webdoc/progress.js
  packages/vue/src/progress/src/mobile-first.vue
  packages/vue/src/progress/src/pc.vue
Labels: enhancement

#2857 chore: exclude huicharts from entry
  internals/cli/src/commands/build/build-entry-app.ts
  internals/cli/src/commands/build/build-entry.ts
Labels: chore

#2994 fix(grid): [grid] fix error of grid component and fix huicharts being packaged and excluded
  internals/cli/src/shared/module-utils.ts
  packages/vue/src/grid/src/grid/grid.ts
Labels: bug

#3000 fix(e2e): [tag-group,skeleton] fix e2e
  examples/sites/demos/pc/app/skeleton/animation.spec.ts
  examples/sites/demos/pc/app/skeleton/loading-completed.spec.ts
  examples/sites/demos/pc/app/tag-group/tag-group-effect.spec.js
Labels: bug, e2e-test

#2998 feat(tree-menu): [tree-menu] add dark theme
  examples/sites/demos/pc/app/tree-menu/tree-menu-slot-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/tree-menu-slot.vue
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Labels: enhancement

#3006 feat(tag): [tag] improve close icon interaction
  packages/theme/src/tag/index.less
  packages/vue/src/tag/src/pc.vue
Labels: enhancement

#2996 feat(grid): [grid] expose getTreeExpandeds function
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/tree-table/tree-table-tree-grid-expand-composition-api.vue
  examples/sites/demos/pc/app/grid/tree-table/tree-table-tree-grid-expand.spec.js
  examples/sites/demos/pc/app/grid/tree-table/tree-table-tree-grid-expand.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-tree-table.js
  packages/vue/src/grid/src/tree/src/methods.ts
Labels: enhancement

#3002 fix(docs):Fixed an issue where plus will display header search and description
  examples/sites/src/main.js
  examples/sites/src/views/overview.vue
Labels: bug

#2999 fix(carousel): [carousel] modify color theme variables
  packages/theme/src/carousel/index.less
  packages/theme/src/carousel/vars.less
Labels: bug

#2995 fix(site): refactor the implementation mode of switch dark theme
  examples/sites/public/static/js/design-common.js
  examples/sites/src/App.vue
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/assets/images/leftMenu/directives-custom-instruction.svg
  examples/sites/src/assets/markdown.less
  examples/sites/src/main.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/docs/docs.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
Labels: bug

#3017 fix(form): fix form array type message
  examples/sites/src/assets/images/mobile-container.png
  examples/sites/src/views/components-doc/mobile.vue
  packages/renderless/src/user/index.ts
  packages/renderless/src/user/vue.ts
  packages/theme-saas/src/date-picker/index.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/notify/index.less
  packages/utils/src/validate/rules/enum.ts
  packages/utils/src/validate/rules/pattern.ts
  packages/utils/src/validate/rules/range.ts
  packages/utils/src/validate/rules/required.ts
  packages/utils/src/validate/rules/type.ts
  packages/utils/src/validate/rules/whitespace.ts
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/user/src/index.ts
  packages/vue/src/user/src/mobile-first.vue
Labels: bug

#3016 docs: fix plus doc load error
  examples/sites/src/views/components-doc/cmp-config.js
  examples/sites/src/views/components-doc/index.vue
  examples/sites/src/views/components-doc/plus.vue
  examples/sites/vite.extend.ts
Labels: documentation

#3014 feat(dropdown): [action-menu,dropdown,autocomplete,input] component dark theme adaptation
  examples/sites/demos/pc/app/action-menu/icon-composition-api.vue
  examples/sites/demos/pc/app/action-menu/icon.vue
  examples/sites/demos/pc/app/action-menu/popper-class-composition-api.vue
  examples/sites/demos/pc/app/action-menu/popper-class.spec.ts
  examples/sites/demos/pc/app/action-menu/popper-class.vue
  examples/sites/demos/pc/app/action-menu/slot-item-composition-api.vue
  examples/sites/demos/pc/app/action-menu/slot-item.vue
  examples/sites/demos/pc/app/autocomplete/slot-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/slot.vue
  examples/sites/demos/pc/app/dropdown/inherit-width-composition-api.vue
  examples/sites/demos/pc/app/dropdown/inherit-width.vue
  examples/sites/demos/pc/app/dropdown/show-icon-composition-api.vue
  examples/sites/demos/pc/app/dropdown/show-icon.vue
  examples/sites/demos/pc/app/dropdown/size-composition-api.vue
  examples/sites/demos/pc/app/dropdown/size.vue
  examples/sites/demos/pc/app/dropdown/split-button.spec.ts
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/theme/src/action-menu/index.less
  packages/theme/src/autocomplete/index.less
  packages/theme/src/autocomplete/vars.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/dialog-select/index.less
  packages/theme/src/dropdown/index.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/svgs/ellipsis.svg
  packages/theme/src/tall-storage/index.less
  packages/theme/src/tall-storage/vars.less
  packages/vue/src/dropdown/src/pc.vue
Labels: enhancement

#3019 fix(site): fix header's background color on dark theme
  examples/sites/src/views/components-doc/components/header.vue
Labels: bug

#3021 fix(docs):Modified the TinyVuePlus description.
  examples/sites/src/i18n/en.json
  examples/sites/src/i18n/zh.json
  examples/sites/src/views/overview.vue
Labels: bug

#3041 fix(calendar-view): [calendar-view] change month type from string to number
  examples/sites/demos/apis/calendar-view.js
Labels: bug

#3038 fix(button-group): [button-group] update size prop type and add validator
  examples/sites/demos/apis/button-group.js
  packages/vue/src/button-group/src/index.ts
Labels: bug

#3007 feat(checkbox): [checkbox] Component dark theme adaptation
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
Labels: enhancement

#3012 feat(floatbar): [floatbar] Adapt to dark themes
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Labels: enhancement

#3042 fix(docs): modify the path in the chart document
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.cn.md
  examples/sites/demos/pc/app/chart/webdoc/chart-docs.en.md
Labels: bug

#3039 feat(calendar): [calendar] add year and month specification demo and tests
  examples/sites/demos/pc/app/calendar/calendar-year-month-composition-api.vue
  examples/sites/demos/pc/app/calendar/calendar-year-month.spec.ts
  examples/sites/demos/pc/app/calendar/calendar-year-month.vue
  examples/sites/demos/pc/app/calendar/webdoc/calendar.js
Labels: enhancement

#2903 feat(utils): resolve common function ts error
  packages/utils/src/tree-model/node.ts
  packages/utils/src/upload-ajax/index.ts
  packages/utils/src/validate/rules/required.ts
  packages/utils/src/validate/rules/type.ts
  packages/utils/src/validate/schema.ts
  packages/utils/src/validate/util.ts
  packages/utils/src/validate/validations/pattern.ts
  packages/utils/tsconfig.json
Labels: enhancement

#3047 fix(docs): [file-upload] Fix the issue of uploading component documents
  examples/sites/demos/mobile-first/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
Labels: bug

#3046 fix(site): document search box adapts to the dark theme.
  examples/sites/src/assets/custom-block.less
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/style.css
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/components-doc/components/api-docs.vue
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/components-doc/components/float-settings.vue
  examples/sites/src/views/components-doc/components/header.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
  packages/theme/src/checkbox/vars.less
Labels: bug

#3050 fix(utils): add nanoid.ts to utils
  packages/utils/src/index.ts
  packages/utils/src/nanoid/index.ts
  packages/utils/src/nanoid/nanoid.ts
Labels: bug

#3015 fix(crop): [crop] change theme
  packages/theme/src/crop/index.less
  packages/theme/src/crop/vars.less
Labels: bug

#3037 fix(breadcrumb): [breadcrumb] update size prop type and add validator
  examples/sites/demos/apis/breadcrumb.js
  packages/vue/src/breadcrumb-item/src/index.ts
  packages/vue/src/breadcrumb/src/index.ts
Labels: bug

#2982 fix(form): [form] modifying form validation sorting issues in asynchronous situations
  packages/renderless/src/form/index.ts
Labels: bug

#3044 feat:[steps,loading,image,milstone] Support dark them
  examples/sites/demos/pc/app/image/lazy-composition-api.vue
  examples/sites/demos/pc/app/image/lazy.vue
  examples/sites/demos/pc/app/loading/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/loading/basic-usage.vue
  examples/sites/demos/pc/app/milestone/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/milestone/basic-usage.spec.ts
  examples/sites/demos/pc/app/milestone/show-number.spec.ts
  examples/sites/demos/pc/app/milestone/solid-style.spec.ts
  packages/renderless/src/milestone/index.ts
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/milestone/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
Labels: enhancement

#3045 feat(floatbar): [floatbar] Adapt to dark themes
  examples/sites/demos/pc/app/floatbar/custom-style-composition-api.vue
  examples/sites/demos/pc/app/floatbar/custom-style.spec.ts
  examples/sites/demos/pc/app/floatbar/custom-style.vue
  examples/sites/demos/pc/app/virtual-scroll-box/table-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll-box/table.vue
  packages/design/saas/src/milestone/index.ts
  packages/theme/src/floatbar/index.less
  packages/theme/src/floatbar/vars.less
Labels: enhancement

#3061 fix(site):Fix Plus official website description and search
  examples/sites/src/i18n/en.json
  examples/sites/src/i18n/zh.json
  examples/sites/src/main.js
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/overview.vue
Labels: bug

#3087 fix(grid): [grid] fix scrollLeft error after header drag resize
  packages/vue/src/grid/src/header/src/header.ts
Labels: bug

#3089 chore(dependencies): update vitest and @vitest/ui versions to v3
  examples/vue2/package.json
  examples/vue3/package.json
  pnpm-workspace.yaml
Labels: chore

#3051 fix(fluent-editor): [fluent-editor] change theme
  examples/sites/demos/pc/app/fluent-editor/basic-usage.spec.ts
  examples/sites/demos/pc/app/fluent-editor/before-editor-init.spec.ts
  examples/sites/demos/pc/app/fluent-editor/data-switch.spec.ts
  examples/sites/demos/pc/app/fluent-editor/disabled.spec.ts
  examples/sites/demos/pc/app/fluent-editor/image-upload.spec.ts
  examples/sites/demos/pc/app/fluent-editor/options.spec.ts
  packages/theme/src/fluent-editor/index.less
  packages/theme/src/fluent-editor/vars.less
Labels: bug

#3066 fix(input): [input] fix prop types for cols, rows, and input-box-type
  examples/sites/demos/apis/input.js
Labels: bug

#3049 fix(tree-menu): [tree-menu] resolve input box style issues during folding and hover status issues in dark mode
  packages/theme/src/tree-menu/index.less
  packages/vue/src/tree-menu/src/pc.vue
Labels: bug

#3062 fix(site):Fixed the plus official website interface and type document display
  examples/sites/src/views/components-doc/common.vue
Labels: bug

#3067 fix(image): [image] fix 'appendToBody' definition placement error
  examples/sites/demos/apis/image.js
Labels: bug

#3088 fix(card): [card] fix card type definition error
  examples/sites/demos/apis/card.js
  packages/vue/src/card/src/index.ts
Labels: bug

#3091 fix(pager): [pager] fix align responsive cannot work and size docs
  examples/sites/demos/apis/pager.js
  packages/renderless/src/pager/vue.ts
  packages/vue/src/pager/__test__/pager.test.tsx
  packages/vue/src/pager/__tests__/pager.test.tsx
  packages/vue/src/pager/src/index.ts
Labels: bug

#3095 fix(file-upload): [file-upload] Fix the issue of incomplete prompts for uploading components
  packages/renderless/src/file-upload/index.ts
Labels: bug

#3052 fix(theme): [card,qr-code,skeleton] add dark theme
  examples/sites/demos/pc/app/card/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/card/basic-usage.vue
  examples/sites/demos/pc/app/card/card-disabled-composition-api.vue
  examples/sites/demos/pc/app/card/card-disabled.vue
  examples/sites/demos/pc/app/card/card-events-composition-api.vue
  examples/sites/demos/pc/app/card/card-events.vue
  examples/sites/demos/pc/app/card/card-group-composition-api.vue
  examples/sites/demos/pc/app/card/card-group.vue
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  examples/sites/demos/pc/app/card/card-size-composition-api.vue
  examples/sites/demos/pc/app/card/card-size.vue
  examples/sites/demos/pc/app/card/card-status-composition-api.vue
  examples/sites/demos/pc/app/card/card-status.vue
  examples/sites/demos/pc/app/card/card-type-composition-api.vue
  examples/sites/demos/pc/app/card/card-type.vue
  examples/sites/demos/pc/app/card/check-mode-composition-api.vue
  examples/sites/demos/pc/app/card/check-mode.vue
  examples/sites/demos/pc/app/card/check-type-checkbox-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-checkbox.vue
  examples/sites/demos/pc/app/card/check-type-radio-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-radio.vue
  examples/sites/demos/pc/app/card/custom-class-composition-api.vue
  examples/sites/demos/pc/app/card/custom-class.vue
  examples/sites/demos/pc/app/card/operate-bar-composition-api.vue
  examples/sites/demos/pc/app/card/operate-bar.vue
  examples/sites/demos/pc/app/card/slot-composition-api.vue
  examples/sites/demos/pc/app/card/slot.vue
  examples/sites/demos/pc/app/qr-code/basic-usage.spec.ts
  examples/sites/demos/pc/app/qr-code/icon.spec.ts
  examples/sites/demos/pc/app/qr-code/level.spec.ts
  examples/sites/demos/pc/app/qr-code/style.spec.ts
  packages/theme/src/qr-code/index.less
  packages/theme/src/qr-code/vars.less
  packages/theme/src/skeleton-item/vars.less
  packages/theme/src/vars.less
  packages/vue/src/qr-code/src/pc.vue
Labels: bug

#3094 fix(datePicker):[date-picker]Fix the display of datePicker deletion icon in dark themes.
  packages/theme/src/picker/index.less
  packages/vue/src/picker/src/pc.vue
Labels: bug

#3096 fix(input): [input] fixed the abnormal display of the input box back icon in read-only mode
  packages/vue/src/input/src/pc.vue
Labels: bug

#2213 refactor(grid-checkbox): [grid] refactor grid checkbox
  packages/renderless/src/grid/checkbox/handleSelectRow.ts
  packages/renderless/src/grid/checkbox/index.ts
  packages/renderless/src/grid/checkbox/setAllSelection.ts
  packages/renderless/src/grid/checkbox/vue.ts
  packages/renderless/src/grid/table/index.ts
  packages/renderless/src/grid/table/vue.ts
  packages/vue/src/grid/src/checkbox/index.ts
  packages/vue/src/grid/src/checkbox/src/methods.ts
  packages/vue/src/grid/src/table/src/pc.vue
Labels: refactoring, ospp-2024

#2489 fix(rich-text-editor): tiny-tiptap unit test
  examples/sites/demos/pc/app/rich-text-editor/basic-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/bubble-menu-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/collaboration-usage.vue
  examples/sites/demos/pc/app/rich-text-editor/custom-bar-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/event-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/options-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/placeholder-usage.spec.ts
  examples/sites/demos/pc/app/rich-text-editor/slash-menu-usage.spec.ts
Labels: e2e-test

#3100 fix(select): [select] fix the issue where the `dropStyle` attribute of the `select` component is not passed through to the internal `scrollBar` component
  packages/vue/src/scrollbar/src/pc.vue
  packages/vue/src/select/src/pc.vue
Labels: bug

#3110 fix(date-picker,steps):[date-picker,steps]Fix the width of the datePicker panel and the background of the step bar under the dark theme
  packages/theme/src/date-panel/index.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
Labels: bug

#3114 fix(form): [form] Fix the popper-options page demo style issue
  examples/sites/demos/pc/app/form/popper-options-composition-api.vue
  examples/sites/demos/pc/app/form/popper-options.vue
Labels: bug

#3113 fix(docs): fixed the issue that the drop-down panel on the official website does not follow the scrolling
  examples/sites/src/views/components-doc/common.vue
Labels: bug

#3064 fix(input): [input] fix size attr with opposite description
  examples/sites/demos/apis/input.js
Labels: bug

#3093 fix(popover): [popover] make popover placement reactive
  packages/utils/src/popper/index.ts
  packages/vue-hooks/src/vue-popper.ts
  packages/vue/src/popover/__tests__/popover.test.tsx
Labels: bug

#3101 fix(nav-menu): [nav-menu] add parent-key prop description
  examples/sites/demos/apis/nav-menu.js
Labels: bug

#3102 fix: fix unit test cases cannot be scanned
  packages/utils/src/crypt/__tests__/__snapshots__/crypt.test.ts.snap
  packages/utils/src/crypt/__tests__/crypt.test.ts
  packages/utils/src/xss/__tests__/xss.test.ts
  packages/vue/src/action-menu/__tests__/action-menu.test.tsx
  packages/vue/src/collapse-item/__tests__/collapse-item.test.tsx
  packages/vue/src/collapse/__tests__/collapse.test.tsx
  packages/vue/src/divider/__tests__/divider.test.tsx
  packages/vue/src/dropdown/__tests__/dropdown.test.tsx
  packages/vue/src/fullscreen/__tests__/fullscreen.test.tsx
  packages/vue/src/tooltip/__tests__/tooltip.test.tsx
  packages/vue/src/tree/__tests__/tree.test.tsx
  packages/vue/src/user-contact/__tests__/user-contact.test.tsx
  packages/vue/src/user-head/__tests__/user-head.test.tsx
Labels: bug

#3112 fix(grid): [grid] fix grid drag error when set visual scroll
  packages/vue/src/grid/src/dragger/src/rowDrop.ts
Labels: bug

#3108 feat(slider): [slider,select，base-select] adapt to dark themes and adjust common variables
  examples/sites/demos/pc/app/base-select/multiple-mix-composition-api.vue
  examples/sites/demos/pc/app/base-select/multiple-mix.vue
  examples/sites/demos/pc/app/base-select/popup-style-position-composition-api.vue
  examples/sites/demos/pc/app/base-select/popup-style-position.vue
  examples/sites/demos/pc/app/base-select/slot-footer-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-footer.vue
  examples/sites/demos/pc/app/base-select/slot-reference-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-reference.vue
  examples/sites/demos/pc/app/select/multiple-composition-api.vue
  examples/sites/demos/pc/app/select/multiple-mix-composition-api.vue
  examples/sites/demos/pc/app/select/multiple-mix.vue
  examples/sites/demos/pc/app/select/multiple.vue
  examples/sites/demos/pc/app/select/popup-style-position-composition-api.vue
  examples/sites/demos/pc/app/select/popup-style-position.vue
  examples/sites/demos/pc/app/select/slot-footer-composition-api.vue
  examples/sites/demos/pc/app/select/slot-footer.vue
  examples/sites/demos/pc/app/select/slot-reference-composition-api.vue
  examples/sites/demos/pc/app/select/slot-reference.vue
  packages/theme/src/base-select/index.less
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
  packages/theme/src/svgs/check.svg
  packages/vue/src/filter-box/src/pc.vue
Labels: enhancement

#3115 fix(datepicker):[date-picker]Fix the panel width is abnormal.
  packages/theme/src/date-panel/index.less
Labels: bug

#3122 feat: Adds variable default value handling in build theme
  packages/theme/build/buildVarToObj.js
  packages/theme/build/gulp-dist.js
  packages/theme/build/mapVar.js
  packages/theme/build/writeDefaultValue.js
Labels: enhancement, ci

#3123 fix(grid): [grid] update dark theme
  examples/sites/demos/pc/app/grid/custom-style/class-name-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/class-name.spec.js
  examples/sites/demos/pc/app/grid/custom-style/class-name.vue
  examples/sites/demos/pc/app/grid/editor/active-strictly-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/active-strictly.vue
  examples/sites/demos/pc/app/grid/editor/editor-bg-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/editor-bg.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading-composition-api.vue
  examples/sites/demos/pc/app/grid/loading/grid-custom-loading.vue
  packages/theme/src/grid/filter.less
  packages/theme/src/grid/loading.less
  packages/theme/src/grid/menu.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/toolbar.less
  packages/theme/src/grid/vars.less
  packages/theme/src/loading/vars.less
Labels: bug

#3124 fix(datepicker):[date-picker]year panel disabling does not take effect
  packages/renderless/src/year-table/index.ts
Labels: bug

#3117 fix(tree): [tree] fix tree node slot radio cannot be displayed
  packages/theme/src/tree/index.less
  packages/vue/src/tree/src/tree-node.vue
Labels: bug

#3126 fix(popper): [tooltip,popover] fix popper doms in custom element, cant get zindex
  packages/renderless/src/grid/utils/dom.ts
  packages/utils/src/popper/index.ts
  packages/vue-hooks/src/vue-popper.ts
Labels: bug

#3127 fix(transfer): [transfer] add is-filterable className to transfer-panel's root dom
  packages/vue/src/transfer-panel/src/pc.vue
Labels: bug

#3125 fix(popper): [tooltip,popover] fix popper doms in custom element, cant get zindex
  packages/renderless/package.json
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/common/deps/vue-popper.ts
  packages/renderless/src/grid/utils/dom.ts
Labels: bug

#3139 fix(utils): fix the `crypt` function for missing `await`
  packages/utils/src/crypt/index.ts
Labels: bug

#3140 fix(grid): [grid] fix mobile first empty slot
  packages/vue/src/grid/src/mobile-first/index.vue
Labels: bug

#3137 docs: optimize feature list page
  examples/sites/demos/pc/app/badge/webdoc/badge.js
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/demos/pc/app/types.ts
  examples/sites/src/views/features.vue
  examples/sites/uno.config.js
Labels: documentation

#3142 docs: optimize features of action-menu/alert/anchor and so on
  examples/sites/demos/pc/app/action-menu/webdoc/action-menu.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/anchor/webdoc/anchor.js
  examples/sites/demos/pc/app/autocomplete/webdoc/autocomplete.js
  examples/sites/demos/pc/app/breadcrumb/webdoc/breadcrumb.js
  examples/sites/demos/pc/app/bulletin-board/webdoc/bulletin-board.js
  examples/sites/demos/pc/app/button-group/webdoc/button-group.js
  examples/sites/demos/pc/app/calendar-view/webdoc/calendar-view.js
  examples/sites/demos/pc/app/calendar/webdoc/calendar.js
  examples/sites/demos/pc/app/card/webdoc/card.js
Labels: documentation

#3144 docs: add features of carousel/cascader/checkout and so on
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
  examples/sites/demos/pc/app/cascader-panel/webdoc/cascader-panel.js
  examples/sites/demos/pc/app/cascader/webdoc/cascader.js
  examples/sites/demos/pc/app/checkbox/webdoc/checkbox.js
  examples/sites/demos/pc/app/collapse/webdoc/collapse.js
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.js
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.js
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  examples/sites/demos/pc/app/container/webdoc/container.js
  examples/sites/demos/pc/app/crop/webdoc/crop.js
Labels: documentation

#3145 docs: optimize features of dialog-select/divider/drawer and so on
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  examples/sites/demos/pc/app/divider/webdoc/divider.js
  examples/sites/demos/pc/app/drawer/webdoc/drawer.js
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.js
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.js
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.js
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.js
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/demos/pc/app/form/webdoc/form.js
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
Labels: documentation

#3150 docs: optimize features of popconfirm/popeditor/rate and so on
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.js
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
  examples/sites/demos/pc/app/radio/webdoc/radio.js
  examples/sites/demos/pc/app/rate/webdoc/rate.js
  examples/sites/demos/pc/app/scroll-text/webdoc/scroll-text.js
  examples/sites/demos/pc/app/search/webdoc/search.js
  examples/sites/demos/pc/app/select/webdoc/select.js
  examples/sites/demos/pc/app/skeleton/webdoc/skeleton.js
  examples/sites/demos/pc/app/slider/webdoc/slider.js
  examples/sites/demos/pc/app/split/webdoc/split.js
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  examples/sites/demos/pc/app/steps/webdoc/steps.js
  examples/sites/demos/pc/app/sticky/webdoc/sticky.js
  examples/sites/demos/pc/app/switch/webdoc/switch.js
  examples/sites/demos/pc/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/tag-group/webdoc/tag-group.js
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  examples/sites/demos/pc/app/text-popup/webdoc/text-popup.js
  examples/sites/demos/pc/app/time-line/webdoc/time-line.js
  examples/sites/demos/pc/app/time-picker/webdoc/time-picker.js
  examples/sites/demos/pc/app/time-select/webdoc/time-select.js
  examples/sites/demos/pc/app/tooltip/webdoc/tooltip.js
  examples/sites/demos/pc/app/transfer/webdoc/transfer.js
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  examples/sites/demos/pc/app/user-contact/webdoc/user-contact.js
  examples/sites/demos/pc/app/user-head/webdoc/user-head.js
  examples/sites/demos/pc/app/virtual-scroll-box/webdoc/virtual-scroll-box.js
  examples/sites/demos/pc/app/virtual-tree/webdoc/virtual-tree.js
  examples/sites/demos/pc/app/watermark/webdoc/watermark.js
  examples/sites/demos/pc/app/wizard/webdoc/wizard.js
Labels: documentation

#3151 docs: optimize features of date-picker/dialog-box/dropdown and so on
  examples/sites/demos/pc/app/base-select/webdoc/base-select.js
  examples/sites/demos/pc/app/date-picker/webdoc/date-picker.js
  examples/sites/demos/pc/app/dialog-box/webdoc/dialog-box.js
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  examples/sites/demos/pc/app/file-upload/webdoc/file-upload.js
  examples/sites/demos/pc/app/grid/webdoc/grid.js
  examples/sites/demos/pc/app/loading/webdoc/loading.js
  examples/sites/demos/pc/app/nav-menu/webdoc/nav-menu.js
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  examples/sites/demos/pc/app/tree/webdoc/tree.js
  examples/sites/src/views/features.vue
Labels: documentation

#3133 fix(nav-menu): [nav-menu] update dark theme
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
Labels: bug

#3149 fix(carousel): [carousel] change demo of theme
  examples/sites/demos/pc/app/carousel/autoplay-composition-api.vue
  examples/sites/demos/pc/app/carousel/autoplay.vue
  examples/sites/demos/pc/app/carousel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/carousel/basic-usage.vue
  examples/sites/demos/pc/app/carousel/card-mode-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-mode.vue
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-always.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-hover.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-arrow-never.vue
  examples/sites/demos/pc/app/carousel/carousel-events-composition-api.vue
  examples/sites/demos/pc/app/carousel/carousel-events.vue
  examples/sites/demos/pc/app/carousel/close-loop-composition-api.vue
  examples/sites/demos/pc/app/carousel/close-loop.vue
  examples/sites/demos/pc/app/carousel/custom-height-composition-api.vue
  examples/sites/demos/pc/app/carousel/custom-height.vue
  examples/sites/demos/pc/app/carousel/dialog-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/dialog-show.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger-composition-api.vue
  examples/sites/demos/pc/app/carousel/indicator-trigger.vue
  examples/sites/demos/pc/app/carousel/initial-index-composition-api.vue
  examples/sites/demos/pc/app/carousel/initial-index.vue
  examples/sites/demos/pc/app/carousel/manual-play-composition-api.vue
  examples/sites/demos/pc/app/carousel/manual-play.vue
  examples/sites/demos/pc/app/carousel/play-interval-composition-api.vue
  examples/sites/demos/pc/app/carousel/play-interval.vue
  examples/sites/demos/pc/app/carousel/show-title-composition-api.vue
  examples/sites/demos/pc/app/carousel/show-title.vue
  examples/sites/demos/pc/app/carousel/swipeable-composition-api.vue
  examples/sites/demos/pc/app/carousel/swipeable.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel-composition-api.vue
  examples/sites/demos/pc/app/carousel/up-down-carousel.vue
  packages/theme/src/carousel-item/vars.less
Labels: bug

#3152 fix(dark): [card,collapse] update dark theme
  examples/sites/demos/pc/app/card/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/card/basic-usage.vue
  examples/sites/demos/pc/app/card/card-disabled-composition-api.vue
  examples/sites/demos/pc/app/card/card-disabled.vue
  examples/sites/demos/pc/app/card/card-events-composition-api.vue
  examples/sites/demos/pc/app/card/card-events.vue
  examples/sites/demos/pc/app/card/card-group-composition-api.vue
  examples/sites/demos/pc/app/card/card-group.vue
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  examples/sites/demos/pc/app/card/card-size-composition-api.vue
  examples/sites/demos/pc/app/card/card-size.vue
  examples/sites/demos/pc/app/card/card-status-composition-api.vue
  examples/sites/demos/pc/app/card/card-status.vue
  examples/sites/demos/pc/app/card/card-type-composition-api.vue
  examples/sites/demos/pc/app/card/card-type.vue
  examples/sites/demos/pc/app/card/check-mode-composition-api.vue
  examples/sites/demos/pc/app/card/check-mode.vue
  examples/sites/demos/pc/app/card/check-type-checkbox-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-checkbox.vue
  examples/sites/demos/pc/app/card/check-type-radio-composition-api.vue
  examples/sites/demos/pc/app/card/check-type-radio.vue
  examples/sites/demos/pc/app/card/operate-bar-composition-api.vue
  examples/sites/demos/pc/app/card/operate-bar.vue
  examples/sites/demos/pc/app/card/slot-composition-api.vue
  examples/sites/demos/pc/app/card/slot.vue
  packages/theme/src/card/vars.less
  packages/theme/src/collapse-item/vars.less
Labels: bug

#3156 fix(checkbox-group): sync theme-saas
  packages/theme-saas/src/checkbox-group/index.less
Labels: bug

#3136 feat(cascader): [cascader,tree] dark theme adaptation
  examples/sites/demos/pc/app/cascader/filterable-composition-api.vue
  examples/sites/demos/pc/app/cascader/filterable.vue
  examples/sites/demos/pc/app/transfer/custom-render-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-render.vue
  examples/sites/demos/pc/app/tree/icons-composition-api.vue
  examples/sites/demos/pc/app/tree/icons.vue
  packages/theme/src/cascader-menu/index.less
  packages/theme/src/cascader-node/index.less
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/cascader/index.less
  packages/theme/src/cascader/vars.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
  packages/theme/src/tree/index.less
Labels: enhancement

#3157 fix(tree-menu): [tree-menu] update dark theme
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Labels: bug

#3148 docs: add XSS whitelist configuration FAQ
  examples/sites/demos/pc/webdoc/faq.md
Labels: documentation

#3153 feat: optimize the dark mode switching method, reduce the size of non-dark theme user packages, and add dark theme switching documents
  examples/sites/demos/pc/menus.js
  examples/sites/demos/pc/webdoc/theme-dark-en.md
  examples/sites/demos/pc/webdoc/theme-dark.md
  examples/sites/src/main.js
  internals/cli/src/config/vite.ts
  packages/theme/build/release.js
  packages/theme/src/base/index.less
Labels: enhancement

#3159 fix(text-popup): [text-popup] update dark theme
  examples/sites/demos/pc/app/text-popup/clear-value-composition-api.vue
  examples/sites/demos/pc/app/text-popup/clear-value.vue
  packages/theme/src/text-popup/index.less
  packages/theme/src/text-popup/vars.less
Labels: bug

#3160 feat(theme): [select] modify the scrollbar and popper to unify the style
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/reset.less
Labels: enhancement

#3164 feat(button): [button] Adapt to dark themes
  examples/sites/demos/pc/app/button/ghost-composition-api.vue
  examples/sites/demos/pc/app/button/ghost.vue
Labels: enhancement

#3166 fix(grid): [grid] update dark theme
  packages/theme/src/grid/body.less
  packages/theme/src/grid/header.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
Labels: bug

#3138 feat(utils): use cursor to add comments, ts type declarations, and vitest test cases to utils functions
  packages/utils/src/dom/index.ts
  packages/utils/src/type/__tests__/type.test.ts
  packages/utils/src/type/index.ts
Labels: bug, enhancement

#3154 feat(utils): add comments, ts type declarations, and vitest test cases to utils functions
  packages/utils/src/after-leave/__tests__/index.test.ts
  packages/utils/src/after-leave/index.ts
  packages/utils/src/array/__tests__/index.test.ts
  packages/utils/src/array/index.ts
  packages/utils/src/bigInt/__tests__/index.test.ts
  packages/utils/src/bigInt/index.ts
  packages/utils/src/calendar/__test__/index.test.ts
  packages/utils/src/calendar/index.ts
  packages/utils/src/common/__tests__/index.test.ts
  packages/utils/src/common/index.ts
  packages/utils/src/crypt/index.ts
  packages/utils/src/dataset/index.ts
  packages/utils/src/date/__test__/index.test.ts
  packages/utils/src/date/index.ts
  packages/utils/src/debounce/__tests__/debounce.test.ts
  packages/utils/src/debounce/index.ts
  packages/utils/src/decimal/__tests__/index.test.ts
  packages/utils/src/decimal/index.ts
  packages/utils/src/validate/__test__/util.test.ts
  packages/utils/src/validate/util.ts
  packages/utils/src/validate/validations/__test__/date.test.ts
  packages/utils/src/validate/validations/__test__/integer.test.ts
  packages/utils/src/validate/validations/__test__/number.test.ts
  packages/utils/src/validate/validations/__test__/pattern.test.ts
  packages/utils/src/validate/validations/__test__/required.test.ts
  packages/utils/src/validate/validations/array.ts
  packages/utils/src/validate/validations/date.ts
  packages/utils/src/validate/validations/enum.ts
  packages/utils/src/validate/validations/float.ts
  packages/utils/src/validate/validations/integer.ts
  packages/utils/src/validate/validations/method.ts
  packages/utils/src/validate/validations/number.ts
  packages/utils/src/validate/validations/pattern.ts
  packages/utils/src/validate/validations/required.ts
  packages/utils/src/validate/validations/string.ts
  packages/utils/src/validate/validations/type.ts
  packages/utils/src/xss/__tests__/xss.test.ts
  packages/utils/vitest.config.ts
Labels: bug, enhancement

#3158 fix(tag): [tag,select] tag add maxWidth prop, and select add maxTagWidth prop
  examples/sites/demos/apis/select.js
  examples/sites/demos/apis/tag.js
  examples/sites/demos/pc/app/tag/max-width-composition-api.vue
  examples/sites/demos/pc/app/tag/max-width.spec.ts
  examples/sites/demos/pc/app/tag/max-width.vue
  examples/sites/demos/pc/app/tag/webdoc/tag.js
  packages/theme-saas/src/tag/index.less
  packages/theme/src/tag/index.less
  packages/vue/src/select/src/index.ts
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/pc.vue
  packages/vue/src/tag/src/index.ts
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/pc.vue
Labels: bug, enhancement

#3161 fix: fix features page style
  examples/sites/src/views/features.vue
  examples/sites/tiny-uno/rules/size.js
Labels: bug

#3169 fix(utils): modify the date formatting function, remove redundant parameters and optimize the logic
  packages/utils/src/date/index.ts
Labels: bug, enhancement

#3170 fix(popconfirm): add handleDocumentClick to IPopconfirmApi interface
  packages/renderless/types/popconfirm.type.ts
Labels: bug, enhancement

#3171 feat: [file-upload] Add file names to restricted prompt texts
  packages/renderless/src/file-upload/index.ts
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/es-LA.ts
  packages/vue-locale/src/lang/pt-BR.ts
  packages/vue-locale/src/lang/zh-CN.ts
Labels: bug, enhancement

#3184 fix(cascader): [cascader] fix component theme
  examples/sites/demos/pc/app/transfer/custom-titles-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-titles.spec.ts
  examples/sites/demos/pc/app/transfer/custom-titles.vue
  packages/theme/src/cascader-node/index.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
Labels: bug, enhancement

#3186 docs(select): [select] add dropdown menu top slot official website documen
  examples/sites/demos/apis/select.js
  examples/sites/demos/pc/app/select/slot-header-footer-composition-api.vue
  examples/sites/demos/pc/app/select/slot-header-footer.spec.ts
  examples/sites/demos/pc/app/select/slot-header-footer.vue
  examples/sites/demos/pc/app/select/webdoc/select.js
Labels: documentation

#3173 feat(theme): [tag] adjust the common variable and adapt the tag component
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/image-viewer/vars.less
  packages/theme/src/link-menu/vars.less
  packages/theme/src/tag/vars.less
  packages/theme/src/tooltip/vars.less
Labels: bug, enhancement

#3178 chore(crop): [crop] update cropperjs dependency version to 1.6.2 to solve the overdue dependency problem
  package.json
  packages/vue/src/crop/package.json
Labels: chore

#3179 docs(api): [popeditor] update type for popselector
  examples/sites/demos/apis/popeditor.js
Labels: documentation

#3180 docs(api): [popupload] update type for size
  examples/sites/demos/apis/pop-upload.js
  examples/sites/demos/pc/app/pop-upload/webdoc/pop-upload.js
  packages/vue/src/pop-upload/src/index.ts
Labels: documentation

#3177 fix(select): [select,base-select,tree-select,slider] fix component style issue
  examples/sites/demos/pc/app/base-select/searchable-composition-api.vue
  examples/sites/demos/pc/app/base-select/searchable.vue
  examples/sites/demos/pc/app/base-select/slot-empty-composition-api.vue
  examples/sites/demos/pc/app/base-select/slot-empty.vue
  examples/sites/demos/pc/app/select/searchable-composition-api.vue
  examples/sites/demos/pc/app/select/searchable.vue
  examples/sites/demos/pc/app/select/slot-empty-composition-api.vue
  examples/sites/demos/pc/app/select/slot-empty.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/tree-select/collapse-tags.vue
  packages/theme/src/base-select/index.less
  packages/theme/src/base-select/vars.less
  packages/theme/src/select-dropdown/index.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/select/index.less
  packages/theme/src/slider/index.less
  packages/theme/src/slider/vars.less
Labels: bug, enhancement

#3192 fix(tooltip): [tooltip] add a default value for the contentMaxHeight property
  packages/theme-saas/src/tooltip/index.less
  packages/theme/src/tooltip/index.less
  packages/theme/src/tooltip/vars.less
  packages/vue/src/tooltip/src/index.ts
  packages/vue/src/tooltip/src/mobile-first.vue
Labels: bug, enhancement

#3196 fix(calendar-view): [calendar-view] increase the maximum height and overflow handling of calendar-view tooltip content to optimize display effect
  packages/theme-saas/src/calendar-view/index.less
  packages/theme/src/calendar-view/index.less
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/tooltip/src/mobile-first.vue
Labels: bug, enhancement

#3198 fix(dialog-box): [dialog-box] modify theme and demo
  examples/sites/demos/pc/app/dialog-box/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/basic-usage.spec.ts
  examples/sites/demos/pc/app/dialog-box/basic-usage.vue
  examples/sites/demos/pc/app/dialog-box/close-on-click-modal.spec.ts
  examples/sites/demos/pc/app/dialog-box/close-on-press-escape.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-content.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-footer.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.spec.ts
  examples/sites/demos/pc/app/dialog-box/custom-dialog-title.vue
  examples/sites/demos/pc/app/dialog-box/destroy-on-close-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/destroy-on-close.spec.ts
  examples/sites/demos/pc/app/dialog-box/destroy-on-close.vue
  examples/sites/demos/pc/app/dialog-box/dialog-top-height.spec.ts
  examples/sites/demos/pc/app/dialog-box/dialog-width.spec.ts
  examples/sites/demos/pc/app/dialog-box/double-dialog-height-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/double-dialog-height.vue
  examples/sites/demos/pc/app/dialog-box/draggable-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/draggable.spec.ts
  examples/sites/demos/pc/app/dialog-box/draggable.vue
  examples/sites/demos/pc/app/dialog-box/fullscreen.spec.ts
  examples/sites/demos/pc/app/dialog-box/hidden-header.spec.ts
  examples/sites/demos/pc/app/dialog-box/lock-scroll.spec.ts
  examples/sites/demos/pc/app/dialog-box/open-close-events-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/open-close-events.spec.ts
  examples/sites/demos/pc/app/dialog-box/open-close-events.vue
  examples/sites/demos/pc/app/dialog-box/right-dialog-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/right-dialog.vue
  examples/sites/demos/pc/app/dialog-box/secondary-dialog-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/secondary-dialog.spec.ts
  examples/sites/demos/pc/app/dialog-box/secondary-dialog.vue
  examples/sites/demos/pc/app/dialog-box/transition-effect-composition-api.vue
  examples/sites/demos/pc/app/dialog-box/transition-effect.spec.ts
  examples/sites/demos/pc/app/dialog-box/transition-effect.vue
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Labels: bug, enhancement

#3195 fix(checkbox): [checkbox] Adapt to dark themes
  packages/theme/src/checkbox/index.less
  packages/theme/src/checkbox/vars.less
Labels: bug, enhancement

#3193 fix(carousel): [carousel] modify theme
  examples/sites/demos/pc/app/carousel/card-show-composition-api.vue
  examples/sites/demos/pc/app/carousel/card-show.vue
  packages/theme/src/carousel/vars.less
Labels: bug, enhancement

#3202 fix(badge): [badge] Adapt to dark themes
  examples/sites/demos/pc/app/badge/offset-composition-api.vue
  examples/sites/demos/pc/app/badge/offset.vue
Labels: bug, enhancement

#3191 fix(divider): [divider] modify theme
  examples/sites/demos/pc/app/divider/basic-usage.spec.ts
  examples/sites/demos/pc/app/divider/content-position.spec.ts
  examples/sites/demos/pc/app/divider/custom-style.spec.ts
  examples/sites/demos/pc/app/divider/direction.spec.ts
  examples/sites/demos/pc/app/divider/divider-type.spec.ts
  examples/sites/demos/pc/app/divider/status.spec.ts
  packages/theme/src/divider/vars.less
Labels: bug, enhancement

#3215 docs: optimize grid docs
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/webdoc/grid-align.js
  examples/sites/demos/pc/app/grid/webdoc/grid-appearance-settings.js
  examples/sites/demos/pc/app/grid/webdoc/grid-context-menu.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom-style.js
  examples/sites/demos/pc/app/grid/webdoc/grid-custom.js
  examples/sites/demos/pc/app/grid/webdoc/grid-data-source.js
  examples/sites/demos/pc/app/grid/webdoc/grid-drag.js
  examples/sites/demos/pc/app/grid/webdoc/grid-dynamically-columns.js
  examples/sites/demos/pc/app/grid/webdoc/grid-edit.js
  examples/sites/demos/pc/app/grid/webdoc/grid-editor.js
  examples/sites/demos/pc/app/grid/webdoc/grid-empty.js
  examples/sites/demos/pc/app/grid/webdoc/grid-event.js
  examples/sites/demos/pc/app/grid/webdoc/grid-expand.js
  examples/sites/demos/pc/app/grid/webdoc/grid-faq.js
  examples/sites/demos/pc/app/grid/webdoc/grid-filter.js
  examples/sites/demos/pc/app/grid/webdoc/grid-fixed.js
  examples/sites/demos/pc/app/grid/webdoc/grid-footer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-header.js
  examples/sites/demos/pc/app/grid/webdoc/grid-highlight.js
  examples/sites/demos/pc/app/grid/webdoc/grid-import-export.js
  examples/sites/demos/pc/app/grid/webdoc/grid-large-data.js
  examples/sites/demos/pc/app/grid/webdoc/grid-loading.js
  examples/sites/demos/pc/app/grid/webdoc/grid-mouse-keyboard.js
  examples/sites/demos/pc/app/grid/webdoc/grid-operation-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-pager.js
  examples/sites/demos/pc/app/grid/webdoc/grid-renderer.js
  examples/sites/demos/pc/app/grid/webdoc/grid-row-grouping.js
  examples/sites/demos/pc/app/grid/webdoc/grid-serial-column.js
  examples/sites/demos/pc/app/grid/webdoc/grid-size.js
  examples/sites/demos/pc/app/grid/webdoc/grid-slot.js
  examples/sites/demos/pc/app/grid/webdoc/grid-sort.js
  examples/sites/demos/pc/app/grid/webdoc/grid-span.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tip.js
  examples/sites/demos/pc/app/grid/webdoc/grid-toolbar.js
  examples/sites/demos/pc/app/grid/webdoc/grid-tree-table.js
  examples/sites/demos/pc/app/grid/webdoc/grid-validation.js
Labels: documentation

#3210 fix(grid): [grid] fix grid custom saas tree check event
  packages/vue/src/grid-toolbar/src/custom-saas.vue
Labels: bug, enhancement

#3201 fix(popconfirm): [popconfirm] Adapt to dark themes
  examples/sites/demos/pc/app/popconfirm/custom-class-composition-api.vue
  examples/sites/demos/pc/app/popconfirm/custom-class.vue
  examples/sites/demos/pc/app/popconfirm/type-composition-api.vue
  examples/sites/demos/pc/app/popconfirm/type.vue
Labels: bug, enhancement

#3204 fix(radio): [radio] Adapt to dark themes
  packages/theme/src/radio/vars.less
Labels: bug, enhancement

#3205 fix(layout): [layout] Adapt to dark themes
  examples/sites/demos/pc/app/layout/alignment-composition-api.vue
  examples/sites/demos/pc/app/layout/alignment.vue
Labels: bug, enhancement

#3206 fix(container): [container] Adapt to dark themes
  examples/sites/demos/pc/app/container/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/container/basic-usage.vue
  examples/sites/demos/pc/app/container/custom-with-height-composition-api.vue
  examples/sites/demos/pc/app/container/custom-with-height.vue
Labels: bug, enhancement

#3211 fix(select): [select] fix dark theme style
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/select-dropdown/index.less
Labels: bug

#3213 fix(grid): [grid] update dark theme
  examples/sites/demos/pc/app/grid/edit/status-of-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/status-of-editing.vue
  examples/sites/demos/pc/app/grid/empty/empty-data-tip-composition-api.vue
  examples/sites/demos/pc/app/grid/empty/empty-data-tip.vue
  examples/sites/demos/pc/app/grid/operation-column/custom-operation-column-composition-api.vue
  examples/sites/demos/pc/app/grid/operation-column/custom-operation-column.vue
  examples/sites/demos/pc/app/grid/validation/bubbling-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/bubbling.vue
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/radio.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
Labels: bug, enhancement

#3214 fix(guide): [tag-group,guide] update dark theme
  examples/sites/demos/pc/app/tag-group/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tag-group/basic-usage.vue
  packages/theme/src/guide/vars.less
  packages/theme/src/tag-group/index.less
Labels: bug, enhancement

#3216 fix(tooltip): [tooltip] update dark theme
  packages/theme/src/tooltip/vars.less
  packages/theme/src/transfer/index.less
Labels: bug, enhancement

#3207 fix(modal): [modal] modify theme and demo
  examples/sites/demos/pc/app/dialog-box/basic-usage.spec.ts
  examples/sites/demos/pc/app/dialog-box/center.spec.ts
  examples/sites/demos/pc/app/dialog-box/form-in-dialog.spec.ts
  examples/sites/demos/pc/app/dialog-box/right-dialog.spec.ts
  examples/sites/demos/pc/app/modal/modal-other-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-other.vue
  packages/theme/src/modal/index.less
  packages/theme/src/modal/vars.less
Labels: bug

#3200 fix(drawer): [drawer] modify theme and demo
  examples/sites/demos/pc/app/drawer/before-close.spec.ts
  examples/sites/demos/pc/app/drawer/dragable.spec.ts
  examples/sites/demos/pc/app/drawer/events.spec.ts
  examples/sites/demos/pc/app/drawer/footer-slot.spec.ts
  examples/sites/demos/pc/app/drawer/header-right-slot.spec.ts
  examples/sites/demos/pc/app/drawer/header-slot.spec.ts
  examples/sites/demos/pc/app/drawer/mask-closable.spec.ts
  examples/sites/demos/pc/app/drawer/placement.spec.ts
  examples/sites/demos/pc/app/drawer/show-footer.spec.ts
  examples/sites/demos/pc/app/drawer/use-through-method-composition-api.vue
  examples/sites/demos/pc/app/drawer/use-through-method.spec.ts
  examples/sites/demos/pc/app/drawer/use-through-method.vue
  examples/sites/demos/pc/app/drawer/width.spec.ts
  examples/sites/demos/pc/app/drawer/z-index.spec.ts
Labels: bug, enhancement

#3217 fix(grid): [grid] fix duplicate empty when set is-center-empty
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3208 fix(button): [button] Adapt to dark themes
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Labels: bug, enhancement

#3218 fix(calendar-view): [calendar-view] fix popper cant mouse enter
  packages/renderless/src/calendar-view/index.ts
  packages/renderless/src/calendar-view/vue.ts
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
Labels: bug

#3219 fix(theme): [skeleton,collapse] update dark theme
  examples/sites/demos/pc/app/collapse/title-composition-api.vue
  examples/sites/demos/pc/app/collapse/title.vue
  packages/theme/src/collapse-item/index.less
  packages/theme/src/collapse-item/vars.less
  packages/theme/src/skeleton-item/vars.less
Labels: bug

#3221 fix:[steps,date-picker,drop-times,file-upload,loading,progress,search,tabs]Modified the dark theme review problem.
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.vue
  examples/sites/demos/pc/app/file-upload/upload-user-head-composition-api.vue
  examples/sites/demos/pc/app/file-upload/upload-user-head.vue
  examples/sites/demos/pc/app/icon-multicolor/list-composition-api.vue
  examples/sites/demos/pc/app/icon-multicolor/list.vue
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
  examples/sites/demos/pc/app/search/slot-prefix-suffix-composition-api.vue
  packages/renderless/src/steps/index.ts
  packages/theme/src/date-table/vars.less
  packages/theme/src/drop-times/index.less
  packages/theme/src/drop-times/vars.less
  packages/theme/src/file-upload/index.less
  packages/theme/src/file-upload/vars.less
  packages/theme/src/loading/index.less
  packages/theme/src/loading/vars.less
  packages/theme/src/progress/vars.less
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/upload-list/index.less
  packages/theme/src/upload-list/vars.less
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#3223 feat(svg): update svg resource file to adapt dark theme
  examples/sites/demos/pc/app/alert/custom-class-composition-api.vue
  examples/sites/demos/pc/app/alert/custom-class.spec.ts
  examples/sites/demos/pc/app/alert/custom-class.vue
  packages/theme-saas/src/svgs/radio.svg
  packages/theme/src/alert/index.less
  packages/theme/src/alert/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/vars.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/error.svg
  packages/theme/src/svgs/halfselect.svg
  packages/theme/src/svgs/help.svg
  packages/theme/src/svgs/success.svg
  packages/theme/src/svgs/warning-triangle.svg
  packages/theme/src/svgs/warning.svg
  packages/vue/src/radio-button/src/mobile-first.vue
  packages/vue/src/radio-group/src/mobile-first.vue
  packages/vue/src/radio/src/token.ts
Labels: enhancement
