Repository opentiny/tiny-vue, pull requests merged in 2025-07, with the labels that each got.

#3545 fix(carousel): hide touch screen slideshow demo
  examples/sites/demos/pc/app/carousel/webdoc/carousel.js
Labels: bug

#3544 fix(input): fix the problem of one more redraw caused by the immediate parameter
  packages/renderless/src/input/vue.ts
Labels: bug

#3549 fix(grid): fix cell click event error on edit mode
  packages/vue/src/grid/src/composable/useCellEvent.ts
Labels: bug

#3546 fix(autocomplete,search,base-select,cascader,date-panel, date-range,date-picker,dropdown,input,select,tree): The component under the shadowRoot node event is invalid.
  packages/renderless/src/search/index.ts
  packages/vue-directive/src/clickoutside.ts
Labels: bug

#3553 chore: offline temporary mcp function demonstration demo
  examples/sites/demos/pc/app/grid/base/basic-usage-composition-api.vue
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/MessageCard.vue
  examples/sites/src/components/float-settings.vue
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/composable/DifyModelProvider.ts
  examples/sites/src/composable/useTinyRobot.ts
  examples/sites/src/composable/utils.ts
  examples/sites/src/i18n/index.js
  examples/sites/src/main.js
  examples/sites/src/router.js
  examples/sites/src/tools/appData.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/comprehensive/products.json
  examples/sites/src/views/comprehensive/types/index.ts
  examples/sites/src/views/remoter/index.vue
  examples/sites/src/views/remoter/sound.vue
Labels: chore

#3555 fix(autocomplete): add title native attributes
  packages/vue/src/autocomplete/src/pc.vue
Labels: bug

#3558 fix(grid): fix grid header divider error
  packages/theme-saas/src/grid/header.less
Labels: bug

#3560 fix(grid): fix dirty flag not clear after refreshData
  packages/vue-directive/src/clickoutside.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3562 feat: add new hot svg
  packages/theme-saas/src/svgs/badge-hot-cn.svg
  packages/theme-saas/src/svgs/badge-hot-en.svg
  packages/theme-saas/src/svgs/badge-new-cn.svg
  packages/theme-saas/src/svgs/badge-new-en.svg
  packages/theme/src/svgs/badge-hot-cn.svg
  packages/theme/src/svgs/badge-hot-en.svg
  packages/theme/src/svgs/badge-new-cn.svg
  packages/theme/src/svgs/badge-new-en.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/badge-hot-cn/index.ts
  packages/vue-icon/src/badge-hot-en/index.ts
  packages/vue-icon/src/badge-new-cn/index.ts
  packages/vue-icon/src/badge-new-en/index.ts
Labels: enhancement

#3563 fix(grid): clear input value after click custom extend item
  packages/vue/src/grid/src/filter/src/panel.tsx
Labels: bug

#3570 feat(grid): add tree-node button bubbling setting
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/fixed/right-fixed-composition-api.vue
  examples/sites/demos/pc/app/grid/fixed/right-fixed.vue
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/composable/useCellEvent.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/table.ts
Labels: enhancement

#3569 fix(grid): fix right position error when resize multi header grid
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/composable/useCellSpan.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3568 fix(milestone):fix the milestone color matching logic is in saas mode.
  packages/design/saas/src/milestone/index.ts
  packages/renderless/src/search/index.ts
Labels: bug

#3572 fix(tag): When the tag is a space, the tag is misplaced in the form scenario
  packages/theme-saas/src/tag/index.less
  packages/vue/src/tag/src/mobile-first.vue
Labels: bug

#3576 fix(grid):fix filter icon size in saas mode
  packages/theme-saas/src/grid/filter.less
Labels: bug

#3577 fix(select): update select's e2e test for grid update
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  examples/sites/demos/pc/app/select/nest-grid.spec.ts
  examples/sites/demos/pc/app/select/nest-radio-grid-much-data.spec.ts
  packages/renderless/src/select/index.ts
Labels: bug

#3580 fix(input):fix single row textarea in saas mode
  packages/renderless/src/input/index.ts
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#3575 fix(color-select-panel): 颜色类型选择下拉框样式异常
  packages/theme/src/color-select-panel/index.less
  packages/vue/src/color-select-panel/src/pc.vue
Labels: bug

#3582 fix(date-picker):date-range should return an empty array when click clear button
  examples/sites/demos/pc/app/date-panel/custom-week.spec.ts
  packages/renderless/src/date-range/index.ts
Labels: bug

#3586 fix(dropdown):Fix the drop-down component menu spacing.
  packages/theme-saas/src/dropdown-item/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
Labels: bug

#3593 fix: adapt mf list view when has not grid column
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3592 fix(calendar-view):fix calendar view height setting does not take effect
  packages/theme-saas/src/calendar-view/index.less
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
Labels: bug

#3600 fix(modal): [modal] modify the messageClosable in Vue2 version to not display the close button
  examples/sites/demos/apis/modal.js
  packages/vue/src/modal/src/pc.vue
Labels: bug

#3595 feat(color-picker): refactoring the ColorPicker component style
  examples/sites/demos/pc/app/color-picker/alpha-composition-api.vue
  examples/sites/demos/pc/app/color-picker/alpha.spec.ts
  examples/sites/demos/pc/app/color-picker/alpha.vue
  examples/sites/demos/pc/app/color-picker/base.spec.ts
  examples/sites/demos/pc/app/color-picker/default-visible.spec.ts
  examples/sites/demos/pc/app/color-picker/event-composition-api.vue
  examples/sites/demos/pc/app/color-picker/event.spec.ts
  examples/sites/demos/pc/app/color-picker/event.vue
  examples/sites/demos/pc/app/color-picker/format.spec.ts
  examples/sites/demos/pc/app/color-picker/history.spec.ts
  examples/sites/demos/pc/app/color-picker/predefine.spec.ts
  examples/sites/demos/pc/app/color-picker/size.spec.ts
  examples/sites/demos/pc/app/color-select-panel/format.spec.ts
  examples/sites/demos/pc/app/color-select-panel/history.spec.ts
  examples/sites/demos/pc/app/color-select-panel/predefine.spec.ts
  packages/renderless/src/color-select-panel/hue-select/index.ts
  packages/renderless/src/color-select-panel/index.ts
  packages/renderless/src/color-select-panel/utils/color.ts
  packages/renderless/src/color-select-panel/vue.ts
  packages/theme-saas/src/color-picker/index.less
  packages/theme-saas/src/color-select-panel/index.less
  packages/theme/src/color-picker/index.less
  packages/theme/src/color-picker/vars.less
  packages/theme/src/color-select-panel/index.less
  packages/theme/src/color-select-panel/vars.less
  packages/vue-locale/src/lang/zh-CN.ts
  packages/vue/src/color-picker/src/pc.vue
  packages/vue/src/color-select-panel/src/components/alpha-select.vue
  packages/vue/src/color-select-panel/src/components/hue-select.vue
  packages/vue/src/color-select-panel/src/pc.vue
Labels: enhancement

#3601 fix(tabs): Optimize multi terminal caching logic, add add add delete operations to trigger sub component destruction and reconstruction logic
  packages/renderless/src/tabs-mf/vue.ts
  packages/vue/src/tabs/src/mobile-first.vue
Labels: bug

#3603 fix(grid): Modify the spacing between the sorting buttons in saas mode.
  examples/sites/demos/pc/app/icon/iconGroups.js
  packages/design/saas/src/grid/index.ts
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/grid/toolbar.less
  packages/theme-saas/src/svgs/triangle-down.svg
  packages/theme-saas/src/svgs/triangle-up.svg
  packages/theme/src/svgs/triangle-down.svg
  packages/theme/src/svgs/triangle-up.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/triangle-up/index.ts
Labels: bug

#3615 feat: modify the resource file loading mode and add postcss plugin configuration.
  examples/docs/newsrc/resourceMobileFirst.js
  examples/docs/newsrc/resourcePc.js
  examples/sites/demos/apis/numeric.js
  examples/sites/demos/apis/split.js
  examples/sites/demos/apis/time-line.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-single.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-tree-multi.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-tree-single.spec.ts
  examples/sites/demos/pc/app/dialog-select/set-selection.spec.ts
  examples/sites/demos/pc/app/numeric/input-event-composition-api.vue
  examples/sites/demos/pc/app/numeric/input-event.spec.ts
  examples/sites/demos/pc/app/numeric/input-event.vue
  examples/sites/demos/pc/app/numeric/webdoc/numeric.js
  examples/sites/demos/pc/app/pager/align-composition-api.vue
  examples/sites/demos/pc/app/pager/align.spec.ts
  examples/sites/demos/pc/app/pager/align.vue
  examples/sites/demos/pc/app/qr-code/icon-composition-api.vue
  examples/sites/demos/pc/app/qr-code/icon.spec.ts
  examples/sites/demos/pc/app/qr-code/icon.vue
  examples/sites/demos/pc/app/qr-code/style-composition-api.vue
  examples/sites/demos/pc/app/qr-code/style.spec.ts
  examples/sites/demos/pc/app/qr-code/style.vue
  examples/sites/demos/pc/app/time-line/slot-default-composition-api.vue
  examples/sites/demos/pc/app/time-line/slot-default.spec.ts
  examples/sites/demos/pc/app/time-line/slot-default.vue
  examples/sites/demos/pc/app/time-line/webdoc/time-line.js
  examples/sites/postcss.config.cjs
  examples/sites/src/components/version-tip.vue
  examples/vue3/package.json
  examples/vue3/postcss.config.cjs
  examples/vue3/vitest.setup.ts
  package.json
  packages/theme/src/button/index.less
  packages/vue/src/button-group/src/index.ts
  packages/vue/src/dialog-box/__tests__/dialog-box.test.tsx
  packages/vue/src/dialog-box/src/index.ts
  packages/vue/src/dialog-select/__tests__/dialog-select.test.tsx
  packages/vue/src/pager/src/index.ts
  packages/vue/src/radio-group/src/index.ts
  packages/vue/src/radio/src/index.ts
  packages/vue/src/slider/src/index.ts
Labels: enhancement

#3619 feat(site): connect next-sdk and ai dialog box to realize dynamic switching routing function of large models
  examples/sites/.stylelintrc.js
  examples/sites/env/.env
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/ReactiveMarkdown.vue
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/composable/agentModelProvider.ts
  examples/sites/src/composable/useTinyRobot.ts
  examples/sites/src/composable/utils.ts
  examples/sites/src/i18n/index.js
  examples/sites/src/main.js
  examples/sites/src/menus.js
  examples/sites/src/router.js
  examples/sites/src/tools/globalMcpTool.ts
  examples/sites/src/tools/useAllTaskFinish.ts
  examples/sites/src/tools/useBulletin.jsx
  examples/sites/src/tools/useTemplateMode.js
  examples/sites/src/views/layout/layout.vue
  examples/sites/tsconfig.node.json
Labels: enhancement

#3618 fix(grid,pager,cascader):Fixed the icon reference issue in the SaaS mode table.
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/svgs/triangle-down.svg
  packages/theme-saas/src/svgs/triangle-up.svg
  packages/theme/src/cascader/vars.less
  packages/vue/src/cascader/src/pc.vue
  packages/vue/src/pager/src/pc.vue
  packages/vue/src/wizard/src/pc.vue
Labels: bug

#3610 fix(chart): fix chart bug, resolve memory leakage issues
  packages/vue/src/huicharts/huicharts-core/src/chart-core.ts
Labels: bug

#3620 fix(PropType): fix import of PropType
  packages/vue/src/button-group/src/index.ts
  packages/vue/src/button/src/index.ts
  packages/vue/src/pager/src/index.ts
  packages/vue/src/radio-group/src/index.ts
  packages/vue/src/radio/src/index.ts
  packages/vue/src/slider/src/index.ts
  packages/vue/src/user-contact/src/index.ts
Labels: bug

#3624 fix(input):fix textarea height in Multiple line placeholders
  examples/sites/src/App.vue
  packages/renderless/src/input/index.ts
Labels: bug

#3622 fix(grid): fix index not update at drag row
  packages/vue/src/grid/src/dragger/src/rowDrop.ts
Labels: bug

#3629 fix(dropdown):Modifying the Default font size
  packages/theme-saas/src/dropdown/index.less
  packages/vue/src/dropdown/src/mobile-first.vue
Labels: bug
