Repository opentiny/tiny-vue, pull requests merged in 2025-05, with the labels that each got.

#3380 fix: modify the SaaS theme style of the dialog-box window
  packages/theme-saas/src/dialog-box/index.less
  packages/vue/src/dialog-box/src/mobile-first.vue
Labels: bug

#3374 fix(cascader): Fixes the issue where cascader components use asynchronous data in hover mode, but cannot accurately locate the selected item when binding value updates
  packages/renderless/src/cascader-node/vue.ts
Labels: bug

#3375 fix(input): Modify the color of the placeholder in the bottom right corner of the input component textarea type in the SaaS theme
  packages/theme-saas/src/textarea/index.less
Labels: bug

#3377 docs: added configuration examples to improve all TinyVue related dependencies to solve the problem that pnpm projects need to install multiple sub-packages
  examples/sites/demos/pc/webdoc/import-components.md
Labels: documentation

#3379 fix: fixed the problem that fullscreen style would pollute the global
  packages/theme-saas/src/fluent-editor/index.less
  packages/theme/src/fluent-editor/index.less
Labels: bug

#3378 fix: Fixed the issue of misalignment between the clear and search buttons for four different sizes in mobile first mode of the search component
  examples/sites/demos/mobile-first/app/search/size.vue
  packages/vue/src/search/src/mobile-first.vue
  packages/vue/src/search/src/token.ts
Labels: bug

#3385 fix: Fix the title line height of mobile first steps
  packages/vue/src/steps/src/mobile-first/token/normal-token.ts
Labels: bug

#3384 fix(dropdown,tooltip):Fix the saas theme
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/token.ts
Labels: bug

#3383 chore: Add TinyVue repository structure description
  PACKAGES.md
Labels: chore

#3301 feat(number-animation): Add NumberAnimation component
  examples/sites/demos/apis/number-animation.js
  examples/sites/demos/pc/app/number-animation/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/number-animation/basic-usage.spec.ts
  examples/sites/demos/pc/app/number-animation/basic-usage.vue
  examples/sites/demos/pc/app/number-animation/finish-events-composition-api.vue
  examples/sites/demos/pc/app/number-animation/finish-events.spec.ts
  examples/sites/demos/pc/app/number-animation/finish-events.vue
  examples/sites/demos/pc/app/number-animation/precision-composition-api.vue
  examples/sites/demos/pc/app/number-animation/precision.spec.ts
  examples/sites/demos/pc/app/number-animation/precision.vue
  examples/sites/demos/pc/app/number-animation/separator-composition-api.vue
  examples/sites/demos/pc/app/number-animation/separator.spec.ts
  examples/sites/demos/pc/app/number-animation/separator.vue
  examples/sites/demos/pc/app/number-animation/webdoc/number-animation.cn.md
  examples/sites/demos/pc/app/number-animation/webdoc/number-animation.en.md
  examples/sites/demos/pc/app/number-animation/webdoc/number-animation.js
  examples/sites/demos/pc/menus.js
  packages/modules.json
  packages/renderless/src/number-animation/index.ts
  packages/renderless/src/number-animation/vue.ts
  packages/theme/src/number-animation/index.less
  packages/theme/src/number-animation/vars.less
  packages/theme/src/table/index.less
  packages/theme/src/table/vars.less
  packages/vue/package.json
  packages/vue/src/number-animation/__tests__/number-animation.test.tsx
  packages/vue/src/number-animation/index.ts
  packages/vue/src/number-animation/package.json
  packages/vue/src/number-animation/src/index.ts
  packages/vue/src/number-animation/src/pc.vue
Labels: enhancement

#3387 fix(textarea): Update the background color and related styles of the counter
  .github/workflows/test-e2e-pr.yml
  packages/theme/src/base/vars.less
  packages/theme/src/textarea/index.less
  packages/theme/src/textarea/vars.less
Labels: bug

#3390 fix(number-animation): add version information for the number animation component and fix the loading error problem under the SaaS theme
  examples/sites/demos/pc/menus.js
  packages/theme-saas/src/index.less
  packages/theme-saas/src/number-animation/index.less
  packages/theme/src/index.less
  packages/theme/src/number-animation/vars.less
  packages/theme/src/table/vars.less
Labels: bug

#3389 fix(date-picker):Fix the default time zone is not displayed
  packages/renderless/src/date-panel/index.ts
Labels: bug

#3388 fix(theme-saas): add margin-bottom:4px for select-dropdown flip to top
  packages/theme-saas/src/select-dropdown/index.less
Labels: bug

#3393 fix(file-upload): Modify the import method of e2e test case path for file-upload component
  examples/sites/demos/pc/app/file-upload/abort-quest.spec.ts
  examples/sites/demos/pc/app/file-upload/accept-file-image.spec.ts
  examples/sites/demos/pc/app/file-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/file-upload/before-upload-limit.spec.ts
  examples/sites/demos/pc/app/file-upload/custom-prefix.spec.ts
  examples/sites/demos/pc/app/file-upload/drag-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/encrypt-config.spec.ts
  examples/sites/demos/pc/app/file-upload/file-picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/http-request.spec.ts
  examples/sites/demos/pc/app/file-upload/image-size.spec.ts
  examples/sites/demos/pc/app/file-upload/manual-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/max-file-count.spec.ts
  examples/sites/demos/pc/app/file-upload/multiple-file.spec.ts
  examples/sites/demos/pc/app/file-upload/paste-upload.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-card.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-events.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list-slot.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-file-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-request.spec.ts
Labels: bug, e2e test

#3395 fix(pop-upload): Change the pop-upload e2e test case to ES6 import mode
  examples/sites/demos/pc/app/pop-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/pop-upload/before-upload.spec.ts
  examples/sites/demos/pc/app/pop-upload/custom-request-headers.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-limit.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-type.spec.ts
  examples/sites/demos/pc/app/pop-upload/http-request.spec.ts
  examples/sites/demos/pc/app/pop-upload/prevent-delete-file.spec.ts
  examples/sites/demos/pc/app/pop-upload/upload-events.spec.ts
Labels: bug, e2e test

#3397 fix(site): rewrite the theme of code highlight
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/main.js
  examples/sites/src/views/components-doc/components/async-highlight.vue
  examples/sites/src/views/components-doc/components/demo.vue
Labels: bug

#3398 feat(dialog-select): supports transparent transmission of selectAll, selectChange and radioChange events
  packages/renderless/src/dialog-select/index.ts
Labels: enhancement

#3406 fix(site): use purple for attr's color
  examples/sites/src/assets/custom-markdown.css
Labels: bug

#3405 feat(calendar-view):The schedule mode support hidden the time
  packages/vue/src/calendar-view/src/pc.vue
Labels: enhancement

#3402 fix(grid):Fix the table bottom border display exception.
  packages/theme-saas/src/grid/table.less
Labels: bug

#3399 fix(steps): Modify the rendering logic of the steps component based on the design draft
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
  packages/vue/src/steps/src/mobile-first/token/normal-token.ts
Labels: bug

#3408 feat(calendar-view):Mobile-first supports the hidden time in schedule mode.
  packages/vue/src/calendar-view/src/mobile-first.vue
Labels: enhancement

#3409 fix(upload): add the "relative" style to the root node of "upload"
  packages/vue/src/upload/src/mobile-first.vue
Labels: bug

#3412 feat(modal): change the text size from md to default
  packages/theme/src/locales/vars.less
  packages/theme/src/modal/vars.less
Labels: enhancement

#3416 fix(popeditor): add three slot to popeditor
  examples/sites/demos/apis/popeditor.js
  packages/vue/src/popeditor/src/pc.vue
Labels: bug

#3418 fix(export): handle special values ​​in CSV export, ensure null, undefined and NaN are displayed correctly
  packages/renderless/src/grid/plugins/export.ts
Labels: bug

#3421 fix: fix grid width error when grid has scrollbar
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3420 fix(tooltip): fix tooltip's box-shadow and invalid text of form-item's style
  packages/theme-saas/src/tooltip/index.less
  packages/theme-saas/theme/theme.json
  packages/vue/src/form-item/src/mobile-first.vue
Labels: bug

#3419 feat(design-config): design-config adds arbitrary attribute features of global configuration components
  examples/sites/demos/pc/app/config-provider/base-composition-api.vue
  examples/sites/demos/pc/app/config-provider/base.vue
  examples/sites/demos/pc/app/config-provider/basic.spec.ts
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  packages/vue-common/src/adapter/vue2.7/index.ts
  packages/vue-common/src/adapter/vue2/index.ts
  packages/vue-common/src/adapter/vue3/index.ts
  packages/vue-common/src/index.ts
  packages/vue/package.json
Labels: enhancement

#3426 chore: remove the unused sync-icons command and related files to simplify the project structure
  internals/cli/package.json
  internals/cli/src/commands/sync/sync-icons.ts
  package.json
  packages/modules.json
Labels: chore

#3427 fix(vue-common): compatible with camel case format and mutton string format of transferred attributes, optimized attribute overwriting logic
  packages/vue-common/src/index.ts
Labels: bug

#3430 fix(date-picker):Fix the e2e test
  examples/sites/demos/pc/app/date-picker/date-range.spec.ts
  packages/theme/src/date-range/index.less
Labels: bug

#3431 fix(popeditor): fix popeditor can not set grid props
  packages/vue/src/popeditor/src/pc.vue
Labels: bug

#3424 fix(file-upload): Fix bug in file-upload component where multiple selections are merge-service and uploaded
  packages/renderless/src/file-upload/index.ts
Labels: bug

#3433 fix(number-animation): update version to 3.23.0
  packages/vue/src/number-animation/package.json
Labels: bug

#3435 feat(steps): Add style functionality for multi terminal custom step blocks
  examples/sites/demos/apis/steps.js
  examples/sites/demos/mobile-first/app/steps/vertical.vue
  packages/vue/src/steps/src/index.ts
  packages/vue/src/steps/src/mobile-first.vue
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
Labels: bug, enhancement

#3437 feat(dialog-select): add support for clear and delete events, update related documents and sample codes
  examples/sites/demos/apis/dialog-select.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.vue
  packages/renderless/src/dialog-select/index.ts
  packages/renderless/src/dialog-select/vue.ts
  packages/vue/src/dialog-select/src/pc.vue
Labels: enhancement

#3441 fix(steps): Modify the multi terminal rendering logic and style of steps
  packages/vue/src/steps/src/mobile-first/mobile-first-normal.vue
  packages/vue/src/steps/src/mobile-first/token/normal-token.ts
Labels: bug

#3446 chore: update v3.23.0 changelog
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: chore

#3445 fix(drowdown): add tiny-* className to drowdown-menu's wrapper dom
  packages/vue/src/dropdown-menu/src/mobile-first.vue
Labels: bug

#3448 fix(select): fix can not set grid rowId in select
  packages/vue/src/select/src/pc.vue
Labels: bug

#3458 chore: update pushpin.svg
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/pushpin.svg
Labels: chore

#3460 fix(icon):Fixed the icon color issue in dark mode
  packages/theme-saas/src/svgs/pushpin-solid.svg
  packages/theme-saas/src/svgs/pushpin.svg
  packages/theme/src/svgs/fullscreen-right.svg
  packages/theme/src/svgs/minscreen-right.svg
  packages/theme/src/svgs/pushpin-solid.svg
  packages/theme/src/svgs/pushpin.svg
Labels: bug

#3463 fix(tag): theme saas warning token value refresh, tag component style specification refresh
  packages/theme-saas/src/tag/index.less
  packages/theme-saas/theme/theme.json
  packages/vue/src/tag/src/token.ts
Labels: bug
