Repository opentiny/tiny-vue, pull requests merged in 2025-04, with the labels that each got.

#3224 fix(tree-select): [tree-select] fix e2e test
  examples/sites/demos/pc/app/tree-select/collapse-tags.spec.ts
Labels: bug

#3231 fix:[steps,date-picker,tabs,search]Dark Theme Adaptation
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.vue
  examples/sites/demos/pc/app/tabs/custom-more-icon.spec.ts
  packages/renderless/src/date-range/vue.ts
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
  packages/vue/src/tabs/src/tab-nav/pc.vue
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#3236 fix(alert): [alert] add variables to icons
  packages/theme/src/svgs/error.svg
  packages/theme/src/svgs/help.svg
  packages/theme/src/svgs/success.svg
  packages/theme/src/svgs/warning-triangle.svg
  packages/theme/src/svgs/warning.svg
Labels: bug

#3235 fix(tag): [tag] update dark theme
  packages/theme/src/tag/vars.less
Labels: bug

#3241 fix(tooltip): [tooltip] fix dark theme views
  examples/sites/demos/pc/app/tooltip/control-composition-api.vue
  examples/sites/demos/pc/app/tooltip/control.vue
  packages/theme/src/table/index.less
  packages/theme/src/table/vars.less
Labels: bug

#3240 fix(drawer): [drawer] modify dark theme
  packages/vue/src/drawer/src/pc.vue
Labels: bug

#3238 fix:[input,steps,loading]fix the style of dark themes
  packages/theme/src/input/index.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/svgs/halfselect.svg
  packages/theme/src/upload-list/index.less
Labels: bug

#3244 fix(modal): [modal] modify icon
  packages/vue/src/modal/src/pc.vue
Labels: bug

#3237 fix(radio): [radio,select,tree-select,checkbox,radio,button] fix the style of dark themes
  examples/sites/demos/pc/app/button/dynamic-disabled.spec.ts
  examples/sites/demos/pc/app/button/loading-composition-api.vue
  examples/sites/demos/pc/app/button/loading.vue
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  examples/sites/demos/pc/app/select/nest-radio-grid-much-data.spec.ts
  packages/theme/src/base/dark-theme.less
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/option/index.less
  packages/theme/src/option/vars.less
  packages/theme/src/radio/vars.less
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
Labels: bug

#3242 fix(theme): [grid,switch] update dark theme
  examples/sites/demos/pc/app/grid/custom-style/body-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/body-style.vue
  examples/sites/demos/pc/app/grid/custom-style/footer-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/footer-style.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style-composition-api.vue
  examples/sites/demos/pc/app/grid/custom-style/header-style.vue
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort-composition-api.vue
  examples/sites/demos/pc/app/grid/custom/multiple-column-sort.vue
  examples/sites/demos/pc/app/grid/edit/editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/editing.vue
  examples/sites/demos/pc/app/grid/edit/status-of-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/status-of-editing.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-for-editing.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/trigger-mode-hm-editing.vue
  examples/sites/demos/pc/app/grid/size/adaptive-column-width-composition-api.vue
  examples/sites/demos/pc/app/grid/size/adaptive-column-width.vue
  examples/sites/demos/pc/app/grid/size/max-min-grid-height-composition-api.vue
  examples/sites/demos/pc/app/grid/size/max-min-grid-height.vue
  examples/sites/demos/pc/app/grid/validation/custcomp-composition-api.vue
  examples/sites/demos/pc/app/grid/validation/custcomp.vue
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
  packages/theme/src/switch/index.less
Labels: bug

#3246 fix(svgs): [select] modify Icon
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
Labels: bug

#3227 fix(query-builder): fix query builder style not align
  packages/theme-saas/src/query-builder/index.less
  packages/theme/src/query-builder/index.less
  packages/vue/src/query-builder/src/components/ValueEditor.vue
Labels: bug

#3228 fix: fix mobile-first long word bug
  packages/vue/src/form-item/src/mobile-first.vue
Labels: bug

#3230 fix(grid): fix grid textarea editor hidden bug
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
Labels: bug

#3225 fix: change mobile-first input suffix and prefix svg color
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#3232 fix(button): fix the issue where the loading attribute of the button's multi-terminal template does not take effect
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/token.ts
Labels: bug

#3222 feat: [skeleton] Add Skeleton mobile first
  examples/sites/demos/apis/skeleton.js
  examples/sites/demos/mobile-first/app/skeleton/animation.vue
  examples/sites/demos/mobile-first/app/skeleton/avatar.vue
  examples/sites/demos/mobile-first/app/skeleton/base.vue
  examples/sites/demos/mobile-first/app/skeleton/custom-layout.vue
  examples/sites/demos/mobile-first/app/skeleton/custom-rows.vue
  examples/sites/demos/mobile-first/app/skeleton/image-item-slot.vue
  examples/sites/demos/mobile-first/app/skeleton/loaded.vue
  examples/sites/demos/mobile-first/app/skeleton/rows-width.vue
  examples/sites/demos/mobile-first/app/skeleton/shape.vue
  examples/sites/demos/mobile-first/app/skeleton/size.vue
  examples/sites/demos/mobile-first/app/skeleton/webdoc/skeleton.cn.md
  examples/sites/demos/mobile-first/app/skeleton/webdoc/skeleton.en.md
  examples/sites/demos/mobile-first/app/skeleton/webdoc/skeleton.js
  examples/sites/demos/mobile-first/menus.js
  examples/sites/demos/pc/menus.js
  packages/theme-saas/plugins/loadTheme.js
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/src/skeleton/index.less
  packages/theme-saas/tailwind.config.js
  packages/theme-saas/theme/defaultTheme.js
  packages/theme/src/skeleton/index.less
  packages/vue/src/skeleton-item/src/index.ts
  packages/vue/src/skeleton-item/src/mobile-first.vue
  packages/vue/src/skeleton-item/src/token.ts
  packages/vue/src/skeleton/src/index.ts
  packages/vue/src/skeleton/src/mobile-first.vue
Labels: enhancement

#3248 fix(installation): update Vue import path and add TinyVue component example
  examples/sites/demos/pc/webdoc/installation.md
Labels: bug

#3249 chore: remove useless runtime-version
  internals/cli/src/commands/build/build-runtime.ts
  packages/renderless/tsup.config.ts
  packages/utils/src/common/__tests__/index.test.ts
  packages/utils/src/common/index.ts
  packages/utils/src/index.ts
Labels: chore

#3250 fix: Fix SaaS theme packaging error issue
  packages/theme-saas/plugins/loadTheme.js
  packages/theme-saas/src/skeleton-item/index.less
  packages/theme-saas/tailwind.config.js
  packages/theme-saas/theme/defaultTheme.js
  packages/vue/src/skeleton-item/src/mobile-first.vue
Labels: bug

#3254 docs: optimize cloud in the features page
  examples/sites/demos/pc/app/card/webdoc/card.js
  examples/sites/demos/pc/app/color-picker/webdoc/color-picker.js
  examples/sites/demos/pc/app/color-select-panel/webdoc/color-select-panel.js
  examples/sites/demos/pc/app/container/webdoc/container.js
  examples/sites/demos/pc/app/crop/webdoc/crop.js
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  examples/sites/demos/pc/app/drop-times/webdoc/drop-times.js
  examples/sites/demos/pc/app/filter-panel/webdoc/filter-panel.js
  examples/sites/demos/pc/app/floatbar/webdoc/floatbar.js
  examples/sites/demos/pc/app/flowchart/webdoc/flowchart.js
  examples/sites/demos/pc/app/fluent-editor/webdoc/fluent-editor.js
  examples/sites/demos/pc/app/fullscreen/webdoc/fullscreen.js
  examples/sites/demos/pc/app/layout/webdoc/layout.js
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
  examples/sites/demos/pc/app/qr-code/webdoc/qr-code.js
  examples/sites/demos/pc/app/rate/webdoc/rate.js
  examples/sites/demos/pc/app/scroll-text/webdoc/scroll-text.js
  examples/sites/demos/pc/app/statistic/webdoc/statistic.js
  examples/sites/demos/pc/app/sticky/webdoc/sticky.js
Labels: documentation

#3256 docs: update checkbox icons
  packages/theme/src/svgs/check.svg
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/halfselect.svg
Labels: documentation

#3255 docs: add test in the features page
  examples/sites/demos/pc/app/button/webdoc/button.js
  examples/sites/src/views/features.vue
  examples/sites/uno.config.js
Labels: documentation

#3257 fix(grid): [grid] add grid no-data icon
  packages/theme-saas/src/svgs/grid-no-data.svg
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/grid/table.less
  packages/theme/src/grid/vars.less
  packages/theme/src/svgs/grid-no-data.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/grid-no-data/index.ts
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3253 feat(loading): [loading] added type definition and interface of Loading component to optimize loading style processing
  packages/modules.json
  packages/vue-common/src/adapter/index.ts
  packages/vue-common/src/adapter/vue2/index.ts
  packages/vue-common/src/adapter/vue3/index.ts
  packages/vue-common/src/index.ts
  packages/vue/src/loading/index.ts
  packages/vue/src/loading/src/service.ts
Labels: enhancement

#3251 feat(notify): [notify] enhance notification function, add type definition and option interface, optimize code structure
  packages/vue/src/notify/index.ts
Labels: enhancement

#3259 fix: [search] Fix the problem of the search icon not being centered on MobileFirst
  packages/vue/src/search/src/token.ts
Labels: bug

#3258 fix(checkbox): [checkbox,select,base-select] change the checkbox icon and synchronously modify the checkbox style
  examples/sites/demos/pc/app/checkbox/basic-usage.spec.ts
  packages/theme/src/checkbox/index.less
  packages/theme/src/grid/checkbox.less
  packages/theme/src/grid/vars.less
  packages/theme/src/option/index.less
Labels: bug

#3263 fix: fix build:runtime script
  package.json
Labels: bug

#3264 docs: update playground
  examples/sites/playground/App.vue
Labels: documentation

#3266 fix: [file-upload] Fix font style issue in file list
  packages/vue/src/upload-list/src/mobile-first.vue
Labels: bug

#3265 feat(release): add dist directory check for specific packages to optimize the release process
  internals/cli/src/commands/release/releaseAlpha.ts
Labels: enhancement

#3269 fix(grid): [grid] resolve the issue of empty icon
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3272 fix:[time-picker] fix e2e test
  examples/sites/demos/pc/app/time-picker/clearable.spec.ts
  examples/sites/demos/pc/app/time-picker/format.spec.ts
Labels: bug

#3268 fix(base-select): [select,base-select] fix the highlight style of the selected item icon
  examples/sites/demos/pc/app/select/collapse-tags-composition-api.vue
  examples/sites/demos/pc/app/select/collapse-tags.vue
  examples/sites/demos/pc/app/select/multiple-mix-composition-api.vue
  examples/sites/demos/pc/app/select/multiple-mix.vue
  packages/theme/package.json
  packages/theme/src/option/index.less
  packages/vue/src/base-select/package.json
  packages/vue/src/base-select/src/pc.vue
Labels: bug

#3267 fix(collapse): adjust the padding style within the mobile-first component to optimize the visual effect
  packages/vue/src/collapse-item/src/mobile-first.vue
Labels: bug

#3273 fix(grid): [grid] fix viewType change table column width error
  packages/vue/src/grid/src/grid/grid.ts
Labels: bug

#3281 fix(input): [input] fix input text word no break after warp span
  packages/vue/src/input/src/mobile-first.vue
  packages/vue/src/input/src/pc.vue
Labels: bug

#3280 feat(release): add vue3 version option to release:aurora command and update related logic
  internals/cli/src/commands/release/releaseAurora.ts
  internals/cli/src/index.ts
Labels: enhancement

#3278 fix: [file-upload] Optimize the position of mobile icons
  packages/vue/src/file-upload/src/mobile-first.vue
Labels: bug

#3274 feat(calendar-view):[calendar-view]The calendar view tip time support configure
  examples/sites/demos/apis/calendar-view.js
  packages/vue/src/calendar-view/src/index.ts
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
Labels: enhancement

#3279 feat:[calendar-view]The calendar view supports click events
  examples/sites/demos/apis/calendar-view.js
  examples/sites/demos/mobile-first/app/calendar-view/calendar-event.vue
  examples/sites/demos/pc/app/calendar-view/calendar-event-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-event.spec.ts
  examples/sites/demos/pc/app/calendar-view/calendar-event.vue
  examples/sites/demos/pc/app/calendar-view/webdoc/calendar-view.js
  packages/renderless/src/calendar-view/index.ts
  packages/renderless/src/calendar-view/vue.ts
  packages/theme-saas/src/calendar-view/index.less
  packages/theme/src/base/reset.less
  packages/theme/src/calendar-view/index.less
  packages/theme/src/month-table/index.less
  packages/vue/src/calendar-view/__tests__/calendar-view.test.tsx
  packages/vue/src/calendar-view/src/mobile-first.vue
  packages/vue/src/calendar-view/src/pc.vue
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/date-range/src/pc.vue
  packages/vue/src/year-range/src/pc.vue
Labels: enhancement

#3283 fix(grid): [grid] fix modal not import
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
  packages/vue/src/grid/src/dragger/src/methods.ts
Labels: bug

#3176 feat(popconfirm): [popconfirm] enable message slot
  examples/sites/demos/apis/popconfirm.js
  examples/sites/demos/pc/app/popconfirm/slot-message-composition-api.vue
  examples/sites/demos/pc/app/popconfirm/slot-message.spec.ts
  examples/sites/demos/pc/app/popconfirm/slot-message.vue
  examples/sites/demos/pc/app/popconfirm/webdoc/popconfirm.js
  packages/vue/src/popconfirm/src/pc.vue
Labels: enhancement

#3299 fix(card-group): [card-group] add empty icon
  packages/theme-saas/src/card-group/index.less
  packages/vue/src/card-group/src/mobile-first.vue
Labels: bug

#3285 feat(transfer): [transfer] adds the ability to customize the panel width for the transfer component
  examples/sites/demos/apis/transfer.js
  examples/sites/demos/pc/app/transfer/custom-size-composition-api.vue
  examples/sites/demos/pc/app/transfer/custom-size.vue
  examples/sites/demos/pc/app/transfer/webdoc/transfer.js
  packages/theme-saas/src/transfer/index.less
  packages/theme/src/transfer/index.less
  packages/theme/src/transfer/vars.less
  packages/vue/src/transfer-panel/src/pc.vue
  packages/vue/src/transfer/src/index.ts
  packages/vue/src/transfer/src/pc.vue
Labels: enhancement

#3303 docs: add changelog v3.22.0
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: documentation

#3304 docs: add changelog v3.22.0
  examples/sites/demos/pc/webdoc/changelog.md
  examples/sites/package.json
Labels: documentation

#3305 feat(card-group): modify saas style
  packages/theme-saas/src/card-group/index.less
  packages/vue/src/card-group/src/mobile-first.vue
Labels: enhancement

#3284 fix(tree): [tree] elevate the priority #3119
  packages/theme/src/tree/index.less
  packages/vue/src/tree/src/tree-node.vue
Labels: bug

#3310 feat(card-group): modify sass style
  packages/vue/src/card-group/src/mobile-first.vue
Labels: enhancement

#3307 fix(date-picker):[date-picker]Fix partially disabled in the same year year not selectable
  packages/renderless/src/year-table/index.ts
Labels: bug

#3308 chore: added the cdn address of Huicharts component runtime, and updated the version number of docs to 3.22.3
  examples/sites/package.json
  examples/sites/playground/App.vue
Labels: chore

#3302 feat(vue-hooks): add type annotations to multiple files to enhance type safety
  packages/vue-hooks/src/useRect.ts
  packages/vue-hooks/src/useTouch.ts
  packages/vue-hooks/src/vue-emitter.ts
  packages/vue-hooks/src/vue-popper.ts
  packages/vue-hooks/src/vue-popup.ts
  packages/vue-hooks/types/shared.type.ts
Labels: enhancement

#3309 fix:[docs]Hide the plus document drill field button
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/overview.vue
Labels: bug

#3314 fix: modifying the tree-menu component document #3069
  examples/sites/demos/apis/tree-menu.js
Labels: bug

#3311 fix(button): fixed the border color and text color of the multi-ended button disabled button
  packages/theme-saas/src/button/index.less
  packages/vue/src/button/src/token.ts
Labels: bug

#3312 fix: modifying the steps component document #3076
  examples/sites/demos/apis/steps.js
Labels: bug

#3318 fix: [file-upload] Fix the bug of uncontrollable file name length in SaaS mode and mobile first mode
  packages/vue/src/upload-list/src/mobile-first.vue
  packages/vue/src/upload-list/src/pc.vue
Labels: bug

#3313 fix(picker): range-picker add tabindex
  packages/vue/src/picker/src/mobile-first.vue
  packages/vue/src/picker/src/pc.vue
Labels: bug

#3315 fix: modifying the tag component document #3074
  examples/sites/demos/apis/tag.js
Labels: bug

#3316 fix(from-item): fixed the problem that there would be an extra space in template compilation under vue2
  packages/vue/src/form-item/src/mobile-first.vue
Labels: bug

#3320 fix(tag): fix tag component multi-terminal template running error
  packages/vue/src/tag/src/mobile-first.vue
Labels: bug

#3317 feat: [tabs] Add left button for mobile-first mode
  packages/renderless/src/tabs-mf/index.ts
  packages/renderless/src/tabs-mf/vue-bar.ts
  packages/vue/src/tabs/src/mobile-first/tab-bar.vue
Labels: enhancement

#3297 fix: [fluent-editor] Fix the issue where tables can still be edited when disabled
  packages/theme/src/fluent-editor/index.less
Labels: bug

#3319 fix(form): fix form-item margin bottom
  packages/theme-saas/src/form-item/index.less
  packages/vue/src/form-item/src/mobile-first.vue
Labels: bug

#3322 feat: [form] add type definitions to utils to enhance type safety
  packages/utils/src/date/index.ts
  packages/utils/src/fullscreen/screenfull.ts
  packages/utils/src/string/index.ts
  packages/utils/src/tree-model/tree-store.ts
  packages/utils/src/validate/messages.ts
  packages/utils/src/validate/schema.ts
Labels: enhancement

#3330 fix: fix textarea displayOnly word break
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#3326 fix(numeric): in the mobilefirst of the numeric component, the default width is set to fill the available space
  packages/vue/src/numeric/src/token.ts
Labels: bug

#3328 fix(grid): [grid]Fixed the problem of invalid event monitoring for configuration table selection
  packages/vue/src/grid/src/checkbox/src/methods.ts
Labels: bug

#3325 fix(numeric): [numeric] fixed the issue that numberic reported an error when processing scientific notation with BigInt syntax
  packages/utils/src/bigInt/__tests__/index.test.ts
  packages/utils/src/bigInt/index.ts
  packages/utils/src/decimal/__tests__/index.test.ts
  packages/utils/vitest.config.ts
Labels: bug

#3327 feat: Add utils test commands and add utils package change check in CI
  .github/workflows/test-unit-pr.yml
  package.json
Labels: enhancement

#3331 feat: [input]update E2E test workflow to automatically detect changed components
  .github/workflows/test-e2e-pr.yml
Labels: enhancement

#3332 fix(tree-select): [base-select, tree-select] fix deleteTag not working
  examples/sites/demos/pc/app/base-select/automatic-dropdown.spec.ts
  examples/sites/demos/pc/app/base-select/slot-empty.spec.ts
  examples/sites/demos/pc/app/base-select/slot-reference.spec.ts
  examples/sites/demos/pc/app/tree-select/multiple.spec.ts
  examples/sites/demos/pc/app/tree-select/webdoc/tree-select.js
  examples/sites/demos/pc/menus.js
  packages/renderless/src/base-select/index.ts
  packages/renderless/src/tree-select/index.ts
  packages/renderless/src/tree-select/vue.ts
  packages/vue/src/tree-select/src/pc.vue
Labels: bug

#3335 chore: remove duplicate style property in the xss config
  packages/utils/src/xss/index.ts
Labels: chore

#3336 fix(picker): [date-picker]enhance the compatibility of the date picker on mobile and PC, add isPCMode parameter to control the display logic
  packages/renderless/src/picker/index.ts
  packages/renderless/src/picker/vue.ts
Labels: bug

#3334 fix(form): fix small size form validation position
  packages/vue/src/form-item/src/mobile-first.vue
Labels: bug

#3343 fix(grid): [grid] fix input no cursor when dropConfig set filter
  examples/sites/demos/apis/grid.js
  packages/vue/src/grid/src/dragger/src/methods.ts
Labels: bug

#3341 fix(grid): [grid] fix grid overflow-scroll when browser scale
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3339 fix(grid): [grid] fix grid not visible at custom apply
  packages/vue/src/grid/src/table/src/utils/refreshColumn.ts
Labels: bug

#3342 feat(grid): the renderer configuration of the table supports events event collections
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/renderer/custom-renderer-composition-api.vue
  examples/sites/demos/pc/app/grid/renderer/custom-renderer.spec.js
  examples/sites/demos/pc/app/grid/renderer/custom-renderer.vue
  packages/vue/src/grid/src/cell/src/cell.ts
Labels: enhancement

#3344 fix(transfer): fix the default selection does not checked in the tree component under Vue 2
  packages/renderless/src/transfer/index.ts
Labels: bug

#3351 fix(examples): 修正autocomplete案例标题size值与示例文字不符，容易误导用户。
  examples/sites/demos/pc/app/autocomplete/size-composition-api.vue
  examples/sites/demos/pc/app/autocomplete/size.vue
Labels: bug

#3347 fix(grid,dropdown,select, pager,tooltip):fix the saas theme
  packages/theme-saas/src/grid/header.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme/src/checkbox/index.less
  packages/theme/src/date-panel/index.less
  packages/theme/src/dropdown-item/index.less
  packages/theme/src/dropdown-item/vars.less
  packages/theme/src/svgs/checked-sur.svg
  packages/theme/src/svgs/halfselect.svg
  packages/vue/src/base-select/src/token.ts
  packages/vue/src/date-panel/src/mobile-first.vue
  packages/vue/src/option/src/mobile-first.vue
  packages/vue/src/pager/src/mobile-first.vue
  packages/vue/src/select/src/mobile-first.vue
  packages/vue/src/select/src/token.ts
  packages/vue/src/tag/src/mobile-first.vue
  packages/vue/src/tag/src/token.ts
  packages/vue/src/tooltip/src/mobile-first.vue
Labels: bug

#3346 fix(grid): fix date-picker input style error in filter panel
  packages/theme/src/grid/filter.less
Labels: bug

#3348 chore: updated the contribution guide, optimized the instructions on triggering component e2e tests
  CONTRIBUTING.md
  CONTRIBUTING.zh-CN.md
Labels: chore

#3353 feat(config-provider): config-provider adds theme configuration function
  examples/sites/demos/apis/config-provider.js
  examples/sites/demos/apis/tabs.js
  examples/sites/demos/mobile-first/app/tabs/swipeable.vue
  examples/sites/demos/mobile-first/app/tabs/webdoc/tabs.js
  examples/sites/demos/pc/app/config-provider/theme-composition-api.vue
  examples/sites/demos/pc/app/config-provider/theme.vue
  examples/sites/demos/pc/app/config-provider/webdoc/config-provider.js
  packages/theme-saas/src/svgs/go-back.svg
  packages/utils/src/common/index.ts
  packages/vue/src/config-provider/package.json
  packages/vue/src/config-provider/src/index.vue
  packages/vue/src/config-provider/src/props.ts
Labels: enhancement

#3354 fix(utils): fix tooltip arrow safe padding
  packages/utils/src/popper/index.ts
Labels: bug

#3357 chore: add person-history.svg
  packages/theme-saas/src/svgs/person-history.svg
  packages/theme/src/svgs/person-history.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/person-history/index.ts
Labels: chore

#3358 fix(grid,tooltip,select,tag):Fix saas theme
  packages/theme-saas/src/grid/excel.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/option/index.less
  packages/theme-saas/src/select-dropdown/index.less
  packages/theme-saas/src/select/index.less
  packages/theme-saas/src/tag/index.less
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/pc.vue
Labels: bug

#3356 fix(flowchart): The hand mouse is not displayed when the component node is unavailable, and the error reporting problem of flowchart drill field is fixed
  examples/sites/demos/pc/app/flowchart/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/flowchart/basic-usage.vue
  packages/vue/src/flowchart/src/node.vue
Labels: bug

#3360 feat(flowchart): add automatic prompt instructions so that prompt pop-ups will appear when necessary
  packages/vue/src/flowchart/src/node.vue
Labels: enhancement

#3362 fix: fix tsconfig paths not working
  tsconfig.json
Labels: bug

#3363 chore: add type=module in sites
  examples/sites/demos/pc/app/package.json
  examples/sites/package.json
Labels: chore

#3361 fix(tooltip,grid):Fix the saas theme
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/tooltip/index.less
  packages/vue/src/dropdown-item/src/mobile-first.vue
  packages/vue/src/tooltip/src/mobile-first.vue
  packages/vue/src/tooltip/src/token.ts
Labels: bug

#3365 fix: [grid] Add a scroll bar at the bottom of the SaaS theme table to be placed inside the table, with only one border at the bottom
  packages/theme-saas/src/grid/table.less
Labels: bug

#3366 feat(flowchart): Add the property configuration to display the hand-shaped mouse function
  examples/sites/demos/.eslintrc.cjs
  examples/sites/demos/mobile-first/app/flowchart/dot-horizon.vue
  packages/vue/src/flowchart/src/node.vue
Labels: enhancement

#3367 fix(input): [input] modify the border issue of the input component under the saas theme
  packages/theme-saas/src/input/index.less
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#3370 fix(grid): [grid] modify the size of the grid component header icon under the saas theme
  packages/theme-saas/src/grid/header.less
Labels: bug

#3296 fix(time-spinner): [time-spinner] fix startDate & endDate prop type issue when isRan…
  packages/vue/src/time-spinner/src/index.ts
Labels: bug

#3371 fix: [image] Fixed the bug of previewing large blank images during asynchronous initialization operations
  packages/renderless/src/image-viewer/vue.ts
Labels: bug
