Repository opentiny/tiny-vue, pull requests merged in 2025-06, with the labels that each got.

#3464 fix(select): fix the malfunction of the select component when automatically pulling down focus
  packages/renderless/src/select/index.ts
Labels: bug

#3466 fix(date-picker):fix the init panel width and month name
  examples/sites/demos/pc/app/date-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-panel/custom-week.spec.ts
  examples/sites/demos/pc/app/date-panel/disabled-date.spec.ts
  examples/sites/demos/pc/app/date-panel/event.spec.ts
  examples/sites/demos/pc/app/date-panel/format.spec.ts
  examples/sites/demos/pc/app/date-panel/readonly.spec.ts
  examples/sites/demos/pc/app/date-panel/unlink-panels.spec.ts
  examples/sites/demos/pc/app/date-picker/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-picker/date-range.spec.ts
  packages/theme/src/date-panel/vars.less
  packages/vue/src/month-table/src/pc.vue
Labels: bug

#3470 fix: the issue of modifying line breaks for display
  packages/theme-saas/src/grid/modal.less
Labels: bug

#3481 chore: update SSE URL to HTTPS to ensure secure connection
  examples/sites/demos/pc/app/grid/ai-agent/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/grid/ai-agent/basic-usage.vue
Labels: chore

#3483 fix(calendar-view):fix the E2E test
  examples/sites/demos/pc/app/calendar-view/calendar-event.spec.ts
Labels: bug

#3487 fix(package): update @opentiny/tiny-vue-mcp version to 0.0.1-alpha.1
  examples/sites/package.json
Labels: bug

#3489 feat(dialog-select): [dialog-select] add attribute lock-scroll
  examples/sites/demos/apis/dialog-select.js
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi-composition-api.vue
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.spec.ts
  examples/sites/demos/pc/app/dialog-select/nest-grid-multi.vue
  examples/sites/demos/pc/app/dialog-select/webdoc/dialog-select.js
  packages/vue/src/dialog-select/src/index.ts
  packages/vue/src/dialog-select/src/pc.vue
Labels: enhancement

#3490 feat(popeditor): [popeditor] add attribute lock-scroll
  examples/sites/demos/apis/popeditor.js
  examples/sites/demos/pc/app/popeditor/condition-layout-composition-api.vue
  examples/sites/demos/pc/app/popeditor/condition-layout.spec.ts
  examples/sites/demos/pc/app/popeditor/condition-layout.vue
  examples/sites/demos/pc/app/popeditor/webdoc/popeditor.js
  packages/vue/src/popeditor/src/index.ts
  packages/vue/src/popeditor/src/pc.vue
Labels: enhancement

#3492 fix(grid): add a border to the last row of the grid under the saas theme
  packages/theme-saas/src/grid/table.less
Labels: bug

#3494 feat(grid): optimize mcp configuration usage and sample code
  examples/sites/demos/pc/app/grid/base/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/grid/base/basic-usage.spec.js
  examples/sites/demos/pc/app/grid/base/basic-usage.vue
  examples/sites/package.json
  examples/sites/playground/App.vue
  examples/sites/src/App.vue
  examples/sites/src/views/components-doc/composition/DifyModelProvider.ts
  examples/sites/src/views/components-doc/composition/useTinyRobot.ts
  examples/sites/src/views/components-doc/composition/utils.ts
Labels: enhancement

#3496 chore: optimize mcp configuration items
  examples/sites/package.json
  examples/sites/src/App.vue
Labels: chore

#3497 feat: New MCP comprehensive example added to the official website
  examples/sites/package.json
  examples/sites/src/App.vue
  examples/sites/src/components/anchor.vue
  examples/sites/src/components/api-docs.vue
  examples/sites/src/components/async-highlight.vue
  examples/sites/src/components/contributor.vue
  examples/sites/src/components/demo.vue
  examples/sites/src/components/float-settings.vue
  examples/sites/src/components/header.vue
  examples/sites/src/components/mcp-docs.vue
  examples/sites/src/components/tiny-robot-chat.vue
  examples/sites/src/components/version-tip.vue
  examples/sites/src/composable/DifyModelProvider.ts
  examples/sites/src/composable/storage.ts
  examples/sites/src/composable/useTasksFinish.ts
  examples/sites/src/composable/useTinyRobot.ts
  examples/sites/src/composable/utils.ts
  examples/sites/src/router.js
  examples/sites/src/views/components-doc/common.vue
  examples/sites/src/views/comprehensive/Demo.vue
  examples/sites/src/views/comprehensive/index.vue
  examples/sites/src/views/comprehensive/products.json
  examples/sites/src/views/comprehensive/types/index.ts
  examples/sites/src/views/layout/layout.vue
Labels: enhancement

#3499 fix(input):Fix the saas theme
  packages/theme-saas/src/button/index.less
  packages/theme-saas/src/grid/checkbox.less
  packages/theme-saas/src/grid/header.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/grid/toolbar.less
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#3503 fix(date-picker):fix timezone format
  packages/vue-locale/src/glob.ts
Labels: bug

#3506 fix(tag): tag remove inline-block
  packages/vue/src/tag/src/pc.vue
Labels: bug

#3504 fix(modal): add icon status style
  packages/vue/src/modal/src/mobile-first.vue
Labels: bug

#3513 fix(loading): fix loading occur error when change frequently
  packages/vue/src/loading/src/directive.ts
Labels: bug

#3516 fix(grid): Limit the size attribute value of the paging component to 'mini' or an empty string to prevent warnings
  packages/vue/src/grid/src/pager/src/methods.ts
Labels: bug

#3522 feat: add svgs
  packages/theme-saas/src/svgs/acceptance.svg
  packages/theme-saas/src/svgs/payment-slips.svg
  packages/theme-saas/src/svgs/performance.svg
  packages/theme/src/svgs/acceptance.svg
  packages/theme/src/svgs/payment-slips.svg
  packages/theme/src/svgs/performance.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/acceptance/index.ts
  packages/vue-icon/src/payment-slips/index.ts
  packages/vue-icon/src/performance/index.ts
Labels: enhancement

#3521 feat(grid): edit-config add blurOutside
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/edit/scrollbar-not-blur-composition-api.vue
  examples/sites/demos/pc/app/grid/edit/scrollbar-not-blur.spec.ts
  examples/sites/demos/pc/app/grid/edit/scrollbar-not-blur.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-edit.js
  packages/theme-saas/src/grid/table.less
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/cell/src/cell.ts
  packages/vue/src/grid/src/mobile-first/column-link.vue
  packages/vue/src/grid/src/mobile-first/index.vue
  packages/vue/src/grid/src/table/src/methods.ts
Labels: enhancement

#3519 fix(anchor): fix anchor roll back issue
  packages/renderless/src/anchor/index.ts
Labels: bug

#3523 fix(theme-saas): refresh theme-saas tailwind token
  packages/theme-saas/theme/theme.json
Labels: bug

#3525 feat(calendar-view): [calendar-view]add attributes
  examples/sites/demos/apis/calendar-view.js
  examples/sites/demos/pc/app/calendar-view/calendar-mode-composition-api.vue
  examples/sites/demos/pc/app/calendar-view/calendar-mode.spec.ts
  examples/sites/demos/pc/app/calendar-view/calendar-mode.vue
  packages/vue/src/calendar-view/src/pc.vue
Labels: enhancement

#3518 feat(grid): add expand trigger slot
  examples/sites/demos/apis/grid.js
  examples/sites/demos/pc/app/grid/expand/expand-config.spec.ts
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot-composition-api.vue
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot.spec.ts
  examples/sites/demos/pc/app/grid/expand/expand-trigger-slot.vue
  examples/sites/demos/pc/app/grid/webdoc/grid-expand.js
  packages/vue/src/grid/src/cell/src/cell.ts
Labels: enhancement

#3524 fix(grid): fix custom setting style error at mobile-first
  examples/sites/demos/apis/form.js
  examples/sites/demos/apis/grid.js
  packages/vue/src/grid-toolbar/src/custom-saas.vue
  packages/vue/src/grid/src/fetch-data/src/methods.ts
Labels: bug

#3520 fix(grid): Fix the table css in saas mode.
  packages/theme-saas/src/grid/filter.less
  packages/theme-saas/src/grid/header.less
  packages/theme-saas/src/grid/mixins/table.less
  packages/theme-saas/src/grid/table-global.less
  packages/theme-saas/src/grid/table.less
  packages/theme-saas/src/textarea/index.less
  packages/vue/src/button/src/token.ts
  packages/vue/src/dropdown-item/src/mobile-first.vue
Labels: bug

#3527 fix(grid): fix bug after refactor
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
  packages/vue/src/grid/src/keyboard/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3529 fix(file-upload): Fix the issue of uploading components with an empty accept error
  packages/renderless/src/file-upload/index.ts
Labels: bug

#3535 feat(button): [button] add custom-style attribute
  examples/sites/demos/apis/button.js
  examples/sites/demos/mobile-first/app/button/type.vue
  examples/sites/demos/mobile-first/app/button/webdoc/button.js
  examples/sites/demos/pc/app/button/icon-composition-api.vue
  examples/sites/demos/pc/app/button/icon.vue
  examples/sites/demos/pc/app/button/webdoc/button.js
  packages/vue/src/button/src/index.ts
  packages/vue/src/button/src/mobile-first.vue
  packages/vue/src/button/src/pc.vue
Labels: enhancement

#3536 fix(grid): fix resize bar cover by header
  packages/theme-saas/src/grid/table.less
  packages/theme/src/grid/table.less
Labels: bug

#3537 fix(cascader): fix When using slots in cascader-panel, the mf template will error
  packages/renderless/src/cascader-node/vue.ts
  packages/vue/src/cascader-node/src/mobile-first.vue
  packages/vue/src/cascader-node/src/pc.vue
Labels: bug

#3538 fix(grid): fix drag error when tbody not render
  packages/vue/src/grid/src/body/src/body.tsx
Labels: bug

#3541 fix(grid): fix data undefined in mobile-first
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3542 fix(grid): fix tree table children edit revert error
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/edit/src/methods.ts
  packages/vue/src/grid/src/table/src/methods.ts
Labels: bug

#3543 fix: adapt to tree children use splice to add row
  packages/vue/src/grid/src/composable/useData.ts
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/table.ts
Labels: bug

#3547 fix(examples/sites/demos/apis): 修复 issue #3030 中提到的图表配置项拼写错误
  examples/sites/demos/apis/chart-demo.js
  examples/sites/demos/apis/chart-docs.js
  examples/sites/demos/apis/chart-events.js
  examples/sites/demos/apis/chart-question.js
  examples/sites/demos/apis/chart.js
Labels: bug
