Repository opentiny/tiny-vue, pull requests merged in 2025-02, with the labels that each got.

#2851 fix(grid): [grid] validate successful add return value in promise sense
  examples/sites/demos/apis/grid.js
  packages/vue/src/grid/src/validator/src/methods.ts
Labels: bug

#2855 fix(user): [user] fix the issue of incorrect file names in the demo
  examples/sites/demos/pc/app/user/hide-selected-composition-api.vue
Labels: bug

#2856 fix(alert): move close icon to center
  packages/theme/src/alert/index.less
Labels: bug

#2859 fix(time-line-new): [time-line-new] update timeline-new demos ,to avoid compiled error
  examples/sites/demos/pc/app/time-line-new/basic-usage.vue
  examples/sites/demos/pc/app/time-line-new/custom-normal-step.vue
  examples/sites/demos/pc/app/time-line-new/custom-vertical-step.vue
  examples/sites/demos/pc/app/time-line-new/different-data1.vue
  examples/sites/demos/pc/app/time-line-new/different-data2.vue
  examples/sites/demos/pc/app/time-line-new/event.vue
  examples/sites/demos/pc/app/time-line-new/node-toset1.vue
  examples/sites/demos/pc/app/time-line-new/node-toset2.vue
  examples/sites/demos/pc/app/time-line-new/set-start-value.vue
  examples/sites/demos/pc/app/time-line-new/show-number.vue
  examples/sites/demos/pc/app/time-line-new/show-status.vue
  examples/sites/demos/pc/app/time-line-new/vertical1.vue
  examples/sites/demos/pc/app/time-line-new/vertical2.vue
  examples/sites/demos/pc/app/time-line-new/webdoc/time-line-new.cn.md
  examples/sites/demos/pc/app/time-line-new/webdoc/time-line-new.en.md
  examples/sites/demos/pc/app/time-line-new/webdoc/time-line-new.js
  examples/sites/demos/pc/app/time-line-new/width.vue
  examples/sites/demos/pc/menus.js
Labels: bug

#2858 feat(image): [image] The image component supports base64 in svg format
  packages/renderless/src/image/index.ts
Labels: enhancement

#2863 chore(utils): [select] the local entry of utils is changed to index.ts to facilitate local joint debugging
  examples/sites/demos/mobile-first/app/time-line-new/auto-slot.vue
  examples/sites/demos/mobile-first/app/time-line-new/basic-usage.vue
  examples/sites/demos/mobile-first/app/time-line-new/fold-time.vue
  examples/sites/demos/mobile-first/app/time-line-new/limited-nodes.vue
  examples/sites/demos/mobile-first/app/time-line-new/many-status.vue
  examples/sites/demos/mobile-first/app/time-line-new/node-max.vue
  examples/sites/demos/mobile-first/app/time-line-new/node-toset.vue
  examples/sites/demos/mobile-first/app/time-line-new/single-status.vue
  examples/sites/demos/mobile-first/app/time-line-new/sub-field.vue
  examples/sites/demos/mobile-first/app/time-line-new/webdoc/time-line-new.cn.md
  examples/sites/demos/mobile-first/app/time-line-new/webdoc/time-line-new.en.md
  examples/sites/demos/mobile-first/app/time-line-new/webdoc/time-line-new.js
  package.json
  packages/utils/package.json
Labels: chore

#2864 fix(vue-directive): unify the functions in vue-hooks into double-layer functions and optimize the infinite-scroll function
  packages/renderless/package.json
  packages/renderless/src/recycle-scroller/index.ts
  packages/vue-directive/index.ts
  packages/vue-directive/src/infinite-scroll.ts
  packages/vue-hooks/package.json
  packages/vue-hooks/src/use-floating.ts
  packages/vue-hooks/src/use-lazy-show.ts
Labels: bug

#2866 feat(vue-hooks): add hooks package packaging logic
  packages/vue-hooks/package.json
  packages/vue-hooks/tsconfig.json
  packages/vue-hooks/tsconfig.node.json
  packages/vue-hooks/vite.config.ts
Labels: enhancement

#2865 fix(vue): modify the correct package dependency
  packages/vue/src/collapse-transition/package.json
  packages/vue/src/date-picker/package.json
  packages/vue/src/date-table/package.json
  packages/vue/src/dropdown-item/package.json
  packages/vue/src/dropdown-menu/package.json
  packages/vue/src/dropdown/package.json
  packages/vue/src/exception/index.ts
  packages/vue/src/grid-manager/package.json
  packages/vue/src/grid-select/package.json
  packages/vue/src/grid/package.json
  packages/vue/src/huicharts/huicharts-core/package.json
  packages/vue/src/huicharts/package.json
  packages/vue/src/input/package.json
  packages/vue/src/menu/package.json
  packages/vue/src/message/package.json
  packages/vue/src/month-table/package.json
  packages/vue/src/numeric/package.json
  packages/vue/src/query-builder/package.json
  packages/vue/src/time-picker/package.json
  packages/vue/src/time-select/package.json
  packages/vue/src/time/package.json
  packages/vue/src/upload-list/package.json
Labels: bug

#2869 feat:[date-panel,date-range,date-picker]DatePicker support using only date range panel
  examples/sites/demos/apis/date-panel.js
  examples/sites/demos/pc/app/date-panel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/date-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-panel/basic-usage.vue
  examples/sites/demos/pc/app/date-panel/custom-week.spec.ts
  examples/sites/demos/pc/app/date-panel/custom-weeks-composition-api.vue
  examples/sites/demos/pc/app/date-panel/custom-weeks.vue
  examples/sites/demos/pc/app/date-panel/disabled-date-composition-api.vue
  examples/sites/demos/pc/app/date-panel/disabled-date.spec.ts
  examples/sites/demos/pc/app/date-panel/disabled-date.vue
  examples/sites/demos/pc/app/date-panel/event-composition-api.vue
  examples/sites/demos/pc/app/date-panel/event.spec.ts
  examples/sites/demos/pc/app/date-panel/event.vue
  examples/sites/demos/pc/app/date-panel/format-composition-api.vue
  examples/sites/demos/pc/app/date-panel/format.spec.ts
  examples/sites/demos/pc/app/date-panel/format.vue
  examples/sites/demos/pc/app/date-panel/readonly-composition-api.vue
  examples/sites/demos/pc/app/date-panel/readonly.spec.ts
  examples/sites/demos/pc/app/date-panel/readonly.vue
  examples/sites/demos/pc/app/date-panel/shortcuts-composition-api.vue
  examples/sites/demos/pc/app/date-panel/shortcuts.spec.ts
  examples/sites/demos/pc/app/date-panel/shortcuts.vue
  examples/sites/demos/pc/app/date-panel/unlink-panels-composition-api.vue
  examples/sites/demos/pc/app/date-panel/unlink-panels.spec.ts
  examples/sites/demos/pc/app/date-panel/unlink-panels.vue
  examples/sites/demos/pc/app/date-panel/webdoc/date-panel.js
  examples/sites/demos/pc/app/date-picker/align.spec.ts
  examples/sites/demos/pc/app/date-picker/webdoc/date-picker.js
  packages/renderless/src/date-panel/index.ts
  packages/renderless/src/date-range/index.ts
  packages/renderless/src/date-range/vue.ts
  packages/renderless/src/date-table/index.ts
  packages/renderless/src/month-table/index.ts
  packages/utils/src/date-util/index.ts
  packages/vue/src/date-range/__tests__/date-range.test.tsx
  packages/vue/src/date-range/src/index.ts
  packages/vue/src/date-range/src/mobile-first.vue
  packages/vue/src/date-range/src/pc.vue
  packages/vue/src/date-table/src/index.ts
  packages/vue/src/date-table/src/pc.vue
Labels: enhancement

#2879 feat(utils): add a whitelist for xss in rich text components
  packages/utils/src/xss/index.ts
Labels: enhancement

#2880 fix(fluent-editor): [fluent-editor] Fixed the bug where the cursor was out of focus when entering line breaks after modifying the font style of the rich text box
  packages/renderless/src/fluent-editor/index.ts
Labels: bug

#2876 fix(select):[select] fix the focus event is triggered and prevent the panel from failing to collapse
  packages/renderless/src/select/index.ts
  packages/renderless/src/select/vue.ts
Labels: bug

#2878 fix(grid): [grid] fix setActiveRow scroll to error position when set …
  packages/renderless/src/grid/utils/dom.ts
Labels: bug

#2882 fix(renderless): restore the removed InfiniteScroll variable
  packages/renderless/src/common/deps/dom.ts
  packages/renderless/src/common/deps/infinite-scroll.ts
Labels: bug

#2875 feat:[month-range,year-range,date-panel,date-picker]The DatePanel supports the month/year range panel
  examples/sites/demos/apis/date-panel.js
  examples/sites/demos/pc/app/date-panel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/date-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-panel/basic-usage.vue
  examples/sites/demos/pc/app/date-panel/disabled-date-composition-api.vue
  examples/sites/demos/pc/app/date-panel/disabled-date.spec.ts
  examples/sites/demos/pc/app/date-panel/disabled-date.vue
  examples/sites/demos/pc/app/date-panel/event-composition-api.vue
  examples/sites/demos/pc/app/date-panel/event.spec.ts
  examples/sites/demos/pc/app/date-panel/event.vue
  examples/sites/demos/pc/app/date-panel/format-composition-api.vue
  examples/sites/demos/pc/app/date-panel/format.spec.ts
  examples/sites/demos/pc/app/date-panel/format.vue
  examples/sites/demos/pc/app/date-panel/readonly-composition-api.vue
  examples/sites/demos/pc/app/date-panel/readonly.spec.ts
  examples/sites/demos/pc/app/date-panel/readonly.vue
  examples/sites/demos/pc/app/date-panel/shortcuts-composition-api.vue
  examples/sites/demos/pc/app/date-panel/shortcuts.spec.ts
  examples/sites/demos/pc/app/date-panel/shortcuts.vue
  examples/sites/demos/pc/app/date-panel/unlink-panels-composition-api.vue
  examples/sites/demos/pc/app/date-panel/unlink-panels.spec.ts
  examples/sites/demos/pc/app/date-panel/unlink-panels.vue
  examples/sites/demos/pc/app/time-picker/format.spec.ts
  packages/renderless/src/month-range/index.ts
  packages/renderless/src/month-range/vue.ts
  packages/renderless/src/month-table/index.ts
  packages/renderless/src/picker/index.ts
  packages/renderless/src/year-range/index.ts
  packages/renderless/src/year-range/vue.ts
  packages/renderless/src/year-table/index.ts
  packages/theme-saas/src/date-panel/index.less
  packages/theme-saas/src/year-table/index.less
  packages/theme/src/date-table/index.less
  packages/theme/src/month-table/index.less
  packages/vue/src/month-range/__tests__/month-range.test.tsx
  packages/vue/src/month-range/src/pc.vue
  packages/vue/src/month-table/src/pc.vue
  packages/vue/src/year-range/__tests__/year-range.test.tsx
  packages/vue/src/year-range/src/index.ts
  packages/vue/src/year-range/src/mobile-first.vue
  packages/vue/src/year-range/src/pc.vue
  packages/vue/src/year-table/src/index.ts
  packages/vue/src/year-table/src/mobile-first.vue
  packages/vue/src/year-table/src/pc.vue
Labels: enhancement

#2883 fix(nav-menu): [nav-menu] fix the e2e error in the nav-menu component
  packages/utils/src/array/index.ts
Labels: bug, e2e-test

#2884 fix(radio): [radio] resolve the issue of text wrapping not being centered in radio components
  packages/vue/src/radio/src/token.ts
Labels: bug

#2887 fix(huicharts): fix the script error of Huicharts saas theme
  internals/cli/src/commands/build/build-chart-theme.ts
Labels: bug

#2888 fix(fluent-editor): fix the error problem of vue-fluent-editor introduced in ssr environment
  packages/vue/src/fluent-editor/package.json
Labels: bug

#2894 fix(renderless): fix wrong path of useEventListener
  packages/renderless/src/load-list/vue.ts
  packages/renderless/src/pull-refresh-mobile-first/vue.ts
Labels: bug

#2886 fix(calendar-view):[calendar-view] Verifying SaaS Theme Modification
  packages/vue/src/calendar-view/src/mobile-first.vue
Labels: bug

#2896 fix(input): [input] fix textarea word wrap style
  examples/sites/demos/pc/app/input/display-only-popup-more-composition-api.vue
  examples/sites/demos/pc/app/input/display-only-popup-more.vue
  packages/vue/src/input/src/pc.vue
Labels: bug

#2899 fix(input): [input] fix textarea word wrap style
  examples/sites/demos/mobile-first/app/input/display-only-popup-more.vue
  examples/sites/demos/mobile-first/app/input/webdoc/input.js
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#2898 feat(theme): [button] add dark themes, modify other theme variables a…
  examples/sites/src/views/layout/layout.vue
  packages/theme/src/autocomplete/vars.less
  packages/theme/src/badge/vars.less
  packages/theme/src/base/aurora-theme.less
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/index.less
  packages/theme/src/base/old-theme.less
  packages/theme/src/base/vars.less
  packages/theme/src/button-group/vars.less
  packages/theme/src/button/vars.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/carousel-item/vars.less
  packages/theme/src/cascader-node/vars.less
  packages/theme/src/cascader/vars.less
  packages/theme/src/crop/vars.less
  packages/theme/src/date-panel/vars.less
  packages/theme/src/date-table/vars.less
  packages/theme/src/dialog-box/vars.less
  packages/theme/src/drawer/vars.less
  packages/theme/src/dropdown-menu/vars.less
  packages/theme/src/dropdown/vars.less
  packages/theme/src/grid/vars.less
  packages/theme/src/guide/vars.less
  packages/theme/src/link/vars.less
  packages/theme/src/modal/vars.less
  packages/theme/src/month-table/vars.less
  packages/theme/src/nav-menu/index.less
  packages/theme/src/nav-menu/vars.less
  packages/theme/src/notify/vars.less
  packages/theme/src/popover/vars.less
  packages/theme/src/progress/vars.less
  packages/theme/src/select-dropdown/vars.less
  packages/theme/src/slider/vars.less
  packages/theme/src/steps/vars.less
  packages/theme/src/switch/vars.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/tag/vars.less
  packages/theme/src/time-panel/vars.less
  packages/theme/src/time-spinner/vars.less
  packages/theme/src/tooltip/vars.less
  packages/theme/src/tree-menu/vars.less
  packages/theme/src/upload-list/vars.less
  packages/theme/src/user-contact/vars.less
Labels: enhancement

#2889 fix(nav-menu): [nav-menu] Fix the style issue of the nav-menu component
  packages/theme/package.json
  packages/theme/src/nav-menu/index.less
Labels: bug

#2902 fix(select): [select] fix state.selected.state is empty object, and can't get the right displayText
  packages/renderless/src/select/vue.ts
Labels: bug

#2893 fix(site): add the correct responsive position for .search-box
  examples/sites/src/style.css
Labels: bug

#2907 feat(steps): add content-center prop to steps and add two saas icons
  examples/sites/demos/apis/steps.js
  examples/sites/demos/mobile-first/app/steps/content-center.vue
  examples/sites/demos/mobile-first/app/steps/webdoc/steps.js
  examples/sites/demos/pc/app/steps/content-center-composition-api.vue
  examples/sites/demos/pc/app/steps/content-center.vue
  examples/sites/demos/pc/app/steps/webdoc/steps.js
  packages/theme-saas/src/steps/index.less
  packages/theme-saas/src/svgs/lightning-line.svg
  packages/theme-saas/src/svgs/lightning.svg
  packages/theme-saas/src/tabs/index.less
  packages/theme/src/steps/index.less
  packages/theme/src/svgs/lightning-line.svg
  packages/theme/src/svgs/lightning.svg
  packages/vue-icon-saas/index.ts
  packages/vue-icon/index.ts
  packages/vue-icon/src/lightning-line/index.ts
  packages/vue-icon/src/lightning/index.ts
  packages/vue/src/steps/src/index.ts
  packages/vue/src/steps/src/mobile-first.vue
  packages/vue/src/steps/src/mobile-first/mobile-first-advanced.vue
  packages/vue/src/steps/src/pc.vue
  packages/vue/src/steps/src/pc/pc-advanced.vue
Labels: enhancement

#2912 fix(tabs): [tabs] Fixed the bug where the use of separators in tabs resulted in misaligned buttons at both ends and separators not being centered
  packages/theme/src/tabs/index.less
Labels: bug

#2910 fix(card): [card] Style pollution caused by modifying the card component
  examples/sites/demos/pc/app/card/card-select-composition-api.vue
  examples/sites/demos/pc/app/card/card-select.vue
  packages/theme/src/card/index.less
Labels: bug

#2914 fix: 编译入口名称调整
  internals/cli/src/commands/build/build-ui.ts
Labels: bug

#2916 fix(upload-list):progress props width type issue in upload-list(#2915)
  packages/renderless/src/upload-list/vue.ts
Labels: bug

#2918 fix(file-upload): [file-upload] Adjust the style of the mobile-first button for uploading components
  packages/vue/src/file-upload/src/mobile-first.vue
  packages/vue/src/upload/src/mobile-first.vue
Labels: bug

#2921 fix: fix the error when loading chart component
  examples/sites/demos/mobile-first/app/tabs/show-echarts.vue
  packages/vue/src/huicharts/package.json
Labels: bug

#2911 feat(site): the official website adds the function of dynamically switching between light and dark themes
  examples/sites/package.json
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/layout/layout.vue
  packages/theme/src/base/dark-theme.less
  packages/theme/src/base/index.less
Labels: enhancement

#2901 fix(grid): [grid] Fix bug where dragging and dropping in the expanded state of the table cannot render correctly
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/dragger/src/rowDrop.ts
Labels: bug

#2927 fix: fix form item not align when set display-only
  packages/theme-saas/src/form-item/index.less
  packages/vue/src/checkbox/src/mobile-first.vue
  packages/vue/src/form-item/src/mobile-first.vue
  packages/vue/src/input/src/mobile-first.vue
  packages/vue/src/tooltip/src/mobile-first.vue
Labels: bug

#2928 fix(button): [button,tag] fix the display problem of the button and tag components in dark mode
  examples/sites/demos/pc/app/tag/color-border-composition-api.vue
  examples/sites/demos/pc/app/tag/color-border.vue
  examples/sites/demos/pc/app/tag/effect-composition-api.vue
  examples/sites/demos/pc/app/tag/effect.vue
  examples/sites/demos/pc/app/tag/size-composition-api.vue
  examples/sites/demos/pc/app/tag/size.vue
  examples/sites/demos/pc/app/tag/tag-event-click-composition-api.vue
  examples/sites/demos/pc/app/tag/tag-event-click.vue
  packages/theme/src/button/index.less
  packages/theme/src/tag/vars.less
Labels: bug

#2934 fix(cascader): [cascader,select] add the changeCompat attribute to the component
  packages/renderless/src/cascader/index.ts
  packages/renderless/src/cascader/vue.ts
  packages/vue/src/cascader/src/index.ts
  packages/vue/src/cascader/src/mobile-first.vue
  packages/vue/src/cascader/src/pc.vue
  packages/vue/src/option/src/pc.vue
Labels: bug

#2935 fix(icon): [icon] Fix bug where loading shadow icon size and margin do not comply with specifications
  packages/theme/src/svgs/loading-shadow.svg
Labels: bug

#2941 fix(button): [select] add button's cssvar and fix select reference slot's problem
  packages/renderless/src/select/index.ts
  packages/theme/src/button/index.less
  packages/theme/src/button/vars.less
Labels: bug

#2939 fix(pager): [pager] add Pager component internationalization
  packages/vue-locale/src/lang/en.ts
  packages/vue-locale/src/lang/es-LA.ts
  packages/vue-locale/src/lang/pt-BR.ts
Labels: bug

#2944 fix(cascader): [cascader] fix cascader dont emit change
  packages/renderless/src/cascader/index.ts
Labels: bug

#2946 feat(badge): [badge] Component dark theme adaptation
  packages/theme/src/badge/index.less
  packages/theme/src/badge/vars.less
Labels: enhancement

#2947 fix(dialog-box): [dialog-box] modify the full screen content height of the dialog box component not being fully supported
  packages/theme/src/dialog-box/index.less
Labels: bug

#2950 fix: fix form item not align when set display-only
  packages/vue/src/form-item/src/mobile-first.vue
  packages/vue/src/numeric/src/mobile-first.vue
  packages/vue/src/numeric/src/token.ts
  packages/vue/src/radio/src/token.ts
  packages/vue/src/switch/src/mobile-first.vue
Labels: bug

#2949 fix(grid): [grid] fix gird header tip error show
  packages/vue/src/grid/src/tooltip/src/methods.ts
Labels: bug

#2945 fix(date-picker):[date-picker]Formatted MMMs are displayed as abbreviations, and MMMMs are displayed as full spellings.
  packages/utils/src/date-util/index.ts
Labels: bug

#2948 feat(input): [input] input component adapts to dark theme
  packages/theme/src/input/index.less
  packages/theme/src/textarea/index.less
Labels: enhancement

#2926 fix(renderless): [base-select] designConfig 未配置 spacingHeight时高度无法自动计算
  packages/renderless/src/base-select/index.ts
Labels: bug

#2956 fix(site): official website adapts to the dark mode.
  examples/sites/src/assets/custom-block.less
  examples/sites/src/assets/custom-markdown.css
  examples/sites/src/assets/index.less
  examples/sites/src/main.js
  examples/sites/src/style.css
  examples/sites/src/tools/appData.js
  examples/sites/src/views/components-doc/components/api-docs.vue
  examples/sites/src/views/components-doc/components/demo.vue
  examples/sites/src/views/components-doc/components/float-settings.vue
  examples/sites/src/views/components-doc/components/header.vue
  examples/sites/src/views/docs/docs.vue
  examples/sites/src/views/layout/layout.vue
  examples/sites/src/views/overview.vue
  packages/theme/src/button/index.less
Labels: bug

#2951 feat(radio): [radio] Component dark theme adaptation
  packages/theme/src/radio/vars.less
Labels: enhancement

#2957 fix: fix grid header style and tabs style in dark mode
  examples/sites/src/views/components-doc/common.vue
  packages/theme/src/grid/vars.less
Labels: bug

#2960 fix: fix tabs background color style in dark mode
  examples/sites/src/style.css
  examples/sites/src/views/components-doc/common.vue
Labels: bug

#2958 fix: fix mobile first input prepend content wrap
  packages/vue/src/form-item/src/mobile-first.vue
  packages/vue/src/input/src/mobile-first.vue
Labels: bug

#2962 fix: fixed the background color of the official website API table expansion
  examples/sites/src/views/components-doc/components/api-docs.vue
  packages/theme/src/grid/table.less
Labels: bug

#2961 fix(guide): [guide] resolve the situation where data cannot be bound when editing pop ups in tables
  examples/sites/demos/pc/app/grid/editor/popeditor-in-grid-remote-search-composition-api.vue
  examples/sites/demos/pc/app/grid/editor/popeditor-in-grid-remote-search.vue
Labels: bug

#2966 fix(grid): [grid] resolve incomplete display of table icons
  packages/theme-saas/src/grid/mixins/table.less
Labels: bug

#2969 fix(datetime-picker): fix datetime-picker's display to flex in mobilefirst
  packages/vue/src/picker/src/token.ts
Labels: bug

#2964 feat(tree): [tree,popover] Component dark theme adaptation
  packages/theme/src/popover/index.less
  packages/theme/src/tree/index.less
  packages/theme/src/tree/vars.less
Labels: enhancement

#2965 feat:[anchor,calendar-view,filter-panel,loading,date-picker,pop-upload,search,scroll-text,step,tabs,wizard,file-upload, calendar]The widget supports dark themes.
  examples/sites/demos/pc/app/filter-panel/code-composition-api.vue
  examples/sites/demos/pc/app/filter-panel/code.vue
  examples/sites/demos/pc/app/icon-multicolor/list-composition-api.vue
  examples/sites/demos/pc/app/icon-multicolor/list.vue
  examples/sites/demos/pc/app/icon/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/icon/basic-usage.vue
  examples/sites/demos/pc/app/icon/list-composition-api.vue
  examples/sites/demos/pc/app/icon/list.vue
  examples/sites/demos/pc/app/icon/show-title-composition-api.vue
  examples/sites/demos/pc/app/icon/show-title.vue
  examples/sites/demos/pc/app/time-line/set-node-width-composition-api.vue
  examples/sites/demos/pc/app/time-line/set-node-width.vue
  packages/theme/src/anchor/vars.less
  packages/theme/src/calendar-view/index.less
  packages/theme/src/calendar-view/vars.less
  packages/theme/src/filter-box/index.less
  packages/theme/src/filter-box/vars.less
  packages/theme/src/loading/vars.less
  packages/theme/src/picker/index.less
  packages/theme/src/picker/vars.less
  packages/theme/src/pop-upload/index.less
  packages/theme/src/pop-upload/vars.less
  packages/theme/src/scroll-text/vars.less
  packages/theme/src/search/index.less
  packages/theme/src/search/vars.less
  packages/theme/src/steps/index.less
  packages/theme/src/steps/vars.less
  packages/theme/src/tabs/index.less
  packages/theme/src/tabs/vars.less
  packages/theme/src/upload-list/index.less
  packages/theme/src/wizard/vars.less
  packages/vue/src/calendar/src/pc.vue
  packages/vue/src/search/src/pc.vue
Labels: enhancement

#2971 fix(grid): [grid ] fix grid show overflow tip error when navigator scale
  packages/vue/src/grid/src/tooltip/src/methods.ts
Labels: bug

#2986 feat(collapse): [collapse] add dark theme
  packages/theme/src/base/dark-theme.less
Labels: enhancement
