Repository opentiny/tiny-vue, pull requests merged in 2025-01, with the labels that each got.

#2717 fix(statistic): [statistic] synchronize the statistic component of the release-3.18 version to the dev branch
  examples/sites/demos/apis/statistic.js
  examples/sites/demos/pc/app/statistic/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/statistic/basic-usage.vue
  examples/sites/demos/pc/app/statistic/statistic-slot.spec.ts
  examples/sites/demos/pc/app/statistic/statistic-style.spec.ts
  packages/renderless/src/statistic/index.ts
  packages/vue/src/statistic/src/index.ts
Labels: bug

#2724 fix(file-upload): modify the error reported by the upload component on the mobile client and add the demo
  examples/sites/demos/apis/file-upload.js
  examples/sites/demos/mobile/app/file-upload/accept-file-image.vue
  examples/sites/demos/mobile/app/file-upload/custom-prefix.vue
  examples/sites/demos/mobile/app/file-upload/custom-upload-request.vue
  examples/sites/demos/mobile/app/file-upload/drag-select-file.vue
  examples/sites/demos/mobile/app/file-upload/drag-upload.vue
  examples/sites/demos/mobile/app/file-upload/file-icon-list.vue
  examples/sites/demos/mobile/app/file-upload/file-title.vue
  examples/sites/demos/mobile/app/file-upload/image-size.vue
  examples/sites/demos/mobile/app/file-upload/manual-upload.vue
  examples/sites/demos/mobile/app/file-upload/prevent-delete-file.vue
  examples/sites/demos/mobile/app/file-upload/prevent-upload-file.vue
  examples/sites/demos/mobile/app/file-upload/upload-limit.vue
  examples/sites/demos/mobile/app/file-upload/webdoc/file-upload.js
  packages/mobile/components/file-upload/src/file-upload.ts
  packages/mobile/components/file-upload/src/mobile.vue
  packages/mobile/components/file-upload/src/renderless/index.ts
  packages/mobile/components/file-upload/src/renderless/vue.ts
  packages/mobile/components/upload-list/src/renderless/vue.ts
  packages/mobile/components/upload-list/src/upload-list.ts
  packages/mobile/components/upload/src/renderless/index.ts
  packages/mobile/components/upload/src/renderless/vue.ts
Labels: bug

#2715 fix(input): [input] cancel bacground style of input count in textarea
  packages/theme/src/textarea/index.less
Labels: bug

#2573 fix(modal): [modal] repeatedly dispatch the close event
  packages/renderless/src/modal/index.ts
Labels: bug

#2727 fix(modal): [modal] modifying the modal component and clicking the confirm button accidentally triggered the close event
  packages/renderless/src/modal/index.ts
Labels: bug

#2726 fix(vite-import): fix the issue of escaping comment code in on-demand packaging plugin
  internals/vue-vite-import/src/index.ts
Labels: bug

#2728 feat(nav-menu): [nav-menu] Simplify the demo data
  examples/sites/demos/pc/app/nav-menu/allow-full-url-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/allow-full-url.vue
  examples/sites/demos/pc/app/nav-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/basic-usage.spec.ts
  examples/sites/demos/pc/app/nav-menu/basic-usage.vue
  examples/sites/demos/pc/app/nav-menu/before-skip-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/before-skip-prevent-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/before-skip-prevent.spec.ts
  examples/sites/demos/pc/app/nav-menu/before-skip-prevent.vue
  examples/sites/demos/pc/app/nav-menu/before-skip.spec.ts
  examples/sites/demos/pc/app/nav-menu/before-skip.vue
  examples/sites/demos/pc/app/nav-menu/crm-demo-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/crm-demo.vue
  examples/sites/demos/pc/app/nav-menu/custom-service-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/custom-service.vue
  examples/sites/demos/pc/app/nav-menu/overflow-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/overflow.vue
  examples/sites/demos/pc/app/nav-menu/parent-key-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/parent-key.vue
  examples/sites/demos/pc/app/nav-menu/selecte-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/selecte.spec.ts
  examples/sites/demos/pc/app/nav-menu/selecte.vue
  examples/sites/demos/pc/app/nav-menu/slot-logo-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/slot-logo.vue
  examples/sites/demos/pc/app/nav-menu/slot-toolbar-composition-api.vue
  examples/sites/demos/pc/app/nav-menu/slot-toolbar.vue
  examples/sites/demos/pc/app/nav-menu/webdoc/nav-menu.js
  packages/theme/src/nav-menu/index.less
Labels: enhancement

#2731 feat: add utils packages type module
  packages/utils/package.json
Labels: enhancement

#2732 fix(vue-renderless): [user,user-account,user-contact,user-head,user-link,virtual-scroll-box,virtual-tree,watermark,wizard] fix site: Optimize site documentation typesetting
  examples/sites/demos/pc/app/user-account/custom-service-composition-api.vue
  examples/sites/demos/pc/app/user-account/custom-service.vue
  examples/sites/demos/pc/app/user-contact/webdoc/user-contact.js
  examples/sites/demos/pc/app/user-head/render-user-head-in-grid-composition-api.vue
  examples/sites/demos/pc/app/user-head/render-user-head-in-grid.spec.ts
  examples/sites/demos/pc/app/user-head/render-user-head-in-grid.vue
  examples/sites/demos/pc/app/user-head/webdoc/user-head.js
  examples/sites/demos/pc/app/user-link/custom-service-composition-api.vue
  examples/sites/demos/pc/app/user-link/custom-service.vue
  examples/sites/demos/pc/app/user-link/webdoc/user-link.js
  examples/sites/demos/pc/app/user/custom-service-composition-api.vue
  examples/sites/demos/pc/app/user/custom-service.vue
  examples/sites/demos/pc/app/user/custom-sort.vue
  examples/sites/demos/pc/app/user/webdoc/user.js
  examples/sites/demos/pc/app/virtual-scroll-box/tree-composition-api.vue
  examples/sites/demos/pc/app/virtual-scroll-box/tree.vue
Labels: bug

#2736 fix: supplement mistakenly deleted files
  packages/mobile/components/upload/src/renderless/index.ts
Labels: bug

#2743 fix(e2e): [tooltip,select] fix the security that causes e2e test failures.
  examples/sites/demos/pc/app/select/nest-grid-remote.spec.ts
  packages/renderless/src/common/deps/popper.ts
  packages/renderless/src/select/index.ts
  packages/vue-common/src/breakpoint.ts
Labels: bug

#2741 fix(e2e): [fileupload] Fix the error reported in the E2E test case of the upload component.
  examples/sites/demos/pc/app/file-upload/basic-usage.spec.ts
  examples/sites/demos/pc/app/file-upload/encrypt-config.spec.ts
  examples/sites/demos/pc/app/file-upload/picture-list.spec.ts
  examples/sites/demos/pc/app/file-upload/upload-events.spec.ts
Labels: bug, e2e-test

#2746 fix(e2e): [cascader,color-picker,crop] fix cascader color-picker crop components e2e-test error
  examples/sites/demos/pc/app/cascader-panel/change.spec.ts
  examples/sites/demos/pc/app/cascader-panel/custom-option-content.spec.ts
  examples/sites/demos/pc/app/cascader/auto-load-checkStrictly-composition-api.vue
  examples/sites/demos/pc/app/cascader/auto-load-checkStrictly.vue
  examples/sites/demos/pc/app/cascader/auto-load-composition-api.vue
  examples/sites/demos/pc/app/cascader/auto-load.vue
  examples/sites/demos/pc/app/cascader/clearable.spec.ts
  examples/sites/demos/pc/app/cascader/default-multiple.spec.ts
  examples/sites/demos/pc/app/color-picker/predefine.spec.ts
  examples/sites/demos/pc/app/crop/get-cropped-canvas.spec.ts
Labels: bug

#2745 fix(demos/checkbox): [checkbox] fix checkbox e2e-test error
  examples/sites/demos/pc/app/checkbox/checkbox-button-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checkbox-button.vue
  examples/sites/demos/pc/app/checkbox/checkbox-events-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checkbox-events.spec.ts
  examples/sites/demos/pc/app/checkbox/checkbox-events.vue
  examples/sites/demos/pc/app/checkbox/checkbox-group-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checkbox-group.vue
  examples/sites/demos/pc/app/checkbox/checked-composition-api.vue
  examples/sites/demos/pc/app/checkbox/checked.vue
  examples/sites/demos/pc/app/checkbox/custom-color-composition-api.vue
  examples/sites/demos/pc/app/checkbox/custom-color.vue
  examples/sites/demos/pc/app/checkbox/description-composition-api.vue
  examples/sites/demos/pc/app/checkbox/description.vue
  internals/playwright-config/src/index.js
Labels: bug

#2747 fix(modal): [modal] modify e2e test case error
  examples/sites/demos/pc/app/modal/modal-event.spec.ts
Labels: bug

#2749 fix(date-picker): [date-picker] fix date-picker e2e test error
  examples/sites/demos/pc/app/date-picker/clear.spec.ts
Labels: bug

#2735 fix(time-select): [time-select] Fix and optimize issues with invalid …
  examples/sites/demos/pc/app/time-select/range-placeholder.spec.ts
  packages/renderless/src/picker/index.ts
  packages/renderless/src/time-panel/index.ts
  packages/renderless/src/time-panel/vue.ts
  packages/theme-saas/src/time-select/index.less
  packages/theme/src/time-select/index.less
  packages/vue/src/time-panel/src/pc.vue
Labels: bug

#2744 feat(alert): [alert] display title when size is large
  examples/sites/demos/apis/alert.js
  examples/sites/demos/pc/app/alert/title-composition-api.vue
  examples/sites/demos/pc/app/alert/title.spec.ts
  examples/sites/demos/pc/app/alert/title.vue
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/theme/src/alert/index.less
  packages/vue/src/alert/src/index.ts
  packages/vue/src/alert/src/pc.vue
Labels: enhancement

#2750 fix(popeditor): the default width of the label in popeditor is added
  packages/theme-saas/src/popeditor/index.less
Labels: bug

#2751 fix(modal): [modal] the style does not take effect
  packages/theme/src/modal/vars.less
Labels: bug

#2754 test(grid): [grid] fix unit test error
  packages/vue/src/grid/__tests__/grid.test.tsx
  packages/vue/src/grid/src/grid/grid.ts
Labels: unit-test

#2752 fix(carousel): [carousel] modify the vertical arrow display issue of the carousel component
  packages/theme/src/carousel/index.less
Labels: bug

#2756 fix(grid): [grid] fix can not select first option when value is empty
  packages/vue/src/grid/src/adapter/src/renderer.ts
Labels: bug

#2757 fix(dialog-box): [dialog-box] modify the style of the dialog box
  packages/theme/src/dialog-box/index.less
  packages/theme/src/dialog-box/vars.less
Labels: bug

#2759 fix(loading): [loading] v-loading's lifecycle name replace by inserted
  packages/vue-common/src/adapter/vue2/index.ts
  packages/vue-common/src/adapter/vue3/index.ts
  packages/vue/src/loading/src/directive.ts
Labels: bug

#2762 fix(grid): [grid] fix checkbox border become smaller when config show…
  packages/theme/src/grid/checkbox.less
Labels: bug

#2761 fix(renderless): fix renderless package publish error
  packages/renderless/scripts/postbuild.ts
Labels: bug

#2763 feat: update playground versions
  examples/sites/package.json
  examples/sites/playground/App.vue
Labels: enhancement

#2765 feat(alert): [alert] display title when size is large in mobile-first
  examples/sites/demos/apis/alert.js
  examples/sites/demos/mobile-first/app/alert/title.vue
  examples/sites/demos/mobile-first/app/alert/webdoc/alert.js
  examples/sites/demos/pc/app/alert/webdoc/alert.js
  packages/vue/src/alert/src/mobile-first.vue
Labels: enhancement

#2766 fix(divider): [divider] modify e2e test cases for the divider component
  examples/sites/demos/pc/app/divider/basic-usage.spec.ts
  examples/sites/demos/pc/app/divider/content-position.spec.ts
  examples/sites/demos/pc/app/divider/custom-style.spec.ts
  examples/sites/demos/pc/app/divider/direction.spec.ts
  examples/sites/demos/pc/app/divider/divider-type.spec.ts
  examples/sites/demos/pc/app/divider/status.spec.ts
Labels: bug

#2769 docs: fix demo-list children miss width style
  examples/sites/demos/pc/webdoc/installation-en.md
  examples/sites/demos/pc/webdoc/installation.md
  examples/sites/src/views/components/demo.vue
Labels: documentation

#2779 chore: add script alias test:unit and test:e2e
  package.json
Labels: chore

#2780 feat: go through the mobile packaging build and release process and fix the bugs found during the build and release
  packages/mobile/components/form/src/mobile.vue
  packages/mobile/components/tab-item/src/mobile.vue
  packages/mobile/components/tag/src/mobile.vue
  packages/mobile/components/toast/src/mobile.vue
  packages/mobile/package.json
  packages/mobile/utils/index.ts
  packages/mobile/utils/runtime.ts
  packages/mobile/vite.config.ts
Labels: enhancement

#2776 docs: added Vitepress packaging to FAQ section
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
Labels: documentation

#2770 fix(grid): [grid] fix repeated trigger cell active when boardConfig.isEdit is set true
  packages/vue/src/grid/src/table/src/events.ts
  packages/vue/src/grid/src/table/src/utils/handleGlobalKeydownEvent.ts
Labels: bug

#2788 fix(grid): [grid] fix enter board event do not work
  packages/vue/src/grid/src/table/src/events.ts
Labels: bug

#2789 fix(grid): [grid] fix style error when dynamic group header is set fixed
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/table/src/utils/autoCellWidth.ts
Labels: bug

#2772 fix(select): [select] fix the problem that both tooltip and title are displayed when the select command is run in display-only mode.
  packages/vue/src/select/src/pc.vue
Labels: bug

#2783 feat(pager): [pager] add change-compat to control whether trigger cha…
  examples/sites/demos/apis/pager.js
  examples/sites/demos/pc/app/pager/pager-event-composition-api.vue
  examples/sites/demos/pc/app/pager/pager-event.spec.ts
  examples/sites/demos/pc/app/pager/pager-event.vue
  examples/sites/demos/pc/app/pager/webdoc/pager.js
  examples/sites/demos/pc/webdoc/faq-en.md
  examples/sites/demos/pc/webdoc/faq.md
  packages/renderless/src/pager/index.ts
  packages/renderless/src/pager/vue.ts
  packages/vue/src/pager/src/index.ts
  packages/vue/src/pager/src/mobile-first.vue
  packages/vue/src/pager/src/pc.vue
Labels: enhancement, breaking-change

#2786 fix(theme-tool): add theme-tool.d.ts for tinyOldTheme vars
  packages/theme/package.json
  packages/theme/src/theme-tool.d.ts
Labels: bug

#2798 fix: fix all publish action run error
  .github/workflows/auto-all-publish.yml
Labels: bug

#2801 fix(pager): [pager] fix pager type error
  examples/sites/demos/pc/webdoc/import-components-en.md
  examples/sites/demos/pc/webdoc/import-components.md
  packages/renderless/types/pager.type.ts
Labels: bug

#2806 fix: modify the mobile layout and click the example/API. The browser address anchor is not defined, the composition code is hidden, and the home page icon is not found
  examples/sites/demos/mobile/overviewimage/container.svg
  examples/sites/demos/mobile/overviewimage/dev.svg
  examples/sites/demos/mobile/overviewimage/dialog-box.svg
  examples/sites/demos/mobile/overviewimage/popover.svg
  examples/sites/demos/mobile/overviewimage/tag.svg
  examples/sites/demos/mobile/overviewimage/user-head.svg
  examples/sites/src/views/components/components.vue
  examples/sites/src/views/components/demo.vue
  examples/sites/src/views/components/float-settings.vue
Labels: bug

#2807 docs: add mobile demo preview
  examples/sites/env/.env.mobile
  examples/sites/env/.env.mobilealpha
  examples/sites/env/.env.mobileprod
  examples/sites/mobile.html
  examples/sites/mobile/App.vue
  examples/sites/mobile/main.ts
  examples/sites/vite.config.ts
Labels: documentation

#2802 feat: add license to mobile components
  packages/mobile/LICENSE
  packages/mobile/package.json
Labels: enhancement

#2774 feat(dropdown): [dropdown] add visible attribute to support user-defined panel display.
  examples/sites/demos/apis/dropdown.js
  examples/sites/demos/pc/app/dropdown/visible-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible.spec.ts
  examples/sites/demos/pc/app/dropdown/visible.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/renderless/src/dropdown/index.ts
  packages/renderless/src/dropdown/vue.ts
  packages/renderless/types/dropdown.type.ts
  packages/vue/src/dropdown/src/index.ts
  packages/vue/src/dropdown/src/pc.vue
Labels: enhancement, feature

#2811 fix(e2e): fix all e2e test error
  .github/workflows/test-e2e-all.yml
  examples/vue3/playwright.config.js
  internals/cli/src/commands/release/releaseE2EConfig.ts
  internals/playwright-config/src/index.js
Labels: bug

#2803 feat(tree-menu): [tree-menu] Add static data and unused topic variables for rectification
  examples/sites/demos/apis/menu.js
  examples/sites/demos/pc/app/tree-menu/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/basic-usage.spec.ts
  examples/sites/demos/pc/app/tree-menu/basic-usage.vue
  examples/sites/demos/pc/app/tree-menu/data-resource-composition-api.vue
  examples/sites/demos/pc/app/tree-menu/data-resource.spec.ts
  examples/sites/demos/pc/app/tree-menu/data-resource.vue
  examples/sites/demos/pc/app/tree-menu/webdoc/tree-menu.js
  packages/theme/src/tree-menu/index.less
  packages/theme/src/tree-menu/vars.less
Labels: enhancement

#2815 fix(grid): [grid] fix grid error e2e test
  examples/sites/demos/pc/app/grid/editor/custom-edit.spec.js
Labels: bug

#2822 fix(vue2): fix vue2 dev startup error
  examples/vue2/vite.config.ts
  internals/cli/src/config/vite.ts
  packages/renderless/src/currency/index.ts
Labels: bug

#2826 refactor(utils): [grid,tree] rename log to logger
  packages/renderless/src/common/validate/util.ts
  packages/renderless/src/currency/index.ts
  packages/renderless/src/file-upload/index.ts
  packages/renderless/src/tree/index.ts
  packages/renderless/src/user/index.ts
  packages/utils/src/index.ts
  packages/utils/src/log/index.ts
  packages/utils/src/logger/index.ts
  packages/vue-common/package.json
  packages/vue-common/src/breakpoint.ts
  packages/vue/src/grid/src/tools/logger.ts
Labels: refactoring

#2816 fix(sites): fix the error when installing vue-docs dependencies in pnpm
  examples/sites/package.json
  examples/sites/src/views/overview.vue
Labels: bug

#2828 fix(grid): [grid] fix amount label wrap bug
  packages/theme-saas/src/amount/index.less
Labels: bug

#2829 feat(vue/image): [image]the image component supports binary stream base64 format
  packages/renderless/src/image/index.ts
Labels: enhancement

#2818 feat(date-panel): [date-panel,date-picker] DatePicker support using only date panel
  examples/sites/demos/apis/date-panel.js
  examples/sites/demos/pc/app/date-panel/basic-usage-composition-api.vue
  examples/sites/demos/pc/app/date-panel/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-panel/basic-usage.vue
  examples/sites/demos/pc/app/date-panel/custom-week.spec.ts
  examples/sites/demos/pc/app/date-panel/custom-weeks-composition-api.vue
  examples/sites/demos/pc/app/date-panel/custom-weeks.vue
  examples/sites/demos/pc/app/date-panel/disabled-date-composition-api.vue
  examples/sites/demos/pc/app/date-panel/disabled-date.spec.ts
  examples/sites/demos/pc/app/date-panel/disabled-date.vue
  examples/sites/demos/pc/app/date-panel/event-composition-api.vue
  examples/sites/demos/pc/app/date-panel/event.spec.ts
  examples/sites/demos/pc/app/date-panel/event.vue
  examples/sites/demos/pc/app/date-panel/format-composition-api.vue
  examples/sites/demos/pc/app/date-panel/format.spec.ts
  examples/sites/demos/pc/app/date-panel/format.vue
  examples/sites/demos/pc/app/date-panel/readonly-composition-api.vue
  examples/sites/demos/pc/app/date-panel/readonly.spec.ts
  examples/sites/demos/pc/app/date-panel/readonly.vue
  examples/sites/demos/pc/app/date-panel/shortcuts-composition-api.vue
  examples/sites/demos/pc/app/date-panel/shortcuts.spec.ts
  examples/sites/demos/pc/app/date-panel/shortcuts.vue
  examples/sites/demos/pc/app/date-panel/webdoc/date-panel.cn.md
  examples/sites/demos/pc/app/date-panel/webdoc/date-panel.en.md
  examples/sites/demos/pc/app/date-panel/webdoc/date-panel.js
  examples/sites/demos/pc/app/date-picker/align.spec.ts
  examples/sites/demos/pc/app/date-picker/basic-usage.spec.ts
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon-composition-api.vue
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.spec.ts
  examples/sites/demos/pc/app/date-picker/custom-suffix-icon.vue
  examples/sites/demos/pc/app/date-picker/default-value.spec.ts
  examples/sites/demos/pc/app/date-picker/events.spec.ts
  examples/sites/demos/pc/menus.js
  internals/playwright-config/src/index.js
  packages/renderless/src/date-panel/index.ts
  packages/renderless/src/date-panel/vue.ts
  packages/theme/src/date-panel/index.less
  packages/vue/src/date-panel/__tests__/date-panel.test.tsx
  packages/vue/src/date-panel/src/index.ts
  packages/vue/src/date-panel/src/mobile-first.vue
  packages/vue/src/date-panel/src/pc.vue
  packages/vue/src/picker/src/pc.vue
Labels: enhancement

#2827 feat(dropdown): [dropdown] Add visible attribute, support user-defined panel display and hide
  examples/sites/demos/apis/dropdown.js
  examples/sites/demos/pc/app/dropdown/visible-composition-api.vue
  examples/sites/demos/pc/app/dropdown/visible.spec.ts
  examples/sites/demos/pc/app/dropdown/visible.vue
  examples/sites/demos/pc/app/dropdown/webdoc/dropdown.js
  packages/renderless/package.json
  packages/renderless/src/dropdown/index.ts
  packages/renderless/src/dropdown/vue.ts
  packages/renderless/types/dropdown.type.ts
  packages/vue/src/dropdown/package.json
  packages/vue/src/dropdown/src/index.ts
  packages/vue/src/dropdown/src/pc.vue
Labels: enhancement

#2836 chore: undo test case config changes
  internals/playwright-config/src/index.js
Labels: chore

#2837 fix(utils): fixed the issue that the release version of the utils package could not correspond
  packages/renderless/scripts/postbuild.ts
  packages/utils/package.json
Labels: bug

#2830 fix(tooltip): remove :has selector on popper__arrow
  packages/theme/package.json
  packages/theme/src/base/reset.less
Labels: bug

#2839 fix(grid): [grid] fix footer bug in visual scroll scene
  examples/sites/demos/pc/app/grid/editor/custom-edit.spec.js
  packages/vue/src/grid/package.json
  packages/vue/src/grid/src/body/src/body.tsx
  packages/vue/src/grid/src/table/src/methods.ts
  packages/vue/src/grid/src/table/src/utils/updateStyle.ts
Labels: bug

#2835 fix(dialog-select): fixed an issue where grid data could not be loade…
  packages/renderless/src/dialog-select/vue.ts
Labels: bug

#2841 fix(color-picker): [color-picker] fix color-picker props valid error
  packages/vue/src/color-picker/src/index.ts
Labels: bug

#2843 fix(select): [select] fix component error caused by vue2 deep cleanup memory leak
  packages/renderless/src/option/vue.ts
Labels: bug

#2840 feat(modal): [modal] add show-close feature
  examples/sites/demos/apis/modal.js
  examples/sites/demos/pc/app/modal/modal-other-composition-api.vue
  examples/sites/demos/pc/app/modal/modal-other.spec.ts
  examples/sites/demos/pc/app/modal/modal-other.vue
  examples/sites/demos/pc/app/modal/webdoc/modal.js
  packages/vue/src/modal/src/pc.vue
Labels: enhancement

#2847 fix(e2e): [pop-upload, file-upload] Fix e2e test case errors after internationalization
  examples/sites/demos/pc/app/file-upload/upload-file-list-saas.spec.ts
  examples/sites/demos/pc/app/pop-upload/file-type.spec.ts
Labels: bug, e2e-test

#2844 fix(dialog-box): [dialog-box] right pop-up window height style issue
  packages/theme/src/dialog-box/index.less
Labels: bug

#2850 chore: migrate unplugin-tiny-vue and vue-vite-import to new project
  examples/nuxt/playground/package.json
  examples/sites/package.json
  examples/vue2/package.json
  examples/vue3/package.json
  internals/unplugin-tiny-vue/.npmignore
  internals/unplugin-tiny-vue/README.md
  internals/unplugin-tiny-vue/example/auto-imports.d.ts
  internals/unplugin-tiny-vue/example/components.d.ts
  internals/unplugin-tiny-vue/example/index.html
  internals/unplugin-tiny-vue/example/package.json
  internals/unplugin-tiny-vue/example/src/App.vue
  internals/unplugin-tiny-vue/example/src/main.js
  internals/unplugin-tiny-vue/example/vite.config.js
  internals/unplugin-tiny-vue/package.json
  internals/unplugin-tiny-vue/src/index.ts
  internals/unplugin-tiny-vue/tsconfig.json
  internals/vue-vite-import/.npmignore
  internals/vue-vite-import/README.md
  internals/vue-vite-import/example/js/index.html
  internals/vue-vite-import/example/js/package.json
  internals/vue-vite-import/example/js/src/App.vue
  internals/vue-vite-import/example/js/src/main.js
  internals/vue-vite-import/example/js/vite.config.js
  internals/vue-vite-import/example/ts/README.md
  internals/vue-vite-import/example/ts/index.html
  internals/vue-vite-import/example/ts/package.json
  internals/vue-vite-import/example/ts/src/App.vue
  internals/vue-vite-import/example/ts/src/main.ts
  internals/vue-vite-import/example/ts/src/style.css
  internals/vue-vite-import/example/ts/src/vite-env.d.ts
  internals/vue-vite-import/example/ts/tsconfig.json
  internals/vue-vite-import/example/ts/tsconfig.node.json
  internals/vue-vite-import/example/ts/vite.config.ts
  internals/vue-vite-import/package.json
  internals/vue-vite-import/src/index.ts
  internals/vue-vite-import/src/typings.d.ts
  internals/vue-vite-import/tsconfig.json
  package.json
Labels: chore
